<!--Sub-Rental Billing Analysis Report-->
<div class="rpt-flexrow">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">From: {{FromDate}} To: {{ToDate}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div class="rpt-flexrow" style="margin-top:40px;">
  <table style="border-top:2px solid black;">
    {{#each this}}
    {{#ifEquals RowType "OfficeLocationheader"}}
    <thead>
      <tr data-rowtype={{RowType}}>
        <th class="header-row no-border" colspan="10">Office Location: {{OfficeLocation}}</th>
      </tr>
    </thead>
    {{/ifEquals}}
    {{#ifEquals RowType "Departmentheader"}}
    <thead>
      <tr data-rowtype={{RowType}}>
        <th class="lower header-row no-border" colspan="10">Department: {{Department}}</th>
      </tr>
    </thead>
    {{/ifEquals}}
    {{#ifEquals RowType "Customerheader"}}
    <thead>
      <tr data-rowtype={{RowType}}>
        <th class="lower header-row no-border" colspan="10">Customer: {{Customer}}</th>
      </tr>
    </thead>
    {{/ifEquals}}
    {{#ifEquals RowType "Dealheader"}}
    <thead>
      <tr data-rowtype={{RowType}}>
        <th>Customer</th>
        <th>Deal</th>
        <th>Deal No.</th>
        <th>Deal Type</th>
        <th>Payment Terms</th>
        <th>Start Date</th>
        <th>Close Date</th>
        <th>Credit Status</th>
        <th>Ins. Status</th>
      </tr>
    </thead>
    <tr>
      <td data-value="{{Customer}}"></td>
      <td data-value="{{Deal}}"></td>
      <td data-value="{{DealNumber}}"></td>
      <td data-value="{{DealType}}"></td>
      <td data-value="{{PaymentTerms}}"></td>
      <td data-value="{{TTTTT}}"></td>
      <td data-value="{{TTTTT}}"></td>
      <td data-value="{{CreditStatus}}"></td>
      <td data-value="{{InsuranceStatus}}"></td>
    </tr>
    <tr>
      <td>
        <!--need phone number too-->
        <div><span>{{Address1}}</span><span>Phone: {{Phone}}</span></div>
        <div><span>{{Address2}}</span><span>Primary Contact/Phone</span></div>
        <div><span>{{City}}, {{State}} {{Zip}} {{Country}}</span><span>{{DealPrimaryContactName}}{{DealPrimaryContactPhone}}{{DealPrimaryContactExt}}</span></div>
      </td>
    </tr>
    {{/ifEquals}}
    {{#ifEquals RowType "detail"}}
    <tbody data-rowtype="{{RowType}}">
      <tr>
        <td data-value="{{OrderNumber}}"></td>
        <td data-value="{{OrderDate}}"></td>
        <td data-value="{{EstimatedStartDate}}"></td>
        <td colspan="2" data-value="{{OrderDescription}}"></td>
        <td data-value="{{PurchaseOrderNumber}}"></td>
        <td class="number" data-value="{{OrderTotal}}"></td>
        <td data-value="{{OrderStatus}}"></td>
        <td data-value="{{OrderStatusDate}}"></td>
      </tr>
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "OfficeLocationfooter"}}
    <tr data-rowtype="{{RowType}}">
      <td colspan="5" class="total-name">{{OfficeLocation}}:&nbsp;</td>
      <td class="total-val" data-value="{{OrderTotal}}"></td>
    </tr>
    {{/ifEquals}}
    {{#ifEquals RowType "Departmentfooter"}}
    <tr data-rowtype="{{RowType}}">
      <td colspan="5" class="total-name">{{Department}}:&nbsp;</td>
      <td class="total-val" data-value="{{OrderTotal}}"></td>
    </tr>
    {{/ifEquals}}
    {{#ifEquals RowType "Dealfooter"}}
    <tr data-rowtype="{{RowType}}">
      <td colspan="5" class="total-name">{{Deal}}:&nbsp;</td>
      <td class="total-val" data-value="{{OrderTotal}}"></td>
    </tr>
    {{/ifEquals}}
    {{#ifEquals RowType "grandtotal"}}
    <tr data-rowtype="{{RowType}}">
      <td colspan="5" class="total-name">Grand Total:&nbsp;</td>
      <td class="total-val" data-value="{{OrderTotal}}"></td>
    </tr>
    {{/ifEquals}}
    {{/each}}
  </table>
</div>