<!--Customer Revenue By Type Report-->
<div data-section="header" class="rpt-flexrow">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">From: {{FromDate}} To: {{ToDate}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div data-section="table" class="rpt-flexrow" style="margin-top:40px;">
  <table>
    <thead id="columnHeader">
      <tr data-row="main-header">
        <th data-linkedcolumn="OrderNumber" data-valuefield="OrderNumber">Order No.</th>
        <th data-linkedcolumn="InvoiceNumber" data-valuefield="InvoiceNumber">Invoice No.</th>
        <th data-linkedcolumn="BillingStart" data-valuefield="BillingStart">Billing Start</th>
        <th data-linkedcolumn="BillingEnd" data-valuefield="BillingEnd">Billing End</th>
        <th data-linkedcolumn="Agent" data-valuefield="Agent">Agent</th>
        <th data-linkedcolumn="Rental" data-valuefield="Rental" class="number">Rental</th>
        <th data-linkedcolumn="Sales" data-valuefield="Sales" class="number">Sales</th>
        <th data-linkedcolumn="Facilities" data-valuefield="Facilities" class="number">Facilities</th>
        <th data-linkedcolumn="Labor" data-valuefield="Labor" class="number">Labor</th>
        <th data-linkedcolumn="Miscellaneous" data-valuefield="Miscellaneous" class="number">Misc</th>
        <th data-linkedcolumn="AssetSale" data-valuefield="AssetSale" class="number">Rental Sale</th>
        <th data-linkedcolumn="Parts" data-valuefield="Parts" class="number">Parts</th>
        <th data-linkedcolumn="Tax" data-valuefield="Tax" class="number">Tax</th>
        <th data-linkedcolumn="Total" data-valuefield="Total" class="number">Total</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      {{#ifEquals RowType "OfficeLocationheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="15" class="header-row">Office: {{OfficeLocation}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Departmentheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="15" class="lower header-row">Department: {{Department}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Customerheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="15" class="lower header-row">Customer: {{Customer}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Dealheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="15" class="lower header-row">Deal: {{Deal}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "detail"}}
      <tr data-row="detail" data-rowtype="{{RowType}}">
        <td data-linkedcolumn="OrderNumber" data-value="{{OrderNumber}}"></td>
        <td data-linkedcolumn="InvoiceNumber" data-value="{{InvoiceNumber}}"></td>
        <td data-linkedcolumn="BillingStart" data-value="{{BillingStart}}"></td>
        <td data-linkedcolumn="BillingEnd" data-value="{{BillingEnd}}"></td>
        <td data-linkedcolumn="Agent" data-value="{{Agent}}"></td>
        <td data-linkedcolumn="Rental" data-value="{{Rental}}" class="number"></td>
        <td data-linkedcolumn="Sales" data-value="{{Sales}}" class="number"></td>
        <td data-linkedcolumn="Facilities" data-value="{{Facilities}}" class="number"></td>
        <td data-linkedcolumn="Labor" data-value="{{Labor}}" class="number"></td>
        <td data-linkedcolumn="Miscellaneous" data-value="{{Miscellaneous}}" class="number"></td>
        <td data-linkedcolumn="AssetSale" data-value="{{AssetSale}}" class="number"></td>
        <td data-linkedcolumn="Parts" data-value="{{Parts}}" class="number"></td>
        <td data-linkedcolumn="Tax" data-value="{{Tax}}" class="number"></td>
        <td data-linkedcolumn="Total" data-value="{{Total}}" class="number"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Dealfooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="5" class="total-name">{{Deal}}&nbsp;</td>
        <td data-linkedcolumn="Rental" data-value="{{Rental}}" class="total-val"></td>
        <td data-linkedcolumn="Sales" data-value="{{Sales}}" class="total-val"></td>
        <td data-linkedcolumn="Facilities" data-value="{{Facilities}}" class="total-val"></td>
        <td data-linkedcolumn="Labor" data-value="{{Labor}}" class="total-val"></td>
        <td data-linkedcolumn="Miscellaneous" data-value="{{Miscellaneous}}" class="total-val"></td>
        <td data-linkedcolumn="AssetSale" data-value="{{AssetSale}}" class="total-val"></td>
        <td data-linkedcolumn="Parts" data-value="{{Parts}}" class="total-val"></td>
        <td data-linkedcolumn="Tax" data-value="{{Tax}}" class="total-val"></td>
        <td data-linkedcolumn="Total" data-value="{{Total}}" class="total-val"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Customerfooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="5" class="total-name">{{Customer}}&nbsp;</td>
        <td data-linkedcolumn="Rental" data-value="{{Rental}}" class="total-val"></td>
        <td data-linkedcolumn="Sales" data-value="{{Sales}}" class="total-val"></td>
        <td data-linkedcolumn="Facilities" data-value="{{Facilities}} " class="total-val"></td>
        <td data-linkedcolumn="Labor" data-value="{{Labor}}" class="total-val"></td>
        <td data-linkedcolumn="Miscellaneous" data-value="{{Miscellaneous}}" class="total-val"></td>
        <td data-linkedcolumn="AssetSale" data-value="{{AssetSale}}" class="total-val"></td>
        <td data-linkedcolumn="Parts" data-value="{{Parts}}" class="total-val"></td>
        <td data-linkedcolumn="Tax" data-value="{{Tax}}" class="total-val"></td>
        <td data-linkedcolumn="Total" data-value="{{Total}}" class="total-val"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Departmentfooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="5" class="total-name">{{Department}}&nbsp;</td>
        <td data-linkedcolumn="Rental" data-value="{{Rental}}" class="total-val"></td>
        <td data-linkedcolumn="Sales" data-value="{{Sales}}" class="total-val"></td>
        <td data-linkedcolumn="Facilities" data-value="{{Facilities}}" class="total-val"></td>
        <td data-linkedcolumn="Labor" data-value="{{Labor}}" class="total-val"></td>
        <td data-linkedcolumn="Miscellaneous" data-value="{{Miscellaneous}}" class="total-val"></td>
        <td data-linkedcolumn="AssetSale" data-value="{{AssetSale}}" class="total-val"></td>
        <td data-linkedcolumn="Parts" data-value="{{Parts}}" class="total-val"></td>
        <td data-linkedcolumn="Tax" data-value="{{Tax}}" class="total-val"></td>
        <td data-linkedcolumn="Total" data-value="{{Total}}" class="total-val"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "OfficeLocationfooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="5" class="total-name">{{OfficeLocation}}&nbsp;</td>
        <td data-linkedcolumn="Rental" data-value="{{Rental}}" class="total-val"></td>
        <td data-linkedcolumn="Sales" data-value="{{Sales}}" class="total-val"></td>
        <td data-linkedcolumn="Facilities" data-value="{{Facilities}}" class="total-val"></td>
        <td data-linkedcolumn="Labor" data-value="{{Labor}}" class="total-val"></td>
        <td data-linkedcolumn="Miscellaneous" data-value="{{Miscellaneous}}" class="total-val"></td>
        <td data-linkedcolumn="AssetSale" data-value="{{AssetSale}}" class="total-val"></td>
        <td data-linkedcolumn="Parts" data-value="{{Parts}}" class="total-val"></td>
        <td data-linkedcolumn="Tax" data-value="{{Tax}}" class="total-val"></td>
        <td data-linkedcolumn="Total" data-value="{{Total}}" class="total-val"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "grandtotal"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="5" class="total-name">Grand Total:&nbsp;</td>
        <td data-linkedcolumn="Rental" data-value="{{Rental}}" class="total-val"></td>
        <td data-linkedcolumn="Sales" data-value="{{Sales}}" class="total-val"></td>
        <td data-linkedcolumn="Facilities" data-value="{{Facilities}}" class="total-val"></td>
        <td data-linkedcolumn="Labor" data-value="{{Labor}}" class="total-val"></td>
        <td data-linkedcolumn="Miscellaneous" data-value="{{Miscellaneous}}" class="total-val"></td>
        <td data-linkedcolumn="AssetSale" data-value="{{AssetSale}}" class="total-val"></td>
        <td data-linkedcolumn="Parts" data-value="{{Parts}}" class="total-val"></td>
        <td data-linkedcolumn="Tax" data-value="{{Tax}}" class="total-val"></td>
        <td data-linkedcolumn="Total" data-value="{{Total}}" class="total-val"></td>
      </tr>
      {{/ifEquals}}
      {{/each}}
    </tbody>
  </table>
</div>