<!--RentalInventoryAvailabilityReport-->
<div class="rpt-flexrow" style="width:1590px;">
  <style media="print">
    @page {
      size: landscape;
      margin: 10px 10px 10px 10px;
    }
</style>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">From: {{FromDate}} To: {{ToDate}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div class="rpt-flexrow" style="margin-top:40px;width:1590px;">
  <!--SUMMARY VIEW TABLE-->
  {{#ifEquals IsSummary true}}
  <table>
    <thead>
      <tr id="HeaderRow"></tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr data-rowtype={{RowType}}>
        {{#ifEquals RowType "Warehouseheader"}}
        <td colspan="5" class="header-row">Warehouse: {{Warehouse}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "InventoryTypeheader"}}
        <td colspan="5" class="lower header-row">Inventory Type: {{InventoryType}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Categoryheader"}}
        <td colspan="5" class="lower header-row">Category: {{"Category"}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "detail"}}
        <td class="nowrap" data-value="{{ICode}}"></td>
        <td data-value="{{Description}}"></td>
        <td class="number" data-value="{{OwnedQuantity}}"></td>
        <td class="number" data-value="{{OwnedQuantityInRepair}}"></td>
        <td class="number" data-value="{{TotalQuantityInContainer}}"></td>
        <td class="number" data-value="{{TotalQuantityStaged}}"></td>
        <td class="number" data-value="{{AvailableInt01}}"></td>
        <td class="number" data-value="{{AvailableInt02}}"></td>
        <td class="number" data-value="{{AvailableInt03}}"></td>
        <td class="number" data-value="{{AvailableInt04}}"></td>
        <td class="number" data-value="{{AvailableInt05}}"></td>
        <td class="number" data-value="{{AvailableInt06}}"></td>
        <td class="number" data-value="{{AvailableInt07}}"></td>
        <td class="number" data-value="{{AvailableInt08}}"></td>
        <td class="number" data-value="{{AvailableInt09}}"></td>
        <td class="number" data-value="{{AvailableInt10}}"></td>
        <td class="number" data-value="{{AvailableInt11}}"></td>
        <td class="number" data-value="{{AvailableInt12}}"></td>
        <td class="number" data-value="{{AvailableInt13}}"></td>
        <td class="number" data-value="{{AvailableInt14}}"></td>
        <td class="number" data-value="{{AvailableInt15}}"></td>
        <td class="number" data-value="{{AvailableInt16}}"></td>
        <td class="number" data-value="{{AvailableInt17}}"></td>
        <td class="number" data-value="{{AvailableInt18}}"></td>
        <td class="number" data-value="{{AvailableInt19}}"></td>
        <td class="number" data-value="{{AvailableInt20}}"></td>
        <td class="number" data-value="{{AvailableInt21}}"></td>
        <td class="number" data-value="{{AvailableInt22}}"></td>
        <td class="number" data-value="{{AvailableInt23}}"></td>
        <td class="number" data-value="{{AvailableInt24}}"></td>
        <td class="number" data-value="{{AvailableInt25}}"></td>
        <td class="number" data-value="{{AvailableInt26}}"></td>
        <td class="number" data-value="{{AvailableInt27}}"></td>
        <td class="number" data-value="{{AvailableInt28}}"></td>
        <td class="number" data-value="{{AvailableInt29}}"></td>
        <td class="number" data-value="{{AvailableInt30}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "Warehousefooter"}}
        <td colspan="2" class="total-name">{{Warehouse}}:&nbsp;</td>
        <td class="number" data-value="{{OwnedQuantity}}"></td>
        <td class="number" data-value="{{OwnedQuantityInRepair}}"></td>
        <td class="number" data-value="{{TotalQuantityInContainer}}"></td>
        <td class="number" data-value="{{TotalQuantityStaged}}"></td>
        <td class="total-val" data-value="{{AvailableInt01}}"></td>
        <td class="total-val" data-value="{{AvailableInt02}}"></td>
        <td class="total-val" data-value="{{AvailableInt03}}"></td>
        <td class="total-val" data-value="{{AvailableInt04}}"></td>
        <td class="total-val" data-value="{{AvailableInt05}}"></td>
        <td class="total-val" data-value="{{AvailableInt06}}"></td>
        <td class="total-val" data-value="{{AvailableInt07}}"></td>
        <td class="total-val" data-value="{{AvailableInt08}}"></td>
        <td class="total-val" data-value="{{AvailableInt09}}"></td>
        <td class="total-val" data-value="{{AvailableInt10}}"></td>
        <td class="total-val" data-value="{{AvailableInt11}}"></td>
        <td class="total-val" data-value="{{AvailableInt12}}"></td>
        <td class="total-val" data-value="{{AvailableInt13}}"></td>
        <td class="total-val" data-value="{{AvailableInt14}}"></td>
        <td class="total-val" data-value="{{AvailableInt15}}"></td>
        <td class="total-val" data-value="{{AvailableInt16}}"></td>
        <td class="total-val" data-value="{{AvailableInt17}}"></td>
        <td class="total-val" data-value="{{AvailableInt18}}"></td>
        <td class="total-val" data-value="{{AvailableInt19}}"></td>
        <td class="total-val" data-value="{{AvailableInt20}}"></td>
        <td class="total-val" data-value="{{AvailableInt21}}"></td>
        <td class="total-val" data-value="{{AvailableInt22}}"></td>
        <td class="total-val" data-value="{{AvailableInt23}}"></td>
        <td class="total-val" data-value="{{AvailableInt24}}"></td>
        <td class="total-val" data-value="{{AvailableInt25}}"></td>
        <td class="total-val" data-value="{{AvailableInt26}}"></td>
        <td class="total-val" data-value="{{AvailableInt27}}"></td>
        <td class="total-val" data-value="{{AvailableInt28}}"></td>
        <td class="total-val" data-value="{{AvailableInt29}}"></td>
        <td class="total-val" data-value="{{AvailableInt30}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "InventoryTypefooter"}}
        <td colspan="2" class="total-name">{{InventoryType}}:&nbsp;</td>
        <td class="number" data-value="{{OwnedQuantity}}"></td>
        <td class="number" data-value="{{OwnedQuantityInRepair}}"></td>
        <td class="number" data-value="{{TotalQuantityInContainer}}"></td>
        <td class="number" data-value="{{TotalQuantityStaged}}"></td>
        <td class="total-val" data-value="{{AvailableInt01}}"></td>
        <td class="total-val" data-value="{{AvailableInt02}}"></td>
        <td class="total-val" data-value="{{AvailableInt03}}"></td>
        <td class="total-val" data-value="{{AvailableInt04}}"></td>
        <td class="total-val" data-value="{{AvailableInt05}}"></td>
        <td class="total-val" data-value="{{AvailableInt06}}"></td>
        <td class="total-val" data-value="{{AvailableInt07}}"></td>
        <td class="total-val" data-value="{{AvailableInt08}}"></td>
        <td class="total-val" data-value="{{AvailableInt09}}"></td>
        <td class="total-val" data-value="{{AvailableInt10}}"></td>
        <td class="total-val" data-value="{{AvailableInt11}}"></td>
        <td class="total-val" data-value="{{AvailableInt12}}"></td>
        <td class="total-val" data-value="{{AvailableInt13}}"></td>
        <td class="total-val" data-value="{{AvailableInt14}}"></td>
        <td class="total-val" data-value="{{AvailableInt15}}"></td>
        <td class="total-val" data-value="{{AvailableInt16}}"></td>
        <td class="total-val" data-value="{{AvailableInt17}}"></td>
        <td class="total-val" data-value="{{AvailableInt18}}"></td>
        <td class="total-val" data-value="{{AvailableInt19}}"></td>
        <td class="total-val" data-value="{{AvailableInt20}}"></td>
        <td class="total-val" data-value="{{AvailableInt21}}"></td>
        <td class="total-val" data-value="{{AvailableInt22}}"></td>
        <td class="total-val" data-value="{{AvailableInt23}}"></td>
        <td class="total-val" data-value="{{AvailableInt24}}"></td>
        <td class="total-val" data-value="{{AvailableInt25}}"></td>
        <td class="total-val" data-value="{{AvailableInt26}}"></td>
        <td class="total-val" data-value="{{AvailableInt27}}"></td>
        <td class="total-val" data-value="{{AvailableInt28}}"></td>
        <td class="total-val" data-value="{{AvailableInt29}}"></td>
        <td class="total-val" data-value="{{AvailableInt30}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "Categoryfooter"}}
        <td colspan="2" class="total-name">{{Category}}:&nbsp;</td>
        <td class="number" data-value="{{OwnedQuantity}}"></td>
        <td class="number" data-value="{{OwnedQuantityInRepair}}"></td>
        <td class="number" data-value="{{TotalQuantityInContainer}}"></td>
        <td class="number" data-value="{{TotalQuantityStaged}}"></td>
        <td class="total-val" data-value="{{AvailableInt01}}"></td>
        <td class="total-val" data-value="{{AvailableInt02}}"></td>
        <td class="total-val" data-value="{{AvailableInt03}}"></td>
        <td class="total-val" data-value="{{AvailableInt04}}"></td>
        <td class="total-val" data-value="{{AvailableInt05}}"></td>
        <td class="total-val" data-value="{{AvailableInt06}}"></td>
        <td class="total-val" data-value="{{AvailableInt07}}"></td>
        <td class="total-val" data-value="{{AvailableInt08}}"></td>
        <td class="total-val" data-value="{{AvailableInt09}}"></td>
        <td class="total-val" data-value="{{AvailableInt10}}"></td>
        <td class="total-val" data-value="{{AvailableInt11}}"></td>
        <td class="total-val" data-value="{{AvailableInt12}}"></td>
        <td class="total-val" data-value="{{AvailableInt13}}"></td>
        <td class="total-val" data-value="{{AvailableInt14}}"></td>
        <td class="total-val" data-value="{{AvailableInt15}}"></td>
        <td class="total-val" data-value="{{AvailableInt16}}"></td>
        <td class="total-val" data-value="{{AvailableInt17}}"></td>
        <td class="total-val" data-value="{{AvailableInt18}}"></td>
        <td class="total-val" data-value="{{AvailableInt19}}"></td>
        <td class="total-val" data-value="{{AvailableInt20}}"></td>
        <td class="total-val" data-value="{{AvailableInt21}}"></td>
        <td class="total-val" data-value="{{AvailableInt22}}"></td>
        <td class="total-val" data-value="{{AvailableInt23}}"></td>
        <td class="total-val" data-value="{{AvailableInt24}}"></td>
        <td class="total-val" data-value="{{AvailableInt25}}"></td>
        <td class="total-val" data-value="{{AvailableInt26}}"></td>
        <td class="total-val" data-value="{{AvailableInt27}}"></td>
        <td class="total-val" data-value="{{AvailableInt28}}"></td>
        <td class="total-val" data-value="{{AvailableInt29}}"></td>
        <td class="total-val" data-value="{{AvailableInt30}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "grandtotal"}}
        <td colspan="2" class="total-name">Grand Total:&nbsp;</td>
        <td class="number" data-value="{{OwnedQuantity}}"></td>
        <td class="number" data-value="{{OwnedQuantityInRepair}}"></td>
        <td class="number" data-value="{{TotalQuantityInContainer}}"></td>
        <td class="number" data-value="{{TotalQuantityStaged}}"></td>
        <td class="total-val" data-value="{{AvailableInt01}}"></td>
        <td class="total-val" data-value="{{AvailableInt02}}"></td>
        <td class="total-val" data-value="{{AvailableInt03}}"></td>
        <td class="total-val" data-value="{{AvailableInt04}}"></td>
        <td class="total-val" data-value="{{AvailableInt05}}"></td>
        <td class="total-val" data-value="{{AvailableInt06}}"></td>
        <td class="total-val" data-value="{{AvailableInt07}}"></td>
        <td class="total-val" data-value="{{AvailableInt08}}"></td>
        <td class="total-val" data-value="{{AvailableInt09}}"></td>
        <td class="total-val" data-value="{{AvailableInt10}}"></td>
        <td class="total-val" data-value="{{AvailableInt11}}"></td>
        <td class="total-val" data-value="{{AvailableInt12}}"></td>
        <td class="total-val" data-value="{{AvailableInt13}}"></td>
        <td class="total-val" data-value="{{AvailableInt14}}"></td>
        <td class="total-val" data-value="{{AvailableInt15}}"></td>
        <td class="total-val" data-value="{{AvailableInt16}}"></td>
        <td class="total-val" data-value="{{AvailableInt17}}"></td>
        <td class="total-val" data-value="{{AvailableInt18}}"></td>
        <td class="total-val" data-value="{{AvailableInt19}}"></td>
        <td class="total-val" data-value="{{AvailableInt20}}"></td>
        <td class="total-val" data-value="{{AvailableInt21}}"></td>
        <td class="total-val" data-value="{{AvailableInt22}}"></td>
        <td class="total-val" data-value="{{AvailableInt23}}"></td>
        <td class="total-val" data-value="{{AvailableInt24}}"></td>
        <td class="total-val" data-value="{{AvailableInt25}}"></td>
        <td class="total-val" data-value="{{AvailableInt26}}"></td>
        <td class="total-val" data-value="{{AvailableInt27}}"></td>
        <td class="total-val" data-value="{{AvailableInt28}}"></td>
        <td class="total-val" data-value="{{AvailableInt29}}"></td>
        <td class="total-val" data-value="{{AvailableInt30}}"></td>
        {{/ifEquals}}
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{/ifEquals}}
  <!--DETAIL VIEW TABLE-->
  {{#ifEquals IsSummary false}}
  {{/ifEquals}}
</div>