<!--RentalInventoryAvailabilityReport-->
<div class="rpt-flexrow" style="width:1555px;">
  <style media="print">
    @page {
      size: landscape;
      margin: 10px 10px 10px 10px;
    }
</style>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">From: {{FromDate}} To: {{ToDate}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div class="rpt-flexrow" style="margin-top:40px;width:1555px;">
  <!--SUMMARY VIEW TABLE-->
  {{#ifEquals IsSummary true}}
  <table>
    <thead>
      <tr id="HeaderRow"></tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr data-rowtype={{RowType}}>
        {{#ifEquals RowType "Warehouseheader"}}
        <td colspan="5" class="header-row">Warehouse: {{Warehouse}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "InventoryTypeheader"}}
        <td colspan="5" class="lower header-row">Inventory Type: {{InventoryType}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Categoryheader"}}
        <td colspan="5" class="lower header-row">Category: {{"Category"}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "detail"}}
        <td class="nowrap" data-value="{{ICode}}"></td>
        <td data-value="{{Description}}"></td>
        <td class="number" data-value="{{OwnedQuantity}}"></td>
        <td class="number" data-value="{{OwnedQuantityInRepair}}"></td>
        <td class="number" data-value="{{TotalQuantityInContainer}}"></td>
        <td class="number" data-value="{{TotalQuantityStaged}}"></td>
        <td class="number" data-value="{{AvailableString01}}"></td>
        <td class="number" data-value="{{AvailableString02}}"></td>
        <td class="number" data-value="{{AvailableString03}}"></td>
        <td class="number" data-value="{{AvailableString04}}"></td>
        <td class="number" data-value="{{AvailableString05}}"></td>
        <td class="number" data-value="{{AvailableString06}}"></td>
        <td class="number" data-value="{{AvailableString07}}"></td>
        <td class="number" data-value="{{AvailableString08}}"></td>
        <td class="number" data-value="{{AvailableString09}}"></td>
        <td class="number" data-value="{{AvailableString10}}"></td>
        <td class="number" data-value="{{AvailableString11}}"></td>
        <td class="number" data-value="{{AvailableString12}}"></td>
        <td class="number" data-value="{{AvailableString13}}"></td>
        <td class="number" data-value="{{AvailableString14}}"></td>
        <td class="number" data-value="{{AvailableString15}}"></td>
        <td class="number" data-value="{{AvailableString16}}"></td>
        <td class="number" data-value="{{AvailableString17}}"></td>
        <td class="number" data-value="{{AvailableString18}}"></td>
        <td class="number" data-value="{{AvailableString19}}"></td>
        <td class="number" data-value="{{AvailableString20}}"></td>
        <td class="number" data-value="{{AvailableString21}}"></td>
        <td class="number" data-value="{{AvailableString22}}"></td>
        <td class="number" data-value="{{AvailableString23}}"></td>
        <td class="number" data-value="{{AvailableString24}}"></td>
        <td class="number" data-value="{{AvailableString25}}"></td>
        <td class="number" data-value="{{AvailableString26}}"></td>
        <td class="number" data-value="{{AvailableString27}}"></td>
        <td class="number" data-value="{{AvailableString28}}"></td>
        <td class="number" data-value="{{AvailableString29}}"></td>
        <td class="number" data-value="{{AvailableString30}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "Warehousefooter"}}
        <td colspan="6" class="total-name">{{Warehouse}}:&nbsp;</td>
        <td class="total-val" data-value="{{AvailableString01}}"></td>
        <td class="total-val" data-value="{{AvailableString02}}"></td>
        <td class="total-val" data-value="{{AvailableString03}}"></td>
        <td class="total-val" data-value="{{AvailableString04}}"></td>
        <td class="total-val" data-value="{{AvailableString05}}"></td>
        <td class="total-val" data-value="{{AvailableString06}}"></td>
        <td class="total-val" data-value="{{AvailableString07}}"></td>
        <td class="total-val" data-value="{{AvailableString08}}"></td>
        <td class="total-val" data-value="{{AvailableString09}}"></td>
        <td class="total-val" data-value="{{AvailableString10}}"></td>
        <td class="total-val" data-value="{{AvailableString11}}"></td>
        <td class="total-val" data-value="{{AvailableString12}}"></td>
        <td class="total-val" data-value="{{AvailableString13}}"></td>
        <td class="total-val" data-value="{{AvailableString14}}"></td>
        <td class="total-val" data-value="{{AvailableString15}}"></td>
        <td class="total-val" data-value="{{AvailableString16}}"></td>
        <td class="total-val" data-value="{{AvailableString17}}"></td>
        <td class="total-val" data-value="{{AvailableString18}}"></td>
        <td class="total-val" data-value="{{AvailableString19}}"></td>
        <td class="total-val" data-value="{{AvailableString20}}"></td>
        <td class="total-val" data-value="{{AvailableString21}}"></td>
        <td class="total-val" data-value="{{AvailableString22}}"></td>
        <td class="total-val" data-value="{{AvailableString23}}"></td>
        <td class="total-val" data-value="{{AvailableString24}}"></td>
        <td class="total-val" data-value="{{AvailableString25}}"></td>
        <td class="total-val" data-value="{{AvailableString26}}"></td>
        <td class="total-val" data-value="{{AvailableString27}}"></td>
        <td class="total-val" data-value="{{AvailableString28}}"></td>
        <td class="total-val" data-value="{{AvailableString29}}"></td>
        <td class="total-val" data-value="{{AvailableString30}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "InventoryTypefooter"}}
        <td colspan="6" class="total-name">{{InventoryType}}:&nbsp;</td>
        <td class="total-val" data-value="{{AvailableString01}}"></td>
        <td class="total-val" data-value="{{AvailableString02}}"></td>
        <td class="total-val" data-value="{{AvailableString03}}"></td>
        <td class="total-val" data-value="{{AvailableString04}}"></td>
        <td class="total-val" data-value="{{AvailableString05}}"></td>
        <td class="total-val" data-value="{{AvailableString06}}"></td>
        <td class="total-val" data-value="{{AvailableString07}}"></td>
        <td class="total-val" data-value="{{AvailableString08}}"></td>
        <td class="total-val" data-value="{{AvailableString09}}"></td>
        <td class="total-val" data-value="{{AvailableString10}}"></td>
        <td class="total-val" data-value="{{AvailableString11}}"></td>
        <td class="total-val" data-value="{{AvailableString12}}"></td>
        <td class="total-val" data-value="{{AvailableString13}}"></td>
        <td class="total-val" data-value="{{AvailableString14}}"></td>
        <td class="total-val" data-value="{{AvailableString15}}"></td>
        <td class="total-val" data-value="{{AvailableString16}}"></td>
        <td class="total-val" data-value="{{AvailableString17}}"></td>
        <td class="total-val" data-value="{{AvailableString18}}"></td>
        <td class="total-val" data-value="{{AvailableString19}}"></td>
        <td class="total-val" data-value="{{AvailableString20}}"></td>
        <td class="total-val" data-value="{{AvailableString21}}"></td>
        <td class="total-val" data-value="{{AvailableString22}}"></td>
        <td class="total-val" data-value="{{AvailableString23}}"></td>
        <td class="total-val" data-value="{{AvailableString24}}"></td>
        <td class="total-val" data-value="{{AvailableString25}}"></td>
        <td class="total-val" data-value="{{AvailableString26}}"></td>
        <td class="total-val" data-value="{{AvailableString27}}"></td>
        <td class="total-val" data-value="{{AvailableString28}}"></td>
        <td class="total-val" data-value="{{AvailableString29}}"></td>
        <td class="total-val" data-value="{{AvailableString30}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "Categoryfooter"}}
        <td colspan="6" class="total-name">{{Category}}:&nbsp;</td>
        <td class="total-val" data-value="{{AvailableString01}}"></td>
        <td class="total-val" data-value="{{AvailableString02}}"></td>
        <td class="total-val" data-value="{{AvailableString03}}"></td>
        <td class="total-val" data-value="{{AvailableString04}}"></td>
        <td class="total-val" data-value="{{AvailableString05}}"></td>
        <td class="total-val" data-value="{{AvailableString06}}"></td>
        <td class="total-val" data-value="{{AvailableString07}}"></td>
        <td class="total-val" data-value="{{AvailableString08}}"></td>
        <td class="total-val" data-value="{{AvailableString09}}"></td>
        <td class="total-val" data-value="{{AvailableString10}}"></td>
        <td class="total-val" data-value="{{AvailableString11}}"></td>
        <td class="total-val" data-value="{{AvailableString12}}"></td>
        <td class="total-val" data-value="{{AvailableString13}}"></td>
        <td class="total-val" data-value="{{AvailableString14}}"></td>
        <td class="total-val" data-value="{{AvailableString15}}"></td>
        <td class="total-val" data-value="{{AvailableString16}}"></td>
        <td class="total-val" data-value="{{AvailableString17}}"></td>
        <td class="total-val" data-value="{{AvailableString18}}"></td>
        <td class="total-val" data-value="{{AvailableString19}}"></td>
        <td class="total-val" data-value="{{AvailableString20}}"></td>
        <td class="total-val" data-value="{{AvailableString21}}"></td>
        <td class="total-val" data-value="{{AvailableString22}}"></td>
        <td class="total-val" data-value="{{AvailableString23}}"></td>
        <td class="total-val" data-value="{{AvailableString24}}"></td>
        <td class="total-val" data-value="{{AvailableString25}}"></td>
        <td class="total-val" data-value="{{AvailableString26}}"></td>
        <td class="total-val" data-value="{{AvailableString27}}"></td>
        <td class="total-val" data-value="{{AvailableString28}}"></td>
        <td class="total-val" data-value="{{AvailableString29}}"></td>
        <td class="total-val" data-value="{{AvailableString30}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "grandtotal"}}
        <td colspan="6" class="total-name">Grand Total:&nbsp;</td>
        <td class="total-val" data-value="{{AvailableString01}}"></td>
        <td class="total-val" data-value="{{AvailableString02}}"></td>
        <td class="total-val" data-value="{{AvailableString03}}"></td>
        <td class="total-val" data-value="{{AvailableString04}}"></td>
        <td class="total-val" data-value="{{AvailableString05}}"></td>
        <td class="total-val" data-value="{{AvailableString06}}"></td>
        <td class="total-val" data-value="{{AvailableString07}}"></td>
        <td class="total-val" data-value="{{AvailableString08}}"></td>
        <td class="total-val" data-value="{{AvailableString09}}"></td>
        <td class="total-val" data-value="{{AvailableString10}}"></td>
        <td class="total-val" data-value="{{AvailableString11}}"></td>
        <td class="total-val" data-value="{{AvailableString12}}"></td>
        <td class="total-val" data-value="{{AvailableString13}}"></td>
        <td class="total-val" data-value="{{AvailableString14}}"></td>
        <td class="total-val" data-value="{{AvailableString15}}"></td>
        <td class="total-val" data-value="{{AvailableString16}}"></td>
        <td class="total-val" data-value="{{AvailableString17}}"></td>
        <td class="total-val" data-value="{{AvailableString18}}"></td>
        <td class="total-val" data-value="{{AvailableString19}}"></td>
        <td class="total-val" data-value="{{AvailableString20}}"></td>
        <td class="total-val" data-value="{{AvailableString21}}"></td>
        <td class="total-val" data-value="{{AvailableString22}}"></td>
        <td class="total-val" data-value="{{AvailableString23}}"></td>
        <td class="total-val" data-value="{{AvailableString24}}"></td>
        <td class="total-val" data-value="{{AvailableString25}}"></td>
        <td class="total-val" data-value="{{AvailableString26}}"></td>
        <td class="total-val" data-value="{{AvailableString27}}"></td>
        <td class="total-val" data-value="{{AvailableString28}}"></td>
        <td class="total-val" data-value="{{AvailableString29}}"></td>
        <td class="total-val" data-value="{{AvailableString30}}"></td>
        {{/ifEquals}}
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{/ifEquals}}
  <!--DETAIL VIEW TABLE-->
  {{#ifEquals IsSummary false}}
  {{/ifEquals}}
</div>