<!--RentalInventoryUnusedItemsReport-->
<div data-section="header">
  <div class="rpt-flexrow" style="width:1555px;">
    <div class="rpt-flexcolumn">
      <div class="rpt-nested-flexrow rpt-header-left"><span>{{System}}</span></div>
    </div>
    <div class="rpt-flexcolumn">
      <div class="rpt-nested-flexrow rpt-title"><span>{{Report}}</span></div>
      <div class="rpt-nested-flexrow rpt-header-center"><span>As Of: {{PrintDate}}</span></div>
    </div>
    <div class="rpt-flexcolumn">
      <div class="rpt-nested-flexrow rpt-header-right"><span>{{Company}}</span></div>
    </div>
  </div>
</div>
<div data-section="table" class="rpt-flexrow" style="margin-top:40px;width:1555px;">
  <table>
    <thead id="columnHeader">
      <tr data-row="main-header">
        <th data-linkedcolumn="ICode" data-valuefield="ICode">I-Code</th>
        <th data-linkedcolumn="Description" data-valuefield="Description">Description</th>
        <th data-linkedcolumn="BarCode" data-valuefield="BarCode">Bar Code</th>
        <th data-linkedcolumn="SerialNumber" data-valuefield="SerialNumber">Serial No.</th>
        <th data-linkedcolumn="Quantity" data-valuefield="Quantity" class="number">Qty</th>
        <th data-linkedcolumn="RentalStatus" data-valuefield="RentalStatus">Status</th>
        <th data-linkedcolumn="AisleLocation" data-valuefield="AisleLocation">Aisle</th>
        <th data-linkedcolumn="ShelfLocation" data-valuefield="ShelfLocation">Shelf</th>
        <th data-linkedcolumn="PurchaseDate" data-valuefield="PurchaseDate">Purchase Date</th>
        <th data-linkedcolumn="LastUsedDate" data-valuefield="LastUsedDate">Last Used</th>
        <th data-linkedcolumn="LastUsedDeal" data-valuefield="LastUsedDeal">Deal</th>
        <th data-linkedcolumn="DaysUnused" data-valuefield="DaysUnused">Days Unused</th>
        <th data-linkedcolumn="UnitCost" data-valuefield="UnitCost" class="number">Unit Cost</th>
        <th data-linkedcolumn="ExtendedCost" data-valuefield="ExtendedCost" class="number">Extended Cost</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      {{#ifEquals RowType "Warehouseheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="14" class="header-row">Warehouse: {{Warehouse}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "InventoryTypeheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="14" class="lower header-row">Inventory Type: {{InventoryType}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Categoryheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="14" class="lower header-row">Category: {{"Category"}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "detail"}}
      <tr data-row="detail" data-rowtype="{{RowType}}">
        <td data-linkedcolumn="ICode" class="nowrap" data-value="{{ICode}}"></td>
        <td data-linkedcolumn="Description" data-value="{{Description}}"></td>
        <td data-linkedcolumn="BarCode" data-value="{{BarCode}}"></td>
        <td data-linkedcolumn="SerialNumber" data-value="{{SerialNumber}}"></td>
        <td data-linkedcolumn="Quantity" class="number" data-value="{{Quantity}}"></td>
        <td data-linkedcolumn="RentalStatus" data-value="{{RentalStatus}}"></td>
        <td data-linkedcolumn="AisleLocation" data-value="{{AisleLocation}}"></td>
        <td data-linkedcolumn="ShelfLocation" data-value="{{ShelfLocation}}"></td>
        <td data-linkedcolumn="PurchaseDate" data-value="{{PurchaseDate}}"></td>
        <td data-linkedcolumn="LastUsedDate" data-value="{{LastUsedDate}}"></td>
        <td data-linkedcolumn="LastUsedDeal" data-value="{{LastUsedDeal}}"></td>
        <td data-linkedcolumn="DaysUnused" data-value="{{DaysUnused}}"></td>
        <td data-linkedcolumn="UnitCost" class="number" data-value="{{UnitCost}}"></td>
        <td data-linkedcolumn="ExtendedCost" class="number" data-value="{{ExtendedCost}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Categoryfooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="4" class="total-name">{{Category}}:&nbsp;</td>
        <td data-linkedcolumn="Quantity" class="total-val" data-value="{{Quantity}}"></td>
        <td data-linkedcolumn="RentalStatus" class="total-val"></td>
        <td data-linkedcolumn="AisleLocation" class="total-val"></td>
        <td data-linkedcolumn="ShelfLocation" class="total-val"></td>
        <td data-linkedcolumn="PurchaseDate" class="total-val"></td>
        <td data-linkedcolumn="LastUsedDate" class="total-val"></td>
        <td data-linkedcolumn="LastUsedDeal" class="total-val"></td>
        <td data-linkedcolumn="DaysUnused" class="total-val"></td>
        <td data-linkedcolumn="UnitCost" class="total-val" data-value="{{UnitCost}}"></td>
        <td data-linkedcolumn="ExtendedCost" class="total-val" data-value="{{ExtendedCost}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "InventoryTypefooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="4" class="total-name">{{InventoryType}}:&nbsp;</td>
        <td data-linkedcolumn="Quantity" class="total-val" data-value="{{Quantity}}"></td>
        <td data-linkedcolumn="RentalStatus" class="total-val"></td>
        <td data-linkedcolumn="AisleLocation" class="total-val"></td>
        <td data-linkedcolumn="ShelfLocation" class="total-val"></td>
        <td data-linkedcolumn="PurchaseDate" class="total-val"></td>
        <td data-linkedcolumn="LastUsedDate" class="total-val"></td>
        <td data-linkedcolumn="LastUsedDeal" class="total-val"></td>
        <td data-linkedcolumn="DaysUnused" class="total-val"></td>
        <td data-linkedcolumn="UnitCost" class="total-val" data-value="{{UnitCost}}"></td>
        <td data-linkedcolumn="ExtendedCost" class="total-val" data-value="{{ExtendedCost}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Warehousefooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="4" class="total-name">{{Warehouse}}:&nbsp;</td>
        <td data-linkedcolumn="Quantity" class="total-val" data-value="{{Quantity}}"></td>
        <td data-linkedcolumn="RentalStatus" class="total-val"></td>
        <td data-linkedcolumn="AisleLocation" class="total-val"></td>
        <td data-linkedcolumn="ShelfLocation" class="total-val"></td>
        <td data-linkedcolumn="PurchaseDate" class="total-val"></td>
        <td data-linkedcolumn="LastUsedDate" class="total-val"></td>
        <td data-linkedcolumn="LastUsedDeal" class="total-val"></td>
        <td data-linkedcolumn="DaysUnused" class="total-val"></td>
        <td data-linkedcolumn="UnitCost" class="total-val" data-value="{{UnitCost}}"></td>
        <td data-linkedcolumn="ExtendedCost" class="total-val" data-value="{{ExtendedCost}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "grandtotal"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="4" class="total-name">Grand Total:&nbsp;</td>
        <td data-linkedcolumn="Quantity" class="total-val" data-value="{{Quantity}}"></td>
        <td data-linkedcolumn="RentalStatus" class="total-val"></td>
        <td data-linkedcolumn="AisleLocation" class="total-val"></td>
        <td data-linkedcolumn="ShelfLocation" class="total-val"></td>
        <td data-linkedcolumn="PurchaseDate" class="total-val"></td>
        <td data-linkedcolumn="LastUsedDate" class="total-val"></td>
        <td data-linkedcolumn="LastUsedDeal" class="total-val"></td>
        <td data-linkedcolumn="DaysUnused" class="total-val"></td>
        <td data-linkedcolumn="UnitCost" class="total-val" data-value="{{UnitCost}}"></td>
        <td data-linkedcolumn="ExtendedCost" class="total-val" data-value="{{ExtendedCost}}"></td>
      </tr>
      {{/ifEquals}}
      {{/each}}
    </tbody>
  </table>
</div>