<!-- Out Contract Report -->
<div data-section="header" class="rpt-flexcolumn" style="margin:5px 0px 0px 4px;">
  <div class="rpt-flexrow" style="margin:5px 0px 0px 4px;">
    <div class="rpt-flexcolumn">
      <div class="rpt-nested-flexrow">
        <div style="height:100px;"><img data-visible="{{#if Logosrc}}true{{/if}}" class="clientlogo" src="{{Logosrc}}" style="display:block;width:auto;height:100%;" alt="logo" /></div>
      </div>
      <div class="rpt-nested-flexrow" style="border-top:2px solid #027cc5;"><span class="header-left" style="font-weight:600">{{OfficeLocationCompany}}</span></div>
      <div class="rpt-nested-flexrow" style="border-top:2px solid #027cc5;"><span class="header-left">{{OfficeLocationAddress1}}</span></div>
      <div class="rpt-nested-flexrow" style="border-top:2px solid #027cc5;"><span class="header-left">{{OfficeLocationAddress2}}</span></div>
      <div class="rpt-nested-flexrow" style="border-top:2px solid #027cc5;"><span class="header-left">{{OfficeLocationCityStateZipCodeCountry}}</span></div>
      <div class="rpt-nested-flexrow" style="border-top:2px solid #027cc5;"><span class="header-left"><span style="font-weight:600;">Phone: </span>{{OfficeLocationPhone}}</span></div>
    </div>
    <div class="rpt-flexcolumn" style="min-width:42%;">
      <div class="rpt-nested-flexrow sub-title"><span style="font-size:20px;">{{Department}}</span></div>
      <div class="rpt-nested-flexrow title blue"><span>{{Report}}</span></div>
    </div>
    <div class="rpt-flexcolumn">
      <div class="rpt-nested-flexrow">
        <span style="width:40%;font-size:18px;font-weight:700;text-align:right;padding:10px 2px 10px 17px">No: </span>
        <span style="width:60%;background-color:#e3f2fd;color:#027cc5;border:2px solid #212121;padding:5px 10px;font-size:25px;text-align:center;">{{ContractNumber}}</span>
      </div>
      <div class="rpt-nested-flexrow">
        <span style="width:40%;color:black;font-size:18px;font-weight:700;text-align:right;">Date: </span>
        <span style="width:60%;font-size:18px;text-align:center;">{{ContractDate}}</span>
      </div>
      <div class="rpt-nested-flexrow">
        <span style="width:40%;color:black;font-size:18px;font-weight:700;text-align:right;">Time: </span>
        <span style="width:60%;font-size:18px;text-align:center;">{{ContractTime}}</span>
      </div>
    </div>
  </div>
  <div class="rpt-flexrow" style="padding-left:3px;">
    <div class="rpt-flexcolumn">
      <div class="rpt-nested-flexrow" style="text-align: left; padding: 5px; background-color: #e3f2fd;border-top: 2px solid #027cc5; padding-left: 3px;">
        <span style="font-weight: 700;">Issued To</span>
      </div>
      <div class="rpt-nested-flexrow" style="border-top:2px solid #027cc5;">
        <span style="font-weight: 700;">{{IssuedToCompany}}</span>
      </div>
      <div data-visible="{{#if IssuedToAttention1}}true{{/if}}" class="rpt-nested-flexrow">
        <span>{{IssuedToAttention1}}</span>
      </div>
      <div class="rpt-nested-flexrow">
        <span>{{IssuedToAddress1}}</span>
      </div>
      <div data-visible="{{#if IssuedToAddress2}}true{{/if}}" class="rpt-nested-flexrow">
        <span>{{IssuedToAddress2}}</span>
      </div>
      <div data-visible="{{#if IssuedToCity}}true{{/if}}" class="rpt-nested-flexrow">
        <span>{{IssuedToCity}}, {{IssuedToState}} {{IssuedToZipCode}} {{IssuedToCountry}}</span>
      </div>
      <div data-visible="{{#if IssuedToPhone}}true{{/if}}" class="rpt-nested-flexrow">
        <span style="font-weight:700;">Phone: </span><span>{{IssuedToPhone}}</span>
      </div>
    </div>
    <div class="rpt-flexcolumn">
      <div class="rpt-nested-flexrow">
        <span style="padding:10px;"></span>
      </div>
    </div>
    <div class="rpt-flexcolumn">
      <div class="rpt-nested-flexrow" style="border-top:2px solid #027cc5;">
        <span class="shaded-block" style="width:100px;">Description: </span><span class="meta-content">{{OrderDescription}}</span>
      </div>
      <div class="rpt-nested-flexrow">
        <span class="shaded-block" style="width:100px;">Deal: </span><span class="meta-content">{{Deal}}</span>
      </div>
      <div class="rpt-nested-flexrow">
        <span class="shaded-block" style="width:100px;">Usage Dates: </span><span class="meta-content">{{UsageDates}}</span>
      </div>
      <div class="rpt-nested-flexrow" style="border-top:2px solid #027cc5;">
        <span class="shaded-block" style="width:100px;">Agent: </span><span class="meta-content">{{Agent}}</span>
      </div>
      <div class="rpt-nested-flexrow">
        <span class="shaded-block" style="width:100px;">Email: </span><span class="meta-content">{{AgentEmail}}</span>
      </div>
      <div class="rpt-nested-flexrow">
        <span class="shaded-block" style="width:100px;">Phone: </span><span class="meta-content">{{AgentPhoneAndExtension}}</span>
      </div>
    </div>
  </div>
</div>
<div data-section="table" class="rpt-flexrow">
  <table style="table-layout:fixed;">
    <thead id="columnHeader">
      <tr data-row="main-header" data-linkedrow="detail">
        <th data-linkedcolumn="ICode" data-valuefield="ICode"></th>
        <th data-linkedcolumn="Description" data-valuefield="Description"></th>
        <th data-linkedcolumn="QuantityOrdered" data-valuefield="QuantityOrdered"></th>
        <th data-linkedcolumn="TotalQuantity" data-valuefield="TotalQuantity"></th>
        <th data-linkedcolumn="Quantity" data-valuefield="Quantity"></th>
      </tr>
    </thead>
    <tbody>
      {{#each Items}}
      {{#ifEquals RowType "RecTypeDisplayheader"}}
      <tr data-row="header"><td colspan="5">&nbsp;</td></tr><!--spacer row-->
      <tr data-row="header" class="avoid-page-break">
        <td colspan="5" class="section-header">{{RecTypeDisplay}}&nbsp;</td>
      </tr>
      <tr data-row="linked-sub-header" data-sort="true" data-linkedrow="detail">
        <th data-linkedcolumn="ICode" data-valuefield="ICode">I-Code</th>
        <th data-linkedcolumn="Description" data-valuefield="Description">Description</th>
        <th data-linkedcolumn="QuantityOrdered" data-valuefield="QuantityOrdered">QuantityOrdered</th>
        <th data-linkedcolumn="TotalQuantity" data-valuefield="TotalQuantity">Total Out</th>
        <th data-linkedcolumn="Quantity" data-valuefield="Quantity">Out</th>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "detail"}}
      <tr data-row="detail" data-rowtype="{{RowType}}" class="description-row">
        <td data-linkedcolumn="ICode" class="nowrap" data-value="{{ICode}}"></td>
        <td data-linkedcolumn="Description" data-value="{{Description}}"></td>
        <td data-linkedcolumn="QuantityOrdered" class="number" data-value="{{QuantityOrdered}}"></td>
        <td data-linkedcolumn="TotalQuantity" class="number" data-value="{{TotalQuantity}}"></td>
        <td data-linkedcolumn="Quantity" class="number" data-value="{{Quantity}}"></td>
      </tr>
      {{#if ../IncludeBarCodes}}
      <tr data-row="sub-detail" data-sort="true" class="barcode-row" data-visible="{{#if BarCodes}}true{{/if}}">
        <td></td>
        <td colspan="4"><b>Bar Codes:</b> {{BarCodes}}</td>
      </tr>
      {{/if}}

      {{#if ../IncludeSerialNumbers}}
      <tr data-row="sub-detail" data-sort="true" class="serial-row" data-visible="{{#if SerialNumbers}}true{{/if}}">
        <td></td>
        <td colspan="4"><b>Serial Numbers:</b> {{SerialNumbers}}</td>
      </tr>
      {{/if}}

      {{#if ../IncludeRfids}}
      <tr data-row="sub-detail" data-sort="true" class="rfid-row" data-visible="{{#if Rfids}}true{{/if}}">
        <td></td>
        <td colspan="4"><b>RFIDs:</b> {{Rfids}}</td>
      </tr>
      {{/if}}

      {{#if ../IncludeManufacturerPartNumbers}}
      <tr data-row="sub-detail" data-sort="true" class="partno-row" data-visible="{{#if ManufacturerPartNumbers}}true{{/if}}">
        <td></td>
        <td colspan="4"><b>Part Numbers:</b> {{ManufacturerPartNumbers}}</td>
      </tr>
      {{/if}}

      {{#if Notes}}
       <tr data-row="sub-detail" data-sort="true" class="note-row" data-visible="{{#if Notes}}true{{/if}}">
        <td colspan="5"><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></td>
      </tr>
      {{/if}}
      {{/ifEquals}}
      {{/each}}
    </tbody>
  </table>
</div>

{{#if TermsAndConditionsHtml}}
<div id="termsRow" colspan="7">
  <div style="font-weight:700;margin:20px 0 0 0;">Terms and Conditions:</div>
  <div><span id="terms"></span></div>
</div>
{{/if}}

{{#if PersonPrintName}}
<div class="rpt-flexrow avoid-page-break" style="margin-top:25px;">
  <fieldset style="height:150px">
    <legend>RECEIVED BY</legend>
    <table>
      <tr>
        <td valign="bottom"><img id="base64img" src="{{PersonSignature}}" alt="signature" style="width:auto;height:100px;" /></td>
        <td>&nbsp;</td>
        <td valign="bottom" style="width:250px">{{PersonPrintName}}</td>
        <td>&nbsp;</td>
        <td valign="bottom" style="width:100px">{{ContractDate}}</td>
      </tr>
      <tr>
        <td style="border-top:1px solid #000000"><div class="caption">SIGNATURE</div></td>
        <td>&nbsp;</td>
        <td style="border-top:1px solid #000000"><div class="caption">PRINT NAME</div></td>
        <td>&nbsp;</td>
        <td style="border-top:1px solid #000000"><div class="caption">DATE</div></td>
      </tr>
    </table>
  </fieldset>
</div>
{{else}}
<div class="rpt-flexrow avoid-page-break" style="margin-top:25px;">
  <fieldset>
    <legend>RECEIVED BY</legend>
    <div>
      <div style="display:flex">
        <div class="receivedbyfield">
          <div class="value"></div>
          <div class="caption">SIGNATURE</div>
        </div>
        <div class="receivedbyfield">
          <div class="value"></div>
          <div class="caption">PRINT NAME</div>
        </div>
      </div>
      <div style="display:flex">
        <div class="receivedbyfield">
          <div class="value"></div>
          <div class="caption">DATE</div>
        </div>
        <div class="receivedbyfield"></div>
      </div>
    </div>
  </fieldset>
</div>
{{/if}}
