<!-- Vendor Invoice Batch Report-->
<div class="rpt-flexrow">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">Batch No. {{BatchNumber}} {{Date}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div class="rpt-flexrow" style="margin-top:40px;">
  <table>
    <thead>
      <tr>
        <th>Invoice No.</th>
        <th>Invoice Date</th>
        <th>PO No.</th>
        <th class="number">Total</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr data-rowtype={{RowType}}>
        {{#ifEquals RowType "Locationheader"}}
        <td colspan="4" class="header-row">Office: {{Location}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Vendorheader"}}
        <td colspan="4" class="lower header-row">Vendor: {{Vendor}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "detail"}}
        <td>{{InvoiceNumber}}</td>
        <td>{{InvoiceDate}}</td>
        <td>{{PurchaseOrderNumber}}</td>
        <td class="number" data-value="{{InvoiceTotal}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "Vendorfooter"}}
        <td colspan="3" class="total-name">{{Vendor}}&nbsp;</td>
        <td class="total-val" data-value="{{InvoiceTotal}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "Locationfooter"}}
        <td colspan="3" class="total-name">{{Location}}&nbsp;</td>
        <td class="total-val" data-value="{{InvoiceTotal}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "grandtotal"}}
        <td colspan="3" class="total-name">Grand Total:&nbsp;</td>
        <td class="total-val" data-value="{{InvoiceTotal}}"></td>
        {{/ifEquals}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>