<!--RentalInventoryUsageReport-->
<div class="rpt-flexrow">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">Invoice From: {{FromDate}} To: {{ToDate}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div class="rpt-flexrow" style="margin-top:40px;">
  <table>
    <thead class="top-section-header">
      <tr>
        <th colspan="2" style="background-color:white;"></th>
        <th colspan="8">OWNED</th>
        <th colspan="3">SUBRENTAL</th>
        <th>CONSIGNMENT</th>
        <th>TOTAL</th>
      </tr>
    </thead>
    <thead>
      <tr>
        <th class="row1">I-Code</th>
        <th class="row1">Description</th>
        <th class="row1 number">Average</th>
        <th class="row1 number">Current</th>
        <th class="row1 number">Avail</th>
        <th class="row1 number">Days</th>
        <th class="row1 number">Days In</th>
        <th class="row1 number">Usage</th>
        <th class="row1 number">Days</th>
        <th class="row1 number">Revenue</th>
        <th class="row1 number">Days</th>
        <th class="row1 number">Revenue</th>
        <th class="row1 number">Cost</th>
        <th class="row1 number">Fees</th>
        <th class="row1 number">Adjusted</th>
      </tr>
      <tr>
        <th class="row2"></th>
        <th class="row2"></th>
        <th class="row2 number">Owned</th>
        <th class="row2 number">Owned</th>
        <th class="row2 number">Days</th>
        <th class="row2 number">Out</th>
        <th class="row2 number">Repair</th>
        <th class="row2 number">%</th>
        <th class="row2 number">Billed</th>
        <th class="row2 number"></th>
        <th class="row2 number"></th>
        <th class="row2 number"></th>
        <th class="row2 number"></th>
        <th class="row2 number"></th>
        <th class="row2 number">Revenue</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr data-rowtype={{RowType}}>
        {{#ifEquals RowType "Warehouseheader"}}
        <td colspan="3" class="header-row">Warehouse: {{Warehouse}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "InventoryTypeheader"}}
        <td colspan="3" class="lower header-row">Inventory Type: {{InventoryType}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Categoryheader"}}
        <td colspan="3" class="lower header-row">Category: {{Category}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "detail"}}
        <td data-value="{{ICode}}"></td>
        <td data-value="{{Description}}"></td>
        <td class="number" data-value="{{AverageOwnedQuantity}}"></td>
        <td class="number" data-value="{{CurrentOwnedQuantity}}"></td>
        <td class="number" data-value="{{AvailableDays}}"></td>
        <td class="number" data-value="{{DaysOut}}"></td>
        <td class="number" data-value="{{DaysOutOfService}}"></td>
        <td class="number" data-value="{{UsagePercent}}"></td>
        <td class="number" data-value="{{DaysBilled}}"></td>
        <td class="number" data-value="{{Revenue}}"></td>
        <td class="number" data-value="{{DaysSubRented}}"></td>
        <td class="number" data-value="{{SubRentalRevenue}}"></td>
        <td class="number" data-value="{{SubRentalCost}}"></td>
        <td class="number" data-value="{{ConsignmentFees}}"></td>
        <td class="number" data-value="{{AdjustedRevenue}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "Warehousefooter"}}
        <td colspan="2" class="total-name">{{Warehouse}}&nbsp;</td>
        <td class="total-val" data-value="{{AverageOwnedQuantity}}"></td>
        <td class="total-val" data-value="{{CurrentOwnedQuantity}}"></td>
        <td class="total-val" data-value="{{AvailableDays}}"></td>
        <td class="total-val" data-value="{{DaysOut}}"></td>
        <td class="total-val" data-value="{{DaysOutOfService}}"></td>
        <td colspan="2" class="total-val" data-value="{{DaysBilled}}"></td>
        <td class="total-val" data-value="{{Revenue}}"></td>
        <td class="total-val" data-value="{{DaysSubRented}}"></td>
        <td class="total-val" data-value="{{SubRentalRevenue}}"></td>
        <td class="total-val" data-value="{{SubRentalCost}}"></td>
        <td class="total-val" data-value="{{ConsignmentFees}}"></td>
        <td class="total-val" data-value="{{AdjustedRevenue}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "InventoryTypefooter"}}
        <td colspan="2" class="total-name">{{InventoryType}}&nbsp;</td>
        <td class="total-val" data-value="{{AverageOwnedQuantity}}"></td>
        <td class="total-val" data-value="{{CurrentOwnedQuantity}}"></td>
        <td class="total-val" data-value="{{AvailableDays}}"></td>
        <td class="total-val" data-value="{{DaysOut}}"></td>
        <td class="total-val" data-value="{{DaysOutOfService}}"></td>
        <td colspan="2" class="total-val" data-value="{{DaysBilled}}"></td>
        <td class="total-val" data-value="{{Revenue}}"></td>
        <td class="total-val" data-value="{{DaysSubRented}}"></td>
        <td class="total-val" data-value="{{SubRentalRevenue}}"></td>
        <td class="total-val" data-value="{{SubRentalCost}}"></td>
        <td class="total-val" data-value="{{ConsignmentFees}}"></td>
        <td class="total-val" data-value="{{AdjustedRevenue}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "Categoryfooter"}}
        <td colspan="2" class="total-name">{{Category}}&nbsp;</td>
        <td class="total-val" data-value="{{AverageOwnedQuantity}}"></td>
        <td class="total-val" data-value="{{CurrentOwnedQuantity}}"></td>
        <td class="total-val" data-value="{{AvailableDays}}"></td>
        <td class="total-val" data-value="{{DaysOut}}"></td>
        <td class="total-val" data-value="{{DaysOutOfService}}"></td>
        <td colspan="2" class="total-val" data-value="{{DaysBilled}}"></td>
        <td class="total-val" data-value="{{Revenue}}"></td>
        <td class="total-val" data-value="{{DaysSubRented}}"></td>
        <td class="total-val" data-value="{{SubRentalRevenue}}"></td>
        <td class="total-val" data-value="{{SubRentalCost}}"></td>
        <td class="total-val" data-value="{{ConsignmentFees}}"></td>
        <td class="total-val" data-value="{{AdjustedRevenue}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "grandtotal"}}
        <td colspan="2" class="total-name">Grand Total:&nbsp;</td>
        <td class="total-val" data-value="{{AverageOwnedQuantity}}"></td>
        <td class="total-val" data-value="{{CurrentOwnedQuantity}}"></td>
        <td class="total-val" data-value="{{AvailableDays}}"></td>
        <td class="total-val" data-value="{{DaysOut}}"></td>
        <td class="total-val" data-value="{{DaysOutOfService}}"></td>
        <td colspan="2" class="total-val" data-value="{{DaysBilled}}"></td>
        <td class="total-val" data-value="{{Revenue}}"></td>
        <td class="total-val" data-value="{{DaysSubRented}}"></td>
        <td class="total-val" data-value="{{SubRentalRevenue}}"></td>
        <td class="total-val" data-value="{{SubRentalCost}}"></td>
        <td class="total-val" data-value="{{ConsignmentFees}}"></td>
        <td class="total-val" data-value="{{AdjustedRevenue}}"></td>
        {{/ifEquals}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>