<!--WarehouseOutboundReport-->
<div class="rpt-flexrow">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">From: {{FromDate}} To: {{ToDate}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div class="rpt-flexrow" style="margin-top:40px;">
  <table>
    <thead>
      <tr>
        <th>Order No.</th>
        <th>Activity</th>
        <th>Pick Date</th>
        <th>Agent</th>
        <th>Delivery Contact</th>
        <th class="">Items</th>
        <th class="">% Complete</th>
      </tr>
      <tr>
        <th>Order Status</th>
        <th>Activity Date</th>
        <th>Description</th>
        <th>Outgoing Location</th>
        <th>Activity Status</th>
        <th class="">Remaining</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr data-rowtype={{RowType}}>
        {{#ifEquals RowType "Warehouseheader"}}
        <td colspan="7" class="header-row">Warehouse: {{Warehouse}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "detail"}}
        <td data-value="{{OrderNumber}}"></td>
        <td data-value="{{ActivityTypeDescription}}"></td>
        <td data-value="{{PickDate}}"></td>
        <td data-value="{{Agent}}"></td>
        <td data-value="{{OutgoingAttention}}"></td>
        <td class="" data-value="{{TotalQuantity}}"></td>
        <td class="" data-value="{{CompletePercent}}"></td>
        {{/ifEquals}}
      </tr>
      <tr data-rowtype={{RowType}}>
        {{#ifEquals RowType "detail"}}
        <td data-value="{{OrderStatus}}"></td>
        <td data-value="{{ActivityDateTime}}"></td>
        <td data-value="{{OrderDescription}}"></td>
        <td data-value="{{OutgoingLocation}}"></td>
        <td data-value="{{ActivityStatusDescription}}"></td>
        <td class="" data-value="{{RemainingQuantity}}"></td>
        <td></td>
        {{/ifEquals}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>