<div class="Header">
  <div>
    <div style="text-align: left; font-weight: bold; float:left;">RENTALWORKS</div>
    <div style="text-align: right; font-weight: bold; float:right;">4WALL ENTERTAINMENT</div>
    <div style="text-align: center; font-weight: bold; margin:0 auto;">G/L Distribution</div>
  </div>
  <div>
    <div style="text-align: center; margin:0 auto;">{{FromDate}} - {{ToDate}}</div>
  </div>
</div>
<div class="glItems">
  <table id="tblGLItems">
    <colgroup>
      <col class="GLAccount">
      <col class="Description">
      <col class="Debit">
      <col class="Credit">
    </colgroup>
    <thead>
      <tr class="columnheadings">
        <th class="GLAccount">G/L Account</th>
        <th class="Description">Description</th>
        <th class="Debit">Debit</th>
        <th class="Credit">Credit</th>
      </tr>

    </thead>
    <tbody>
      {{#with GLItems}}
      {{#each this}}
      <tr data-rowtype="{{RowType}}">
        {{#ifEquals RowType "Locationheader"}}
        <td class="LocationHeader" colspan="4">{{Location}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "GroupHeadingheader"}}
        <td class="GroupHeadingHeader" colspan="4">{{GroupHeading}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "detail"}}
        <td class="GLAccount">{{AccountNumber}}</td>
        <td class="Description">{{AccountDescription}}</td>
        <td class="Debit" data-value="{{Debit}}"></td>
        <td class="Credit" data-value="{{Credit}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "GroupHeadingfooter"}}
        <td class="GLAccount"></td>
        <td class="Description"></td>
        <td class="Debit totals" data-value="{{Debit}}"></td>
        <td class="Credit totals" data-value="{{Credit}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "Locationfooter"}}
        <td class="GLAccount"></td>
        <td style="font-weight:bold; text-align:right;">Totals:</td>
        <td class="Debit totals" data-value="{{Debit}}"></td>
        <td class="Credit totals" data-value="{{Credit}}"></td>
        {{/ifEquals}}
      </tr>
      {{/each}}
      {{/with}}
    </tbody>
  </table>
</div>