<div class="Header">
  <div>
    <div style="text-align: left; font-weight: bold; float:left;">RENTALWORKS</div>
    <div style="text-align: right; font-weight: bold; float:right;">4WALL ENTERTAINMENT</div>
    <div style="text-align: center; font-weight: bold; margin:0 auto;">G/L Distribution</div>
  </div>
  <div>
    <div style="text-align: left; font-weight: bold; float:left;">Office: <span style="font-weight:normal;">{{Location}}</span></div>
    <div style="text-align: right; font-weight: bold; float:right;">&#160;</div>
    <div style="text-align: center; margin:0 auto;">{{FromDate}} - {{ToDate}}</div>
  </div>
</div>
<div class="glItems">
  <table id="tblGLItems">
    <colgroup>
      <col class="GLAccount">
      <col class="Description">
      <col class="Debit">
      <col class="Credit">
    </colgroup>
    <thead>
      <tr class="columnheadings">
        <th class="GLAccount">G/L Account</th>
        <th class="Description">Description</th>
        <th class="Debit">Debit</th>
        <th class="Credit">Credit</th>
      </tr>

    </thead>
    <tbody>
      {{#with GLItems}}
      {{#each this}}
      <tr data-rowtype="{{GroupHeading}}">
        <td class="GLAccount">{{AccountNumber}}</td>
        <td class="Description">{{AccountDescription}}</td>
        <td class="Debit">{{Debit }}</td>
        <td class="Credit">{{Credit}}</td>
      </tr>
      {{/each}}
      {{/with}}
    </tbody>
  </table>
</div>
<div class="totals">
  <div style="white-space:pre; min-width:25%;">&#160;</div>
  <div class="TotalsHeader">Totals:</div>
  <div class="Debit">{{DebitTotal}}12323</div>
  <div class="Credit">{{CreditTotal}}1353</div>
</div>