<!--Return List Report-->
<div class="rpt-flexrow" style="margin:5px 0px 0px 4px;">
  <div class="rpt-flexcolumn" style="padding-bottom:5px;">
    <span class="company-header">{{Company}}</span>
    <span class="header-left">Department: {{Department}}</span>
    <span class="header-left">Warehouse: {{Warehouse}}</span>
  </div>
  <div style="max-width: 300px;" class="rpt-flexcolumn">
    <span class="contract-title blue">{{Report}}</span>
    <span class="sub-title">As Of: {{PrintDate}} &nbsp; {{PrintTime}}</span>
    <span class="sub-title">{{DealName}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="header-right">Session: {{Session}}</span>
    {{#ifEquals BarCodeStyle "1D"}}
    <span class="header-right" style="font-family:'Libre Barcode 39 Text', serif; font-size:50px;">*{{Session}}*</span> <!-- wrap this in * so that the barcode works -->
    {{/ifEquals}}
    {{#ifEquals BarCodeStyle "2D"}}
    <span class="header-right qrcode">{{{QrCode}}}</span>
    {{/ifEquals}}
  </div>
</div>
<div class="rpt-flexrow">
  <table>
    <thead>
      <tr style="height:44px;">
        <th>I-Code</th>
        {{#ifEquals PrintICodeColumn true}}
        <th>I-Code</th>
        {{/ifEquals}}
        <th>Description</th>
        {{#ifEquals PrintAisleShelf true}}
        <th class="centered">Aisle<br />Shelf</th>
        {{/ifEquals}}
        {{#ifEquals PrintIn true}}
        <th class="centered">In</th>
        {{/ifEquals}}
        {{#ifEquals PrintOut true}}
        <th class="centered">Out</th>
        {{/ifEquals}}
        <th class="centered"><span>Returned</span></th>
        <th class="centered"><span>Verified</span></th>
      </tr>
    </thead>
    {{#each Items}}
    {{#ifEquals RowType "RecTypeDisplayheader"}}
    <thead data-rowtype="{{RowType}}">
      <tr class="avoid-page-break">
        <td colspan="6" class="section-header">{{RecTypeDisplay}}&nbsp;</td>
      </tr>
      <tr>
        <td></td>
        {{#ifEquals PrintICodeColumn true}}
        <th>I-Code</th>
        {{/ifEquals}}
        <th>Description</th>
        <th class="number">Ordered</th>
        <th class="number">In</th>
        <th class="number">Total In</th>
      </tr>
    </thead>
    <tbody>
      {{/ifEquals}}
      {{#ifEquals RowType "detail"}}
      <tr data-rowtype="{{RowType}}" class="description-row">
        <td class="nowrap"><span class="nowrap" style="font-family:'Libre Barcode 39 Text', serif; font-size:50px;">{{#ifEquals TrackedBy "QUANTITY"}}*{{ICode}}*{{/ifEquals}}</span></td>
        {{#ifEquals PrintICodeColumn true}}
        <td class="nowrap">{{ICode}}</td>
        {{/ifEquals}}
        <td>{{Description}}{{#if Vendor}}<br /><span style="font-size:12px;"><b>Vendor:</b>{{Vendor}}</span>{{/if}}</td>
        {{#ifEquals PrintAisleShelf true}}
        <td class="centered bordered">{{Aisle}}<br />{{Shelf}}</td>
        {{/ifEquals}}
        {{#ifEquals PrintIn true}}
        <td class="centered bordered">{{QuantityIn}}</td>
        {{/ifEquals}}
        {{#ifEquals PrintOut true}}
        <td class="centered bordered">{{StillOut}}</td>
        {{/ifEquals}}
        <td class="bordered">&nbsp;</td>
        <td class="" style="border-left:1px solid;">&nbsp;</td>
      </tr>
      {{#gt Barcodes.length 0}}
      <tr data-rowtype="{{RowType}}" class="barcode-row">
        <td class="" colspan="8">{{Barcodes}}</td>
      </tr>
      {{/gt}}
      {{/ifEquals}}
      {{/each}}
    </tbody>
  </table>
</div>
<div class="rpt-flexrow" style="margin-top:25px;">
  <div>
    <div style="display:flex">
      <div class="receivedbyfield">
        <div class="value"></div>
        <div style="font-weight:700;" class="caption">RECEIVED BY</div>
      </div>
    </div>
  </div>
</div>