<!--Return List Report-->
<div class="rpt-flexrow" style="margin:5px 0px 0px 4px;">
  <div class="rpt-flexcolumn" style="padding-bottom:5px;">
    <!--{{#if Logosrc}}
    <div style="height:130px;"><img class="clientlogo" src="{{Logosrc}}" style="display:block;width:auto;height:100%;" alt="logo" /></div>
    {{else}}-->
    <div></div>
    <!--{{/if}}-->
    <span style="font-weight:600; font-size:18px;">{{OfficeLocationCompany}}</span>
    <span class="company-header">{{OfficeLocationAddress1}}</span>
    <span class="company-header">{{OfficeLocationAddress2}}</span>
    <span class="company-header">{{OfficeLocationCityStateZipCode}}</span>
    <span class="header-left blue">Session {{Session}}</span>
    <span class="header-left blue" style="font-family:'Libre Barcode 39'; font-size:40px;">{{Session}}</span>
    <span class="header-left blue">Department: {{Department}}</span>
    <span class="header-left blue">Warehouse: {{Warehouse}}</span>
  </div>
  <div style="max-width: 250px;" class="rpt-flexcolumn">
    <span class="contract-title blue">{{Report}}</span>
    <span class="sub-title blue">As Of: {{PrintDate}} &nbsp; {{PrintTime}}</span>
    <span class="sub-title blue">{{DealName}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="header-right blue">{{Company}}</span>
    <span class="header-right blue">{{System}}</span>
    <!--<span class="header-right blue" style="font-size:32px;"><span style="font-weight:600;padding-right:8px;">No: </span><span style="background-color:#DCDCDC;color:black;border:3px solid #0798ee;padding:3px;">{{ContractNumber}}</span></span>-->
  </div>
</div>
<div class="rpt-flexrow">
  <table>
    <thead>
      <tr style="height:44px;">
        <th>Barcode Of I-Code</th>
        {{#ifEquals PrintICodeColumn true}}
        <th>I-Code</th>
        {{/ifEquals}}
        <th>Description</th>
        {{#ifEquals PrintAisleShelf true}}
        <th class="centered">Aisle<br />Shelf</th>
        {{/ifEquals}}
        {{#ifEquals PrintIn true}}
        <th class="centered">In</th>
        {{/ifEquals}}
        {{#ifEquals PrintOut true}}
        <th class="centered">Out</th>
        {{/ifEquals}}
        <th class="centered slanted"><span class="slanted">Count</span></th>
        <th class="centered slanted"><span class="slanted">Verified</span></th>
      </tr>
    </thead>
    {{#each Items}}
    {{#ifEquals RowType "RecTypeDisplayheader"}}
    <thead data-rowtype="{{RowType}}">
      <tr>
        <td colspan="6" class="section-header">{{RecTypeDisplay}}&nbsp;</td>
      </tr>
      <tr>
        <td></td>
        {{#ifEquals PrintICodeColumn true}}
        <th>I-Code</th>
        {{/ifEquals}}
        <th>Description</th>
        <th class="number">Ordered</th>
        <th class="number">In</th>
        <th class="number">Total In</th>
      </tr>
    </thead>
    <tbody>
      {{/ifEquals}}
      {{#ifEquals RowType "detail"}}
      <tr data-rowtype="{{RowType}}" class="description-row">
        <td class="nowrap"><span class="header-left" style="font-family:'Libre Barcode 39', serif; font-size:50px;">{{#ifEquals TrackedBy "QUANTITY"}}*{{ICode}}*{{/ifEquals}}</span></td>
        {{#ifEquals PrintICodeColumn true}}
        <td class="nowrap">{{ICode}}</td>
        {{/ifEquals}}
        <td>{{Description}}{{#if Vendor}}<br /><span style="font-size:12px;"><b>Vendor:</b>{{Vendor}}</span>{{/if}}</td>
        {{#ifEquals PrintAisleShelf true}}
        <td class="centered bordered">{{Aisle}}<br />{{Shelf}}</td>
        {{/ifEquals}}
        {{#ifEquals PrintIn true}}
        <td class="centered bordered">{{QuantityIn}}</td>
        {{/ifEquals}}
        {{#ifEquals PrintOut true}}
        <td class="centered bordered">{{StillOut}}</td>
        {{/ifEquals}}
        <td class="bordered">&nbsp;</td>
        <td class="" style="border-left:1px solid;">&nbsp;</td>
      </tr>
      {{#gt Barcodes.length 0}}
      <tr data-rowtype="{{RowType}}" class="barcode-row">
        <td class="" colspan="8">{{Barcodes}}</td>
      </tr>
      {{/gt}}
      {{/ifEquals}}
      {{/each}}
    </tbody>
  </table>
</div>
<div class="rpt-flexrow" style="margin-top:25px;">
  <fieldset>
    <legend>RECEIVED BY</legend>
    <div>
      <div style="display:flex">
        <div class="receivedbyfield">
          <div class="value"></div>
          <div class="caption">SIGNATURE</div>
        </div>
        <div class="receivedbyfield">
          <div class="value"></div>
          <div class="caption">PRINT NAME</div>
        </div>
      </div>
      <div style="display:flex">
        <div class="receivedbyfield">
          <div class="value"></div>
          <div class="caption">DATE</div>
        </div>
        <div class="receivedbyfield"></div>
      </div>
    </div>
  </fieldset>
</div>