<!--ReturnedToInventoryReport-->
<div data-section="header">
  <div class="rpt-flexrow">
    <div class="rpt-flexcolumn">
      <div class="rpt-flexcolumn rpt-header-left"><span>{{System}}</span></div>
    </div>
    <div class="rpt-flexcolumn">
      <div class="rpt-flexcolumn rpt-title"><span>{{Report}}</span></div>
      <div class="rpt-flexcolumn rpt-header-center"><span>From: {{FromDate}} To: {{ToDate}}</span></div>
    </div>
    <div class="rpt-flexcolumn">
      <div class="rpt-flexcolumn rpt-header-right"><span>{{Company}}</span></div>
    </div>
  </div>
</div>
<div data-section="table" class="rpt-flexrow" style="margin-top:40px;">
  <table>
    <thead id="columnHeader">
      <tr data-row="main-header">
        <th data-linkedcolumn="ICode" data-valuefield="ICode">I-Code</th>
        <th data-linkedcolumn="Description" data-valuefield="Description">Description</th>
        <th data-linkedcolumn="Quantity" data-valuefield="Quantity" class="number">Quantity</th>
        <th data-linkedcolumn="ContractNumber" data-valuefield="ContractNumber">Contract No</th>
        <th data-linkedcolumn="CheckInDateTime" data-valuefield="CheckInDateTime">Date</th>
        <th data-linkedcolumn="UserName" data-valuefield="UserName">By</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      {{#ifEquals RowType "Warehouseheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="6" class="header-row">Warehouse: {{Warehouse}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "InventoryTypeheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="6" class="lower header-row">Inventory Type: {{"InventoryType"}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Dealheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="6" class="lower header-row">Deal: {{Deal}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "detail"}}
      <tr data-row="detail" data-rowtype="{{RowType}}">
        <td data-linkedcolumn="ICode" data-value="{{ICode}}"></td>
        <td data-linkedcolumn="Description" data-value="{{Description}}"></td>
        <td data-linkedcolumn="Quantity" class="number" data-value="{{Quantity}}"></td>
        <td data-linkedcolumn="ContractNumber" data-value="{{ContractNumber}}"></td>
        <td data-linkedcolumn="CheckInDateTime" data-value="{{CheckInDateTime}}"></td>
        <td data-linkedcolumn="UserName" data-value="{{UserName}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "InventoryTypefooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="2" class="total-name">{{InventoryType}}&nbsp;</td>
        <td data-linkedcolumn="Quantity" class="total-val" data-value="{{Quantity}}"></td>
        <td data-linkedcolumn="ContractNumber"></td>
        <td data-linkedcolumn="CheckInDateTime"></td>
        <td data-linkedcolumn="UserName"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Dealfooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="2" class="total-name">{{Deal}}&nbsp;</td>
        <td data-linkedcolumn="Quantity" class="total-val" data-value="{{Quantity}}"></td>
        <td data-linkedcolumn="ContractNumber"></td>
        <td data-linkedcolumn="CheckInDateTime"></td>
        <td data-linkedcolumn="UserName"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Warehousefooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="2" class="total-name">{{Warehouse}}&nbsp;</td>
        <td data-linkedcolumn="Quantity" class="total-val" data-value="{{Quantity}}"></td>
        <td data-linkedcolumn="ContractNumber"></td>
        <td data-linkedcolumn="CheckInDateTime"></td>
        <td data-linkedcolumn="UserName"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "grandtotal"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="2" class="total-name">Grand Total:&nbsp;</td>
        <td data-linkedcolumn="Quantity" class="total-val" data-value="{{Quantity}}"></td>
        <td data-linkedcolumn="ContractNumber"></td>
        <td data-linkedcolumn="CheckInDateTime"></td>
        <td data-linkedcolumn="UserName"></td>
      </tr>
      {{/ifEquals}}
      {{/each}}
    </tbody>
  </table>
</div>