<!--Create Invoice Process Report-->
<div data-section="header" class="rpt-flexrow">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">Invoice Creation Batch No: {{BatchNumber}}</span>
    <span class="rpt-header-center">Created on: {{Today}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div data-section="table" class="rpt-flexrow" style="margin-top:40px;">
  <table>
    <thead id="columnHeader">
      <tr>
        <th data-linkedcolumn="InvoiceNumber" data-valuefield="InvoiceNumber">Invoice No.</th>
        <th data-linkedcolumn="OrderNumber" data-valuefield="OrderNumber">Order No.</th>
        <th data-linkedcolumn="OrderDescription" data-valuefield="OrderDescription">Order Description</th>
        <th data-linkedcolumn="BillingStart" data-valuefield="BillingStart">Bill Start</th>
        <th data-linkedcolumn="BillingEnd" data-valuefield="BillingEnd">Bill End</th>
        <th data-linkedcolumn="BillingCycle" data-valuefield="BillingCycle">Billing Cycle</th>
        <th data-linkedcolumn="InvoiceTotal" data-valuefield="InvoiceTotal" class="number">Total</th>
        <th data-linkedcolumn="PriorInvoiceTotal" data-valuefield="PriorInvoiceTotal" class="number">Prior Invoice</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      {{#ifEquals RowType "OfficeLocationheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="5" class="header-row">Office: {{OfficeLocation}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Departmentheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="5" class="lower header-row">Department: {{Department}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Dealheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="5" class=" lower header-row">Deal: {{Deal}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "detail"}}
      {{#if IsException}}
      <tr data-row="detail" data-rowtype="{{RowType}}">
        <td data-linkedcolumn="InvoiceNumber" data-value="{{InvoiceNumber}}"></td>
        <td data-linkedcolumn="OrderNumber" data-value="{{OrderNumber}}"></td>
        <td data-linkedcolumn="OrderDescription" data-value="{{OrderDescription}}"></td>
        <td colspan="5" data-value="{{ExceptionMessage}}"></td>
        {{else}}
        <td data-linkedcolumn="InvoiceNumber" data-value="{{InvoiceNumber}}"></td>
        <td data-linkedcolumn="OrderNumber" data-value="{{OrderNumber}}"></td>
        <td data-linkedcolumn="OrderDescription" data-value="{{OrderDescription}}"></td>
        <td data-linkedcolumn="BillingStart" data-value="{{BillingStart}}"></td>
        <td data-linkedcolumn="BillingEnd" data-value="{{BillingEnd}}"></td>
        <td data-linkedcolumn="BillingCycle" data-value="{{BillingCycle}}"></td>
        <td data-linkedcolumn="InvoiceTotal" class="number" data-value="{{InvoiceTotal}}"></td>
        <td data-linkedcolumn="PriorInvoiceTotal" class="number" data-value="{{PriorInvoiceTotal}}"></td>
      </tr>
      {{/if}}
      {{/ifEquals}}
      {{#ifEquals RowType "Departmentfooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <th class="empty"></th>
        <th class="empty"></th>
        <th class="empty"></th>
        <th class="office-footer">Department</th>
        <th class="office-footer number">Amount</th>
        <th class="office-footer number">Created</th>
        <th class="office-footer number">Exceptions</th>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Departmentfooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td class="empty"></td>
        <td class="empty"></td>
        <td class="empty"></td>
        <td data-value="{{Department}}"></td>
        <td class="number" data-value="{{InvoiceTotal}}"></td>
        <td class="number" data-value="{{InvoiceCount}}"></td>
        <td class="number" data-value="{{ExceptionCount}}"></td>
      </tr>
      {{/ifEquals}}
      {{/each}}
    </tbody>
  </table>
</div>