<!--Create Invoice Process Report-->
<div class="rpt-flexrow">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">Invoice Creation Batch No: {{BatchNumber}}</span>
    <span class="rpt-header-center">Created on: {{Today}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div class="rpt-flexrow" style="margin-top:40px;">
  <table>
    <thead>
      <tr>
        <th>Invoice No.</th>
        <th>Order No.</th>
        <th>Order Description</th>
        <th>Bill Start</th>
        <th>Bill End</th>
        <th>Billing Cycle</th>
        <th class="number">Total</th>
        <th class="number">Prior Invoice</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr data-rowtype={{RowType}}>
        {{#ifEquals RowType "OfficeLocationheader"}}
        <td colspan="5" class="header-row">Office: {{OfficeLocation}}</td>
        {{/ifEquals}}
         {{#ifEquals RowType "Departmentheader"}}
        <td colspan="5" class="lower header-row">Department: {{Department}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Dealheader"}}
        <td colspan="5" class=" lower header-row">Deal: {{Deal}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "detail"}}
          {{#if IsException}}
          <td data-value="{{InvoiceNumber}}"></td>
          <td data-value="{{OrderNumber}}"></td>
          <td data-value="{{OrderDescription}}"></td>
          <td colspan="5" data-value="{{ExceptionMessage}}"></td>
          {{else}}
          <td data-value="{{InvoiceNumber}}"></td>
          <td data-value="{{OrderNumber}}"></td>
          <td data-value="{{OrderDescription}}"></td>
          <td data-value="{{BillingStart}}"></td>
          <td data-value="{{BillingEnd}}"></td>
          <td data-value="{{BillingCycle}}"></td>
          <td class="number" data-value="{{InvoiceTotal}}"></td>
          <td class="number" data-value="{{PriorInvoiceTotal}}"></td>
          {{/if}}
        {{/ifEquals}}
      </tr>
      {{#ifEquals RowType "Departmentfooter"}}
      <tr>
        <th class="empty"></th>
        <th class="empty"></th>
        <th class="empty"></th>
        <th class="office-footer">Department</th>
        <th class="office-footer number">Amount</th>
        <th class="office-footer number">Created</th>
        <th class="office-footer number">Exceptions</th>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Departmentfooter"}}
      <tr>
        <td class="empty"></td>
        <td class="empty"></td>
        <td class="empty"></td>
        <td data-value="{{Department}}"></td>
        <td class="number" data-value="{{InvoiceTotal}}"></td>
        <td class="number" data-value="{{InvoiceCount}}"></td>
        <td class="number" data-value="{{ExceptionCount}}"></td>
      </tr>
      {{/ifEquals}}
      {{/each}}
    </tbody>
  </table>
</div>