<div class="rpt-flexrow">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-date">Department: {{Department}}</span>
    <span class="rpt-header-date">Invoice Creation Batch No: {{BatchNumber}}</span>
    <span class="rpt-header-date">Created on: {{Today}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div class="rpt-flexrow" style="margin-top:40px;">
  <table>
    <thead>
      <tr>
        <th class="text">Invoice No.</th>
        <th class="text">Order No.</th>
        <th class="text">Order Description</th>
        <th class="text">Bill Start</th>
        <th class="text">Bill End</th>
        <th class="text">Billing Cycle</th>
        <th class="number">Total</th>
        <th class="number">Prior Invoice</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr data-rowtype={{RowType}}>
        {{#ifEquals RowType "OfficeLocationheader"}}
          <td colspan="5" class="name-row">Office: {{OfficeLocation}}</td>
        {{/ifEquals}}
          {{#ifEquals RowType "Dealheader"}}
            <td colspan="5" class="deal-row">Deal: {{Deal}}</td>
          {{/ifEquals}}
        {{#ifEquals RowType "detail"}}
        <td class="text" data-value="{{InvoiceNumber}}"></td>
        <td class="text" data-value="{{OrderNumber}}"></td>
        <td class="text" data-value="{{OrderDescription}}"></td>
        <td class="text" data-value="{{BillingStart}}"></td>
        <td class="text" data-value="{{BillingEnd}}"></td>
        <td class="text" data-value="{{BillingCycle}}"></td>
        <td class="number" data-value="{{InvoiceTotal}}"></td>
        <td class="number" data-value="{{PriorInvoiceTotal}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "OfficeLocationfooter"}}

        <td class="empty"></td>
        <td colspan="5" style="font-weight:bold;text-align:right;padding-top:11px">{{OfficeLocation}}&nbsp;</td>
        <td class="total-row number" data-value="{{InvoiceTotal}}"></td>
        <td class="total-row number" data-value=""></td>
        <td class="total-row number" data-value=""></td>
        {{/ifEquals}}
        {{#ifEquals RowType "grandtotal"}}
        <td class="empty"></td>
        <td class="empty"></td>
        <td class="empty"></td>
        <td class="empty"></td>
        <td class="empty"></td>
        <td style="font-weight:bold;text-align:right;padding-top:11px">Grand Total:&nbsp;</td>
        <td class="total-row number" data-value="{{RentalTotal}}"></td>
        <td class="total-row number" data-value="{{SalesTotal}}"></td>
        <td class="total-row number" data-value="{{FacilitiesTotal}}"></td>
        <td class="total-row number" data-value="{{LaborTotal}}"></td>
        <td class="total-row number" data-value="{{MiscellaneousTotal}}"></td>
        <td class="total-row number" data-value="{{AssetTotal}}"></td>
        <td class="total-row number" data-value="{{PartsTotal}}"></td>
        <td class="total-row number" data-value="{{InvoiceTax}}"></td>
        <td class="total-row number" data-value="{{InvoiceTotal}}"></td>
        {{/ifEquals}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>