<div class="rpt-flexrow">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">Department: {{Department}}</span>
    <span class="rpt-header-center">Invoice Creation Batch No: {{BatchNumber}}</span>
    <span class="rpt-header-center">Created on: {{Today}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div class="rpt-flexrow" style="margin-top:40px;">
  <table>
    <thead>
      <tr>
        <th class="text">Invoice No.</th>
        <th class="text">Order No.</th>
        <th class="text">Order Description</th>
        <th class="text">Bill Start</th>
        <th class="text">Bill End</th>
        <th class="text">Billing Cycle</th>
        <th class="number">Total</th>
        <th class="number">Prior Invoice</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr data-rowtype={{RowType}}>
        {{#ifEquals RowType "OfficeLocationheader"}}
        <td colspan="5" class="name-row">Office: {{OfficeLocation}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Dealheader"}}
        <td colspan="5" class="deal-row">Deal: {{Deal}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "detail"}}
          {{#if IsException}}
          <td class="text" data-value="{{InvoiceNumber}}"></td>
          <td class="text" data-value="{{OrderNumber}}"></td>
          <td class="text" data-value="{{OrderDescription}}"></td>
          <td colspan="5" class="text" data-value="{{ExceptionMessage}}"></td>
          {{else}}
          <td class="text" data-value="{{InvoiceNumber}}"></td>
          <td class="text" data-value="{{OrderNumber}}"></td>
          <td class="text" data-value="{{OrderDescription}}"></td>
          <td class="text" data-value="{{BillingStart}}"></td>
          <td class="text" data-value="{{BillingEnd}}"></td>
          <td class="text" data-value="{{BillingCycle}}"></td>
          <td class="number" data-value="{{InvoiceTotal}}"></td>
          <td class="number" data-value="{{PriorInvoiceTotal}}"></td>
          {{/if}}
        {{/ifEquals}}
      </tr>
      {{#ifEquals RowType "OfficeLocationfooter"}}
      <tr>
        <th class="empty"></th>
        <th class="empty"></th>
        <th class="empty"></th>
        <th class="office-footer text">Department</th>
        <th class="office-footer number">Created</th>
        <th class="office-footer number">Amount</th>
        <th class="office-footer number">Exceptions</th>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "OfficeLocationfooter"}}
      <tr>
        <td class="empty"></td>
        <td class="empty"></td>
        <td class="empty"></td>
        <td class="text" data-value="{{Department}}"></td>
        <td class="number" data-value="{{InvoiceCount}}"></td>
        <td class="number" data-value="{{InvoiceTotal}}"></td>
        <td class="number" data-value="{{ExceptionCount}}"></td>
      </tr>
      {{/ifEquals}}
      {{/each}}
    </tbody>
  </table>
</div>