<!--Rental Inventory Movement Report-->
<div class="rpt-flexrow">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">As Of: {{Today}}</span>
    <span class="rpt-header-center">Revenue Period: {{FromDate}} - {{ToDate}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div class="rpt-flexrow" style="margin-top:40px;">
  <table>
    <thead class="main-header">
      <tr>
        <th></th>
        <th colspan="5"></th>
        <th></th>
        <th class="number"></th>
        <th class="number"></th>
        <th class="number"></th>
        <th class="number"></th>
        <th class="number">In</th>
        <th class="number">In</th>
        <th class="number">On</th>
        <th class="number">Sub-</th>
        <th>Last Date</th>
        <th class="number"></th>
      </tr>
      <tr>
        <th>I-Code</th>
        <th colspan="5">Description</th>
        <th>Warehouse</th>
        <th class="number">Owned</th>
        <th class="number">In</th>
        <th class="number">Staged</th>
        <th class="number">Out</th>
        <th class="number">Container</th>
        <th class="number">Repair</th>
        <th class="number">PO</th>
        <th class="number">Rented</th>
        <th>Rented</th>
        <th class="number">Revenue</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      {{#ifEquals RowType "Warehouseheader"}}
      <tr>
        <td colspan="5" class="lower header-row">Warehouse: {{"Warehouse"}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "InventoryTypeheader"}}
      <tr>
        <td colspan="5" class="lower header-row">Inventory Type: {{"InventoryType"}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Categoryheader"}}
      <tr>
        <td colspan="5" class="lower header-row">Category: {{"Category"}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "detail"}}
      {{#ifEquals RecordType "inventory"}}
      <tr class="subValues" data-recordtype="{{RecordType}}">
        <td class="nowrap" data-value="{{ICode}}"></td>
        <td colspan="5" data-value="{{Description}}"></td>
        <td data-value="{{Warehouse}}"></td>
        <td class="number" data-value="{{Quantity}}"></td>
        <td class="number" data-value="{{QuantityIn}}"></td>
        <td class="number" data-value="{{QuantityStaged}}"></td>
        <td class="number" data-value="{{QuantityOut}}"></td>
        <td class="number" data-value="{{QuantityInContainer}}"></td>
        <td class="number" data-value="{{QuantityInRepair}}"></td>
        <td class="number" data-value="{{QuantityOnPo}}"></td>
        <td class="number" data-value="{{QuantitySubbed}}"></td>
        <td data-value="{{LastRentedDate}}"></td>
        <td class="number" data-value="{{Revenue}}"></td>
      </tr>
      {{#if ../ShowStagedAndOut}}
      {{#if HasStagedOutDetails}}
      <tr>
        <th colspan="2"></th>
        <th class="subHeaders">Bar Code</th>
        <th class="subHeaders">Qty.</th>
        <th class="subHeaders">Status</th>
        <th class="subHeaders" colspan="3">Deal</th>
        <th class="subHeaders" colspan="4">Vendor</th>
        <th class="subHeaders">As Of Date</th>
        <th class="subHeaders">Order No.</th>
        <th class="subHeaders" colspan="4">Order Description</th>
      </tr>
      {{/if}}
      {{/if}}
      {{/ifEquals}}
      {{#ifEquals RecordType "stagedout"}}
      <tr class="subValues">
        <td colspan="2"></td>
        <td>{{StagedOutBarCode}}</td>
        <td class="number">{{StagedOutQuantity}}</td>
        <td>{{StagedOutStatus}}</td>
        <td colspan="3">{{StagedOutDeal}}</td>
        <td colspan="4">{{StagedOutVendor}}</td>
        <td>{{StagedOutAsOf}}</td>
        <td>{{StagedOutOrderNumber}}</td>
        <td colspan="4">{{StagedOutOrderDescription}}</td>
      </tr>
      {{/ifEquals}}
      {{/ifEquals}}
      {{#ifEquals RowType "Categoryfooter"}}
      <tr>
        <td colspan="7" class="total-name">{{Category}}:&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
        <td class="total-val" data-value="{{QuantityIn}}"></td>
        <td class="total-val" data-value="{{QuantityStaged}}"></td>
        <td class="total-val" data-value="{{QuantityOut}}"></td>
        <td class="total-val" data-value="{{QuantityInContainer}}"></td>
        <td class="total-val" data-value="{{QuantityInRepair}}"></td>
        <td class="total-val" data-value="{{QuantityOnPo}}"></td>
        <td class="total-val" data-value="{{QuantitySubbed}}"></td>
        <td class="total-val"></td>
        <td class="total-val" data-value="{{Revenue}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "InventoryTypefooter"}}
      <tr>
        <td colspan="7" class="total-name">{{InventoryType}}:&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
        <td class="total-val" data-value="{{QuantityIn}}"></td>
        <td class="total-val" data-value="{{QuantityStaged}}"></td>
        <td class="total-val" data-value="{{QuantityOut}}"></td>
        <td class="total-val" data-value="{{QuantityInContainer}}"></td>
        <td class="total-val" data-value="{{QuantityInRepair}}"></td>
        <td class="total-val" data-value="{{QuantityOnPo}}"></td>
        <td class="total-val" data-value="{{QuantitySubbed}}"></td>
        <td class="total-val"></td>
        <td class="total-val" data-value="{{Revenue}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Warehousefooter"}}
      <tr>
        <td colspan="7" class="total-name">{{Warehouse}}:&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
        <td class="total-val" data-value="{{QuantityIn}}"></td>
        <td class="total-val" data-value="{{QuantityStaged}}"></td>
        <td class="total-val" data-value="{{QuantityOut}}"></td>
        <td class="total-val" data-value="{{QuantityInContainer}}"></td>
        <td class="total-val" data-value="{{QuantityInRepair}}"></td>
        <td class="total-val" data-value="{{QuantityOnPo}}"></td>
        <td class="total-val" data-value="{{QuantitySubbed}}"></td>
        <td class="total-val"></td>
        <td class="total-val" data-value="{{Revenue}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "grandtotal"}}
      <tr>
        <td colspan="7" class="total-name">Grand Total:&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
        <td class="total-val" data-value="{{QuantityIn}}"></td>
        <td class="total-val" data-value="{{QuantityStaged}}"></td>
        <td class="total-val" data-value="{{QuantityOut}}"></td>
        <td class="total-val" data-value="{{QuantityInContainer}}"></td>
        <td class="total-val" data-value="{{QuantityInRepair}}"></td>
        <td class="total-val" data-value="{{QuantityOnPo}}"></td>
        <td class="total-val" data-value="{{QuantitySubbed}}"></td>
        <td class="total-val"></td>
        <td class="total-val" data-value="{{Revenue}}"></td>
      </tr>
      {{/ifEquals}}
      {{/each}}
    </tbody>
  </table>
</div>