<!--DailyReceiptsReport-->
<div data-section="header">
  <div class="rpt-flexrow">
    <div class="rpt-flexcolumn">
      <div class="rpt-nested-flexrow rpt-header-left"><span>{{System}}</span></div>
    </div>
    <div class="rpt-flexcolumn">
      <div class="rpt-nested-flexrow rpt-title"><span>{{Report}}</span></div>
      <div class="rpt-nested-flexrow rpt-header-center"><span>From: {{FromDate}} To: {{ToDate}}</span></div>
    </div>
    <div class="rpt-flexcolumn">
      <div class="rpt-nested-flexrow rpt-header-right"><span>{{Company}}</span></div>
    </div>
  </div>
</div>
<div data-section="table" class="rpt-flexrow" style="margin-top:40px;">
  <table>
    <thead id="columnHeader">
      <tr data-row="main-header">
        <th data-linkedcolumn="ReceiptDate" data-valuefield="ReceiptDate">Date</th>
        <th data-linkedcolumn="Name" data-valuefield="Name">Name</th>
        <th data-linkedcolumn="PaymentBy" data-valuefield="PaymentBy">Payment By</th>
        <th data-linkedcolumn="PaymentType" data-valuefield="PaymentType">Type</th>
        <th data-linkedcolumn="CheckNumber" data-valuefield="CheckNumber">Ref/Check No.</th>
        <th data-linkedcolumn="Amount" data-valuefield="Amount" class="number">Amount</th>
        <th data-linkedcolumn="Overpayment" data-valuefield="Overpayment" class="number">Overpayment</th>
        <th data-linkedcolumn="InvoiceNumber" data-valuefield="InvoiceNumber">Invoice No.</th>
        <th data-linkedcolumn="Applied" data-valuefield="Applied" class="number">Applied</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      {{#ifEquals RowType "OfficeLocationheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="5" class="header-row">Office: {{OfficeLocation}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Nameheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="5" class="lower header-row">Customer / Deal: {{Name}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "PaymentTypeheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="5" class="lower header-row">Payment Type: {{PaymentType}}</td>
      </tr>
      {{/ifEquals}}

      {{#ifEquals RowType "detail"}}
      <tr data-row="detail" data-rowtype="{{RowType}}">
        <td data-linkedcolumn="ReceiptDate" data-value="{{ReceiptDate}}"></td>
        <td data-linkedcolumn="Name" data-value="{{Name}}"></td>
        <td data-linkedcolumn="PaymentBy" data-value="{{PaymentBy}}"></td>
        <td data-linkedcolumn="PaymentType" data-value="{{PaymentType}}"></td>
        <td data-linkedcolumn="CheckNumber" data-value="{{CheckNumber}}"></td>
        <td data-linkedcolumn="Amount" class="number" data-value="{{Amount}}"></td>
        <td data-linkedcolumn="Overpayment" class="number" data-value="{{Overpayment}}"></td>
        <td data-linkedcolumn="InvoiceNumber" data-value="{{InvoiceNumber}}"></td>
        <td data-linkedcolumn="Applied" class="number" data-value="{{Applied}}"></td>
      </tr>
      {{/ifEquals}}

      {{#ifEquals RowType "OfficeLocationfooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="5" class="total-name">{{OfficeLocation}}&nbsp;</td>
        <td data-linkedcolumn="Amount" class="total-val" data-value="{{Amount}}"></td>
        <td data-linkedcolumn="Overpayment" class="total-val" data-value="{{Overpayment}}"></td>
        <td data-linkedcolumn="InvoiceNumber" class="empty-td total-val"></td>
        <td data-linkedcolumn="Applied" class="total-val" data-value="{{Applied}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Namefooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="5" class="total-name">{{Name}}&nbsp;</td>
        <td data-linkedcolumn="Amount" class="total-val" data-value="{{Amount}}"></td>
        <td data-linkedcolumn="Overpayment" class="total-val" data-value="{{Overpayment}}"></td>
        <td data-linkedcolumn="InvoiceNumber" class="empty-td total-val"></td>
        <td data-linkedcolumn="Applied" class="total-val" data-value="{{Applied}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "PaymentTypefooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="5" class="total-name">{{PaymentType}}&nbsp;</td>
        <td data-linkedcolumn="Amount" class="total-val" data-value="{{Amount}}"></td>
        <td data-linkedcolumn="Overpayment" class="total-val" data-value="{{Overpayment}}"></td>
        <td data-linkedcolumn="InvoiceNumber" class="empty-td total-val"></td>
        <td data-linkedcolumn="Applied" class="total-val" data-value="{{Applied}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "grandtotal"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="5" class="total-name">Grand Total:&nbsp;</td>
        <td data-linkedcolumn="Amount" class="total-val" data-value="{{Amount}}"></td>
        <td data-linkedcolumn="Overpayment" class="total-val" data-value="{{Overpayment}}"></td>
        <td data-linkedcolumn="InvoiceNumber" class="empty-td total-val"></td>
        <td data-linkedcolumn="Applied" class="total-val" data-value="{{Applied}}"></td>
      </tr>
      {{/ifEquals}}
      {{/each}}
    </tbody>
  </table>
</div>