<!--DailyReceiptsReport-->
<div data-section="header" class="rpt-flexrow">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">From: {{FromDate}} To: {{ToDate}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div data-section="table" class="rpt-flexrow" style="margin-top:40px;">
  <table>
    <thead id="columnHeader">
      <tr>
        <th data-valuefield="ReceiptDate">Date</th>
        <th data-valuefield="Name">Name</th>
        <th data-valuefield="PaymentBy">Payment By</th>
        <th data-valuefield="PaymentType">Type</th>
        <th data-valuefield="CheckNumber">Ref/Check No.</th>
        <th data-valuefield="Amount" class="number">Amount</th>
        <th data-valuefield="Overpayment" class="number">Overpayment</th>
        <th data-valuefield="InvoiceNumber">Invoice No.</th>
        <th data-valuefield="Applied" class="number">Applied</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      {{#ifEquals RowType "OfficeLocationheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="5" data-valuefield="OfficeLocation" class="header-row">Office: {{OfficeLocation}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Nameheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="5" data-valuefield="Name" class="lower header-row">Customer / Deal: {{Name}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "PaymentTypeheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="5" data-valuefield="PaymentType" class="lower header-row">Payment Type: {{PaymentType}}</td>
      </tr>
      {{/ifEquals}}

      {{#ifEquals RowType "detail"}}
      <tr data-row="detail" data-rowtype="{{RowType}}">
        <td data-value="{{ReceiptDate}}"></td>
        <td data-value="{{Name}}"></td>
        <td data-value="{{PaymentBy}}"></td>
        <td data-value="{{PaymentType}}"></td>
        <td data-value="{{CheckNumber}}"></td>
        <td class="number" data-value="{{Amount}}"></td>
        <td class="number" data-value="{{Overpayment}}"></td>
        <td data-value="{{InvoiceNumber}}"></td>
        <td class="number" data-value="{{Applied}}"></td>
      </tr>
      {{/ifEquals}}

      {{#ifEquals RowType "OfficeLocationfooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="5" class="total-name">{{OfficeLocation}}&nbsp;</td>
        <td class="total-val" data-value="{{Amount}}"></td>
        <td class="total-val" data-value="{{Overpayment}}"></td>
        <td class="empty-td total-val" data-linkedcolumn="InvoiceNumber"></td>
        <td class="total-val" data-value="{{Applied}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Namefooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="5" class="total-name">{{Name}}&nbsp;</td>
        <td class="total-val" data-value="{{Amount}}"></td>
        <td class="total-val" data-value="{{Overpayment}}"></td>
        <td class="empty-td total-val" data-linkedcolumn="InvoiceNumber"></td>
        <td class="total-val" data-value="{{Applied}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "PaymentTypefooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="5" class="total-name">{{PaymentType}}&nbsp;</td>
        <td class="total-val" data-value="{{Amount}}"></td>
        <td class="total-val" data-value="{{Overpayment}}"></td>
        <td class="empty-td total-val" data-linkedcolumn="InvoiceNumber"></td>
        <td class="total-val" data-value="{{Applied}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "grandtotal"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="5" class="total-name">Grand Total:&nbsp;</td>
        <td class="total-val" data-value="{{Amount}}"></td>
        <td class="total-val" data-value="{{Overpayment}}"></td>
        <td class="empty-td total-val" data-linkedcolumn="InvoiceNumber"></td>
        <td class="total-val" data-value="{{Applied}}"></td>
      </tr>
      {{/ifEquals}}
      {{/each}}
    </tbody>
  </table>
</div>