<!--Customer Revenue By Type Report-->
<div class="rpt-flexrow">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">From: {{FromDate}} To: {{ToDate}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div class="rpt-flexrow" style="margin-top:40px;">
  <table>
    <thead>
      <tr>
        <th class="text">Order No.</th>
        <th class="text">Invoice No.</th>
        <th class="text">Billing Start Date</th>
        <th class="text">Billing End Date</th>
        <th class="text">Agent</th>
        <th class="number">Rental</th>
        <th class="number">Sales</th>
        <th class="number">Facilities</th>
        <th class="number">Labor</th>
        <th class="number">Misc</th>
        <th class="number">Asset Sale</th>
        <th class="number">Parts</th>
        <th class="number">Tax</th>
        <th class="number">Total</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr data-rowtype="{{RowType}}">
        {{#ifEquals RowType "OfficeLocationheader"}}
        <td colspan="4" class="header-row">Office: {{OfficeLocation}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Departmentheader"}}
        <td colspan="4" class="lower header-row">Department: {{Department}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Customerheader"}}
        <td colspan="4" class="lower header-row">Customer: {{Customer}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Dealheader"}}
        <td colspan="4" class="lower header-row">Deal: {{Deal}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "detail"}}
        <td class="text">{{OrderNumber}}</td>
        <td class="text">{{InvoiceNumber}}</td>
        <td class="text">{{BillingStart}}</td>
        <td class="text">{{BillingEnd}}</td>
        <td class="text">{{Agent}}</td>
        <td class="number">{{Rental}}</td>
        <td class="number">{{Sales}}</td>
        <td class="number">{{Facilities}}</td>
        <td class="number">{{Labor}}</td>
        <td class="number">{{Miscellaneous}}</td>
        <td class="number">{{AssetSale}}</td>
        <td class="number">{{Parts}}</td>
        <td class="number">{{Tax}}</td>
        <td class="number">{{Total}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Dealfooter"}}
        <td colspan="5" class="total-name">{{Deal}}&nbsp;</td>
        <td class="total-val">{{Rental}}</td>
        <td class="total-val">{{Sales}}</td>
        <td class="total-val">{{Facilities}}</td>
        <td class="total-val">{{Labor}}</td>
        <td class="total-val">{{Miscellaneous}}</td>
        <td class="total-val">{{AssetSale}}</td>
        <td class="total-val">{{Parts}}</td>
        <td class="total-val">{{Tax}}</td>
        <td class="total-val">{{Total}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Customerfooter"}}
        <td colspan="5" class="total-name">{{Customer}}&nbsp;</td>
        <td class="total-val">{{Rental}}</td>
        <td class="total-val">{{Sales}}</td>
        <td class="total-val">{{Facilities}}</td>
        <td class="total-val">{{Labor}}</td>
        <td class="total-val">{{Miscellaneous}}</td>
        <td class="total-val">{{AssetSale}}</td>
        <td class="total-val">{{Parts}}</td>
        <td class="total-val">{{Tax}}</td>
        <td class="total-val">{{Total}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Departmentfooter"}}
        <td colspan="5" class="total-name">{{Department}}&nbsp;</td>
        <td class="total-val">{{Rental}}</td>
        <td class="total-val">{{Sales}}</td>
        <td class="total-val">{{Facilities}}</td>
        <td class="total-val">{{Labor}}</td>
        <td class="total-val">{{Miscellaneous}}</td>
        <td class="total-val">{{AssetSale}}</td>
        <td class="total-val">{{Parts}}</td>
        <td class="total-val">{{Tax}}</td>
        <td class="total-val">{{Total}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "OfficeLocationfooter"}}
        <td colspan="5" class="total-name">{{OfficeLocation}}&nbsp;</td>
        <td class="total-val">{{Rental}}</td>
        <td class="total-val">{{Sales}}</td>
        <td class="total-val">{{Facilities}}</td>
        <td class="total-val">{{Labor}}</td>
        <td class="total-val">{{Miscellaneous}}</td>
        <td class="total-val">{{AssetSale}}</td>
        <td class="total-val">{{Parts}}</td>
        <td class="total-val">{{Tax}}</td>
        <td class="total-val">{{Total}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "grandtotal"}}
        <td colspan="5" class="total-name">Grand Total:&nbsp;</td>
        <td class="total-val">{{Rental}}</td>
        <td class="total-val">{{Sales}}</td>
        <td class="total-val">{{Facilities}}</td>
        <td class="total-val">{{Labor}}</td>
        <td class="total-val">{{Miscellaneous}}</td>
        <td class="total-val">{{AssetSale}}</td>
        <td class="total-val">{{Parts}}</td>
        <td class="total-val">{{Tax}}</td>
        <td class="total-val">{{Total}}</td>
        {{/ifEquals}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>