<div class="Header">
  <div>
    <div style="text-align: left; font-weight: bold; float:left;">RENTALWORKS</div>
    <div style="text-align: right; font-weight: bold; float:right;">4WALL ENTERTAINMENT</div>
    <div style="text-align: center; font-weight: bold; margin:0 auto;">Customer Revenue By Type</div>
  </div>
</div>
<div class="header rpt-flexrow">
  <div class="body rpt-flexrow">
    <br /><br />
    <div class="tblCustomerRevenue">
      <table>
        <thead>
          <tr class="columnheadings">
            <td>
              <div style="padding-left:40px;">Customer / Deal / Order No.</div>
            </td>
            <td>
              <div>Inoice No.</div>
            </td>
            <td>
              <div>Billing Start Date</div>
            </td>
            <td>
              <div>Billing End Date</div>
            </td>
            <td>
              <div>Agent</div>
            </td>
            <td>
              <div style="text-align:right;">Rental</div>
            </td>
            <td>
              <div style="text-align:right;">Sales</div>
            </td>
            <td>
              <div style="text-align:right;">Facilities</div>
            </td>
            <td>
              <div style="text-align:right;">Labor</div>
            </td>
            <td>
              <div style="text-align:right;">Misc</div>
            </td>
            <td>
              <div style="text-align:right;">Asset Sale</div>
            </td>
            <td>
              <div style="text-align:right;">Parts</div>
            </td>
            <td>
              <div style="text-align:right;">Tax</div>
            </td>
            <td>
              <div style="text-align:right;">Total</div>
            </td>
          </tr>
        </thead>
        <tbody>
          {{#each this}}
          <tr data-rowtype="{{RowType}}">
            {{#ifEquals RowType "OfficeLocationheader"}}
            <td class="OfficeLocationHeader" colspan="4">{{OfficeLocation}}</td>
            {{/ifEquals}}
            {{#ifEquals RowType "Departmentheader"}}
            <td class="DepartmentHeader" colspan="4">{{Department}}</td>
            {{/ifEquals}}
            {{#ifEquals RowType "Customerheader"}}
            <td class="CustomerHeader" colspan="4">{{Customer}}</td>
            {{/ifEquals}}
            {{#ifEquals RowType "Dealheader"}}
            <td class="DealHeader" colspan="4">{{Deal}}</td>
            {{/ifEquals}}
            {{#ifEquals RowType "detail"}}
            <td class="firstTd">{{OrderNumber}}</td>
            <td class="">{{InvoiceNumber}}</td>
            <td class="">{{BillingStart}}</td>
            <td class="">{{BillingEnd}}</td>
            <td class="">{{Agent}}</td>
            <td class="total">{{Rental}}</td>
            <td class="total">{{Sales}}</td>
            <td class="total">{{Facilities}}</td>
            <td class="total">{{Labor}}</td>
            <td class="total">{{Miscellaneous}}</td>
            <td class="total">{{AssetSale}}</td>
            <td class="total">{{Parts}}</td>
            <td class="total">{{Tax}}</td>
            <td class="total">{{Total}}</td>
            {{/ifEquals}}
            {{#ifEquals RowType "Dealfooter"}}
            <td class=""></td>
            <td class=""></td>
            <td class="" style="font-weight:bold;" colspan="3">{{Deal}}</td>
            <td class="total" style="border-top:2px solid black;font-weight:bold;">{{Rental}}</td>
            <td class="total" style="border-top:2px solid black;font-weight:bold;">{{Sales}}</td>
            <td class="total" style="border-top:2px solid black;font-weight:bold;">{{Facilities}}</td>
            <td class="total" style="border-top:2px solid black;font-weight:bold;">{{Labor}}</td>
            <td class="total" style="border-top:2px solid black;font-weight:bold;">{{Miscellaneous}}</td>
            <td class="total" style="border-top:2px solid black;font-weight:bold;">{{AssetSale}}</td>
            <td class="total" style="border-top:2px solid black;font-weight:bold;">{{Parts}}</td>
            <td class="total" style="border-top:2px solid black;font-weight:bold;">{{Tax}}</td>
            <td class="total" style="border-top:2px solid black;font-weight:bold;">{{Total}}</td>
            {{/ifEquals}}
            {{#ifEquals RowType "Departmentfooter"}}
            <td class=""></td>
            <td class=""></td>
            <td class="" style="font-weight:bold;" colspan="3">{{Department}}</td>
            <td class="total" style="border-top:2px solid black;font-weight:bold;">{{Rental}}</td>
            <td class="total" style="border-top:2px solid black;font-weight:bold;">{{Sales}}</td>
            <td class="total" style="border-top:2px solid black;font-weight:bold;">{{Facilities}}</td>
            <td class="total" style="border-top:2px solid black;font-weight:bold;">{{Labor}}</td>
            <td class="total" style="border-top:2px solid black;font-weight:bold;">{{Miscellaneous}}</td>
            <td class="total" style="border-top:2px solid black;font-weight:bold;">{{AssetSale}}</td>
            <td class="total" style="border-top:2px solid black;font-weight:bold;">{{Parts}}</td>
            <td class="total" style="border-top:2px solid black;font-weight:bold;">{{Tax}}</td>
            <td class="total" style="border-top:2px solid black;font-weight:bold;">{{Total}}</td>
            {{/ifEquals}}
            {{#ifEquals RowType "OfficeLocationfooter"}}
            <td class=""></td>
            <td class=""></td>
            <td class="" style="font-weight:bold;" colspan="3">{{OfficeLocation}}</td>
            <td class="total" style="border-top:2px solid black;font-weight:bold;">{{Rental}}</td>
            <td class="total" style="border-top:2px solid black;font-weight:bold;">{{Sales}}</td>
            <td class="total" style="border-top:2px solid black;font-weight:bold;">{{Facilities}}</td>
            <td class="total" style="border-top:2px solid black;font-weight:bold;">{{Labor}}</td>
            <td class="total" style="border-top:2px solid black;font-weight:bold;">{{Miscellaneous}}</td>
            <td class="total" style="border-top:2px solid black;font-weight:bold;">{{AssetSale}}</td>
            <td class="total" style="border-top:2px solid black;font-weight:bold;">{{Parts}}</td>
            <td class="total" style="border-top:2px solid black;font-weight:bold;">{{Tax}}</td>
            <td class="total" style="border-top:2px solid black;font-weight:bold;">{{Total}}</td>
            {{/ifEquals}}
            {{#ifEquals RowType "grandtotal"}}
            <td class=""></td>
            <td class=""></td>
            <td class="" style="font-weight:bold;" colspan="3">Grand Total</td>
            <td class="total" style="border-top:2px solid black;font-weight:bold;">{{Rental}}</td>
            <td class="total" style="border-top:2px solid black;font-weight:bold;">{{Sales}}</td>
            <td class="total" style="border-top:2px solid black;font-weight:bold;">{{Facilities}}</td>
            <td class="total" style="border-top:2px solid black;font-weight:bold;">{{Labor}}</td>
            <td class="total" style="border-top:2px solid black;font-weight:bold;">{{Miscellaneous}}</td>
            <td class="total" style="border-top:2px solid black;font-weight:bold;">{{AssetSale}}</td>
            <td class="total" style="border-top:2px solid black;font-weight:bold;">{{Parts}}</td>
            <td class="total" style="border-top:2px solid black;font-weight:bold;">{{Tax}}</td>
            <td class="total" style="border-top:2px solid black;font-weight:bold;">{{Total}}</td>
            {{/ifEquals}}
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>