<!--ReturnReceiptReport-->
<div class="rpt-flexrow">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">Checked-In From: {{FromDate}} To: {{ToDate}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div class="rpt-flexrow" style="margin-top:40px;">
  <table>
    <thead class="main-header">
      <tr>
        <th>I-Code</th>
        <th colspan="2">Description</th>
        <th colspan="2">Vendor</th>
        <th class="number">Quantity</th>
        <th>Deal</th>
        <th>Contract No.</th>
        <th>Checked In</th>
      </tr>
    </thead>
    {{#each this}}
    {{#ifEquals RowType "OfficeLocationheader"}}
    <thead data-rowtype="{{RowType}}">
      <tr>
        <th class="header-row" colspan="4">Office: {{OfficeLocation}}</th>
      </tr>
    </thead>
    {{/ifEquals}}
    {{#ifEquals RowType "Departmentheader"}}
    <thead data-rowtype="{{RowType}}">
      <tr>
        <th class="lower header-row" colspan="4">Department: {{Department}}</th>
      </tr>
    </thead>
    {{/ifEquals}}
    {{#ifEquals RowType "Dealheader"}}
    <thead data-rowtype="{{RowType}}">
      <tr>
        <th class="lower header-row" colspan="4">Deal: {{Deal}}</th>
      </tr>
    </thead>
    {{/ifEquals}}
    {{#ifEquals RowType "detail"}}
    <tbody data-rowtype="{{RowType}}">
      {{#ifNotEquals RecordType "ASSIGNED"}}
      <tr>
        <td data-value="{{ICode}}"></td>
        <td colspan="2" data-value="{{Description}}"></td>
        <td colspan="2" data-value="{{Vendor}}"></td>
        <td class="number" data-value="{{InQuantity}}"></td>
        <td data-value="{{Deal}}"></td>
        <td data-value="{{InContractNumber}}"></td>
        <td data-value="{{InContractDate}}"></td>
      </tr>
      {{/ifNotEquals}}
      {{#ifEquals RecordType "ASSIGNED"}}
      {{#ifNotEquals RepeatHeader false}}
      <tr>
        <th style="text-align:right;">Assigned:&nbsp;</th>
        <th class="subHeaders">Order No.</th>
        <th class="subHeaders">Date</th>
        <th class="subHeaders">Contract No.</th>
        <th class="subHeaders">Date</th>
        <th class="subHeaders number">Applied</th>
        <th colspan="3"></th>
      </tr>
      {{/ifNotEquals}}
      <tr class="subValues">
        <td></td>
        <td>{{ReconciledOrderNumber}}</td>
        <td>{{ReconciledOrderDate}}</td>
        <td>{{ReconciledContractNumber}}</td>
        <td>{{ReconciledContractDate}}</td>
        <td class="number">{{ReconciledAppliedQuantity}}</td>
        <td colspan="3"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RecordType "RETURNED_TO_INVENTORY"}}
      {{#ifNotEquals RepeatHeader false}}
      <tr>
        <th style="text-align:right;">Assigned:&nbsp;</th>
        <th class="subHeaders">Order No.</th>
        <th class="subHeaders">Date</th>
        <th class="subHeaders">Contract No.</th>
        <th class="subHeaders">Date</th>
        <th class="subHeaders number">Applied</th>
        <th colspan="3"></th>
      </tr>
      {{/ifNotEquals}}
      <tr class="subValues">
        <td></td>
        <td>{{ReconciledOrderNumber}}</td>
        <td>{{ReconciledOrderDate}}</td>
        <td>{{ReconciledContractNumber}}</td>
        <td>{{ReconciledContractDate}}</td>
        <td class="number">{{ReconciledAppliedQuantity}}</td>
        <td colspan="3"></td>
      </tr>
      {{/ifEquals}}
    </tbody>
    {{/ifEquals}}
    <tfoot data-rowtype="{{RowType}}">
      {{#ifEquals RowType "ReportRowIdfooter"}}
      {{#gt AssignedQuantity 0}}
      <tr>
        <td colspan="5" class="total-name">Total for {{ICode}}</td>
        <td class="total-val" data-value="{{ReconciledAppliedQuantity}}"></td>
        <td style="text-align:left;border-top:none;" class="total-val">Unassigned: {{UnassignedQuantity}}</td>
      </tr>
      {{/gt}}
      {{/ifEquals}}
    </tfoot>
    {{/each}}
  </table>
</div>