<!--Return on Asset-->
<div class="rpt-flexrow-ROA">
  <span class="rpt-title">{{Report}}</span>
</div>
<div class="rpt-flexrow-ROA">
  <span class="rpt-title">{{ReportPeriod}} {{ReportYear}}</span>
</div>
<div class="rpt-flexrow-ROA" style="margin-top:40px;">
  <table>
    <thead>
      <tr>
        <th>ICode</th>
        <th>Description</th>
        <th>Rank</th>
        <th class="number">Owned Qty</th>
        <th class="number">Days Owned</th>
        <th class="number">Avg Owned Qty</th>
        <th class="number">Avg Weekly Amt</th>
        <th class="number">Utilization (Billed)</th>
        <th class="number">Utilization (Out)</th>
        <th class="number">Annual ROA</th>
        <th class="number">Annual ROR</th>
        <th class="number">Annual ROUV</th>
        <th class="number">Weeks Billed</th>
        <th class="number">Days Rented</th>
        <th class="number">Owned Revenue</th>
        <th class="number">Vendor Revenue</th>
        <th class="number">Vendor Cost</th>
        <th class="number">Average Cost</th>
        <th class="number">Asset Average Cost</th>
        <th class="number">Replacement Cost</th>
        <th class="number">Total Replacement Cost</th>
        <th class="number">Unit Value</th>
        <th class="number">Asset Unit Value</th>
        <th class="number">Repair Pct.</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr data-rowtype={{RowType}}>
        {{#ifEquals RowType "Warehouseheader"}}
        <td colspan="5" class="header-row">Warehouse: {{Warehouse}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "InventoryTypeheader"}}
        <td colspan="5" class="lower header-row">Inventory Type: {{"InventoryType"}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Categoryheader"}}
        <td colspan="5" class="lower header-row">Category: {{Category}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "SubCategoryheader"}}
        <td colspan="5" class="lower header-row">Sub Category: {{SubCategory}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "detail"}}
        <td data-value="{{ICode}}"></td>
        <td data-value="{{ICodeDescription}}"></td>
        <td data-value="{{ICodeRank}}"></td>
        <td class="number" data-value="{{CurrentOwnedQuantity}}"></td>
        <td class="number" data-value="{{DaysOwned}}"></td>
        <td class="number" data-value="{{AverageOwnedQuantity}}"></td>
        <td class="number" data-value="{{AverageWeeklyAmount}}"></td>
        <td class="number" data-value="{{Utilization}}"></td>
        <td class="number" data-value="{{OutUtilization}}"></td>
        <td class="number" data-value="{{AnnualROA}}"></td>
        <td class="number" data-value="{{AnnualROR}}"></td>
        <td class="number" data-value="{{AnnualROUV}}"></td>
        <td class="number" data-value="{{WeeksBilled}}"></td>
        <td class="number" data-value="{{DaysRented}}"></td>
        <td class="number" data-value="{{OwnedRevenueAmount}}"></td>
        <td class="number" data-value="{{VendorRevenueAmount}}"></td>
        <td class="number" data-value="{{VendorCostAmount}}"></td>
        <td class="number" data-value="{{AverageCostAmount}}"></td>
        <td class="number" data-value="{{AssetAverageCostAmount}}"></td>
        <td class="number" data-value="{{ReplacementCostAmount}}"></td>
        <td class="number" data-value="{{TotalReplacementCostAmount}}"></td>
        <td class="number" data-value="{{UnitValueCostAmount}}"></td>
        <td class="number" data-value="{{AssetUnitValueCostAmount}}"></td>
        <td class="number" data-value="{{RepairPercent}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "SubCategoryfooter"}}
        <td colspan="3" class="total-name">{{SubCategory}}&nbsp;</td>
        <td class="total-val" data-value="{{CurrentOwnedQuantity}}"></td>
        <td colspan="2" class="total-val" data-value="{{AverageOwnedQuantity}}"></td>
        <td class="total-val" data-value="{{AverageWeeklyAmount}}"></td>
        <td colspan="8" class="total-val" data-value="{{OwnedRevenueAmount}}"></td>
        <td class="total-val" data-value="{{VendorRevenueAmount}}"></td>
        <td class="total-val" data-value="{{VendorCostAmount}}"></td>
        <td colspan="4" class="total-val" data-value="{{TotalReplacementCostAmount}}"></td>
        <td colspan="2" class="total-val" data-value="{{AssetUnitValueCostAmount}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "Categoryfooter"}}
        <td colspan="3" class="total-name">{{Category}}&nbsp;</td>
        <td class="total-val" data-value="{{CurrentOwnedQuantity}}"></td>
        <td colspan="2" class="total-val" data-value="{{AverageOwnedQuantity}}"></td>
        <td class="total-val" data-value="{{AverageWeeklyAmount}}"></td>
        <td colspan="8" class="total-val" data-value="{{OwnedRevenueAmount}}"></td>
        <td class="total-val" data-value="{{VendorRevenueAmount}}"></td>
        <td class="total-val" data-value="{{VendorCostAmount}}"></td>
        <td colspan="4" class="total-val" data-value="{{TotalReplacementCostAmount}}"></td>
        <td colspan="2" class="total-val" data-value="{{AssetUnitValueCostAmount}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "InventoryTypefooter"}}
        <td colspan="3" class="total-name">{{InventoryType}}&nbsp;</td>
        <td class="total-val" data-value="{{CurrentOwnedQuantity}}"></td>
        <td colspan="2" class="total-val" data-value="{{AverageOwnedQuantity}}"></td>
        <td class="total-val" data-value="{{AverageWeeklyAmount}}"></td>
        <td colspan="8" class="total-val" data-value="{{OwnedRevenueAmount}}"></td>
        <td class="total-val" data-value="{{VendorRevenueAmount}}"></td>
        <td class="total-val" data-value="{{VendorCostAmount}}"></td>
        <td colspan="4" class="total-val" data-value="{{TotalReplacementCostAmount}}"></td>
        <td colspan="2" class="total-val" data-value="{{AssetUnitValueCostAmount}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "Warehousefooter"}}
        <td colspan="3" class="total-name">{{Warehouse}}&nbsp;</td>
        <td class="total-val" data-value="{{CurrentOwnedQuantity}}"></td>
        <td colspan="2" class="total-val" data-value="{{AverageOwnedQuantity}}"></td>
        <td class="total-val" data-value="{{AverageWeeklyAmount}}"></td>
        <td colspan="8" class="total-val" data-value="{{OwnedRevenueAmount}}"></td>
        <td class="total-val" data-value="{{VendorRevenueAmount}}"></td>
        <td class="total-val" data-value="{{VendorCostAmount}}"></td>
        <td colspan="4" class="total-val" data-value="{{TotalReplacementCostAmount}}"></td>
        <td colspan="2" class="total-val" data-value="{{AssetUnitValueCostAmount}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "grandtotal"}}
        <td colspan="3" class="total-name">Grand Total:&nbsp;</td>
        <td class="total-val" data-value="{{CurrentOwnedQuantity}}"></td>
        <td colspan="2" class="total-val" data-value="{{AverageOwnedQuantity}}"></td>
        <td class="total-val" data-value="{{AverageWeeklyAmount}}"></td>
        <td colspan="8" class="total-val" data-value="{{OwnedRevenueAmount}}"></td>
        <td class="total-val" data-value="{{VendorRevenueAmount}}"></td>
        <td class="total-val" data-value="{{VendorCostAmount}}"></td>
        <td colspan="4" class="total-val" data-value="{{TotalReplacementCostAmount}}"></td>
        <td colspan="2" class="total-val" data-value="{{AssetUnitValueCostAmount}}"></td>
        {{/ifEquals}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
