<!--Order / Quote Report-->
<div class="rpt-flexrow" style="margin:5px 0px 30px 4px;">
  <div class="rpt-flexcolumn" style="padding-bottom:5px;">
    {{#if Logosrc}}
    <div style="height:130px;"><img class="clientlogo" src="{{Logosrc}}" style="display:block;width:auto;height:100%;" alt="logo" /></div>
    {{else}}
    <div></div>
    {{/if}}
    <span class="header-left" style="font-weight:600">{{OfficeLocationCompany}}</span>
    <span class="header-left">{{OfficeLocationAddress1}}</span>
    <span class="header-left">{{OfficeLocationAddress2}}</span>
    <span class="header-left">{{OfficeLocationCityStateZipCodeCountry}}</span>
    <span class="header-left"><span style="font-weight:600;">Phone: </span>{{OfficeLocationPhone}}</span>
  </div>
  <div class="rpt-flexcolumn">
      <span class="sub-title blue">{{Department}}</span>
      <span class="title blue">{{Report}}</span>
      <br />
      <span class="sub-title blue"><span style="font-weight:600;">Order: </span>{{OrderNumber}}</span>
      <span class="sub-title blue"><span style="font-weight:600;">Deal: </span>{{Deal}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="header-right blue" style="font-size:16px;"><span style="background-color:#FFF;color:black;padding:2px;">{{System}}</span></span>
    
  </div>
</div>
<div class="rpt-flexrow" style="margin-top:25px;">
  <table>
    {{#each Items}}
    {{#ifEquals RowType "RecTypeDisplayheader"}}
    <thead data-rowtype="{{RowType}}">
      <tr>
        <td colspan="8" class="section-header">{{RecTypeDisplay}}&nbsp;</td>
      </tr>
      <tr>
          <td></td>
          <th>I-Code</th>
          <th>Description</th>
          <th>Type</th>
          <th class="number">Ordered</th>
          <th class="number">Staged</th>
          <th class="number">Out</th>
          <th class="number">In</th>
          <th class="number">Still Out</th>
          <th>Warehouse<th>
      </tr>
    </thead>
    {{/ifEquals}}
    {{#ifEquals RowType "detail"}}
    <tbody data-rowtype="{{RowType}}">
        <tr data-isbold="{{Bold}}">
            <td></td>
            <td data-itemclass="{{ItemClass}}">{{ICode}}</td>
            <td data-itemclass="{{ItemClass}}">{{Description}}</td>
            <td>{{RecTypeDisplay}}</td>
            <td class="number">{{QuantityOrdered}}</td>
            <td class="number">{{StageQuantity}}</td>
            <td class="number">{{OutQuantity}}</td>
            <td class="number">{{InQuantity}}</td>
            <td class="number">{{StillOutQuantity}}</td>
        </tr>
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "RecTypeDisplayfooter"}}
    <tr>
      <td colspan="4"></td>
      <td class="display-footer">{{RecTypeDisplay}}&nbsp;</td>
      <td class="display-footer-total" data-value="{{PeriodExtended}}"></td>
    </tr>
    {{/ifEquals}}
    {{#ifEquals RowType "grandtotal"}}
    <tr>
      <td colspan="4"></td>
      <td class="display-footer">GRAND TOTAL:&nbsp;</td>
      <td class="display-footer-total" data-value="{{PeriodExtended}}"></td>
    </tr>
    {{/ifEquals}}
    {{/each}}
  </table>
</div>
