<!--Sub-Sales Staged Items Report-->
<div class="rpt-flexrow">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">As Of: {{PrintDate}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div class="rpt-flexrow" style="margin-top:40px;">
  <table>
    <thead>
      <tr>
        <th>I-Code</th>
        <th>Description</th>
        <th class="number">Qty</th>
        <th>Order No.</th>
        <th>Date</th>
        <th>Deal</th>
        <th>PO No.</th>
        <th class="number">Unit Cost</th>
        <th class="number">Extended Cost</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr data-rowtype={{RowType}}>
        {{#ifEquals RowType "Warehouseheader"}}
        <td colspan="5" class="header-row">Warehouse: {{Warehouse}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "InventoryTypeheader"}}
        <td colspan="5" class="lower header-row">Inventory Type: {{InventoryType}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Categoryheader"}}
        <td colspan="5" class="lower header-row">Category: {{"Category"}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "detail"}}
        <td class="nowrap" data-value="{{ICode}}"></td>
        <td data-value="{{Description}}"></td>
        <td class="number" data-value="{{Quantity}}"></td>
        <td data-value="{{OrderNumber}}"></td>
        <td data-value="{{OrderDate}}"></td>
        <td data-value="{{Deal}}"></td>
        <td data-value="{{PurchaseOrderNumber}}"></td>
        <td class="number" data-value="{{UnitCost}}"></td>
        <td class="number" data-value="{{ExtendedCost}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "Categoryfooter"}}
        <td colspan="2" class="total-name">{{Category}}:&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
        <td class="total-val" colspan="5"></td>
        <td class="total-val" data-value="{{ExtendedCost}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "InventoryTypefooter"}}
        <td colspan="2" class="total-name">{{InventoryType}}:&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
        <td class="total-val" colspan="5"></td>
        <td class="total-val" data-value="{{ExtendedCost}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "Warehousefooter"}}
        <td colspan="2" class="total-name">{{Warehouse}}:&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
        <td class="total-val" colspan="5"></td>
        <td class="total-val" data-value="{{ExtendedCost}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "grandtotal"}}
        <td colspan="2" class="total-name">Grand Total:&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
        <td class="total-val" colspan="5"></td>
        <td class="total-val" data-value="{{ExtendedCost}}"></td>
        {{/ifEquals}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>