<!--OrdersByDealReport-->
<div data-section="header">
  <div class="rpt-flexrow">
    <div class="rpt-flexcolumn">
      <div class="rpt-nested-flexrow rpt-header-left"><span>{{System}}</span></div>
    </div>
    <div class="rpt-flexcolumn">
      <div class="rpt-nested-flexrow rpt-title"><span>{{Report}}</span></div>
      <div data-visible="{{#if FilterDatesOrderCreate}}true{{/if}}" class="rpt-nested-flexrow rpt-header-center"><span>Order Create From: {{OrderCreateFromDate}} To: {{OrderCreateToDate}}</span></div>
      <div data-visible="{{#if FilterDatesOrderStart}}true{{/if}}" class="rpt-nested-flexrow rpt-header-center"><span>Order Start From: {{OrderStartFromDate}} To: {{OrderStartToDate}}</span></div>
      <div data-visible="{{#if FilterDatesDealCredit}}true{{/if}}" class="rpt-nested-flexrow rpt-header-center"><span>Deal Credit Status From: {{DealCreditFromDate}} To: {{DealCreditToDate}}</span></div>
      <div data-visible="{{#if FilterDatesDealInsurance}}true{{/if}}" class="rpt-nested-flexrow rpt-header-center"><span>Deal Insurance From: {{DealInsuranceFromDate}} To: {{DealInsuranceToDate}}</span></div>
    </div>
    <div class="rpt-flexcolumn">
      <div class="rpt-nested-flexrow rpt-header-right"><span>{{Company}}</span></div>
    </div>
  </div>
</div>
<div data-section="table" class="rpt-flexrow" style="margin-top:40px;">
  <table>
    <thead id="columnHeader">
      <tr data-row="main-header" data-linkedrow="detail">
        <th data-linkedcolumn="EmptyTd-1" data-valuefield=""></th>
        <th data-linkedcolumn="OrderNumber" data-valuefield="OrderNumber"></th>
        <th data-linkedcolumn="OrderDate" data-valuefield="OrderDate"></th>
        <th data-linkedcolumn="EstimatedStartDate" data-valuefield="EstimatedStartDate"></th>
        <th data-linkedcolumn="OrderDescription" data-valuefield="OrderDescription"></th>
        <th data-linkedcolumn="PurchaseOrderNumber" data-valuefield="PurchaseOrderNumber"></th>
        <th data-linkedcolumn="OrderStatus" data-valuefield="OrderStatus"></th>
        <th data-linkedcolumn="OrderStatusDate" data-valuefield="OrderStatusDate"></th>
        <th data-linkedcolumn="OrderTotal" data-valuefield="OrderTotal"></th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}

      {{#ifEquals RowType "OfficeLocationheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="9" class="header-row">Office Location: {{OfficeLocation}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Departmentheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="9" class="header-row">Department: {{Department}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Customerheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="9" class="header-row">Customer: {{Customer}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Dealheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="9" class="header-row">Deal: {{Deal}}</td>
      </tr>
      <tr data-row="sub-header" data-sort="true" data-rowtype="{{RowType}}">
        <th class="sub-header" data-linkedcolumn="DealNumber" data-valuefield="DealNumber">Deal No.</th>
        <th class="sub-header" data-linkedcolumn="DealPaymentTerms" data-valuefield="DealPaymentTerms">Payment Terms</th>
        <th class="sub-header" data-linkedcolumn="EstimatedStartDate-2" data-valuefield="EstimatedStartDate">Start Date</th>
        <th class="sub-header" data-linkedcolumn="EstimatedStopDate" data-valuefield="EstimatedStopDate">Close Date</th>
        <th class="sub-header" data-linkedcolumn="DealType" data-valuefield="DealType">Deal Type</th>
        <th class="sub-header" data-linkedcolumn="CreditStatus" data-valuefield="CreditStatus">Credit Status</th>
        <th class="sub-header" data-linkedcolumn="InsuranceStatus" data-valuefield="InsuranceStatus">Ins. Status</th>
        <th class="sub-header" data-linkedcolumn="Phone" data-valuefield="Phone">Phone</th>
        <th class="sub-header" data-linkedcolumn="EmptyTd-2" data-valuefield=""></th>
      </tr>
      <tr data-row="sub-detail" data-rowtype="{{RowType}}">
        <td data-linkedcolumn="DealNumber" data-value="{{DealNumber}}"></td>
        <td data-linkedcolumn="DealPaymentTerms" data-value="{{DealPaymentTerms}}"></td>
        <td data-linkedcolumn="EstimatedStartDate-2" data-value="{{EstimatedStartDate}}"></td>
        <td data-linkedcolumn="EstimatedStopDate" data-value="{{EstimatedStopDate}}"></td>
        <td data-linkedcolumn="DealType" data-value="{{DealType}}"></td>
        <td data-linkedcolumn="CreditStatus" data-value="{{CreditStatus}}"></td>
        <td data-linkedcolumn="InsuranceStatus" data-value="{{InsuranceStatus}}"></td>
        <td data-linkedcolumn="Phone" data-value="{{Phone}}"></td>
        <td data-linkedcolumn="EmptyTd-2"></td>
      </tr>
      <tr data-row="sub-detail" data-sort="true">
        <td data-linkedcolumn="EmptyTd-3" data-value=""></td>
        <td colspan="4"><div><span style="font-weight:700;">Address: </span>{{Address1}}&nbsp;{{Address2}}&nbsp;{{City}},&nbsp;{{State}}&nbsp;{{Zip}}&nbsp;{{Country}}</div></td>
        <td colspan="4"><div><span style="font-weight:700;">Primary Contact: </span>{{DealPrimaryContactName}}&nbsp;{{DealPrimaryContactPhone}}&nbsp;{{DealPrimaryContactExt}}</div></td>
      </tr>
      <tr data-row="linked-sub-header" data-sort="true" data-linkedrow="detail" data-rowtype="{{RowType}}">
        <th data-linkedcolumn="EmptyTd-1" data-valuefield=""></th>
        <th class="sub-header" data-linkedcolumn="OrderNumber" data-valuefield="OrderNumber">Order No.</th>
        <th class="sub-header" data-linkedcolumn="OrderDate" data-valuefield="OrderDate">Create Date</th>
        <th class="sub-header" data-linkedcolumn="EstimatedStartDate" data-valuefield="EstimatedStartDate">Est. Start Date</th>
        <th class="sub-header" data-linkedcolumn="OrderDescription" data-valuefield="OrderDescription">Description</th>
        <th class="sub-header" data-linkedcolumn="PurchaseOrderNumber" data-valuefield="PurchaseOrderNumber">PO No.</th>
        <th class="sub-header" data-linkedcolumn="OrderStatus" data-valuefield="OrderStatus">Status</th>
        <th class="sub-header" data-linkedcolumn="OrderStatusDate" data-valuefield="OrderStatusDate">As Of</th>
        <th class="sub-header number" data-linkedcolumn="OrderTotal" data-valuefield="OrderTotal">Amount</th>
      </tr>
      {{/ifEquals}}

      {{#ifEquals RowType "detail"}}
      <tr id="detailRow" data-row="detail" data-linkedrow="detail" data-rowtype="{{RowType}}">
        <td data-linkedcolumn="EmptyTd-1" data-value=""></td>
        <td data-linkedcolumn="OrderNumber" data-value="{{OrderNumber}}"></td>
        <td data-linkedcolumn="OrderDate" data-value="{{OrderDate}}"></td>
        <td data-linkedcolumn="EstimatedStartDate" data-value="{{EstimatedStartDate}}"></td>
        <td data-linkedcolumn="OrderDescription" data-value="{{OrderDescription}}"></td>
        <td data-linkedcolumn="PurchaseOrderNumber" data-value="{{PurchaseOrderNumber}}"></td>
        <td data-linkedcolumn="OrderStatus" data-value="{{OrderStatus}}"></td>
        <td data-linkedcolumn="OrderStatusDate" data-value="{{OrderStatusDate}}"></td>
        <td data-linkedcolumn="OrderTotal" class="number" data-value="{{OrderTotal}}"></td>
      </tr>
      {{/ifEquals}}

      {{#ifEquals RowType "Dealfooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="8" class="total-name">{{Deal}}:&nbsp;</td>
        <td data-linkedcolumn="OrderTotal" class="total-val" data-value="{{OrderTotal}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Customerfooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="8" class="total-name">{{Customer}}:&nbsp;</td>
        <td data-linkedcolumn="OrderTotal" class="total-val" data-value="{{OrderTotal}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Departmentfooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="8" class="total-name">{{Department}}:&nbsp;</td>
        <td data-linkedcolumn="OrderTotal" class="total-val" data-value="{{OrderTotal}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "OfficeLocationfooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="8" class="total-name">{{OfficeLocation}}:&nbsp;</td>
        <td data-linkedcolumn="OrderTotal" class="total-val" data-value="{{OrderTotal}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "grandtotal"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="8" class="total-name">Grand Total:&nbsp;</td>
        <td data-linkedcolumn="OrderTotal" class="total-val" data-value="{{OrderTotal}}"></td>
      </tr>
      {{/ifEquals}}
      {{/each}}
  </table>
</div>