<!--PO Return List Report-->
<div data-section="header" class="rpt-flexrow" style="margin:5px 0px 0px 4px;">
  <div class="rpt-flexcolumn" style="padding-bottom:5px;">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div style="max-width: 300px;" class="rpt-flexcolumn">
    <span class="list-title blue">{{Report}}</span>
    <span class="sub-title">As Of: {{PrintDate}} &nbsp; {{PrintTime}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div data-section="table" class="rpt-flexrow">
  <table>
    <thead id="columnHeader">
      <tr data-row="main-header" style="height:44px;">
        <th data-linkedcolumn="ICode" data-valuefield="ICode">I-Code</th>
        <th data-linkedcolumn="Description" data-valuefield="Description">Description</th>
        <th data-linkedcolumn="QuantityReceived" data-valuefield="QuantityReceived" class="centered">Received</th>
        <th data-linkedcolumn="QuantityReturnable" data-valuefield="QuantityReturnable" class="centered">Returnable</th>
        <th data-linkedcolumn="QuantityReturned" data-valuefield="QuantityReturned" class="centered">Returned</th> <!--blank field-->
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      {{#ifEquals RowType "PurchaseOrderNumberheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}" style="border-bottom:none;">
        <td class="header-row">PO No: {{PurchaseOrderNumber}}</td>
        <td class="header-row">Vendor: {{Vendor}}</td>
        <td class="header-row">Agent {{Agent}}</td>
        <td class="header-row">Warehouse: {{Warehouse}}</td>
        <td></td>
      </tr>
      <tr data-rowtype="{{RowType}}" class="barcode-row">
        <td style="font-family:'Libre Barcode 39 Text', serif; font-size:50px;" colspan="5">*{{PurchaseOrderNumber}}*</td>
      </tr>
      {{/ifEquals}}

      {{#ifEquals RowType "SubOrderNumberheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="5" class="header-row">Order No: {{SubOrderNumber}}</td>
      </tr>
      {{/ifEquals}}

      {{#ifEquals RowType "detail"}}
      <tr id="detailRow" data-row="detail" data-rowtype="{{RowType}}">
        <td data-linkedcolumn="ICode" class="nowrap" style="font-family:'Libre Barcode 39 Text', serif; font-size:50px;">*{{ICode}}*</td>
        <td data-linkedcolumn="Description" data-value="{{Description}}"></td>
        <td data-linkedcolumn="QuantityReceived" data-value="{{QuantityReceived}}" class="centered bordered"></td>
        <td data-linkedcolumn="QuantityReturnable" data-value="{{QuantityReturnable}}" class="centered bordered"></td>
        <td data-linkedcolumn="" data-value="" class="centered bordered"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "grandtotal"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td class="total-name">Grand Total:&nbsp;</td>
        <td></td>
        <td data-linkedcolumn="QuantityReceived" class="total-val centered" data-value="{{QuantityReceived}}"></td>
        <td data-linkedcolumn="QuantityReturnable" class="total-val centered" data-value="{{QuantityReturnable}}"></td>
        <td data-linkedcolumn="QuantityReturned" class="total-val centered" data-value="{{QuantityReturned}}"></td>
      </tr>
      {{/ifEquals}}
      {{/each}}
    </tbody>
  </table>
</div>
