<!--Order Report-->
<div class="rpt-flexrow" style="margin:5px 0px 0px 4px;">
  <div class="rpt-flexcolumn" style="flex:0 0 30%;padding-bottom:5px;">
    {{#if Logosrc}}
    <div style="height:100px;"><img class="clientlogo" src="{{Logosrc}}" style="display:block;width:auto;height:100%;" alt="logo" /></div>
    {{else}}
    <div></div>
    {{/if}}
    <span class="header-left" style="font-weight:600">{{OfficeLocationCompany}}</span>
    <span class="header-left">{{OfficeLocationAddress1}}</span>
    <span class="header-left">{{OfficeLocationAddress2}}</span>
    <span class="header-left">{{OfficeLocationCityStateZipCodeCountry}}</span>
    <span class="header-left"><span style="font-weight:600;">Phone: </span>{{OfficeLocationPhone}}</span>
  </div>
  <div class="rpt-flexcolumn" style="flex:0 0 40%;">
    <span class="sub-title" style="font-size:20px;">{{Department}}</span>
    <span class="title blue">{{Report}}</span>
  </div>
  <!-- Order Number & Date -->
  <div class="rpt-flexcolumn" style="flex:0 0 30%;">
    <table>
      <tr>
        <td style="width:50%;font-size:18px;font-weight:700;text-align:right;">No:</td>
        <td style="width:50%;background-color:#e3f2fd;color:#027cc5;border:2px solid #212121;padding:5px 10px;font-size:26px;text-align:center;">{{OrderNumber}}</td>
      </tr>
      <tr>
        <td style="width:50%;color:black;font-size:18px;font-weight:700;text-align:right;">Date:</td>
        <td style="width:50%;font-size:18px;text-align:center;">{{PrintDate}}</td>
      </tr>
    </table>
  </div>
</div>
<!-- Order / Agent / Dates, Terms, Billing Cycle -->
<div class="rpt-flexrow">
  <!-- Order details -->
  <div class="rpt-flexcolumn" style="flex:0 0 422px;border-top: 2px solid #027cc5;margin-right:10px;">
    <table>
      <tr>
        <td style="width:90px;background-color:#e3f2fd;font-weight:700;">Description:</td>
        <td class="">{{Description}}</td>
      </tr>
      <tr>
        <td style="width:90px;background-color:#e3f2fd;font-weight:700;">Customer:</td>
        <td class="">{{Customer}}</td>
      </tr>
      <tr>
        <td style="width:90px;background-color:#e3f2fd;font-weight:700;">Deal:</td>
        <td class="">{{Deal}}</td>
      </tr>
      <tr>
        <td style="width:90px;background-color:#e3f2fd;font-weight:700;">PO No:</td>
        <td class="">{{PoNumber}}</td>
      </tr>
    </table>
  </div>
  <!-- Agent details -->
  <div class="rpt-flexcolumn" style="flex:0 0 321px;border-top: 2px solid #027cc5;margin:0px 10px;">
    <table>
      <tr>
        <td style="width:55px;background-color:#e3f2fd;font-weight:700;">Agent:</td>
        <td class="">{{Agent}}</td>
      </tr>
      <tr>
        <td style="width:55px;background-color:#e3f2fd;font-weight:700;">Email:</td>
        <td class="">{{AgentEmail}}</td>
      </tr>
      <tr>
        <td style="width:55px;background-color:#e3f2fd;font-weight:700;">Phone:</td>
        <td class="">{{AgentPhone}}</td>
      </tr>
    </table>
  </div>
  <!-- Billing Dates, Usage Dates, Terms, Billing Cycle-->
  <div class="rpt-flexcolumn" style="flex:0 0 321px;border-top: 2px solid #027cc5;margin-left:10px;">
    <table>
      {{#ifCond BillingDates '!==' "N/A"}}
      <tr>
        <td style="width:105px;background-color:#e3f2fd;font-weight:700;">Billing Period:</td>
        <td class="">{{BillingDates}}</td>
      </tr>
      {{/ifCond}}
      {{#ifCond UsageDates '!==' "N/A"}}
      <tr>
        <td style="width:105px;background-color:#e3f2fd;font-weight:700;">Usage Period:</td>
        <td class="">{{UsageDates}}</td>
      </tr>
      {{/ifCond}}
      <tr>
        <td style="width:105px;background-color:#e3f2fd;font-weight:700;">Terms:</td>
        <td class="">{{PaymentTerms}}</td>
      </tr>
      <tr>
        <td style="width:105px;background-color:#e3f2fd;;font-weight:700;">Billing Cycle:</td>
        <td class="">{{BillingCycle}}</td>
      </tr>
    </table>
  </div>
</div>
<!-- Issued To / Outgoing /Incoming -->
<div class="rpt-flexrow" style="margin-top:25px;">
  <div class="rpt-flexcolumn" style="flex:0 0 422px;margin-right:10px;">
    <table id="issuedTo">
      <tr>
        <td class="sub text" style="text-align:left;padding:5px;background-color:#e3f2fd;">Issued To</td>
      </tr>
      <tr>
        <td class="" style="font-weight:700;">{{IssuedToCompany}}</td>
      </tr>
      {{#if IssuedToAttention1}}
      <tr>
        <td class="">{{IssuedToAttention1}}</td>
      </tr>
      {{/if}}
      {{#if IssuedToAttention2}}
      <tr>
        <td class="">{{IssuedToAttention2}}</td>
      </tr>
      {{/if}}
      <tr>
        <td class="">{{IssuedToAddress1}}</td>
      </tr>
      {{#if IssuedToAddress2}}
      <tr>
        <td class="">{{IssuedToAddress2}}</td>
      </tr>
      {{/if}}
      {{#if IssuedToCity}}
      <tr>
        <td class="">{{IssuedToCity}}, {{IssuedToState}} {{IssuedToZipCode}} {{IssuedToCountry}}</td>
      </tr>

      {{/if}}
    </table>
    <!-- Ordered By -->
    <table style="border-top:2px solid #027cc5;">
      {{#if OrderedBy}}
      <tr>
        <td class="shaded-block" style="width:100px;">Ordered By: </td>
        <td class="meta-content">{{OrderedBy}}</td>
      </tr>
      {{/if}}
      {{#if OrderedByEmail}}
      <tr>
        <td class="shaded-block" style="width:100px;">Email: </td>
        <td class="meta-content">{{OrderedByEmail}}</td>
      </tr>
      {{/if}}
      {{#if OrderedByPhoneAndExtension}}
      <tr>
        <td class="shaded-block" style="width:100px;">Phone: </td>
        <td class="meta-content">{{OrderedByPhoneAndExtension}}</td>
      </tr>
      {{/if}}
    </table>
  </div>
  <div class="rpt-flexcolumn" style="flex:0 0 321px;margin:0px 10px;">
    <table id="outgoing">
      <tr>
        <td class="sub text" style="text-align:left;padding:5px;background-color:#e3f2fd;">Outgoing ({{OutDeliveryType}})</td>
      </tr>
      <tr>
        <td class=""><span style="font-weight:700;">Location: </span>{{OutDeliveryLocation}}</td>
      </tr>
      {{#ifCond OutDeliveryAttention '!==' ""}}
      <tr>
        <td class=""><span style="font-weight:700;">Attention: </span>{{OutDeliveryAttention}}</td>
      </tr>
      {{/ifCond}}
      <tr>
        <td class="">{{OutDeliveryAddress1}}</td>
      </tr>
      {{#ifCond OutDeliveryAddress2 '!==' ""}}
      <tr>
        <td class="">{{OutDeliveryAddress2}}</td>
      </tr>
      {{/ifCond}}
      {{#ifCond OutDeliveryCity '!==' ""}}
      <tr>
        <td class="">{{OutDeliveryCity}}, {{OutDeliveryState}} {{OutDeliveryZipCode}} {{OutDeliveryCountry}}</td>
      </tr>
      {{/ifCond}}
      {{#ifCond OutDeliveryRequiredByDateTime '!==' ""}}
      <tr>
        <td class=""><span style="font-weight:700;">Required By: </span>{{OutDeliveryRequiredByDateTime}}</td>
      </tr>
      {{/ifCond}}
    </table>
  </div>
  <div class="rpt-flexcolumn" style="flex:0 0 321px;margin-left:10px;">
    {{#ifCond RentalItems.length '>' 0}}
    <table id="incoming">
      <tr>
        <td class="sub text" style="text-align:left;padding:5px;background-color:#e3f2fd;">Incoming ({{InDeliveryType}})</td>
      </tr>
      <tr>
        <td class=""><span style="font-weight:700;">Location: </span>{{InDeliveryLocation}}</td>
      </tr>
      {{#ifCond InDeliveryAttention '!==' ""}}
      <tr>
        <td class=""><span style="font-weight:700;">Attention: </span>{{InDeliveryAttention}}</td>
      </tr>
      {{/ifCond}}
      <tr>
        <td class="">{{InDeliveryAddress1}}</td>
      </tr>
      {{#ifCond InDeliveryAddress2 '!==' ""}}
      <tr>
        <td class="">{{InDeliveryAddress2}}</td>
      </tr>
      {{/ifCond}}
      {{#ifCond InDeliveryCity '!==' ""}}
      <tr>
        <td class="">{{InDeliveryCity}}, {{InDeliveryState}} {{InDeliveryZipCode}} {{InDeliveryCountry}}</td>
      </tr>
      {{/ifCond}}
      {{#ifCond InDeliveryRequiredByDateTime '!==' ""}}
      <tr>
        <td class=""><span style="font-weight:700;">Required By: </span>{{InDeliveryRequiredByDateTime}}</td>
      </tr>
      {{/ifCond}}
    </table>
    {{/ifCond}}
  </div>
</div>
<!-- Rental Items -->
<div class="rpt-flexrow">
  <table style="table-layout:fixed;">
    {{#each RentalItems}}
    {{#ifEquals RowType "RecTypeDisplayheader"}}
    <tbody data-rowtype="{{RowType}}">
      <tr><td>&nbsp;</td></tr><!-- spacer row -->
      <tr>
        <td colspan="7" class="section-header">{{RecTypeDisplay}}&nbsp;</td>
      </tr>
      <tr class="rectype-header">
        <td style="min-width:115px;">I-Code</td>
        <td style="min-width:379px;">Description</td>
        <td style="min-width:90px;" class="number alignRight">Quantity</td>
        {{#ifCond ../RateType '===' "DAILY"}}
        <td style="min-width:75px;" class="number alignRight">Days</td>
        {{/ifCond}}
        {{#ifCond ../RateType '===' "WEEKLY"}}
        <td style="min-width:75px;" class="number alignRight">Weeks</td>
        {{/ifCond}}
        <td style="min-width:100px;" class="number alignRight">Price</td>
        <td style="min-width:140px;" class="number alignRight">Discount %</td>
        <td style="min-width:140px;" class="number alignRight">Period Extended</td>
      </tr>
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "detail"}}
    <tbody data-rowtype="{{RowType}}">
      <tr data-isbold="{{Bold}}">
        <!-- I-Code -->
        {{#ifEquals ItemClass "ST"}}
        <td data-itemclass="{{ItemClass}}" class="subTotalRow"></td>
        {{/ifEquals}}

        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{ICode}}</td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{ICode}}</td><!-- Kit Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "NI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{ICode}}</td><!-- Container Accessory -->
        {{else}}
        <td data-itemclass="{{ItemClass}}">{{ICode}}</td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td data-itemclass="{{ItemClass}}" class="textRow"></td>
        {{else}}
        <td data-itemclass="{{ItemClass}}" class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Description -->
        {{#ifEquals ItemClass "ST"}}
        <td data-itemclass="{{ItemClass}}" class="subTotalRow">{{Description}}</td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{Description}}</td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{Description}}</td><!-- Kit Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "NI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{Description}}</td><!-- Container Accessory -->
        {{else}}
        <td data-itemclass="{{ItemClass}}">{{Description}}</td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td data-itemclass="{{ItemClass}}" class="textRow">{{Description}}</td>
        {{else}}
        <td data-itemclass="{{ItemClass}}" class="headerRow">{{Description}}</td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Quantity Ordered -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{QuantityOrdered}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Billable Periods -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{BillablePeriods}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Price -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow" style="text-align:center;"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{Rate}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Discount Percent -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{DiscountPercent}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Period Extended / Sub-Totals -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow alignRight">{{PeriodExtendedSubTotal}}</td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{PeriodExtended}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}
      </tr>
      {{#if Notes}}
      <tr>
        <td>&nbsp;</td>
        {{#ifEquals ItemClass "ST"}}
        <td colspan="5" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td colspan="5" data-itemclass="{{ItemClass}}" style="padding-left:18px;text-indent:0em;"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td colspan="5" data-itemclass="{{ItemClass}}" style="padding-left:18px;text-indent:0em;"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Kit Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "NI"}}
        <td colspan="5" data-itemclass="{{ItemClass}}" style="padding-left:18px;text-indent:0em;"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Container Accessory -->
        {{else}}
        <td colspan="5" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td colspan="5" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{else}}
        <td colspan="5" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}
        <td>&nbsp;</td>
      </tr>
      {{/if}}
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "RecTypeDisplayfooter"}}<!-- RENTAL Totals -->
    {{#ifNotEquals PeriodTax 0}}
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="" style="text-align:right;font-weight:700;padding-top:12px;padding-right:0px;"><span style="padding:11px 5px 3px 6px;border-top:1px solid #000000;">{{RecTypeDisplay}} Sub-Total</span></td>
      <td class="" style="text-align:right;font-weight:700;border-top: 1px solid black;padding-top:10px;" data-value="{{PeriodExtended}}"></td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="tax" style="text-align:right;font-weight:700;padding:10px 5px 3px 6px;">Tax ({{TaxRate1}}%)</td>
      <td class="tax" style="text-align:right;font-weight:700;padding:10px 5px 3px 6px;" data-value="{{PeriodTax}}"></td>
    </tr>
    {{/ifNotEquals}}
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="" style="text-align:right;font-weight:700;padding-top:12px;padding-right:0px;"><span style="background-color:#e3f2fd;padding:11px 5px 3px 41px;border-top:1px solid #000000;">{{RecTypeDisplay}} Total</span></td>
      <td class="display-footer-total" data-value="{{PeriodExtendedWithTax}}"></td>
    </tr>
    {{/ifEquals}}
    {{/each}}
  </table>
</div>
<!-- Used Sale Items -->
<div class="rpt-flexrow">
  <table style="table-layout:fixed;">
    {{#each UsedSaleItems}}
    {{#ifEquals RowType "RecTypeDisplayheader"}}
    <tbody data-rowtype="{{RowType}}">
      <tr><td>&nbsp;</td></tr><!-- spacer row -->
      <tr>
        <td colspan="8" class="section-header">{{RecTypeDisplay}}&nbsp;</td>
      </tr>
      <tr class="rectype-header">
        <td style="min-width:100px;">I-Code</td>
        <td style="min-width:355px;">Description</td>
        <td style="min-width:80px;padding-right:15px;" class="number alignRight">Quantity</td>
        <td style="min-width:85px;" class="">Bar Code</td>
        <td style="min-width:105px;" class="">Serial Number</td>
        <td style="min-width:95px;" class="number alignRight">Price</td>
        <td style="min-width:95px;" class="number alignRight">Discount %</td>
        <td style="min-width:105px;" class="number alignRight">Extended</td>
      </tr>
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "detail"}}
    <tbody data-rowtype="{{RowType}}">
      <tr data-isbold="{{Bold}}">
        <!-- I-Code -->
        {{#ifEquals ItemClass "ST"}}
        <td data-itemclass="{{ItemClass}}" class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{ICode}}</td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{ICode}}</td><!-- Kit Accessory -->
        {{else}}
        <td data-itemclass="{{ItemClass}}">{{ICode}}</td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td data-itemclass="{{ItemClass}}" class="textRow"></td>
        {{else}}
        <td data-itemclass="{{ItemClass}}" class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Description -->
        {{#ifEquals ItemClass "ST"}}
        <td data-itemclass="{{ItemClass}}" class="subTotalRow">{{Description}}</td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{Description}}</td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{Description}}</td><!-- Kit Accessory -->
        {{else}}
        <td data-itemclass="{{ItemClass}}">{{Description}}</td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td data-itemclass="{{ItemClass}}" class="textRow">{{Description}}</td>
        {{else}}
        <td data-itemclass="{{ItemClass}}" class="headerRow">{{Description}}</td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Quantity Ordered -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight" style="padding-right:15px;">{{QuantityOrdered}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Bar Code -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="" style="padding-left:6px;">{{BarCode}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Serial Number -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="" style="padding-left:6px;">{{SerialNumber}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Price -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow" style="text-align:center;"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{Rate}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Discount Percent Ordered -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{DiscountPercent}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Period Extended / Sub-Totals -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow alignRight">{{PeriodExtendedSubTotal}}</td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{PeriodExtended}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}
      </tr>
      {{#if Notes}}
      <tr>
        <td>&nbsp;</td>
        {{#ifEquals ItemClass "ST"}}
        <td colspan="6" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td colspan="6" data-itemclass="{{ItemClass}}" style="padding-left:18px;text-indent:0em;"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td colspan="6" data-itemclass="{{ItemClass}}" style="padding-left:18px;text-indent:0em;"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Kit Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "NI"}}
        <td colspan="6" data-itemclass="{{ItemClass}}" style="padding-left:18px;text-indent:0em;"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Container Accessory -->
        {{else}}
        <td colspan="6" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td colspan="6" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{else}}
        <td colspan="6" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}
        <td>&nbsp;</td>
      </tr>
      {{/if}}
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "RecTypeDisplayfooter"}}
    {{#ifNotEquals PeriodTax 0}}
    <tr>
      <td colspan="2"></td>
      <td colspan="5" class="" style="text-align:right;font-weight:700;padding-top:12px;padding-right:0px;"><span style="padding:11px 5px 3px 6px;border-top:1px solid #000000;">{{RecTypeDisplay}} Sub-Total</span></td>
      <td class="" style="text-align:right;font-weight:700;border-top: 1px solid black;padding-top:10px;" data-value="{{PeriodExtended}}"></td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td colspan="5" class="tax" style="text-align:right;font-weight:700;padding:10px 5px 3px 6px;">Tax ({{TaxRate1}}%)</td>
      <td class="tax" style="text-align:right;font-weight:700;padding:10px 5px 3px 6px;" data-value="{{PeriodTax}}"></td>
    </tr>
    {{/ifNotEquals}}
    <tr>
      <td colspan="2"></td>
      <td colspan="5" class="" style="text-align:right;font-weight:700;padding-top:12px;padding-right:0px;"><span style="background-color:#e3f2fd;padding:11px 5px 3px 41px;border-top:1px solid #000000;">{{RecTypeDisplay}} Total</span></td>
      <td class="display-footer-total" data-value="{{PeriodExtendedWithTax}}"></td>
    </tr>
    {{/ifEquals}}
    {{/each}}
  </table>
</div>
<!-- Loss & Damage Items -->
<div class="rpt-flexrow">
  <table style="table-layout:fixed;">
    {{#each LossAndDamageItems}}
    {{#ifEquals RowType "RecTypeDisplayheader"}}
    <tbody data-rowtype="{{RowType}}">
      <tr><td>&nbsp;</td></tr><!-- spacer row -->
      <tr>
        <td colspan="9" class="section-header">{{RecTypeDisplay}}&nbsp;</td>
      </tr>
      <tr class="rectype-header">
        <td style="min-width:90px;">Order</td>
        <td style="min-width:90px;">I-Code</td>
        <td style="min-width:255px;">Description</td>
        <td style="min-width:80px;padding-right:15px;" class="number alignRight">Quantity</td>
        <td style="min-width:85px;" class="">Bar Code</td>
        <td style="min-width:105px;" class="">Serial Number</td>
        <td style="min-width:100px;" class="number alignRight">Price</td>
        <td style="min-width:100px;" class="number alignRight">Discount %</td>
        <td style="min-width:105px;" class="number alignRight">Extended</td>
      </tr>
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "detail"}}
    <tbody data-rowtype="{{RowType}}">
      <tr data-isbold="{{Bold}}">
        <!-- Original Order Number -->
        {{#ifEquals ItemClass "ST"}}
        <td data-itemclass="{{ItemClass}}" class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{OriginalOrderNumber}}</td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{OriginalOrderNumber}}</td><!-- Kit Accessory -->
        {{else}}
        <td data-itemclass="{{ItemClass}}">{{OriginalOrderNumber}}</td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td data-itemclass="{{ItemClass}}" class="textRow"></td>
        {{else}}
        <td data-itemclass="{{ItemClass}}" class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- I-Code -->
        {{#ifEquals ItemClass "ST"}}
        <td data-itemclass="{{ItemClass}}" class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{ICode}}</td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{ICode}}</td><!-- Kit Accessory -->
        {{else}}
        <td data-itemclass="{{ItemClass}}">{{ICode}}</td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td data-itemclass="{{ItemClass}}" class="textRow"></td>
        {{else}}
        <td data-itemclass="{{ItemClass}}" class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Description -->
        {{#ifEquals ItemClass "ST"}}
        <td data-itemclass="{{ItemClass}}" class="subTotalRow">{{Description}}</td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{Description}}</td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{Description}}</td><!-- Kit Accessory -->
        {{else}}
        <td data-itemclass="{{ItemClass}}">{{Description}}</td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td data-itemclass="{{ItemClass}}" class="textRow">{{Description}}</td>
        {{else}}
        <td data-itemclass="{{ItemClass}}" class="headerRow">{{Description}}</td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Quantity Ordered -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight" style="padding-right:15px;">{{QuantityOrdered}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Bar Code -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="" style="padding-left:6px;">{{BarCode}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Serial Number -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="" style="padding-left:6px;">{{SerialNumber}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Price -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow" style="text-align:center;"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{Rate}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Discount Percent Ordered -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{DiscountPercent}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Period Extended / Sub-Totals -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow alignRight">{{PeriodExtendedSubTotal}}</td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{PeriodExtended}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}
      </tr>
      {{#if Notes}}
      <tr>
        <td>&nbsp;</td>
        {{#ifEquals ItemClass "ST"}}
        <td colspan="7" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td colspan="7" data-itemclass="{{ItemClass}}" style="padding-left:18px;text-indent:0em;"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td colspan="7" data-itemclass="{{ItemClass}}" style="padding-left:18px;text-indent:0em;"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Kit Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "NI"}}
        <td colspan="7" data-itemclass="{{ItemClass}}" style="padding-left:18px;text-indent:0em;"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Container Accessory -->
        {{else}}
        <td colspan="7" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td colspan="7" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{else}}
        <td colspan="7" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}
        <td>&nbsp;</td>
      </tr>
      {{/if}}
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "RecTypeDisplayfooter"}}
    {{#ifNotEquals PeriodTax 0}}
    <tr>
      <td colspan="2"></td>
      <td colspan="6" class="" style="text-align:right;font-weight:700;padding-top:12px;padding-right:0px;"><span style="padding:11px 5px 3px 6px;border-top:1px solid #000000;">{{RecTypeDisplay}} Sub-Total</span></td>
      <td class="" style="text-align:right;font-weight:700;border-top: 1px solid black;padding-top:10px;" data-value="{{PeriodExtended}}"></td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td colspan="6" class="tax" style="text-align:right;font-weight:700;padding:10px 5px 3px 6px;">Tax ({{TaxRate1}}%)</td>
      <td class="tax" style="text-align:right;font-weight:700;padding:10px 5px 3px 6px;" data-value="{{PeriodTax}}"></td>
    </tr>
    {{/ifNotEquals}}
    <tr>
      <td colspan="2"></td>
      <td colspan="6" class="" style="text-align:right;font-weight:700;padding-top:12px;padding-right:0px;"><span style="background-color:#e3f2fd;padding:11px 5px 3px 41px;border-top:1px solid #000000;">{{RecTypeDisplay}} Total</span></td>
      <td class="display-footer-total" data-value="{{PeriodExtendedWithTax}}"></td>
    </tr>
    {{/ifEquals}}
    {{/each}}
  </table>
</div>

<!-- Sales Items -->
<div class="rpt-flexrow">
  <table style="table-layout:fixed;">
    {{#each SalesItems}}
    {{#ifEquals RowType "RecTypeDisplayheader"}}
    <tbody data-rowtype="{{RowType}}">
      <tr><td>&nbsp;</td></tr><!-- spacer row -->
      <tr>
        <td colspan="7" class="section-header">{{RecTypeDisplay}}&nbsp;</td>
      </tr>
      <tr class="rectype-header">
        <td style="min-width:115px;">I-Code</td>
        <td style="min-width:379px;">Description</td>
        <td style="min-width:90px;" class="number alignRight">Quantity</td>
        <td style="min-width:75px;" class="number alignRight">&nbsp;</td>
        <td style="min-width:100px;" class="number alignRight">Price</td>
        <td style="min-width:140px;" class="number alignRight">Discount %</td>
        <td style="min-width:140px;" class="number alignRight">Period Extended</td>
      </tr>
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "detail"}}
    <tbody data-rowtype="{{RowType}}">
      <tr data-isbold="{{Bold}}">
        <!-- I-Code -->
        {{#ifEquals ItemClass "ST"}}
        <td data-itemclass="{{ItemClass}}" class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{ICode}}</td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{ICode}}</td><!-- Kit Accessory -->
        {{else}}
        <td data-itemclass="{{ItemClass}}">{{ICode}}</td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td data-itemclass="{{ItemClass}}" class="textRow"></td>
        {{else}}
        <td data-itemclass="{{ItemClass}}" class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Description -->
        {{#ifEquals ItemClass "ST"}}
        <td data-itemclass="{{ItemClass}}" class="subTotalRow">{{Description}}</td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{Description}}</td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{Description}}</td><!-- Kit Accessory -->
        {{else}}
        <td data-itemclass="{{ItemClass}}">{{Description}}</td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td data-itemclass="{{ItemClass}}" class="textRow">{{Description}}</td>
        {{else}}
        <td data-itemclass="{{ItemClass}}" class="headerRow">{{Description}}</td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Quantity Ordered -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{QuantityOrdered}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- spacer column -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight"></td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Price -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow" style="text-align:center;"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{Rate}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Discount Percent Ordered -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{DiscountPercent}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Period Extended / Sub-Totals -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow alignRight">{{PeriodExtendedSubTotal}}</td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{PeriodExtended}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}
      </tr>
      {{#if Notes}}
      <tr>
        <td>&nbsp;</td>
        {{#ifEquals ItemClass "ST"}}
        <td colspan="5" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td colspan="5" data-itemclass="{{ItemClass}}" style="padding-left:18px;text-indent:0em;"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td colspan="5" data-itemclass="{{ItemClass}}" style="padding-left:18px;text-indent:0em;"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Kit Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "NI"}}
        <td colspan="5" data-itemclass="{{ItemClass}}" style="padding-left:18px;text-indent:0em;"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Container Accessory -->
        {{else}}
        <td colspan="5" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td colspan="5" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{else}}
        <td colspan="5" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}
        <td>&nbsp;</td>
      </tr>
      {{/if}}
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "RecTypeDisplayfooter"}}
    {{#ifNotEquals PeriodTax 0}}
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="" style="text-align:right;font-weight:700;padding-top:12px;padding-right:0px;"><span style="padding:11px 5px 3px 6px;border-top:1px solid #000000;">{{RecTypeDisplay}} Sub-Total</span></td>
      <td class="" style="text-align:right;font-weight:700;border-top: 1px solid black;padding-top:10px;" data-value="{{PeriodExtended}}"></td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="tax" style="text-align:right;font-weight:700;padding:10px 5px 3px 6px;">Tax ({{TaxRate1}}%)</td>
      <td class="tax" style="text-align:right;font-weight:700;padding:10px 5px 3px 6px;" data-value="{{PeriodTax}}"></td>
    </tr>
    {{/ifNotEquals}}
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="" style="text-align:right;font-weight:700;padding-top:12px;padding-right:0px;"><span style="background-color:#e3f2fd;padding:11px 5px 3px 41px;border-top:1px solid #000000;">{{RecTypeDisplay}} Total</span></td>
      <td class="display-footer-total" data-value="{{PeriodExtendedWithTax}}"></td>
    </tr>
    {{/ifEquals}}
    {{/each}}
  </table>
</div>
<!-- Labor Items -->
<div class="rpt-flexrow">
  <table style="table-layout:fixed;">
    {{#each LaborItems}}
    {{#ifEquals RowType "RecTypeDisplayheader"}}
    <tbody data-rowtype="{{RowType}}">
      <tr><td>&nbsp;</td></tr><!-- spacer row -->
      <tr>
        <td colspan="7" class="section-header">{{RecTypeDisplay}}&nbsp;</td>
      </tr>
      <tr class="rectype-header">
        <td style="min-width:115px;">I-Code</td>
        <td style="min-width:379px;">Description</td>
        <td style="min-width:90px;" class="number alignRight">Quantity</td>
        {{#ifCond ../RateType '===' "DAILY"}}
        <td style="min-width:75px;" class="number alignRight">Days</td>
        {{/ifCond}}
        {{#ifCond ../RateType '===' "WEEKLY"}}
        <td style="min-width:75px;" class="number alignRight">Weeks</td>
        {{/ifCond}}
        <td style="min-width:100px;" class="number alignRight">Price</td>
        <td style="min-width:140px;" class="number alignRight">Discount %</td>
        <td style="min-width:140px;" class="number alignRight">Period Extended</td>
      </tr>
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "detail"}}
    <tbody data-rowtype="{{RowType}}">
      <tr data-isbold="{{Bold}}">
        <!-- I-Code -->
        {{#ifEquals ItemClass "ST"}}
        <td data-itemclass="{{ItemClass}}" class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{ICode}}</td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{ICode}}</td><!-- Kit Accessory -->
        {{else}}
        <td data-itemclass="{{ItemClass}}">{{ICode}}</td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td data-itemclass="{{ItemClass}}" class="textRow"></td>
        {{else}}
        <td data-itemclass="{{ItemClass}}" class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Description -->
        {{#ifEquals ItemClass "ST"}}
        <td data-itemclass="{{ItemClass}}" class="subTotalRow">{{Description}}</td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{Description}}</td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{Description}}</td><!-- Kit Accessory -->
        {{else}}
        <td data-itemclass="{{ItemClass}}">{{Description}}</td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td data-itemclass="{{ItemClass}}" class="textRow">{{Description}}</td>
        {{else}}
        <td data-itemclass="{{ItemClass}}" class="headerRow">{{Description}}</td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Quantity Ordered -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{QuantityOrdered}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Billable Periods -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{BillablePeriods}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Price -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow" style="text-align:center;"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{Rate}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Discount Percent Ordered -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{DiscountPercent}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Period Extended / Sub-Totals -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow alignRight">{{PeriodExtendedSubTotal}}</td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{PeriodExtended}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}
      </tr>
      {{#if Notes}}
      <tr>
        <td>&nbsp;</td>
        {{#ifEquals ItemClass "ST"}}
        <td colspan="5" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td colspan="5" data-itemclass="{{ItemClass}}" style="padding-left:18px;text-indent:0em;"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td colspan="5" data-itemclass="{{ItemClass}}" style="padding-left:18px;text-indent:0em;"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Kit Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "NI"}}
        <td colspan="5" data-itemclass="{{ItemClass}}" style="padding-left:18px;text-indent:0em;"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Container Accessory -->
        {{else}}
        <td colspan="5" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td colspan="5" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{else}}
        <td colspan="5" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}
        <td>&nbsp;</td>
      </tr>
      {{/if}}
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "RecTypeDisplayfooter"}}
    {{#ifNotEquals PeriodTax 0}}
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="" style="text-align:right;font-weight:700;padding-top:12px;padding-right:0px;"><span style="padding:11px 5px 3px 6px;border-top:1px solid #000000;">{{RecTypeDisplay}} Sub-Total</span></td>
      <td class="" style="text-align:right;font-weight:700;border-top: 1px solid black;padding-top:10px;" data-value="{{PeriodExtended}}"></td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="tax" style="text-align:right;font-weight:700;padding:10px 5px 3px 6px;">Tax ({{TaxRate1}}%)</td>
      <td class="tax" style="text-align:right;font-weight:700;padding:10px 5px 3px 6px;" data-value="{{PeriodTax}}"></td>
    </tr>
    {{/ifNotEquals}}
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="" style="text-align:right;font-weight:700;padding-top:12px;padding-right:0px;"><span style="background-color:#e3f2fd;padding:11px 5px 3px 41px;border-top:1px solid #000000;">{{RecTypeDisplay}} Total</span></td>
      <td class="display-footer-total" data-value="{{PeriodExtendedWithTax}}"></td>
    </tr>
    {{/ifEquals}}
    {{/each}}
  </table>
</div>
<!-- Misc Items -->
<div class="rpt-flexrow">
  <table style="table-layout:fixed;">
    {{#each MiscItems}}
    {{#ifEquals RowType "RecTypeDisplayheader"}}
    <tbody data-rowtype="{{RowType}}">
      <tr><td>&nbsp;</td></tr><!-- spacer row -->
      <tr>
        <td colspan="7" class="section-header">{{RecTypeDisplay}}&nbsp;</td>
      </tr>
      <tr class="rectype-header">
        <td style="min-width:115px;">I-Code</td>
        <td style="min-width:379px;">Description</td>
        <td style="min-width:90px;" class="number alignRight">Quantity</td>
        {{#ifCond ../RateType '===' "DAILY"}}
        <td style="min-width:75px;" class="number alignRight">Days</td>
        {{/ifCond}}
        {{#ifCond ../RateType '===' "WEEKLY"}}
        <td style="min-width:75px;" class="number alignRight">Weeks</td>
        {{/ifCond}}
        <td style="min-width:100px;" class="number alignRight">Price</td>
        <td style="min-width:140px;" class="number alignRight">Discount %</td>
        <td style="min-width:140px;" class="number alignRight">Period Extended</td>
      </tr>
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "detail"}}
    <tbody data-rowtype="{{RowType}}">
      <tr data-isbold="{{Bold}}">
        <!-- I-Code -->
        {{#ifEquals ItemClass "ST"}}
        <td data-itemclass="{{ItemClass}}" class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{ICode}}</td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{ICode}}</td><!-- Kit Accessory -->
        {{else}}
        <td data-itemclass="{{ItemClass}}">{{ICode}}</td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td data-itemclass="{{ItemClass}}" class="textRow"></td>
        {{else}}
        <td data-itemclass="{{ItemClass}}" class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Description -->
        {{#ifEquals ItemClass "ST"}}
        <td data-itemclass="{{ItemClass}}" class="subTotalRow">{{Description}}</td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{Description}}</td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{Description}}</td><!-- Kit Accessory -->
        {{else}}
        <td data-itemclass="{{ItemClass}}">{{Description}}</td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td data-itemclass="{{ItemClass}}" class="textRow">{{Description}}</td>
        {{else}}
        <td data-itemclass="{{ItemClass}}" class="headerRow">{{Description}}</td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Quantity Ordered -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{QuantityOrdered}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Billable Periods -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{BillablePeriods}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Price -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow" style="text-align:center;"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{Rate}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Discount Percent Ordered -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{DiscountPercent}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Period Extended / Sub-Totals -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow alignRight">{{PeriodExtendedSubTotal}}</td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{PeriodExtended}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}
      </tr>
      {{#if Notes}}
      <tr>
        <td>&nbsp;</td>
        {{#ifEquals ItemClass "ST"}}
        <td colspan="5" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td colspan="5" data-itemclass="{{ItemClass}}" style="padding-left:18px;text-indent:0em;"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td colspan="5" data-itemclass="{{ItemClass}}" style="padding-left:18px;text-indent:0em;"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Kit Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "NI"}}
        <td colspan="5" data-itemclass="{{ItemClass}}" style="padding-left:18px;text-indent:0em;"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Container Accessory -->
        {{else}}
        <td colspan="5" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td colspan="5" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{else}}
        <td colspan="5" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}
        <td>&nbsp;</td>
      </tr>
      {{/if}}
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "RecTypeDisplayfooter"}}
    {{#ifNotEquals PeriodTax 0}}
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="" style="text-align:right;font-weight:700;padding-top:12px;padding-right:0px;"><span style="padding:11px 5px 3px 6px;border-top:1px solid #000000;">{{RecTypeDisplay}} Sub-Total</span></td>
      <td class="" style="text-align:right;font-weight:700;border-top: 1px solid black;padding-top:10px;" data-value="{{PeriodExtended}}"></td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="tax" style="text-align:right;font-weight:700;padding:10px 5px 3px 6px;">Tax ({{TaxRate1}}%)</td>
      <td class="tax" style="text-align:right;font-weight:700;padding:10px 5px 3px 6px;" data-value="{{PeriodTax}}"></td>
    </tr>
    {{/ifNotEquals}}
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="" style="text-align:right;font-weight:700;padding-top:12px;padding-right:0px;"><span style="background-color:#e3f2fd;padding:11px 5px 3px 41px;border-top:1px solid #000000;">{{RecTypeDisplay}} Total</span></td>
      <td class="display-footer-total" data-value="{{PeriodExtendedWithTax}}"></td>
    </tr>
    {{/ifEquals}}
    {{/each}}
  </table>
</div>
<!-- Facilities Items -->
<div class="rpt-flexrow">
  <table style="table-layout:fixed;">
    {{#each FacilityItems}}
    {{#ifEquals RowType "RecTypeDisplayheader"}}
    <tbody data-rowtype="{{RowType}}">
      <tr><td>&nbsp;</td></tr><!-- spacer row -->
      <tr>
        <td colspan="7" class="section-header">{{RecTypeDisplay}}&nbsp;</td>
      </tr>
      <tr class="rectype-header">
        <td style="min-width:115px;">I-Code</td>
        <td style="min-width:379px;">Description</td>
        <td style="min-width:90px;" class="number alignRight">Quantity</td>
        {{#ifCond ../RateType '===' "DAILY"}}
        <td style="min-width:75px;" class="number alignRight">Days</td>
        {{/ifCond}}
        {{#ifCond ../RateType '===' "WEEKLY"}}
        <td style="min-width:75px;" class="number alignRight">Weeks</td>
        {{/ifCond}}
        <td style="min-width:100px;" class="number alignRight">Price</td>
        <td style="min-width:140px;" class="number alignRight">Discount %</td>
        <td style="min-width:140px;" class="number alignRight">Period Extended</td>
      </tr>
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "detail"}}
    <tbody data-rowtype="{{RowType}}">
      <tr data-isbold="{{Bold}}">
        <!-- I-Code -->
        {{#ifEquals ItemClass "ST"}}
        <td data-itemclass="{{ItemClass}}" class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{ICode}}</td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{ICode}}</td><!-- Kit Accessory -->
        {{else}}
        <td data-itemclass="{{ItemClass}}">{{ICode}}</td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td data-itemclass="{{ItemClass}}" class="textRow"></td>
        {{else}}
        <td data-itemclass="{{ItemClass}}" class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Description -->
        {{#ifEquals ItemClass "ST"}}
        <td data-itemclass="{{ItemClass}}" class="subTotalRow">{{Description}}</td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{Description}}</td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{Description}}</td><!-- Kit Accessory -->
        {{else}}
        <td data-itemclass="{{ItemClass}}">{{Description}}</td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td data-itemclass="{{ItemClass}}" class="textRow">{{Description}}</td>
        {{else}}
        <td data-itemclass="{{ItemClass}}" class="headerRow">{{Description}}</td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Quantity Ordered -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{QuantityOrdered}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Billable Periods -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{BillablePeriods}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Price -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow" style="text-align:center;"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{Rate}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Discount Percent Ordered -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{DiscountPercent}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Period Extended / Sub-Totals -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow alignRight">{{PeriodExtendedSubTotal}}</td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{PeriodExtended}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}
      </tr>
      {{#if Notes}}
      <tr>
        <td>&nbsp;</td>
        {{#ifEquals ItemClass "ST"}}
        <td colspan="5" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td colspan="5" data-itemclass="{{ItemClass}}" style="padding-left:18px;text-indent:0em;"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td colspan="5" data-itemclass="{{ItemClass}}" style="padding-left:18px;text-indent:0em;"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Kit Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "NI"}}
        <td colspan="5" data-itemclass="{{ItemClass}}" style="padding-left:18px;text-indent:0em;"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Container Accessory -->
        {{else}}
        <td colspan="5" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td colspan="5" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{else}}
        <td colspan="5" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}
        <td>&nbsp;</td>
      </tr>
      {{/if}}
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "RecTypeDisplayfooter"}}
    {{#ifNotEquals PeriodTax 0}}
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="" style="text-align:right;font-weight:700;padding-top:12px;padding-right:0px;"><span style="padding:11px 5px 3px 6px;border-top:1px solid #000000;">{{RecTypeDisplay}} Sub-Total</span></td>
      <td class="" style="text-align:right;font-weight:700;border-top: 1px solid black;padding-top:10px;" data-value="{{PeriodExtended}}"></td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="tax" style="text-align:right;font-weight:700;padding:10px 5px 3px 6px;">Tax ({{TaxRate1}}%)</td>
      <td class="tax" style="text-align:right;font-weight:700;padding:10px 5px 3px 6px;" data-value="{{PeriodTax}}"></td>
    </tr>
    {{/ifNotEquals}}
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="" style="text-align:right;font-weight:700;padding-top:12px;padding-right:0px;"><span style="background-color:#e3f2fd;padding:11px 5px 3px 41px;border-top:1px solid #000000;">{{RecTypeDisplay}} Total</span></td>
      <td class="display-footer-total" data-value="{{PeriodExtendedWithTax}}"></td>
    </tr>
    {{/ifEquals}}
    {{/each}}
  </table>
</div>
<!-- Grand Total row -->
<div class="rpt-flexrow" style="margin-top:25px;">
  {{#each Items}}
  {{#ifEquals RowType "grandtotal"}}
  <table class="grandTotalRow">
    {{#ifNotEquals PeriodTax 0}}
    <tr>
      <td style="min-width:638px;"></td>
      <td style="min-width:300px;text-align:right;padding-right:10px;font-weight:bold;">SUB TOTAL</td>
      <td class="number grandTotalAllActivities" style="min-width:150px;padding-right:3px;" data-value="{{PeriodExtended}}"></td>
    </tr>
    <tr>
      <td style="min-width:638px;"></td>
      <td class="tax" style="min-width:300px;text-align:right;padding-right:10px;padding-top:10px;font-weight:700;">TAX</td>
      <td class="number tax" style="min-width:150px;padding-right:3px;padding-top:10px;font-weight:700;" data-value="{{PeriodTax}}"></td>
    </tr>
    {{/ifNotEquals}}
    <tr>
      <td style="min-width:638px;"></td>
      <td style="min-width:300px;text-align:right;padding-right:10px;font-weight:bold;">GRAND TOTAL</td>
      <td class="number grandTotalAllActivities" style="min-width:150px;padding-right:3px;" data-value="{{PeriodExtendedWithTax}}"></td>
    </tr>
  </table>
  {{/ifEquals}}
  {{/each}}
</div>
{{#if Notes}}
<div id="notesRow" colspan="7">
  <div style="font-weight:700;margin:20px 0 0 0;">Notes:</div>
  <div><span id="notes"></span></div>
</div>
{{/if}}
{{#if TermsAndConditions}}
<div id="termsRow" colspan="7">
  <div style="font-weight:700;margin:20px 0 0 0;">Terms and Conditions:</div>
  <div><span id="terms"></span></div>
</div>
{{/if}}