<!--RentalInventoryChangeReport-->
<div class="rpt-flexrow-ROA">
  <span class="rpt-title">{{Report}}</span>
</div>
<div class="rpt-flexrow-ROA" style="margin-top:40px;">
  <table>
    <thead>
      <tr>
        <th>Warehouse</th>
        <th>Inventory Type</th>
        <th>Category</th>
        <th>Sub Category</th>
        <th>ICode Rank</th>
        <th>ICode</th>
        <th>Description</th>
        <th>Trans Date</th>
        <th>Trans Type</th>
        <th>Change Description</th>
        <th class="number">Addition Qty</th>
        <th class="number">Unit Price Addition</th>
        <th class="number">Ext Addition Price</th>
        <th class="number">Subtraction Qty</th>
        <th class="number">Unit Price Subtraction</th>
        <th class="number">Ext Subtraction Price</th>
        <th class="number">Running Total Qty</th>
        <th class="number">Running Total Value</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr data-rowtype={{RowType}}>
        {{#ifEquals RowType "Warehouseheader"}}
        <td colspan="5" class="header-row">Warehouse: {{Warehouse}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Descriptionheader"}}
        <td colspan="5" class="header-row lower">Description: {{Description}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "detail"}}
        <td data-value="{{Warehouse}}"></td>
        <td data-value="{{InventoryType}}"></td>
        <td data-value="{{Category}}"></td>
        <td data-value="{{SubCategory}}"></td>
        <td data-value="{{ICodeRank}}"></td>
        <td data-value="{{ICode}}"></td>
        <td data-value="{{Description}}"></td>
        <td data-value="{{TransactionDate}}"></td>
        <td data-value="{{TransactionType}}"></td>
        <td data-value="{{ChangeDescription}}"></td>
        <td class="number" data-value="{{AdditionQuantity}}"></td>
        <td class="number" data-value="{{UnitPriceAddition}}"></td>
        <td class="number" data-value="{{ExtendedAdditionPrice}}"></td>
        <td class="number" data-value="{{SubtractionQuantity}}"></td>
        <td class="number" data-value="{{UnitPriceSubtraction}}"></td>
        <td class="number" data-value="{{ExtendedSubtractionPrice}}"></td>
        <td class="number" data-value="{{RunningTotalQuantity}}"></td>
        <td class="number" data-value="{{RunningTotalValue}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "Warehousefooter"}}
        <td colspan="10" style="font-weight:bold;text-align:right;padding-top:11px">{{Warehouse}}&nbsp;</td>
        <td class="total-val" data-value="{{AdditionQuantity}}"></td>
        <td colspan="2" class="total-val" data-value="{{ExtendedAdditionPrice}}"></td>
        <td class="total-val" data-value="{{SubtractionQuantity}}"></td>
        <td colspan="2" class="total-val" data-value="{{ExtendedSubtractionPrice}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "Descriptionfooter"}}
        <td colspan="10" style="font-weight:bold;text-align:right;padding-top:11px">{{Description}}&nbsp;</td>
        <td class="total-val" data-value="{{AdditionQuantity}}"></td>
        <td colspan="2" class="total-val" data-value="{{ExtendedAdditionPrice}}"></td>
        <td class="total-val" data-value="{{SubtractionQuantity}}"></td>
        <td colspan="2" class="total-val" data-value="{{ExtendedSubtractionPrice}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "grandtotal"}}
        <td colspan="10" style="font-weight:bold;text-align:right;padding-top:11px">Grand Total:&nbsp;</td>
        <td class="total-val" data-value="{{AdditionQuantity}}"></td>
        <td colspan="2" class="total-val" data-value="{{ExtendedAdditionPrice}}"></td>
        <td class="total-val" data-value="{{SubtractionQuantity}}"></td>
        <td colspan="2" class="total-val" data-value="{{ExtendedSubtractionPrice}}"></td>
        {{/ifEquals}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
