<!--ReturnReceiptReport-->
<div data-section="header">
  <div class="rpt-flexrow">
    <div class="rpt-flexcolumn">
      <div class="rpt-nested-flexrow rpt-header-left"><span>{{System}}</span></div>
    </div>
    <div class="rpt-flexcolumn">
      <div class="rpt-nested-flexrow rpt-title"><span>{{Report}}</span></div>
      <div class="rpt-nested-flexrow rpt-header-center"><span>Checked-In From: {{FromDate}} To: {{ToDate}}</span></div>
    </div>
    <div class="rpt-flexcolumn">
      <div class="rpt-nested-flexrow rpt-header-right"><span>{{Company}}</span></div>
    </div>
  </div>
</div>
<div data-section="table" class="rpt-flexrow" style="margin-top:40px;">
  <table>
    <thead id="columnHeader" class="main-header">
      <tr data-row="main-header">
        <th data-linkedcolumn="ICode" data-valuefield="ICode">I-Code</th>
        <th data-linkedcolumn="Description" data-valuefield="Description">Description</th>
        <th data-linkedcolumn="EmptyTd-1" data-valuefield=""></th>
        <th data-linkedcolumn="Vendor" data-valuefield="Vendor">Vendor</th>
        <th data-linkedcolumn="EmptyTd-2" data-valuefield=""></th>
        <th data-linkedcolumn="InQuantity" data-valuefield="InQuantity" class="number">Quantity</th>
        <th data-linkedcolumn="Deal" data-valuefield="Deal">Deal</th>
        <th data-linkedcolumn="InContractNumber" data-valuefield="InContractNumber">Contract No.</th>
        <th data-linkedcolumn="InContractDate" data-valuefield="InContractDate">Checked In</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      {{#ifEquals RowType "OfficeLocationheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td class="header-row" colspan="9">Office: {{OfficeLocation}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Departmentheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td class="lower header-row" colspan="9">Department: {{Department}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Dealheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td class="lower header-row" colspan="9">Deal: {{Deal}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "detail"}}
      {{#ifEquals RecordType "RETURN_RECEIPT"}}
      <tr data-row="detail" data-rowtype="{{RowType}}">
        <td data-linkedcolumn="ICode" data-value="{{ICode}}"></td>
        <td data-linkedcolumn="Description" data-value="{{Description}}"></td>
        <td data-linkedcolumn="EmptyTd-1"></td>
        <td data-linkedcolumn="Vendor" data-value="{{Vendor}}"></td>
        <td data-linkedcolumn="EmptyTd-2"></td>
        <td data-linkedcolumn="InQuantity" class="number" data-value="{{InQuantity}}"></td>
        <td data-linkedcolumn="Deal" data-value="{{Deal}}"></td>
        <td data-linkedcolumn="InContractNumber" data-value="{{InContractNumber}}"></td>
        <td data-linkedcolumn="InContractDate" data-value="{{InContractDate}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifInList RecordType "ASSIGNED,RETURNED_TO_INVENTORY"}}
      {{#ifNotEquals RenderHeader false}}
      <tr data-row="sub-header" data-sort="true" data-rowtype="{{RowType}}">
        <th data-linkedcolumn="EmptyTd-3" data-valuefield="" style="text-align:right;">Assigned:&nbsp;</th>
        <th data-linkedcolumn="ReconciledOrderNumber" data-valuefield="ReconciledOrderNumber" class="subHeaders">Order No.</th>
        <th data-linkedcolumn="ReconciledOrderDate" data-valuefield="ReconciledOrderDate" class="subHeaders">Date</th>
        <th data-linkedcolumn="ReconciledContractNumber" data-valuefield="ReconciledContractNumber" class="subHeaders">Contract No.</th>
        <th data-linkedcolumn="ReconciledContractDate" data-valuefield="ReconciledContractDate" class="subHeaders">Date</th>
        <th data-linkedcolumn="ReconciledAppliedQuantity" data-valuefield="ReconciledAppliedQuantity" class="subHeaders number">Applied</th>
        <th data-linkedcolumn="EmptyTd-4" data-valuefield=""></th>
        <th data-linkedcolumn="EmptyTd-5" data-valuefield=""></th>
        <th data-linkedcolumn="EmptyTd-6" data-valuefield=""></th>
      </tr>
      {{/ifNotEquals}}
      <tr data-row="sub-detail" class="subValues">
        <td data-linkedcolumn="EmptyTd-3"></td>
        <td data-linkedcolumn="ReconciledOrderNumber" data-value="{{ReconciledOrderNumber}}"></td>
        <td data-linkedcolumn="ReconciledOrderDate" data-value="{{ReconciledOrderDate}}"></td>
        <td data-linkedcolumn="ReconciledContractNumber" data-value="{{ReconciledContractNumber}}"></td>
        <td data-linkedcolumn="ReconciledContractDate" data-value="{{ReconciledContractDate}}"></td>
        <td data-linkedcolumn="ReconciledAppliedQuantity" data-value="{{ReconciledAppliedQuantity}}" class="number"></td>
        <td data-linkedcolumn="EmptyTd-4"></td>
        <td data-linkedcolumn="EmptyTd-5"></td>
        <td data-linkedcolumn="EmptyTd-6"></td>
      </tr>
      {{/ifInList}}
      {{/ifEquals}}
      {{#ifEquals RowType "ReportRowIdfooter"}}
      {{#gt AssignedQuantity 0}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="7" class="total-name">Total for {{ICode}}</td>
        <td class="total-val" data-value="{{ReconciledAppliedQuantity}}"></td>
        <td style="text-align:left;border-top:none;" class="total-val">Unassigned: {{UnassignedQuantity}}</td>
      </tr>
      {{/gt}}
      {{/ifEquals}}
      {{/each}}
    </tbody>
  </table>
</div>