<!--Invoice Report-->
<div class="rpt-flexrow" style="margin:5px 0px 0px 4px;">
  <div class="rpt-flexcolumn" style="flex:0 0 30%;padding-bottom:5px;">
    {{#if Logosrc}}
    <div style="height:100px;">
      <img class="clientlogo" src="{{Logosrc}}" style="display:block;width:auto;height:100%;" alt="logo" />
    </div>
    {{else}}
    <div></div>
    {{/if}}
    <span style="font-weight:600; font-size:15px;">{{OfficeLocationCompany}}</span>
    <span class="company-header">{{OfficeLocationAddress1}}</span>
    {{#if OfficeLocationAddress2}}
    <span class="company-header">{{OfficeLocationAddress2}}</span>
    {{/if}}
    <span class="company-header">{{OfficeLocationCityStateZipCodeCountry}}</span>
    <span class="company-header"><span style="font-weight:600;">Phone: </span>{{OfficeLocationPhone}}</span>
    {{#if OfficeLocationFax}}
    <span class="company-header"><span style="font-weight:600;">Fax: </span>{{OfficeLocationFax}}</span>
    {{/if}}
  </div>
  <div class="rpt-flexcolumn" style="flex:0 0 40%;">
    <span class="sub-title" style="font-size:20px;">{{Department}}</span>
    {{#if IsNoCharge}}
    <span class="title">NO CHARGE {{Report}}</span>
    {{else}}
    <span class="title">{{Report}}</span>
    {{/if}}
  </div>
  <div class="rpt-flexcolumn" style="flex:0 0 30%;">
    <table>
      <tr>
        <td style="width:50%;font-size:18px;font-weight:700;text-align:right;vertical-align:middle;">No:</td>
        <td class="rptNumberSection" style="width:50%;">{{InvoiceNumber}}</td>
      </tr>
      <tr>
        <td style="width:50%;color:black;font-size:18px;font-weight:700;text-align:right;">Invoice Date:</td>
        <td style="font-size:18px;text-align:center;">{{InvoiceDate}}</td>
      </tr>
      <tr>
        <td style="width:50%;color:black;font-size:18px;font-weight:700;text-align:right;">Due Date:</td>
        <td style="font-size:18px;text-align:center;">{{InvoiceDueDate}}</td>
      </tr>
    </table>


  </div>
</div>
<div class="rpt-flexrow" style="padding-left:3px;">
  <div class="rpt-flexcolumn sectionBorder" style="flex:0 0 422px;margin-right:10px;">
    <table>
      <tr>
        <td style="width:80px;" class="shaded-block">Order: </td>
        <td class="meta-content" style="vertical-align:top;">{{OrderNumberAndDescription}}</td>
      </tr>
      <tr>
        <td style="width:80px;" class="shaded-block">Customer: </td>
        <td class="meta-content" style="vertical-align:top;">{{Customer}}</td>
      </tr>
      <tr>
        <td style="width:80px;" class="shaded-block">Deal: </td>
        <td class="meta-content" style="vertical-align:top;">{{DealAndDealNumber}}</td>
      </tr>
      <tr>
        <td style="width:80px;" class="shaded-block">PO No: </td>
        <td class="meta-content">{{PoNumber}}</td>
      </tr>
      {{#if Location}}
      <tr>
        <td class="shaded-block" style="width:90px;">Location: </td>
        <td class="meta-content">{{Location}}</td>
      </tr>
      {{/if}}
    </table>
  </div>
  <!-- Agent -->
  <div class="rpt-flexcolumn sectionBorder" style="flex:0 0 321px;margin:0px 10px;">
    <table>
      <tr>
        <td style="width:55px;" class="shaded-block">Agent: </td>
        <td class="meta-content">{{Agent}}</td>
      </tr>
      <tr>
        <td style="width:55px;" class="shaded-block">Email: </td>
        <td class="meta-content">{{AgentEmail}}</td>
      </tr>
      <tr>
        <td style="width:55px;" class="shaded-block">Phone: </td>
        <td class="meta-content">{{AgentPhoneAndExtension}}</td>
      </tr>
    </table>
  </div>
  <!-- Billing Dates, Usage Dates, Terms, Reference Number-->
  <div class="rpt-flexcolumn sectionBorder" style="flex:0 0 321px;margin-left:10px;">
    <table>
      {{#ifCond UsageDates '!=' " -"}}
      <tr>
        <td style="width:105px;" class="shaded-block">Billing Period: </td>
        <td class="meta-content">{{BillingDates}}</td>
      </tr>
      <tr>
        <td style="width:105px;" class="shaded-block">Usage Period: </td>
        <td class="meta-content">{{UsageDates}}</td>
      </tr>
      {{/ifCond}}
      {{#ifCond BillingCycle '===' "IMMEDIATE"}}
      <tr>
        <td style="width:105px;" class="shaded-block">Start Date:</td>
        <td class="">{{BillingStartDate}}</td>
      </tr>
      {{/ifCond}}
      <tr>
        <td style="width:105px;" class="shaded-block">Terms: </td>
        <td class="meta-content">{{PaymentTerms}}</td>
      </tr>
      {{#if ReferenceNumber}}
      <tr>
        <td style="width:105px;" class="shaded-block">Reference No: </td>
        <td class="meta-content">{{ReferenceNumber}}</td>
      </tr>
      {{/if}}
    </table>
  </div>
</div>
<div class="rpt-flexrow" style="margin-top:25px;">
  <!-- Billed To -->
  <div class="rpt-flexcolumn" style="flex:0 0 422px;margin-right:10px;">
    <table>
      <tr>
        <th class="sub text" style="text-align:left;padding:5px;">Billed To</th>
      </tr>
      <tr>
        <td class="" style="font-weight:700;">{{BillToName}}</td>
      </tr>
      {{#if BillToAttention}}
      <tr>
        <td class="">{{BillToAttention}}</td>
      </tr>
      {{/if}}
      <tr>
        <td class="">{{BillToAddress1}}</td>
      </tr>
      {{#if BillToAddress2}}
      <tr>
        <td class="">{{BillToAddress2}}</td>
      </tr>
      {{/if}}
      {{#if BillToCityStateZipCodeCountry}}
      <tr>
        <td class="">{{BillToCityStateZipCodeCountry}}</td>
      </tr>
      {{/if}}
    </table>
  </div>

  {{#if OrderedByName}}
  <div class="rpt-flexcolumn sectionBorder" style="flex:0 0 321px;margin:0px 10px;">
    <!-- Ordered By -->
    <table>
      <tr>
        <td class="shaded-block" style="width:90px;">Ordered By: </td>
        <td class="meta-content">{{OrderedByName}}</td>
      </tr>
      <tr>
        <td class="shaded-block" style="width:90px;">Email: </td>
        <td class="meta-content">{{OrderedByEmail}}</td>
      </tr>
      <tr>
        <td class="shaded-block" style="width:90px;">Phone: </td>
        <td class="meta-content">{{OrderedByPhoneAndExtension}}</td>
      </tr>
    </table>
  </div>
  {{else}}
  <div class="rpt-flexcolumn" style="flex:0 0 321px;margin:0px 10px;">
  </div>
  {{/if}}
  <div class="rpt-flexcolumn" style="flex:0 0 321px;margin-left:10px;">
    <!-- Remit To (front-end option) -->
    <table>
      <tr>
        <th class="sub text" style="text-align:left;padding:5px;">Remit To</th>
      </tr>
      {{#if RemitToCompany}}
      <tr>
        <td class="" style="font-weight:700;">{{RemitToCompany}}</td>
      </tr>
      {{/if}}
      {{#if RemitToAddress1}}
      <tr>
        <td class="">{{RemitToAddress1}}</td>
      </tr>
      {{/if}}
      {{#if RemitToAddress2}}
      <tr>
        <td class="">{{RemitToAddress2}}</td>
      </tr>
      {{/if}}
      {{#if RemitToCityStateZipCodeCountry}}
      <tr>
        <td class="">{{RemitToCityStateZipCodeCountry}}</td>
      </tr>
      {{/if}}
      {{#if RemitToFederalId}}
      <tr>
        <td class="">
          <span style="color:#000000;font-weight:700;">Federal ID: </span>{{RemitToFederalId}}
        </td>
      </tr>
      {{/if}}
    </table>
  </div>
</div>
<!-- Rental Items -->
<div class="rpt-flexrow">
  <table style="table-layout:fixed;">
    {{#each RentalItems}}
    {{#ifEquals RowType "RecTypeDisplayheader"}}
    <tbody data-rowtype="{{RowType}}">
      <tr><td>&nbsp;</td></tr><!--spacer row-->
      <tr class="avoid-page-break">
        <td colspan="7" class="section-header">{{RecTypeDisplay}}&nbsp;</td>
      </tr>
      <tr class="rectype-header">
        <td style="min-width:90px;">I-Code</td>
        <td style="min-width:504px;">Description</td>
        <td style="min-width:65px;" class="number alignRight">Qty.</td>
        {{#ifCond ../RateType '===' "DAILY"}}
        <td style="min-width:75px;" class="number alignRight">Days</td>
        {{/ifCond}}
        {{#ifCond ../RateType '===' "WEEKLY"}}
        <td style="min-width:75px;" class="number alignRight">Weeks</td>
        {{/ifCond}}
        {{#ifCond ../RateType '===' "MONTHLY"}}
        <td style="min-width:75px;" class="number alignRight">Months</td>
        {{/ifCond}}
        <td style="min-width:100px;" class="number alignRight">Price</td>
        {{#if HasDiscount}}
        <td style="min-width:65px;" class="number alignRight">Disc. %</td>
        {{else}}
        <td style="min-width:65px;" class="number alignRight">&nbsp;</td>
        {{/if}}
        <td style="min-width:140px;" class="number alignRight">Extended</td>
      </tr>
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "detail"}}
    <tbody data-rowtype="{{RowType}}">
      <tr data-isbold="{{Bold}}">
        <!-- I-Code -->
        {{#ifEquals ItemClass "ST"}}
        <td data-itemclass="{{ItemClass}}" class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}

        {{#ifInList ItemClass "C,K,N"}}
        <td data-itemclass="{{ItemClass}}" style="">{{ICode}}</td><!-- Completes, Kits, Containers -->
        {{else}}
        {{#ifInList ItemClass "CI,KI,NI,CO,KO"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:0em;padding-left:20px;">{{ICode}}</td><!-- Complete, Kit, Container Accessory Items -->
        {{else}}
        <td data-itemclass="{{ItemClass}}">{{ICode}}</td><!-- Item -->
        {{/ifInList}}
        {{/ifInList}}

        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td data-itemclass="{{ItemClass}}" class="textRow"></td>
        {{else}}
        <td data-itemclass="{{ItemClass}}" class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Description -->
        {{#ifEquals ItemClass "ST"}}
        <td data-itemclass="{{ItemClass}}" class="subTotalRow">{{Description}}</td>
        {{/ifEquals}}

        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifInList ItemClass "C,K,N"}}
        <td data-itemclass="{{ItemClass}}" style="">{{Description}}</td><!-- Completes, Kits, Containers -->
        {{else}}
        {{#ifInList ItemClass "CI,KI,NI,CO,KO"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:0em;padding-left:20px;">{{Description}}</td><!-- Complete, Kit, Container Accessory Items -->
        {{else}}
        <td data-itemclass="{{ItemClass}}">{{Description}}</td><!-- Item -->
        {{/ifInList}}
        {{/ifInList}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td data-itemclass="{{ItemClass}}" class="textRow">{{Description}}</td>
        {{else}}
        <td data-itemclass="{{ItemClass}}" class="headerRow">{{Description}}</td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Quantity Ordered -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{Quantity}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Billable Periods -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{BillablePeriods}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Price -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow" style="text-align:center;"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{Rate}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Discount Percent -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#if HasDiscount}}
        <td class="alignRight">{{DiscountPercent}}</td>
        {{else}}
        <td class="alignRight">&nbsp;</td>
        {{/if}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Period Extended / Sub-Totals -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow alignRight">{{ExtendedSubTotal}}</td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{Extended}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}
      </tr>
      {{#if Notes}} <!-- Rental Item Notes -->
      <tr>
        <td>&nbsp;</td>
        {{#ifEquals ItemClass "ST"}}
        <td colspan="5" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifInList ItemClass "C,K,N"}}
        <td colspan="5" data-itemclass="{{ItemClass}}" style="text-indent:0em;"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Complete Accessory -->
        {{else}}
        {{#ifInList ItemClass "CI,KI,NI,CO,KO"}}
        <td colspan="5" data-itemclass="{{ItemClass}}" style="padding-left:18px;text-indent:0em;"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Kit Accessory -->
        {{else}}
        <td colspan="5" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Item -->
        {{/ifInList}}
        {{/ifInList}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td colspan="5" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{else}}
        <td colspan="5" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}
        <td>&nbsp;</td>
      </tr>
      {{/if}}
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "RecTypeDisplayfooter"}}
    {{#ifNotEquals TaxNoCurrency 0}}
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="" style="text-align:right;font-weight:700;padding-top:12px;padding-right:0px;"><span style="padding:11px 5px 3px 6px;border-top:1px solid #000000;">{{RecTypeDisplay}} Sub-Total</span></td>
      <td class="" style="text-align:right;font-weight:700;border-top: 1px solid black;padding-top:10px;" data-value="{{TotalExtended}}"></td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="tax-row">{{../Tax1Name}} ({{TaxRate1}}%)</td>
      <td class="tax-row" data-value="{{Tax1}}"></td>
    </tr>
    {{#ifNotEquals ../Tax2Name ""}}
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="tax-row">{{../Tax2Name}} ({{TaxRate2}}%)</td>
      <td class="tax-row" data-value="{{Tax2}}"></td>
    </tr>
    {{/ifNotEquals}}
    {{/ifNotEquals}}
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="" style="text-align:right;font-weight:700;padding-top:12px;padding-right:0px;"><span class="shaded-activity-total" style="padding:11px 5px 3px 41px;border-top:1px solid #000000;">{{RecTypeDisplay}} Total</span></td>
      <td class="display-footer-total" data-value="{{TotalExtendedWithTax}}"></td>
    </tr>
    {{/ifEquals}}
    {{/each}}
  </table>
</div>
<!-- Rental Sale Items -->
<div class="rpt-flexrow">
  <table style="table-layout:fixed;">
    {{#each UsedSaleItems}}
    {{#ifEquals RowType "RecTypeDisplayheader"}}
    <tbody data-rowtype="{{RowType}}">
      <tr><td>&nbsp;</td></tr><!--spacer row-->
      <tr class="avoid-page-break">
        <td colspan="8" class="section-header">{{RecTypeDisplay}}&nbsp;</td>
      </tr>
      <tr class="rectype-header">
        <td style="min-width:90px;">I-Code</td>
        <td style="min-width:410px;">Description</td>
        <td style="min-width:65px;padding-right:15px;" class="number alignRight">Qty.</td>
        <td style="min-width:85px;" class="">Bar Code</td>
        <td style="min-width:105px;" class="">Serial Number</td>
        <td style="min-width:95px;" class="number alignRight">Price</td>
        {{#if HasDiscount}}
        <td style="min-width:65px;" class="number alignRight">Disc. %</td>
        {{else}}
        <td style="min-width:65px;" class="number alignRight">&nbsp;</td>
        {{/if}}
        <td style="min-width:105px;" class="number alignRight">Extended</td>
      </tr>
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "detail"}}
    <tbody data-rowtype="{{RowType}}">
      <tr data-isbold="{{Bold}}">
        <!-- I-Code -->
        {{#ifEquals ItemClass "ST"}}
        <td data-itemclass="{{ItemClass}}" class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifInList ItemClass "C,K,N"}}
        <td data-itemclass="{{ItemClass}}" style="">{{ICode}}</td><!-- Completes, Kits, Containers -->
        {{else}}
        {{#ifInList ItemClass "CI,KI,NI,CO,KO"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:0em;padding-left:20px;">{{ICode}}</td><!-- Complete, Kit, Container Accessory Items -->
        {{else}}
        <td data-itemclass="{{ItemClass}}">{{ICode}}</td><!-- Item -->
        {{/ifInList}}
        {{/ifInList}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td data-itemclass="{{ItemClass}}" class="textRow"></td>
        {{else}}
        <td data-itemclass="{{ItemClass}}" class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Description -->
        {{#ifEquals ItemClass "ST"}}
        <td data-itemclass="{{ItemClass}}" class="subTotalRow">{{Description}}</td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifInList ItemClass "C,K,N"}}
        <td data-itemclass="{{ItemClass}}" style="">{{Description}}</td><!-- Completes, Kits, Containers -->
        {{else}}
        {{#ifInList ItemClass "CI,KI,NI,CO,KO"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:0em;padding-left:20px;">{{Description}}</td><!-- Complete, Kit, Container Accessory Items -->
        {{else}}
        <td data-itemclass="{{ItemClass}}">{{Description}}</td><!-- Item -->
        {{/ifInList}}
        {{/ifInList}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td data-itemclass="{{ItemClass}}" class="textRow">{{Description}}</td>
        {{else}}
        <td data-itemclass="{{ItemClass}}" class="headerRow">{{Description}}</td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Quantity Ordered -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight" style="padding-right:15px;">{{Quantity}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Bar Code -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="" style="padding-left:6px;">{{BarCode}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Serial Number -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="" style="padding-left:6px;">{{SerialNumber}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Price -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow" style="text-align:center;"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{Rate}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Discount Percent Ordered -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#if HasDiscount}}
        <td class="alignRight">{{DiscountPercent}}</td>
        {{else}}
        <td class="alignRight">&nbsp;</td>
        {{/if}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Period Extended / Sub-Totals -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow alignRight">{{ExtendedSubTotal}}</td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{Extended}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}
      </tr>
      {{#if Notes}}<!-- Rental Sale Item Notes -->
      <tr>
        <td>&nbsp;</td>
        {{#ifEquals ItemClass "ST"}}
        <td colspan="6" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifInList ItemClass "C,K,N"}}
        <td colspan="6" data-itemclass="{{ItemClass}}" style="text-indent:0em;"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Complete Accessory -->
        {{else}}
        {{#ifInList ItemClass "CI,KI,NI,CO,KO"}}
        <td colspan="6" data-itemclass="{{ItemClass}}" style="padding-left:18px;text-indent:0em;"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Kit Accessory -->
        {{else}}
        <td colspan="6" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Item -->
        {{/ifInList}}
        {{/ifInList}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td colspan="6" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{else}}
        <td colspan="6" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}
        <td>&nbsp;</td>
      </tr>
      {{/if}}
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "RecTypeDisplayfooter"}}
    {{#ifNotEquals TaxNoCurrency 0}}
    <tr>
      <td colspan="2"></td>
      <td colspan="5" class="" style="text-align:right;font-weight:700;padding-top:12px;padding-right:0px;"><span style="padding:11px 5px 3px 6px;border-top:1px solid #000000;">{{RecTypeDisplay}} Sub-Total</span></td>
      <td class="" style="text-align:right;font-weight:700;border-top: 1px solid black;padding-top:10px;" data-value="{{TotalExtended}}"></td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td colspan="5" class="tax-row">{{../Tax1Name}} ({{TaxRate1}}%)</td>
      <td class="tax-row" data-value="{{Tax1}}"></td>
    </tr>
    {{#ifNotEquals ../Tax2Name ""}}
    <tr>
      <td colspan="2"></td>
      <td colspan="5" class="tax-row">{{../Tax2Name}} ({{TaxRate2}}%)</td>
      <td class="tax-row" data-value="{{Tax2}}"></td>
    </tr>
    {{/ifNotEquals}}
    {{/ifNotEquals}}
    <tr>
      <td colspan="2"></td>
      <td colspan="5" class="" style="text-align:right;font-weight:700;padding-top:12px;padding-right:0px;"><span class="shaded-activity-total" style="padding:11px 5px 3px 41px;border-top:1px solid #000000;">{{RecTypeDisplay}} Total</span></td>
      <td class="display-footer-total" data-value="{{TotalExtendedWithTax}}"></td>
    </tr>
    {{/ifEquals}}
    {{/each}}
  </table>
</div>
<!-- Loss & Damage Items -->
<div class="rpt-flexrow">
  <table style="table-layout:fixed;">
    {{#each LossAndDamageItems}}
    {{#ifEquals RowType "RecTypeDisplayheader"}}
    <tbody data-rowtype="{{RowType}}">
      <tr><td>&nbsp;</td></tr><!--spacer row-->
      <tr class="avoid-page-break">
        <td colspan="9" class="section-header">{{RecTypeDisplay}}&nbsp;</td>
      </tr>
      <tr class="rectype-header">
        <td style="min-width:85px;">Order</td>
        <td style="min-width:85px;">I-Code</td>
        <td style="min-width:320px;">Description</td>
        <td style="min-width:65px;padding-right:15px;" class="number alignRight">Qty.</td>
        <td style="min-width:85px;" class="">Bar Code</td>
        <td style="min-width:105px;" class="">Serial Number</td>
        <td style="min-width:95px;" class="number alignRight">Price</td>
        {{#if HasDiscount}}
        <td style="min-width:65px;" class="number alignRight">Disc. %</td>
        {{else}}
        <td style="min-width:65px;" class="number alignRight">&nbsp;</td>
        {{/if}}
        <td style="min-width:105px;" class="number alignRight">Extended</td>
      </tr>
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "detail"}}
    <tbody data-rowtype="{{RowType}}">
      <tr data-isbold="{{Bold}}">
        <!-- Original Order Number -->
        {{#ifEquals ItemClass "ST"}}
        <td data-itemclass="{{ItemClass}}" class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{OriginalRentalOrderNumber}}</td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{OriginalRentalOrderNumber}}</td><!-- Kit Accessory -->
        {{else}}
        <td data-itemclass="{{ItemClass}}">{{OriginalRentalOrderNumber}}</td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td data-itemclass="{{ItemClass}}" class="textRow"></td>
        {{else}}
        <td data-itemclass="{{ItemClass}}" class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- I-Code -->
        {{#ifEquals ItemClass "ST"}}
        <td data-itemclass="{{ItemClass}}" class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifInList ItemClass "C,K,N"}}
        <td data-itemclass="{{ItemClass}}" style="">{{ICode}}</td><!-- Completes, Kits, Containers -->
        {{else}}
        {{#ifInList ItemClass "CI,KI,NI,CO,KO"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:0em;padding-left:20px;">{{ICode}}</td><!-- Complete, Kit, Container Accessory Items -->
        {{else}}
        <td data-itemclass="{{ItemClass}}">{{ICode}}</td><!-- Item -->
        {{/ifInList}}
        {{/ifInList}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td data-itemclass="{{ItemClass}}" class="textRow"></td>
        {{else}}
        <td data-itemclass="{{ItemClass}}" class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Description -->
        {{#ifEquals ItemClass "ST"}}
        <td data-itemclass="{{ItemClass}}" class="subTotalRow">{{Description}}</td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifInList ItemClass "C,K,N"}}
        <td data-itemclass="{{ItemClass}}" style="">{{Description}}</td><!-- Completes, Kits, Containers -->
        {{else}}
        {{#ifInList ItemClass "CI,KI,NI,CO,KO"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:0em;padding-left:20px;">{{Description}}</td><!-- Complete, Kit, Container Accessory Items -->
        {{else}}
        <td data-itemclass="{{ItemClass}}">{{Description}}</td><!-- Item -->
        {{/ifInList}}
        {{/ifInList}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td data-itemclass="{{ItemClass}}" class="textRow">{{Description}}</td>
        {{else}}
        <td data-itemclass="{{ItemClass}}" class="headerRow">{{Description}}</td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Quantity Ordered -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight" style="padding-right:15px;">{{Quantity}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Bar Code -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="" style="padding-left:6px;">{{BarCode}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Serial Number -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="" style="padding-left:6px;">{{SerialNumber}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Price -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow" style="text-align:center;"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{Rate}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Discount Percent Ordered -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#if HasDiscount}}
        <td class="alignRight">{{DiscountPercent}}</td>
        {{else}}
        <td class="alignRight">&nbsp;</td>
        {{/if}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Period Extended / Sub-Totals -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow alignRight">{{ExtendedSubTotal}}</td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{Extended}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}
      </tr>
      {{#if Notes}}
      <tr>
        <td colspan="2">&nbsp;</td>
        {{#ifEquals ItemClass "ST"}}
        <td colspan="6" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifInList ItemClass "C,K,N"}}
        <td colspan="6" data-itemclass="{{ItemClass}}" style="text-indent:0em;"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Complete Accessory -->
        {{else}}
        {{#ifInList ItemClass "CI,KI,NI,CO,KO"}}
        <td colspan="6" data-itemclass="{{ItemClass}}" style="padding-left:18px;text-indent:0em;"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Kit Accessory -->
        {{else}}
        <td colspan="6" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Item -->
        {{/ifInList}}
        {{/ifInList}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td colspan="6" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{else}}
        <td colspan="6" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}
        <td>&nbsp;</td>
      </tr>
      {{/if}}
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "RecTypeDisplayfooter"}}
    {{#ifNotEquals TaxNoCurrency 0}}
    <tr>
      <td colspan="2"></td>
      <td colspan="6" class="" style="text-align:right;font-weight:700;padding-top:12px;padding-right:0px;"><span style="padding:11px 5px 3px 6px;border-top:1px solid #000000;">{{RecTypeDisplay}} Sub-Total</span></td>
      <td class="" style="text-align:right;font-weight:700;border-top: 1px solid black;padding-top:10px;" data-value="{{TotalExtended}}"></td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td colspan="6" class="tax-row">{{../Tax1Name}} ({{TaxRate1}}%)</td>
      <td class="tax-row" data-value="{{Tax1}}"></td>
    </tr>
    {{#ifNotEquals ../Tax2Name ""}}
    <tr>
      <td colspan="2"></td>
      <td colspan="6" class="tax-row">{{../Tax2Name}} ({{TaxRate2}}%)</td>
      <td class="tax-row" data-value="{{Tax2}}"></td>
    </tr>
    {{/ifNotEquals}}
    {{/ifNotEquals}}
    <tr>
      <td colspan="2"></td>
      <td colspan="6" class="" style="text-align:right;font-weight:700;padding-top:12px;padding-right:0px;"><span class="shaded-activity-total" style="padding:11px 5px 3px 41px;border-top:1px solid #000000;">{{RecTypeDisplay}} Total</span></td>
      <td class="display-footer-total" data-value="{{TotalExtendedWithTax}}"></td>
    </tr>
    {{/ifEquals}}
    {{/each}}
  </table>
</div>
<!-- Sales Items -->
<div class="rpt-flexrow">
  <table style="table-layout:fixed;">
    {{#each SalesItems}}
    {{#ifEquals RowType "RecTypeDisplayheader"}}
    <tbody data-rowtype="{{RowType}}">
      <tr><td>&nbsp;</td></tr><!--spacer row-->
      <tr class="avoid-page-break">
        <td colspan="7" class="section-header">{{RecTypeDisplay}}&nbsp;</td>
      </tr>
      <tr class="rectype-header">
        <td style="min-width:90px;">I-Code</td>
        <td style="min-width:504px;">Description</td>
        <td style="min-width:65px;" class="number alignRight">Qty.</td>
        <td style="min-width:75px;" class="number alignRight">Unit</td>
        <td style="min-width:100px;" class="number alignRight">Price</td>
        {{#if HasDiscount}}
        <td style="min-width:65px;" class="number alignRight">Disc. %</td>
        {{else}}
        <td style="min-width:65px;" class="number alignRight">&nbsp;</td>
        {{/if}}
        <td style="min-width:140px;" class="number alignRight">Extended</td>
      </tr>
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "detail"}}
    <tbody data-rowtype="{{RowType}}">
      <tr data-isbold="{{Bold}}">
        <!-- I-Code -->
        {{#ifEquals ItemClass "ST"}}
        <td data-itemclass="{{ItemClass}}" class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifInList ItemClass "C,K,N"}}
        <td data-itemclass="{{ItemClass}}" style="">{{ICode}}</td><!-- Complete, Kit, Container Headers -->
        {{else}}
        {{#ifInList ItemClass "CI,KI,NI,CO,KO"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:0em;padding-left:20px;">{{ICode}}</td><!-- Complete, Kit, Container Accessories -->
        {{else}}
        <td data-itemclass="{{ItemClass}}">{{ICode}}</td><!-- Item -->
        {{/ifInList}}
        {{/ifInList}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td data-itemclass="{{ItemClass}}" class="textRow"></td>
        {{else}}
        <td data-itemclass="{{ItemClass}}" class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Description -->
        {{#ifEquals ItemClass "ST"}}
        <td data-itemclass="{{ItemClass}}" class="subTotalRow">{{Description}}</td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifInList ItemClass "C,K,N"}}
        <td data-itemclass="{{ItemClass}}" style="">{{Description}}</td><!-- Complete, Kit, Container Accessory Items -->
        {{else}}
        {{#ifInList ItemClass "CI,KI,NI,CO,KO"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:0em;padding-left:20px;">{{Description}}</td><!-- Completes, Kits, Containers -->
        {{else}}
        <td data-itemclass="{{ItemClass}}">{{Description}}</td><!-- Item -->
        {{/ifInList}}
        {{/ifInList}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td data-itemclass="{{ItemClass}}" class="textRow">{{Description}}</td>
        {{else}}
        <td data-itemclass="{{ItemClass}}" class="headerRow">{{Description}}</td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Quantity Ordered -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{Quantity}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Unit of Measure -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{Unit}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Price -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow" style="text-align:center;"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{Rate}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Discount Percent Ordered -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#if HasDiscount}}
        <td class="alignRight">{{DiscountPercent}}</td>
        {{else}}
        <td class="alignRight">&nbsp;</td>
        {{/if}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Period Extended / Sub-Totals -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow alignRight">{{ExtendedSubTotal}}</td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{Extended}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}
      </tr>
      {{#if Notes}}<!-- Sales Item Notes -->
      <tr>
        <td>&nbsp;</td>
        {{#ifEquals ItemClass "ST"}}
        <td colspan="5" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifInList ItemClass "C,K,N"}}
        <td colspan="5" data-itemclass="{{ItemClass}}" style="text-indent:0em;"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Complete Accessory -->
        {{else}}
        {{#ifInList ItemClass "CI,KI,NI,CO,KO"}}
        <td colspan="5" data-itemclass="{{ItemClass}}" style="padding-left:18px;text-indent:0em;"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Kit Accessory -->
        {{else}}
        <td colspan="5" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Item -->
        {{/ifInList}}
        {{/ifInList}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td colspan="5" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{else}}
        <td colspan="5" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}
        <td>&nbsp;</td>
      </tr>
      {{/if}}
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "RecTypeDisplayfooter"}}
    {{#ifNotEquals TaxNoCurrency 0}}
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="" style="text-align:right;font-weight:700;padding-top:12px;padding-right:0px;"><span style="padding:11px 5px 3px 6px;border-top:1px solid #000000;">{{RecTypeDisplay}} Sub-Total</span></td>
      <td class="" style="text-align:right;font-weight:700;border-top: 1px solid black;padding-top:10px;" data-value="{{TotalExtended}}"></td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="tax-row">{{../Tax1Name}} ({{TaxRate1}}%)</td>
      <td class="tax-row" data-value="{{Tax1}}"></td>
    </tr>
    {{#ifNotEquals ../Tax2Name ""}}
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="tax-row">{{../Tax2Name}} ({{TaxRate2}}%)</td>
      <td class="tax-row" data-value="{{Tax2}}"></td>
    </tr>
    {{/ifNotEquals}}
    {{/ifNotEquals}}
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="" style="text-align:right;font-weight:700;padding-top:12px;padding-right:0px;"><span class="shaded-activity-total" style="padding:11px 5px 3px 41px;border-top:1px solid #000000;">{{RecTypeDisplay}} Total</span></td>
      <td class="display-footer-total" data-value="{{TotalExtendedWithTax}}"></td>
    </tr>
    {{/ifEquals}}
    {{/each}}
  </table>
</div>
<!-- Labor Items -->
<div class="rpt-flexrow">
  <table style="table-layout:fixed;">
    {{#each LaborItems}}
    {{#ifEquals RowType "RecTypeDisplayheader"}}
    <tbody data-rowtype="{{RowType}}">
      <tr><td>&nbsp;</td></tr><!--spacer row-->
      <tr class="avoid-page-break">
        <td colspan="7" class="section-header">{{RecTypeDisplay}}&nbsp;</td>
      </tr>
      <tr class="rectype-header">
        <td style="min-width:90px;">I-Code</td>
        <td style="min-width:504px;">Description</td>
        <td style="min-width:65px;" class="number alignRight">Qty.</td>
        {{#if HasRecurring}}
        {{#ifCond ../RateType '===' "DAILY"}}
        <td style="min-width:75px;" class="number alignRight">Days</td>
        {{/ifCond}}
        {{#ifCond ../RateType '===' "WEEKLY"}}
        <td style="min-width:75px;" class="number alignRight">Weeks</td>
        {{/ifCond}}
        {{#ifCond ../RateType '===' "MONTHLY"}}
        <td style="min-width:75px;" class="number alignRight">Months</td>
        {{/ifCond}}
        {{else}}
        <td style="min-width:75px;" class="number alignRight">&nbsp;</td>
        {{/if}}
        <td style="min-width:100px;" class="number alignRight">Price</td>
        {{#if HasDiscount}}
        <td style="min-width:65px;" class="number alignRight">Disc. %</td>
        {{else}}
        <td style="min-width:65px;" class="number alignRight">&nbsp;</td>
        {{/if}}
        <td style="min-width:140px;" class="number alignRight">Extended</td>
      </tr>
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "detail"}}
    <tbody data-rowtype="{{RowType}}">
      <tr data-isbold="{{Bold}}">
        <!-- I-Code -->
        {{#ifEquals ItemClass "ST"}}
        <td data-itemclass="{{ItemClass}}" class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{ICode}}</td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{ICode}}</td><!-- Kit Accessory -->
        {{else}}
        <td data-itemclass="{{ItemClass}}">{{ICode}}</td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td data-itemclass="{{ItemClass}}" class="textRow"></td>
        {{else}}
        <td data-itemclass="{{ItemClass}}" class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Description -->
        {{#ifEquals ItemClass "ST"}}
        <td data-itemclass="{{ItemClass}}" class="subTotalRow">{{Description}}</td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{Description}}</td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{Description}}</td><!-- Kit Accessory -->
        {{else}}
        <td data-itemclass="{{ItemClass}}">{{Description}}</td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td data-itemclass="{{ItemClass}}" class="textRow">{{Description}}</td>
        {{else}}
        <td data-itemclass="{{ItemClass}}" class="headerRow">{{Description}}</td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Quantity Ordered -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{Quantity}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Billable Periods -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#if IsRecurring}}
        <td class="alignRight">{{BillablePeriods}}</td>
        {{else}}
        <td class="alignRight">&nbsp;</td>
        {{/if}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Price -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow" style="text-align:center;"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{Rate}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Discount Percent Ordered -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#if HasDiscount}}
        <td class="alignRight">{{DiscountPercent}}</td>
        {{else}}
        <td class="alignRight">&nbsp;</td>
        {{/if}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Period Extended / Sub-Totals -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow alignRight">{{ExtendedSubTotal}}</td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{Extended}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}
      </tr>
      {{#if Notes}}
      <tr>
        <td>&nbsp;</td>
        {{#ifEquals ItemClass "ST"}}
        <td colspan="5" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td colspan="5" data-itemclass="{{ItemClass}}" style="padding-left:18px;text-indent:0em;"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td colspan="5" data-itemclass="{{ItemClass}}" style="padding-left:18px;text-indent:0em;"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Kit Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "NI"}}
        <td colspan="5" data-itemclass="{{ItemClass}}" style="padding-left:18px;text-indent:0em;"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Container Accessory -->
        {{else}}
        <td colspan="5" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td colspan="5" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{else}}
        <td colspan="5" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}
        <td>&nbsp;</td>
      </tr>
      {{/if}}
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "RecTypeDisplayfooter"}}
    {{#ifNotEquals TaxNoCurrency 0}}
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="" style="text-align:right;font-weight:700;padding-top:12px;padding-right:0px;"><span style="padding:11px 5px 3px 6px;border-top:1px solid #000000;">{{RecTypeDisplay}} Sub-Total</span></td>
      <td class="" style="text-align:right;font-weight:700;border-top: 1px solid black;padding-top:10px;" data-value="{{TotalExtended}}"></td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="tax-row">{{../Tax1Name}} ({{TaxRate1}}%)</td>
      <td class="tax-row" data-value="{{Tax1}}"></td>
    </tr>
    {{#ifNotEquals ../Tax2Name ""}}
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="tax-row">{{../Tax2Name}} ({{TaxRate2}}%)</td>
      <td class="tax-row" data-value="{{Tax2}}"></td>
    </tr>
    {{/ifNotEquals}}
    {{/ifNotEquals}}
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="" style="text-align:right;font-weight:700;padding-top:12px;padding-right:0px;"><span class="shaded-activity-total" style="padding:11px 5px 3px 41px;border-top:1px solid #000000;">{{RecTypeDisplay}} Total</span></td>
      <td class="display-footer-total" data-value="{{TotalExtendedWithTax}}"></td>
    </tr>
    {{/ifEquals}}
    {{/each}}
  </table>
</div>
<!-- Misc Items -->
<div class="rpt-flexrow">
  <table style="table-layout:fixed;">
    {{#each MiscItems}}
    {{#ifEquals RowType "RecTypeDisplayheader"}}
    <tbody data-rowtype="{{RowType}}">
      <tr><td>&nbsp;</td></tr><!--spacer row-->
      <tr class="avoid-page-break">
        <td colspan="7" class="section-header">{{RecTypeDisplay}}&nbsp;</td>
      </tr>
      <tr class="rectype-header">
        <td style="min-width:90px;">I-Code</td>
        <td style="min-width:504px;">Description</td>
        <td style="min-width:65px;" class="number alignRight">Qty.</td>
        {{#if HasRecurring}}
        {{#ifCond ../RateType '===' "DAILY"}}
        <td style="min-width:75px;" class="number alignRight">Days</td>
        {{/ifCond}}
        {{#ifCond ../RateType '===' "WEEKLY"}}
        <td style="min-width:75px;" class="number alignRight">Weeks</td>
        {{/ifCond}}
        {{#ifCond ../RateType '===' "MONTHLY"}}
        <td style="min-width:75px;" class="number alignRight">Months</td>
        {{/ifCond}}
        {{else}}
        <td style="min-width:75px;" class="number alignRight">&nbsp;</td>
        {{/if}}

        <td style="min-width:100px;" class="number alignRight">Price</td>
        {{#if HasDiscount}}
        <td style="min-width:65px;" class="number alignRight">Disc. %</td>
        {{else}}
        <td style="min-width:65px;" class="number alignRight">&nbsp;</td>
        {{/if}}
        <td style="min-width:140px;" class="number alignRight">Extended</td>
      </tr>
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "detail"}}
    <tbody data-rowtype="{{RowType}}">
      <tr data-isbold="{{Bold}}">
        <!-- I-Code -->
        {{#ifEquals ItemClass "ST"}}
        <td data-itemclass="{{ItemClass}}" class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{ICode}}</td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{ICode}}</td><!-- Kit Accessory -->
        {{else}}
        <td data-itemclass="{{ItemClass}}">{{ICode}}</td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td data-itemclass="{{ItemClass}}" class="textRow"></td>
        {{else}}
        <td data-itemclass="{{ItemClass}}" class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Description -->
        {{#ifEquals ItemClass "ST"}}
        <td data-itemclass="{{ItemClass}}" class="subTotalRow">{{Description}}</td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{Description}}</td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{Description}}</td><!-- Kit Accessory -->
        {{else}}
        <td data-itemclass="{{ItemClass}}">{{Description}}</td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td data-itemclass="{{ItemClass}}" class="textRow">{{Description}}</td>
        {{else}}
        <td data-itemclass="{{ItemClass}}" class="headerRow">{{Description}}</td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Quantity Ordered -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{Quantity}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Billable Periods -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#if IsRecurring}}
        <td class="alignRight">{{BillablePeriods}}</td>
        {{else}}
        <td class="alignRight">&nbsp;</td>
        {{/if}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Price -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow" style="text-align:center;"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{Rate}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Discount Percent Ordered -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#if HasDiscount}}
        <td class="alignRight">{{DiscountPercent}}</td>
        {{else}}
        <td class="alignRight">&nbsp;</td>
        {{/if}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Period Extended / Sub-Totals -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow alignRight">{{ExtendedSubTotal}}</td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{Extended}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}
      </tr>
      {{#if Notes}}
      <tr>
        <td>&nbsp;</td>
        {{#ifEquals ItemClass "ST"}}
        <td colspan="5" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td colspan="5" data-itemclass="{{ItemClass}}" style="padding-left:18px;text-indent:0em;"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td colspan="5" data-itemclass="{{ItemClass}}" style="padding-left:18px;text-indent:0em;"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Kit Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "NI"}}
        <td colspan="5" data-itemclass="{{ItemClass}}" style="padding-left:18px;text-indent:0em;"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Container Accessory -->
        {{else}}
        <td colspan="5" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td colspan="5" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{else}}
        <td colspan="5" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}
        <td>&nbsp;</td>
      </tr>
      {{/if}}
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "RecTypeDisplayfooter"}}
    {{#ifNotEquals TaxNoCurrency 0}}
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="" style="text-align:right;font-weight:700;padding-top:12px;padding-right:0px;"><span style="padding:11px 5px 3px 6px;border-top:1px solid #000000;">{{RecTypeDisplay}} Sub-Total</span></td>
      <td class="" style="text-align:right;font-weight:700;border-top: 1px solid black;padding-top:10px;" data-value="{{TotalExtended}}"></td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="tax-row">{{../Tax1Name}} ({{TaxRate1}}%)</td>
      <td class="tax-row" data-value="{{Tax1}}"></td>
    </tr>
    {{#ifNotEquals ../Tax2Name ""}}
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="tax-row">{{../Tax2Name}} ({{TaxRate2}}%)</td>
      <td class="tax-row" data-value="{{Tax2}}"></td>
    </tr>
    {{/ifNotEquals}}
    {{/ifNotEquals}}
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="" style="text-align:right;font-weight:700;padding-top:12px;padding-right:0px;"><span class="shaded-activity-total" style="padding:11px 5px 3px 41px;border-top:1px solid #000000;">{{RecTypeDisplay}} Total</span></td>
      <td class="display-footer-total" data-value="{{TotalExtendedWithTax}}"></td>
    </tr>
    {{/ifEquals}}
    {{/each}}
  </table>
</div>
<!-- Facilities Items -->
<div class="rpt-flexrow">
  <table style="table-layout:fixed;">
    {{#each FacilityItems}}
    {{#ifEquals RowType "RecTypeDisplayheader"}}
    <tbody data-rowtype="{{RowType}}">
      <tr><td>&nbsp;</td></tr><!--spacer row-->
      <tr class="avoid-page-break">
        <td colspan="7" class="section-header">{{RecTypeDisplay}}&nbsp;</td>
      </tr>
      <tr class="rectype-header">
        <td style="min-width:90px;">I-Code</td>
        <td style="min-width:504px;">Description</td>
        <td style="min-width:65px;" class="number alignRight">Qty.</td>
        {{#ifCond ../RateType '===' "DAILY"}}
        <td style="min-width:75px;" class="number alignRight">Days</td>
        {{/ifCond}}
        {{#ifCond ../RateType '===' "WEEKLY"}}
        <td style="min-width:75px;" class="number alignRight">Weeks</td>
        {{/ifCond}}
        {{#ifCond ../RateType '===' "MONTHLY"}}
        <td style="min-width:75px;" class="number alignRight">Months</td>
        {{/ifCond}}
        <td style="min-width:100px;" class="number alignRight">Price</td>
        {{#if HasDiscount}}
        <td style="min-width:65px;" class="number alignRight">Disc. %</td>
        {{else}}
        <td style="min-width:65px;" class="number alignRight">&nbsp;</td>
        {{/if}}
        <td style="min-width:140px;" class="number alignRight">Extended</td>
      </tr>
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "detail"}}
    <tbody data-rowtype="{{RowType}}">
      <tr data-isbold="{{Bold}}">
        <!-- I-Code -->
        {{#ifEquals ItemClass "ST"}}
        <td data-itemclass="{{ItemClass}}" class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{ICode}}</td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{ICode}}</td><!-- Kit Accessory -->
        {{else}}
        <td data-itemclass="{{ItemClass}}">{{ICode}}</td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td data-itemclass="{{ItemClass}}" class="textRow"></td>
        {{else}}
        <td data-itemclass="{{ItemClass}}" class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Description -->
        {{#ifEquals ItemClass "ST"}}
        <td data-itemclass="{{ItemClass}}" class="subTotalRow">{{Description}}</td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{Description}}</td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{Description}}</td><!-- Kit Accessory -->
        {{else}}
        <td data-itemclass="{{ItemClass}}">{{Description}}</td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td data-itemclass="{{ItemClass}}" class="textRow">{{Description}}</td>
        {{else}}
        <td data-itemclass="{{ItemClass}}" class="headerRow">{{Description}}</td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Quantity Ordered -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{Quantity}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Billable Periods -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{BillablePeriods}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Price -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow" style="text-align:center;"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{Rate}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Discount Percent Ordered -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#if HasDiscount}}
        <td class="alignRight">{{DiscountPercent}}</td>
        {{else}}
        <td class="alignRight">&nbsp;</td>
        {{/if}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Period Extended / Sub-Totals -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow alignRight">{{ExtendedSubTotal}}</td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{Extended}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}
      </tr>
      {{#if Notes}}
      <tr>
        <td>&nbsp;</td>
        {{#ifEquals ItemClass "ST"}}
        <td colspan="5" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td colspan="5" data-itemclass="{{ItemClass}}" style="padding-left:18px;text-indent:0em;"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td colspan="5" data-itemclass="{{ItemClass}}" style="padding-left:18px;text-indent:0em;"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Kit Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "NI"}}
        <td colspan="5" data-itemclass="{{ItemClass}}" style="padding-left:18px;text-indent:0em;"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Container Accessory -->
        {{else}}
        <td colspan="5" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td colspan="5" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{else}}
        <td colspan="5" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}
        <td>&nbsp;</td>
      </tr>
      {{/if}}
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "RecTypeDisplayfooter"}}
    {{#ifNotEquals TaxNoCurrency 0}}
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="" style="text-align:right;font-weight:700;padding-top:12px;padding-right:0px;"><span style="padding:11px 5px 3px 6px;border-top:1px solid #000000;">{{RecTypeDisplay}} Sub-Total</span></td>
      <td class="" style="text-align:right;font-weight:700;border-top: 1px solid black;padding-top:10px;" data-value="{{TotalExtended}}"></td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="tax-row">{{../Tax1Name}} ({{TaxRate1}}%)</td>
      <td class="tax-row" data-value="{{Tax1}}"></td>
    </tr>
    {{#ifNotEquals ../Tax2Name ""}}
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="tax-row">{{../Tax2Name}} ({{TaxRate2}}%)</td>
      <td class="tax-row" data-value="{{Tax2}}"></td>
    </tr>
    {{/ifNotEquals}}
    {{/ifNotEquals}}
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="" style="text-align:right;font-weight:700;padding-top:12px;padding-right:0px;"><span class="shaded-activity-total" style="padding:11px 5px 3px 41px;border-top:1px solid #000000;">{{RecTypeDisplay}} Total</span></td>
      <td class="display-footer-total" data-value="{{TotalExtendedWithTax}}"></td>
    </tr>
    {{/ifEquals}}
    {{/each}}
  </table>
</div>
<!-- Adjustments -->
<div class="rpt-flexrow">
  <table style="table-layout:fixed;">
    {{#each AdjustmentItems}}
    {{#ifEquals RowType "RecTypeDisplayheader"}}
    <tbody data-rowtype="{{RowType}}">
      <tr><td>&nbsp;</td></tr><!--spacer row-->
      <tr class="avoid-page-break">
        <td colspan="7" class="section-header">{{RecTypeDisplay}}&nbsp;</td>
      </tr>
      <tr class="rectype-header">
        <td style="min-width:90px;">I-Code</td>
        <td style="min-width:414px;">Description</td>
        <td style="min-width:65px;padding-right:15px;" class="number alignRight">Qty.</td>
        <td style="min-width:95px;" class="">Bar Code</td>
        <td style="min-width:100px;" class="">Serial Number</td>
        <td style="min-width:120px;" class="number alignRight">Price</td>
        <td style="min-width:140px;" class="number alignRight">Extended</td>
      </tr>
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "detail"}}
    <tbody data-rowtype="{{RowType}}">
      <tr data-isbold="{{Bold}}">
        <!-- I-Code -->
        {{#ifEquals ItemClass "ST"}}
        <td data-itemclass="{{ItemClass}}" class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{ICode}}</td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{ICode}}</td><!-- Kit Accessory -->
        {{else}}
        <td data-itemclass="{{ItemClass}}">{{ICode}}</td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td data-itemclass="{{ItemClass}}" class="textRow"></td>
        {{else}}
        <td data-itemclass="{{ItemClass}}" class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Description -->
        {{#ifEquals ItemClass "ST"}}
        <td data-itemclass="{{ItemClass}}" class="subTotalRow">{{Description}}</td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{Description}}</td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{Description}}</td><!-- Kit Accessory -->
        {{else}}
        <td data-itemclass="{{ItemClass}}">{{Description}}</td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td data-itemclass="{{ItemClass}}" class="textRow">{{Description}}</td>
        {{else}}
        <td data-itemclass="{{ItemClass}}" class="headerRow">{{Description}}</td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Quantity Ordered -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight" style="padding-right:15px;">{{Quantity}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Bar Code -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="" style="padding-left:6px;">{{BarCode}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Serial Number -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="" style="padding-left:6px;">{{SerialNumber}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Price -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow" style="text-align:center;"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{Rate}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Period Extended / Sub-Totals -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow alignRight">{{ExtendedSubTotal}}</td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{Extended}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}
      </tr>
      {{#if Notes}}
      <tr>
        <td>&nbsp;</td>
        {{#ifEquals ItemClass "ST"}}
        <td colspan="6" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td colspan="6" data-itemclass="{{ItemClass}}" style="padding-left:18px;text-indent:0em;"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td colspan="6" data-itemclass="{{ItemClass}}" style="padding-left:18px;text-indent:0em;"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Kit Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "NI"}}
        <td colspan="6" data-itemclass="{{ItemClass}}" style="padding-left:18px;text-indent:0em;"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Container Accessory -->
        {{else}}
        <td colspan="6" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td colspan="6" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{else}}
        <td colspan="6" data-itemclass="{{ItemClass}}"><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}
        <td>&nbsp;</td>
      </tr>
      {{/if}}
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "RecTypeDisplayfooter"}}
    {{#ifNotEquals TaxNoCurrency 0}}
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="" style="text-align:right;font-weight:700;padding-top:12px;padding-right:0px;"><span style="padding:11px 5px 3px 6px;border-top:1px solid #000000;">{{RecTypeDisplay}} Sub-Total</span></td>
      <td class="" style="text-align:right;font-weight:700;border-top: 1px solid black;padding-top:10px;" data-value="{{TotalExtended}}"></td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="tax-row">{{../Tax1Name}} ({{TaxRate1}}%)</td>
      <td class="tax-row" data-value="{{Tax1}}"></td>
    </tr>
    {{#ifNotEquals ../Tax2Name ""}}
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="tax-row">{{../Tax2Name}} ({{TaxRate2}}%)</td>
      <td class="tax-row" data-value="{{Tax2}}"></td>
    </tr>
    {{/ifNotEquals}}
    {{/ifNotEquals}}
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="" style="text-align:right;font-weight:700;padding-top:12px;padding-right:0px;"><span class="shaded-activity-total" style="padding:11px 5px 3px 41px;border-top:1px solid #000000;">{{RecTypeDisplay}} Total</span></td>
      <td class="display-footer-total" data-value="{{TotalExtendedWithTax}}"></td>
    </tr>
    {{/ifEquals}}
    {{/each}}
  </table>
</div>
<!-- Grand Total row -->
<div class="rpt-flexrow">
  {{#each Items}}
  {{#ifEquals RowType "grandtotal"}}
  <table class="grandTotalRow">
    {{#ifNotEquals TaxNoCurrency 0}}
    <tr>
      <td style="min-width:638px;"></td>
      <td style="min-width:300px;text-align:right;padding-top:12px;padding-right:10px;font-weight:bold;">SUB TOTAL</td>
      <td class="number grandTotalAllActivities" style="min-width:150px;padding-right:3px;" data-value="{{TotalExtended}}"></td>
    </tr>
    <tr>
      <td style="min-width:638px;"></td>
      <td class="tax-row" style="min-width:300px;padding-right:10px;">{{../Tax1Name}}</td>
      <td class="tax-row" style="min-width:150px;" data-value="{{Tax}}"></td>
    </tr>
    {{#ifNotEquals ../Tax2Name ""}}
    <tr>
      <td style="min-width:638px;"></td>
      <td class="tax-row" style="min-width:300px;padding-right:10px;">{{../Tax2Name}}</td>
      <td class="tax-row" style="min-width:150px;" data-value="{{Tax2}}"></td>
    </tr>
    {{/ifNotEquals}}
    {{/ifNotEquals}}
    <tr>
      <td style="min-width:638px;"></td>
      <td style="min-width:300px;text-align:right;padding-top:12px;padding-right:10px;font-weight:bold;">GRAND TOTAL</td>
      <td class="number grandTotalAllActivities" style="min-width:150px;padding-right:3px;" data-value="{{TotalExtendedWithTax}}"></td>
    </tr>
    {{#if ../IsNoCharge}}
    <tr>
      <td style="min-width:638px;"></td>
      <td style="min-width:300px;text-align:right;padding-right:10px;"></td>
      <td class="number" style="min-width:150px;padding-right:3px;font-weight:bold;">(No Charge)</td>
    </tr>
    {{/if}}
    {{#checkLength ../PaymentItems 0}}
    {{#each ../PaymentItems}}
    {{#ifEquals RowType "detail"}}
    <tr>
      <td style="min-width:638px;"></td>
      <td style="min-width:300px;text-align:right;padding-right:10px;font-weight:bold;">AMOUNT PAID {{PaymentDate}}</td>
      <td class="number" style="min-width:150px;padding-right:3px; font-weight:bold;" data-value="{{Amount}}"></td>
    </tr>
    {{/ifEquals}}
    {{#ifEquals RowType 'grandtotal'}}
    <tr>
      <td style="min-width:638px;"></td>
      <td style="min-width:300px;text-align:right;padding-right:10px;font-weight:bold;">REMAINING BALANCE</td>
      <td class="number" style="min-width:150px;padding-right:3px; font-weight:bold; border-top:1.5px solid black;" data-value="{{../../RemainingBalance}}"></td>
    </tr>
    {{/ifEquals}}
    {{/each}}
    {{/checkLength}}
  </table>
  {{/ifEquals}}
  {{/each}}
</div>
{{#if Notes}}
<div id="notesRow" colspan="7">
  <div style="font-weight:700;margin:20px 0 0 0;"></div>
  <div><span id="notes"></span></div>
</div>
{{/if}}
