<!--IncomingDelivery-->
<div data-section="header">
  <div class="rpt-flexrow" style="margin: 0 0 25px 0;">
    <div class="rpt-flexcolumn">
      <div class="rpt-nested-flexrow rpt-header-left"><span>{{System}}</span></div>
    </div>
    <div class="rpt-flexcolumn">
      <div class="rpt-nested-flexrow rpt-title"><span>{{Report}}</span></div>
    </div>
    <div class="rpt-flexcolumn">
      <div class="rpt-nested-flexrow rpt-header-right"><span>{{Company}}</span></div>
    </div>
  </div>
</div> <!--end header-->

<div class="rpt-flexrow top-row">

  <div class="rpt-flexcolumn" style="flex: 0 0 321px;margin-right: 10px;">
    <table>
      <tr>
        <td style="width:90px;" class="shaded-block">Order No:</td>
        <td class="">{{OnlineOrderNumber}}</td>
      </tr>
      <tr>
        <td style="width:55px;" class="shaded-block">Agent:</td>
        <td class="">{{Agent}}</td>
      </tr>
    </table>
  </div>

  <div class="rpt-flexcolumn" style="flex: 0 0 321px;margin: 0px 10px;">
    <table>
      <tr>
        <td style="width:75px;" class="shaded-block">Description:</td>
        <td class="">{{OnlineOrderStatus}}</td>
      </tr>
      <tr>
        <td style="width:55px;" class="shaded-block">Phone:</td>
        <td class="">{{AgentPhone}}</td>
      </tr>
    </table>
  </div>

  <div class="rpt-flexcolum" style="flex: 0 0 321px;margin-left: 10px;">
    <table>
      <tr>
        <td style="width:32px;" class="shaded-block">Deal:</td>
        <td class="">{{Deal}}</td>
      </tr>
    </table>
  </div>

</div>

<div class="rpt-flexrow">
  <div class="rpt-flexcolumn">
    <div class="rpt-nested-flexrow rpt-header-left"><span></span></div>
  </div>
  <div class="rpt-flexcolumn">
    <div>
      <div class="rpt-nested-flexrow section-box target"><span>Target Ship Date: {{TargetShipDate}}&nbsp;{{TargetShipTime}}</span></div>
    </div>
  </div>
  <div class="rpt-flexcolumn">
  </div>
</div>

<div data-section="header">
  <div class="rpt-flexrow">
    <div class="rpt-flexcolumn section-box" style="flex:0 0 540px;margin: 0 35px 0 0;">
      <table>
        <tr>
          <td colspan="2" class="shaded-block top-label">SHIP TO:</td>
        </tr>
        <tr>
          <td style="width:55px;" class="shaded-block">Attention:</td>
          <td class="">{{ToAttention}}</td>
        </tr>
        <tr>
          <td style="width:55px;" class="shaded-block">Location:</td>
          <td class="">{{ToLocation}}</td>
        </tr>
        <tr>
          <td style="width:55px;" class="shaded-block">Address:</td>
          <td class="">{{ToAddress1}}</td>
        </tr>
        <tr>
          <td style="width:55px;" class="shaded-block"></td>
          <td class="">{{ToAddress2}}</td>
        </tr>
        <tr>
          <td style="width:55px;" class="shaded-block">City:</td>
          <td class="">{{ToCity}}</td>
        </tr>
        <tr>
          <td style="width:55px;" class="shaded-block">State:</td>
          <td class="">{{ToState}}</td>
        </tr>
        <tr>
          <td style="width:55px;" class="shaded-block">Zip Code:</td>
          <td class="">{{ToZip}}</td>
        </tr>
        <tr>
          <td style="width:55px;" class="shaded-block">Country:</td>
          <td class="">{{ToCountry}}</td>
        </tr>
        <tr>
          <td style="width:55px;" class="shaded-block">Phone:</td>
          <td class="">{{ToContactPhone}}</td>
        </tr>
      </table>
    </div>

    <div style="min-width:0;"></div>

    <div class="rpt-flexcolumn section-box" style="flex: 0 0 540px;">
      <table>
        <tr>
          <td colspan="2" class="shaded-block top-label">SHIPPING:</td>
        </tr>
        <tr>
          <td style="width:55px;" class="shaded-block">Carrier:</td>
          <td class="">{{Carrier}}</td>
        </tr>
        <tr>
          <td style="width:55px;" class="shaded-block">Ship Via:</td>
          <td class="">{{ShipVia}}</td>
        </tr>
        <tr>
          <td style="width:55px;" class="shaded-block">Total Weight:</td>
          <td class="">{{ToAddress1}}</td>
        </tr>
        <tr>
          <td style="width:85px;" class="shaded-block">Replacement Value:</td>
          <td class="">{{ToCity}}</td>
        </tr>
        <tr>
          <td style="width:85px;" class="shaded-block">Manifest Value:</td>
          <td class="">{{ToState}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
