 <!--Order Status Detail Report-->
<div class="rpt-flexrow" style="margin:5px 0px 0px 4px;width:1216px;">
  <div class="rpt-flexcolumn" style="flex:0 0 30%;padding-bottom:5px;">
    {{#if Logosrc}}
    <div style="height:100px;"><img class="clientlogo" src="{{Logosrc}}" style="display:block;width:auto;height:100%;" alt="logo" /></div>
    {{else}}
    <div></div>
    {{/if}}
    <span class="header-left" style="font-weight:600">{{Company}}</span>
    <span class="header-left">{{OfficeLocationAddress1}}</span>
    <span class="header-left">{{OfficeLocationAddress2}}</span>
    <span class="header-left">{{OfficeLocationCityStateZipCodeCountry}}</span>
    <span class="header-left"><span style="font-weight:600;">Phone: </span>{{OfficeLocationPhone}}</span>
  </div>
  <div class="rpt-flexcolumn" style="flex:0 0 40%;">
    <span class="sub-title" style="font-size:20px;">{{Department}}</span>
    <span class="title blue">{{Report}}</span>
    <span class="" style="margin-top:10px;font-size:18px;text-align:center;">Order: {{Description}}</span>
    <span class="" style="margin-top:5px;font-size:18px;text-align:center;">Deal: {{Deal}}</span>
  </div>
  <!-- Order Number & Date -->
  <div class="rpt-flexcolumn" style="flex:0 0 30%;">
    <table>
      <tr>
        <td style="width:50%;font-size:18px;font-weight:700;text-align:right;">No:</td>
        <td style="width:50%;background-color:#e3f2fd;color:#027cc5;border:2px solid #212121;padding:5px 10px;font-size:26px;text-align:center;">{{Order}}</td>
      </tr>
      <tr>
        <td style="width:50%;color:black;font-size:18px;font-weight:700;text-align:right;">Date:</td>
        <td style="width:50%;font-size:18px;text-align:center;">{{PrintDate}}</td>
      </tr>
    </table>
  </div>
</div>
<div class="rpt-flexrow section-start">
  <table>
    {{#each Items}}
    {{#ifEquals RowType "RecTypeDisplayheader"}}
    <tbody data-rowtype="{{RowType}}">
      <tr class="avoid-page-break">
        <td colspan="9" class="section-header">{{RecTypeDisplay}}&nbsp;</td>
      </tr>
      <tr class="rectype-header">
        <td style="min-width:80px;">I-Code</td>
        <td style="min-width:325px;">Description</td>
        <td style="min-width:75px;">Bar Code No.</td>
        <td style="min-width:75px;padding-right:15px;" class="number">Qty</td>
        <td style="min-width:225px;">Vendor</td>
        <td style="min-width:75px;">Out</td>
        <td style="min-width:90px;">Out WH</td>
        <td style="min-width:75px;">In</td>
        <td style="min-width:90px;">In WH</td>
      </tr>
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "detail"}}
    <tbody data-rowtype="{{RowType}}">
      <tr data-isbold="{{Bold}}">
        <!-- I-code -->
        {{#ifCond ItemClass '===' "CI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{ICode}}</td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{ICode}}</td><!-- Kit Accessory -->
        {{else}}
        <td data-itemclass="{{ItemClass}}">{{ICode}}</td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}

        <!-- Description -->
        {{#ifCond ItemClass '===' "CI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{Description}}</td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{Description}}</td><!-- Kit Accessory -->
        {{else}}
        <td data-itemclass="{{ItemClass}}">{{Description}}</td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        <td>{{BarCodeSerialRfid}}</td>
        <td class="number" style="padding-right:15px;">{{Quantity}}</td>
        <td>{{Vendor}}</td>
        <td style="text-align:center;">{{OutDateTime}}</td>
        <td>{{OutWarehouseCode}}</td>
        <td style="text-align:center;">{{InDateTime}}</td>
        <td>{{InWarehouseCode}}</td>
      </tr>
    </tbody>
    {{/ifEquals}}
    {{/each}}
  </table>
</div>
