<!-- Deal Invoice Batch Report-->
<div class="rpt-flexrow">
  <div class="rpt-flexcolumn">
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">Batch No: {{BatchNumber}} - Date: {{Date}}</span>
  </div>
  <div class="rpt-flexcolumn">
  </div>
</div>
<div class="rpt-flexrow">
  <span class="officeLocation">Office: {{OfficeLocation}}</span>
</div>
<div class="rpt-flexrow" style="margin-top:25px;">
  <table>
    <thead class="mainHeader">
      <tr class="columnheadings">
        <th>Invoice No.</th>
        <th>Invoice Date</th>
        <th>Order No.</th>
        <th>PO No.</th>
        <th>Invoice Description</th>
        <th>Billing Start Date</th>
        <th>Billing End Date</th>
        <th style="text-align:right;">Invoice Total</th>
      </tr>
    </thead>
    <tbody>
      {{#with Items}}
      {{#each this}}
      <tr data-rowtype={{RowType}}>
        {{#ifEquals RowType "Locationheader"}}
        <td colspan="8" class="rowHeader">Office: {{Location}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Customerheader"}}
        <td colspan="8" class="rowHeader">Customer: {{Customer}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Dealheader"}}
        <td colspan="8" class="rowHeader">Deal: {{Deal}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "detail"}}
        <td class="InvoiceNumber">{{InvoiceNumber}}</td>
        <td class="InvoiceDate">{{InvoiceDate}}</td>
        <td class="OrderNumber">{{OrderNumber}}</td>
        <td class="PurchaseOrderNumber">{{PurchaseOrderNumber}}</td>
        <td class="InvoiceDescription">{{InvoiceDescription}}</td>
        <td class="BillingStartDate">{{BillingStartDate}}</td>
        <td class="BillingEndDate">{{BillingEndDate}}</td>
        <td class="InvoiceTotal">{{InvoiceTotal}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Dealfooter"}}
        <td colspan="7" style="font-weight:bold;text-align:right;padding-top:11px">{{Deal}}:</td>
        <td class="total-row number">{{InvoiceTotal}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Customerfooter"}}
        <td colspan="7" style="font-weight:bold;text-align:right;padding-top:11px">{{Customer}}:</td>
        <td class="total-row number">{{InvoiceTotal}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Locationfooter"}}
        <td colspan="7" style="font-weight:bold;text-align:right;padding-top:11px">{{Location}}:</td>
        <td class="total-row number">{{InvoiceTotal}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "invoicetotal"}}
        <td colspan="7" class="invoiceTotalRowTitle">Total for Batch {{../../BatchNumber}}:</td>
        <td class="total-row invoiceTotalRowTotal">{{InvoiceTotal}}</td>
        {{/ifEquals}}
      </tr>
      {{/each}}
      {{/with}}
    </tbody>
  </table>
</div>