<!-- Deal Invoice Batch Report-->
<div class="rpt-flexrow">
  <div class="rpt-flexcolumn">
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">Batch No. {{BatchNumber}} {{Date}}</span>
  </div>
  <div class="rpt-flexcolumn">
  </div>
</div>
<div class="rpt-flexrow" style="margin-top:40px;">
  <table>
    <thead>
      <tr>
        <th class="text">Invoice No.</th>
        <th class="text">Invoice Date</th>
        <th class="text">Order No.</th>
        <th class="text">PO No.</th>
        <th class="text">Invoice Description</th>
        <th class="text">Billing Start Date</th>
        <th class="text">Billing End Date</th>
        <th class="number">Total</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr data-rowtype={{RowType}}>
        {{#ifEquals RowType "Locationheader"}}
        <td colspan="8" class="header-row">Office: {{Location}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Customerheader"}}
        <td colspan="8" class="lower header-row">Customer: {{Customer}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Vendorheader"}}
        <td colspan="8" class="lower header-row">Vendor: {{Vendor}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "detail"}}
        <td class="text">{{InvoiceNumber}}</td>
        <td class="text">{{InvoiceDate}}</td>
        <td class="text">{{OrderNumber}}</td>
        <td class="text">{{PurchaseOrderNumber}}</td>
        <td class="text">{{InvoiceDescription}}</td>
        <td class="text">{{BillingStartDate}}</td>
        <td class="text">{{BillingEndDate}}</td>
        <td class="number" data-value="{{InvoiceTotal}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "Vendorfooter"}}
        <td colspan="7" class="total-name">{{Vendor}}&nbsp;</td>
        <td class="total-val" data-value="{{InvoiceTotal}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "Customerfooter"}}
        <td colspan="7" class="total-name">{{Customer}}&nbsp;</td>
        <td class="total-val" data-value="{{InvoiceTotal}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "Locationfooter"}}
        <td colspan="7" class="total-name">{{Location}}&nbsp;</td>
        <td class="total-val" data-value="{{InvoiceTotal}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "grandtotal"}}
        <td colspan="7" class="total-name">Grand Total:&nbsp;</td>
        <td class="total-val" data-value="{{InvoiceTotal}}"></td>
        {{/ifEquals}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>