<!--OutgoingShippingLabel-->
{{#each this}}
<div data-section="header" class="rpt-flexrow">
  <div class="rpt-flexcolumn label-col">
    {{#if ../Logosrc}}
    <div class="logo-container"><span><img class="logo" src="{{../Logosrc}}" alt="logo" /></span></div>
    {{/if}}
    <div><span class="order-no">{{OrderNumber}}</span></div>
    <div><span class="location">{{Location}}</span></div>
    <div>Attn: <span>{{Attention}}</span></div>
    <div><span>{{Address1}}</span></div>
    {{#if Address2}}
    <div><span>{{Address2}}</span></div>
    {{/if}}
    <div><span>{{CityStateZipCode}}</span></div>
  </div>
</div>
{{/each}}