<!--RepairOrderStatusReport-->
  {{#ifEquals IsSummary true}}
<div class="rpt-flexrow">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">As of: {{Today}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div class="rpt-flexrow" style="margin-top:40px;">
  <table>
    <thead class="top-section-header">
      <tr>
        <th colspan="4" style="background-color:white;"></th>
        <th colspan="3" style="border-right:3px solid black;">Billable Quantity</th>
        <th colspan="3">Quantity By Priority</th>
      </tr>
    </thead>
    <thead class="main-header">
      <tr>
        <th>I-Code</th>
        <th>Description</th>
        <th class="number">In Repair</th>
        <th class="number">Pending</th>
        <th class="number">Billable</th>
        <th class="number">Billed</th>
        <th class="number">Unbilled</th>
        <th class="number">High</th>
        <th class="number">Medium</th>
        <th class="number">Low</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr data-rowtype={{RowType}}>
        {{#ifEquals RowType "Warehouseheader"}}
        <td colspan="3" class="header-row">Warehouse: {{Warehouse}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Departmentheader"}}
        <td colspan="3" class="lower header-row">Department: {{Department}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "InventoryTypeheader"}}
        <td colspan="3" class="lower header-row">Inventory Type: {{InventoryType}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Categoryheader"}}
        <td colspan="3" class="lower header-row">Category: {{Category}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "detail"}}
        <td class="nowrap">{{ICode}}</td>
        <td data-value="{{Description}}"></td>
        <td class="number" data-value="{{Quantity}}"></td>
        <td class="number" data-value="{{QuantityPending}}"></td>
        <td class="number" data-value="{{QuantityBillable}}"></td>
        <td class="number" data-value="{{QuantityBilled}}"></td>
        <td class="number" data-value="{{QuantityNotYetBilled}}"></td>
        <td class="number" data-value="{{QuantityHighPriority}}"></td>
        <td class="number" data-value="{{QuantityMediumPriority}}"></td>
        <td class="number" data-value="{{QuantityLowPriority}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "Warehousefooter"}}
        <td colspan="2" class="total-name">{{Warehouse}}&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "Departmentfooter"}}
        <td colspan="2" class="total-name">{{Department}}&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "InventoryTypefooter"}}
        <td colspan="2" class="total-name">{{InventoryType}}&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "Categoryfooter"}}
        <td colspan="2" class="total-name">{{Category}}&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "grandtotal"}}
        <td colspan="2" class="total-name">Grand Total:&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
        {{/ifEquals}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{/ifEquals}}
{{#ifEquals IsSummary false}}
<div class="rpt-flexrow" style="width:1555px;">
  <style type="text/css" media="print">
    @page {
      size: landscape;
      margin: 10px 10px 10px 10px;
    }
  </style>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">As of: {{Today}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div class="rpt-flexrow" style="margin-top:40px;width:1555px;">
  <table id="detail">
    <thead class="main-header">
      <tr>
        <th>RO No.</th>
        <th class="number">Days</th>
        <th>Date</th>
        <th>Type</th>
        <th>I-Code</th>
        <th>Bar Code</th>
        <th>Description</th>
        <th>Deal</th>
        <th class="number">Qty</th>
        <th>Billable</th>
        <th>Priority</th>
        <th>Billed</th>
        <th>Item Status</th>
        <th>RO Status</th>
        <th>As Of</th>
      </tr>
    </thead>
    {{#each this}}
    {{#ifEquals RowType "Warehouseheader"}}
    <thead data-rowtype="{{RowType}}">
      <tr>
        <th class="header-row" colspan="7">Warehouse: {{Warehouse}}</th>
      </tr>
    </thead>
    {{/ifEquals}}
    {{#ifEquals RowType "Departmentheader"}}
    <thead data-rowtype="{{RowType}}">
      <tr>
        <th colspan="7" class="lower header-row">Department: {{Department}}</th>
      </tr>
    </thead>
    {{/ifEquals}}
    {{#ifEquals RowType "InventoryTypeheader"}}
    <thead data-rowtype="{{RowType}}">
      <tr>
        <th class="header-row lower" colspan="7">Inventory Type: {{InventoryType}}</th>
      </tr>
    </thead>
    {{/ifEquals}}
    {{#ifEquals RowType "Categoryheader"}}
    <thead data-rowtype="{{RowType}}">
      <tr>
        <th colspan="7" class="lower header-row">Category: {{Category}}</th>
      </tr>
    </thead>
    {{/ifEquals}}
    {{#ifEquals RowType "detail"}}
    <tbody data-rowtype="{{RowType}}">
      <tr>
        <td>{{RepairNumber}}</td>
        <td class="number">{{DaysInRepair}}</td>
        <td>{{RepairDate}}</td>
        <td>{{RepairType}}</td>
        <td class="nowrap">{{ICode}}</td>
        <td>{{BarCode}}</td>
        <td>{{Description}}</td>
        <td>{{DamageDeal}}</td>
        <td class="number">{{Quantity}}</td>
        <td>{{Billable}}</td>
        <td>{{Priority}}</td>
        <td>{{Billed}}</td>
        <td>{{Status}}</td>
        <td>{{RepairItemStatus}}</td>
        <td>{{StatusDate}}</td>
      </tr>
      {{#if ../IncludeDamageNotes}}
      {{#ifNotEquals Damage ""}}
      <tr>
        <td class="note" colspan="15">Damage Note: <span>{{Damage}}</span></td>
      </tr>
      {{/ifNotEquals}}
      {{/if}}
      {{#ifNotEquals  PurchaseOrderId ""}}
      <tr>
        <th></th>
        <th class="subHeaders">PO No.</th>
        <th class="subHeaders" colspan="2">Vendor</th>
        <th class="subHeaders number">Qty</th>
        <th class="subHeaders">Vendor Item Status</th>
        <th class="subHeaders">Vendor Completion</th>
        <th colspan="9"></th>
      </tr>
      <tr class="subValues">
        <td></td>
        <td>{{PurchaseOrderNumber}}</td>
        <td colspan="2">{{Vendor}}</td>
        <td class="number">{{VendorQuantity}}</td>
        <td>{{VendorRepairItemStatus}}</td>
        <td>{{VendorCompletionDate}}</td>
        <th colspan="9"></th>
      </tr>
      {{/ifNotEquals}}
    </tbody>
    {{/ifEquals}}
    <tfoot data-rowtype="{{RowType}}">
      {{#ifEquals RowType "Warehousefooter"}}
      <tr>
        <td colspan="8" class="total-name">{{Warehouse}}&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Departmentfooter"}}
      <tr>
        <td colspan="8" class="total-name">{{Department}}&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "InventoryTypefooter"}}
      <tr>
        <td colspan="8" class="total-name">{{InventoryType}}&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Categoryfooter"}}
      <tr>
        <td colspan="8" class="total-name">{{Category}}&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "grandtotal"}}
      <tr>
        <td colspan="8" class="total-name">Grand Total:&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
      </tr>
      {{/ifEquals}}
    </tfoot>
    {{/each}}
  </table>
</div>
{{/ifEquals}}
