<!--Billing Progress Report-->
<div class="rpt-flexrow">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">As of {{ToDate}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div class="rpt-flexrow data" style="margin-top:40px;">
  <table id="tbldata">
    <thead>
      <tr class="columnheadings">
        <th style="text-align:left;">Customer / Deal</th>
        <th class="OrderNumber">Order No.</th>
        <th style="text-align:left;">Description</th>
        <th>Status</th>
        <th>Total</th>
        <th>Billed</th>
        <th>Remaining</th>
        <th>% Billed</th>
      </tr>
    </thead>
    <tbody>
      {{#with Rows}}
      {{#each this}}
      <tr data-rowtype="{{RowType}}">
        {{#ifEquals RowType "OfficeLocationheader"}}
        <td colspan="8">Office Location: {{OfficeLocation}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Dealheader"}}
        <td colspan="8">Customer: {{Deal}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "detail"}}
        <td>{{Customer}}</td>
        <td>{{OrderNumber}}</td>
        <td>{{OrderDescription}}</td>
        <td>{{Status}}</td>
        <td class="totals" data-value="{{OrderTotal}}">{{OrderTotal}}</td>
        <td class="totals" data-value="{{Billed}}">{{Billed}}</td>
        <td class="totals" data-value="{{Remaining}}">{{Remaining}}</td>
        <td class="totals" data-value="{{BilledPercent}}">{{BilledPercent}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Dealfooter"}}
        <td colspan="2"></td>
        <td colspan="2">Deal Totals:</td>
        <td class="totals" data-value="{{OrderTotal}}">{{OrderTotal}}</td>
        <td class="totals" data-value="{{Billed}}">{{Billed}}</td>
        <td class="totals" data-value="{{Remaining}}">{{Remaining}}</td>
        <td class="totals" data-value="{{BilledPercent}}">{{BilledPercent}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "OfficeLocationfooter"}}
        <td colspan="2"></td>
        <td colspan="2">{{OfficeLocation}}:</td>
        <td class="totals" data-value="{{OrderTotal}}">{{OrderTotal}}</td>
        <td class="totals" data-value="{{Billed}}">{{Billed}}</td>
        <td class="totals" data-value="{{Remaining}}">{{Remaining}}</td>
        <td class="totals" data-value="{{BilledPercent}}">{{BilledPercent}}</td>
        {{/ifEquals}}
      </tr>
      {{#ifEquals RowType "Dealfooter"}}
      <tr class="customerFooter" data-rowtype="{{RowType}}">
        <td colspan="2"></td>
        <td colspan="2">Customer Totals:</td>
        <td class="totals" data-value="{{OrderTotal}}">{{OrderTotal}}</td>
        <td class="totals" data-value="{{Billed}}">{{Billed}}</td>
        <td class="totals" data-value="{{Remaining}}">{{Remaining}}</td>
        <td class="totals" data-value="{{BilledPercent}}">{{BilledPercent}}</td>
      </tr>
      {{/ifEquals}}
      {{/each}}
      {{/with}}
    </tbody>
  </table>
</div>