<!--Picklist Report-->
<div class="rpt-flexrow" style="margin:5px 0px 0px 4px;">
  <div class="rpt-flexcolumn">
    <span class="header-left" style="font-weight:600">{{Company}}</span>
    <span class="header-left"><span style="font-weight:600;">Warehouse:</span> {{Warehouse}}</span>
    <span class="header-left"><span style="font-weight:600;">Delivery Type:</span> {{DeliverType}}</span>
    <span class="header-left"><span style="font-weight:600;">Assigned To:</span> {{Agent}}</span>
    <span class="header-left"><span style="font-weight:600;">Pick Date:</span> {{RequiredDateTime}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="title">{{Report}}</span>
    <span class="header-center">Required By: {{RequiredDate}}</span>
    <span class="header-center">Target Ship: {{TargetShipDate}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="header-right" style="font-size:20px;">Pick Number: </span>
    <span class="header-right" style="font-size:20px;border:1.25px solid black;padding:2px;">{{PickNumber}}</span>
    <span class="header-right" style="font-size:20px;">Order Number: </span>
    <span class="header-right" style="font-family:'Libre Barcode 39 Text', serif; font-size:50px;">{{OrderNumber}}</span>
  </div>
</div>
<div class="rpt-flexrow" style="margin-top:30px;">
  <table class="sub-header">
    <tr>
      <td class="header-left">Order: {{OrderNumber}}</td>
      <td class="header-center">Description: <span style="font-weight:600;">{{OrderDescription}}</span></td>
      <td class="header-right">PO No: {{PoNumber}}</td>
    </tr>
    <tr>
      <td class="header-left"></td>
      <td class="header-center">Customer: {{Customer}}</td>
      <td class="header-right">Project Manager: {{ProjectManager}}</td>
    </tr>
    <tr>
      <td class="header-left"></td>
      <td class="header-center">Deal: {{Deal}}</td>
      <td class="header-right">Outside Sales Rep: {{OutsideSalesRep}}</td>
    </tr>
    <tr>
    <tr>
      <td class="header-left">Start Rental: {{EstimatedStartDate}} {{EstimatedStartTime}}</td>
      <td class="header-center">End Rental: {{EstimatedStopDate}} {{EstimatedStopTime}}</td>
      <td class="header-right">Agent: {{Agent}}</td>
    </tr>
  </table>
</div>
<div class="rpt-flexrow" style="margin-top:30px;">
  <table>
    <thead>
      <tr>
        <th>Order No.</th>
        <th>I-Code</th>
        <th>Description</th>
        <th>Aisle/Shelf</th>
        <th class="number">Ordered</th>
        <th class="number">Out</th>
        <th class="number">Pick</th>
        <th class="number">Picked</th>
        <th class="number">Verified</th>
      </tr>
    </thead>
    <tbody>
      {{#each rows}}
      <tr data-rowtype={{RowType}} data-itemclass="{{ItemClass}}">
        {{#ifEquals RowType "RecTypeDisplayheader"}}
        <td colspan="8" style="text-decoration:underline; font-weight:bold;text-align:left;padding:11px 0px 5px 5px">{{RecTypeDisplay}}&nbsp;</td>
        {{/ifEquals}}
        {{#ifEquals RowType "InventoryTypeheader"}}
        <td colspan="8" style="font-weight:bold;text-align:left;padding:11px 0px 5px 5px">{{InventoryType}}&nbsp;</td>
        {{/ifEquals}}
        {{#ifEquals RowType "detail"}}
        <td class="text boxcol">{{OrderNumber}}</td>
        <td class="text boxcol">{{ICode}}</td>
        <td class="text boxcol">{{Description}}</td>
        <td class="text boxcol">{{AisleShelfLocation}}</td>
        <td class="number boxcol">{{QuantityOrdered}}</td>
        <td class="number boxcol">{{OutQuantity}}</td>
        <td class="number boxcol">{{PickQuantity}}</td>
        <td class="number boxcol"></td>
        <td class="number boxcol"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "InventoryTypefooter"}}
        <td colspan="6" class="total-name">{{InventoryType}}&nbsp;</td>
        <td class="total-val" data-value="{{PickQuantity}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "RecTypeDisplayfooter"}}
        <td colspan="6" class="total-name">{{RecTypeDisplay}}&nbsp;</td>
        <td class="total-val" data-value="{{PickQuantity}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "grandtotal"}}
        <td colspan="6" class="total-name">Grand Total:&nbsp;</td>
        <td class="total-val" data-value="{{PickQuantity}}"></td>
        {{/ifEquals}}
      </tr>
      {{/each}}
      <tr>
        <td colspan="3" rowspan="3" class="total-name">PICKED BY:</td>
        <td colspan="4" rowspan="3" class="picked-by"></td>
      </tr>
    </tbody>
  </table>
</div>