<!--DeliveryLabel-->
{{#each this}}
<div data-section="header">
  <div class="rpt-flexrow">
    <div class="rpt-flexcolumn"></div>
    <div class="rpt-flexcolumn" style="font-size: 4em; align-items: center;">
      <div class="rpt-nested-flexrow">
        <div class="logo-container"><span><img data-visible="{{#if ../Logosrc}}true{{/if}}" class="logo" src="{{../Logosrc}}" alt="logo" /></span></div>
      </div>
      <div class="rpt-nested-flexrow"><span class="order-no">{{OrderNumber}}</span></div>
      <div class="rpt-nested-flexrow"><span class="location">{{Location}}</span></div>
      <div class="rpt-nested-flexrow"><span>Attn: {{Attention}}</span></div>
      <div class="rpt-nested-flexrow"><span>{{Address1}}</span></div>
      <div class="rpt-nested-flexrow"><span data-visible="{{#if Address2}}true{{/if}}">{{Address2}}</span></div>
      <div class="rpt-nested-flexrow"><span>{{CityStateZipCode}}</span></div>
    </div>
    <div class="rpt-flexcolumn"></div>
  </div>
</div>
{{/each}}
