<div class="Header">
  <div>
    <div style="text-align: left; font-weight: bold; float:left;">RENTALWORKS</div>
    <div style="text-align: right; font-weight: bold; float:right;">4WALL ENTERTAINMENT</div>
    <div style="text-align: center; font-weight: bold; margin:0 auto;">A/R Aging Report</div>
  </div>
  <div>
    <div style="text-align: center; margin:0 auto;">As of {{ToDate}}</div>
  </div>
</div>
<div class="data">
  <table id="tbldata">
    <thead>
      <tr class="columnheadings">
        <th class="InvoiceNo">Invoice No.</th>
        <th class="InvoiceDate">Invoice Date</th>
        <th class="Office">Office</th>
        <th class="Customer">Customer</th>
        <th class="Deal">Deal</th>
        <th class="OrderNo">Order No.</th>
        <th class="InvoiceDesc">Invoice Description</th>
        <th class="Total">Total</th>
        <th class="Total0030">Current</th>
        <th class="Total3160">31-60</th>
        <th class="Total6190">61-90</th>
        <th class="Total91x">>90</th>
      </tr>
    </thead>
    <tbody>
      {{#with Rows}}
      {{#each this}}
      <tr data-rowtype="{{RowType}}">
        {{#ifEquals RowType "OfficeLocationheader"}}
        <td colspan="12">{{OfficeLocation}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Customerheader"}}
        <td colspan="12">{{Customer}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Dealheader"}}
        <td colspan="12">{{Deal}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "detail"}}
        <td>{{InvoiceNumber}}</td>
        <td>{{InvoiceDate}}</td>
        <td>{{OfficeLocation}}</td>
        <td>{{Customer}}</td>
        <td>{{Deal}}</td>
        <td>{{OrderNumber}}</td>
        <td>{{InvoiceDescription}}</td>
        <td class="totals" data-value="{{Total}}">{{Total}}</td>
        <td class="totals" data-value="{{Total0030}}">{{Total0030}}</td>
        <td class="totals" data-value="{{Total3160}}">{{Total3160}}</td>
        <td class="totals" data-value="{{Total6190}}">{{Total6190}}</td>
        <td class="totals" data-value="{{Total91x}}">{{Total91x}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Dealfooter"}}
        <td colspan="5"></td>
        <td colspan="2">Deal Sub Totals:</td>
        <td class="totals" data-value="{{Total}}">{{Total}}</td>
        <td class="totals" data-value="{{Total0030}}">{{Total0030}}</td>
        <td class="totals" data-value="{{Total3160}}">{{Total3160}}</td>
        <td class="totals" data-value="{{Total6190}}">{{Total6190}}</td>
        <td class="totals" data-value="{{Total91x}}">{{Total91x}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Customerfooter"}}
        <td colspan="5"></td>
        <td colspan="2">Customer Sub Totals:</td>
        <td class="totals" data-value="{{Total}}">{{Total}}</td>
        <td class="totals" data-value="{{Total0030}}">{{Total0030}}</td>
        <td class="totals" data-value="{{Total3160}}">{{Total3160}}</td>
        <td class="totals" data-value="{{Total6190}}">{{Total6190}}</td>
        <td class="totals" data-value="{{Total91x}}">{{Total91x}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "OfficeLocationfooter"}}
        <td colspan="5"></td>
        <td colspan="2">{{OfficeLocation}} Totals:</td>
        <td class="totals" data-value="{{Total}}">{{Total}}</td>
        <td class="totals" data-value="{{Total0030}}">{{Total0030}}</td>
        <td class="totals" data-value="{{Total3160}}">{{Total3160}}</td>
        <td class="totals" data-value="{{Total6190}}">{{Total6190}}</td>
        <td class="totals" data-value="{{Total91x}}">{{Total91x}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "grandtotal"}}
        <td colspan="5"></td>
        <td colspan="2">Grand Totals:</td>
        <td class="totals" data-value="{{Total}}">{{Total}}</td>
        <td class="totals" data-value="{{Total0030}}">{{Total0030}}</td>
        <td class="totals" data-value="{{Total3160}}">{{Total3160}}</td>
        <td class="totals" data-value="{{Total6190}}">{{Total6190}}</td>
        <td class="totals" data-value="{{Total91x}}">{{Total91x}}</td>
        {{/ifEquals}}
      </tr>
      {{/each}}
      {{/with}}
    </tbody>
  </table>
</div>