<!--TransferReport-->
<!--SUMMARY VIEW TABLE-->
{{#ifEquals IsSummary true}}
<div class="rpt-flexrow" ">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">Invoice From: {{FromDate}} To: {{ToDate}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div class="rpt-flexrow" style="margin-top:40px;">
  <table id="summary">
    <thead>
      <tr>
        <th>Transfer No.</th>
        <th>Date</th>
        <th>Description</th>
        <th>From</th>
        <th>To</th>
        <th class="number">Total Qty</th>
        <th class="number">Staged</th>
        <th class="number">Out</th>
        <th class="number">In</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr data-rowtype={{RowType}}>
        {{#ifEquals RowType "Departmentheader"}}
        <td colspan="5" class="header-row">Department: {{Department}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "FromWarehouseheader"}}
        <td colspan="5" class="lower header-row">From Warehouse: {{FromWarehouse}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "ToWarehouseheader"}}
        <td colspan="5" class="lower header-row">To Warehouse: {{ToWarehouse}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "detail"}}
        <td data-value="{{TransferNumber}}"></td>
        <td data-value="{{TransferDate}}"></td>
        <td data-value="{{TransferDescription}}"></td>
        <td data-value="{{FromWarehouseCode}}"></td>
        <td data-value="{{ToWarehouseCode}}"></td>
        <td class="number" data-value="{{QuantityOrdered}}"></td>
        <td class="number" data-value="{{QuantityStaged}}"></td>
        <td class="number" data-value="{{QuantityOut}}"></td>
        <td class="number" data-value="{{QuantityIn}}"></td>
        <td data-value="{{TransferStatus}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "Departmentfooter"}}
        <td colspan="5" class="total-name">{{Department}}:&nbsp;</td>
        <td class="total-val" data-value="{{QuantityOrdered}}"></td>
        <td class="total-val" data-value="{{QuantityStaged}}"></td>
        <td class="total-val" data-value="{{QuantityOut}}"></td>
        <td class="total-val" data-value="{{QuantityIn}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "FromWarehousefooter"}}
        <td colspan="5" class="total-name">{{FromWarehouse}}:&nbsp;</td>
        <td class="total-val" data-value="{{QuantityOrdered}}"></td>
        <td class="total-val" data-value="{{QuantityStaged}}"></td>
        <td class="total-val" data-value="{{QuantityOut}}"></td>
        <td class="total-val" data-value="{{QuantityIn}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "ToWarehousefooter"}}
        <td colspan="5" class="total-name">{{ToWarehouse}}:&nbsp;</td>
        <td class="total-val" data-value="{{QuantityOrdered}}"></td>
        <td class="total-val" data-value="{{QuantityStaged}}"></td>
        <td class="total-val" data-value="{{QuantityOut}}"></td>
        <td class="total-val" data-value="{{QuantityIn}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "grandtotal"}}
        <td colspan="5" class="total-name">Grand Total:&nbsp;</td>
        <td class="total-val" data-value="{{QuantityOrdered}}"></td>
        <td class="total-val" data-value="{{QuantityStaged}}"></td>
        <td class="total-val" data-value="{{QuantityOut}}"></td>
        <td class="total-val" data-value="{{QuantityIn}}"></td>
        {{/ifEquals}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{/ifEquals}}
<!--DETAIL VIEW TABLE-->
{{#ifEquals IsSummary false}}
<div class="rpt-flexrow">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">From: {{FromDate}} To: {{ToDate}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div class="rpt-flexrow" style="margin-top:40px;">
  <table id="detail" style="border-top:2px solid black;">
    {{#each this}}
    {{#ifEquals RowType "Departmentheader"}}
    <thead>
      <tr data-rowtype={{RowType}}>
        <th class="header-row no-border" colspan="11">Department: {{Department}}</th>
      </tr>
    </thead>
    {{/ifEquals}}
    {{#ifEquals RowType "FromWarehouseheader"}}
    <thead>
      <tr data-rowtype={{RowType}}>
        <th class="lower header-row no-border" colspan="11">From Warehouse: {{FromWarehouse}}</th>
      </tr>
    </thead>
    {{/ifEquals}}
    {{#ifEquals RowType "ToWarehouseheader"}}
    <thead>
      <tr data-rowtype={{RowType}}>
        <th class="lower header-row no-border" colspan="11">To Warehouse: {{ToWarehouse}}</th>
      </tr>
    </thead>
    {{/ifEquals}}
    {{#ifEquals RowType "TransferNumberheader"}}
    <thead>
      <tr data-rowtype={{RowType}}>
        <th>No.</th>
        <th>Date</th>
        <th>Description</th>
        <th class="number">Total Qty</th>
        <th class="number">Staged</th>
        <th class="number">Out</th>
        <th class="number">In</th>
        <th>Status</th>
      </tr>
    </thead>
    <tr>
      <td data-value="{{TransferNumber}}"></td>
      <td data-value="{{TransferDate}}"></td>
      <td data-value="{{TransferDescription}}"></td>
      <td class="number" data-value="{{QuantityOrdered}}"></td>
      <td class="number" data-value="{{QuantityStaged}}"></td>
      <td class="number" data-value="{{QuantityOut}}"></td>
      <td class="number" data-value="{{QuantityIn}}"></td>
      <td data-value="{{TransferStatus}}"></td>
    </tr>
    <thead>
      <tr data-rowtype={{RowType}}>
        <th class="no-border"></th>
        <th>I-Code</th>
        <th>Description</th>
        <th class="number">Total Qty</th>
        <th class="number">Staged</th>
        <th class="number">Out</th>
        <th class="number">In</th>
      </tr>
    </thead>
    {{/ifEquals}}
    {{#ifEquals RowType "detail"}}
    <tbody data-rowtype="{{RowType}}">
      <tr class="detail">
        <td class="no-border"></td>
        <td class="nowrap" data-value="{{ICode}}"></td>
        <td data-value="{{Description}}"></td>
        <td class="number" data-value="{{QuantityOrdered}}"></td>
        <td class="number" data-value="{{QuantityStaged}}"></td>
        <td class="number" data-value="{{QuantityOut}}"></td>
        <td class="number" data-value="{{QuantityIn}}"></td>
      </tr>
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "Departmentfooter"}}
    <tr data-rowtype="{{RowType}}">
      <td colspan="3" class="total-name">{{Department}}:&nbsp;</td>
      <td class="total-val" data-value="{{QuantityOrdered}}"></td>
      <td class="total-val" data-value="{{QuantityStaged}}"></td>
      <td class="total-val" data-value="{{QuantityOut}}"></td>
      <td class="total-val" data-value="{{QuantityIn}}"></td>
    </tr>
    {{/ifEquals}}
    {{#ifEquals RowType "FromWarehousefooter"}}
    <tr data-rowtype="{{RowType}}">
      <td colspan="3" class="total-name">{{FromWarehouse}}:&nbsp;</td>
      <td class="total-val" data-value="{{QuantityOrdered}}"></td>
      <td class="total-val" data-value="{{QuantityStaged}}"></td>
      <td class="total-val" data-value="{{QuantityOut}}"></td>
      <td class="total-val" data-value="{{QuantityIn}}"></td>
    </tr>
    {{/ifEquals}}
    {{#ifEquals RowType "ToWarehousefooter"}}
    <tr data-rowtype="{{RowType}}">
      <td colspan="3" class="total-name">{{ToWarehouse}}:&nbsp;</td>
      <td class="total-val" data-value="{{QuantityOrdered}}"></td>
      <td class="total-val" data-value="{{QuantityStaged}}"></td>
      <td class="total-val" data-value="{{QuantityOut}}"></td>
      <td class="total-val" data-value="{{QuantityIn}}"></td>
    </tr>
    {{/ifEquals}}
    {{#ifEquals RowType "TransferNumberfooter"}}
    <tr data-rowtype="{{RowType}}">
      <td colspan="3" class="total-name">{{TransferNumber}}:&nbsp;</td>
      <td class="total-val" data-value="{{QuantityOrdered}}"></td>
      <td class="total-val" data-value="{{QuantityStaged}}"></td>
      <td class="total-val" data-value="{{QuantityOut}}"></td>
      <td class="total-val" data-value="{{QuantityIn}}"></td>
    </tr>
    <tr data-rowtype="{{RowType}}">
      <td colspan="3" style="padding-bottom:15px;" class="total-name"></td>
    </tr>
    {{/ifEquals}}
    {{#ifEquals RowType "grandtotal"}}
    <tr data-rowtype="{{RowType}}">
      <td colspan="3" class="total-name">Grand Total:&nbsp;</td>
      <td class="total-val" data-value="{{QuantityOrdered}}"></td>
      <td class="total-val" data-value="{{QuantityStaged}}"></td>
      <td class="total-val" data-value="{{QuantityOut}}"></td>
      <td class="total-val" data-value="{{QuantityIn}}"></td>
    </tr>
    {{/ifEquals}}
    {{/each}}
  </table>
</div>
{{/ifEquals}}