<!--Change Audit Report-->
<div data-section="header" class="rpt-flexrow">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">From: {{FromDate}} To: {{ToDate}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div data-section="table" class="rpt-flexrow" style="margin-top:40px;">
  <table style="width:1110px; table-layout:fixed">
    <thead id="columnHeader" class="main-header">
      <tr data-row="main-header" >
        <th data-valuefield="DateStamp" data-linkedcolumn="DateStamp">Date/Time</th>
        <th data-valuefield="RecordTitle" data-linkedcolumn="RecordTitle">Record Title</th>
        <th colspan="3">Changes</th>
      </tr>
    </thead>
    <tbody data-rowtype="{{RowType}}">
    {{#each this}}
    {{#ifEquals RenderModuleHeader true}}
      <tr data-sort="true" data-row="header" data-rowtype="ModuleNameHeader">
        <th class="header-row" colspan="5">Module: {{ModuleName}}</th>
      </tr>
    {{/ifEquals}}
    {{#ifEquals RenderUserHeader true}}
      <tr data-sort="true" data-row="header" data-rowtype="UserNameHeader">
        <th class="lower header-row" colspan="5">User: {{UserName}}</th>
      </tr>
    {{/ifEquals}}
    {{#ifEquals RowType "detail"}}
      <tr data-row="detail">
        <td data-linkedcolumn="DateStamp" data-value="{{DateStamp}}"></td>
        <td data-linkedcolumn="RecordTitle" data-value="{{RecordTitle}}"></td>
        <td data-linkedcolumn="FieldName" class="changes-header">Field Name</td>
        <td data-linkedcolumn="OldValue" class="changes-header">Old Value</td>
        <td data-linkedcolumn="NewValue" class="changes-header">New Value</td>
      </tr>
      {{#each Json}}
      <tr data-row="sub-detail">
        <td data-linkedcolumn="EmptyTd-1" colspan="2"></td>
        <td data-linkedcolumn="FieldName" class="field-name" data-value="{{FieldName}}"></td>
        <td data-linkedcolumn="OldValue" class="value-fields" data-value="{{OldValue}}"></td>
        <td data-linkedcolumn="NewValue" class="value-fields" data-value="{{NewValue}}"></td>
      </tr>
    {{/each}}
    </tbody>
    {{/ifEquals}}
    {{/each}}
  </table>
</div>