<div class="rpt-flexrow" style="margin:5px 0px 0px 4px;">
  <div class="rpt-flexcolumn" style="padding-bottom:5px;">
    {{#if Logosrc}}
    <div style="height:130px;"><img class="clientlogo" src="{{Logosrc}}" style="display:block;width:auto;height:100%;" alt="logo" /></div>
    {{else}}
    <div></div>
    {{/if}}
    <span style="font-weight:600; font-size:18px;">{{OfficeLocationCompany}}</span>
    <span class="company-header">{{OfficeLocationAddress1}}</span>
    <span class="company-header">{{OfficeLocationAddress2}}</span>
    <span class="company-header">{{OfficeLocationCityStateZipCode}}</span>
    <span class="company-header"><span style="font-weight:600;">Phone: </span>{{OfficeLocationPhone}}</span>
    {{#gt OfficeLocationFax.length 0}}
    <span class="company-header"><span style="font-weight:600;">Fax: </span>{{OfficeLocationFax}}</span>
    {{/gt}}
  </div>
  <div style="max-width: 270px;" class="rpt-flexcolumn">
    <span class="sub-title blue">{{Department}}</span>
    <span class="contract-title blue">{{ContractType}} CONTRACT</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="header-right blue" style="font-size:32px;"><span style="font-weight:600;padding-right:8px;">No: </span><span style="background-color:#DCDCDC;color:black;border:3px solid #0798ee;padding:3px;">{{ContractNumber}}</span></span>
    <span style="font-size:20px;padding-top:10px;padding-right:101px;" class="header-right blue"><span style="font-weight:600;">Date: </span><span style="color:black;padding-left:12px;">{{ContractDate}}</span></span>
    <span style="font-size:20px;padding-top:3px;padding-right:124px;" class="header-right blue"><span style="font-weight:600;">Time: </span><span style="color:black;padding-left:12px;">{{ContractTime}}</span></span>
  </div>
</div>
<div class="rpt-flexrow" style="padding-left:3px;">
  <div class="rpt-flexcolumn">
    <div class="meta-header"><span>Issued To:</span></div>
    <div class="meta-address">
      <span class="header-left">{{IssuedToCompany}}</span>
      {{#if IssuedToAttentionTo1}}
      <span class="header-left">c/o {{IssuedToAttentionTo1}}</span>
      {{/if}}
      <span class="header-left">{{IssuedToAddress1}}</span>
      <span class="header-left">{{IssuedToAddress2}}</span>
      <span class="header-left">{{IssuedToCity}}, {{IssuedToState}} {{IssuedToZipCode}}</span>
      <span class="header-left"><span style="font-weight:600;">Phone: </span>{{IssuedToPhone}}</span>
      {{#gt DealFax.length 0}}
      <span class="header-left"><span style="font-weight:600;">Fax: </span>{{IssuedToFax}}</span>
      {{/gt}}
    </div>
  </div>
  <div style="max-width:50px;" class="rpt-flexcolumn middle">
    <span style="padding:10px;"></span>
  </div>
  <div class="rpt-flexcolumn">

    <div class="meta-header"><span>Purchase Order Details:</span></div>
    <table style="border-top:none;" class="meta-section">
      <tr>
        <td style="width:84px;" class="shaded-block">PO No: </td>
        <td class="meta-content" style="vertical-align:top;">{{PoNumber}}</td>
      </tr>
      <tr>
        <td style="width:84px;" class="shaded-block">Vendor: </td>
        <td class="meta-content" style="vertical-align:top;">{{Vendor}}</td>
      </tr>
      <tr>
        <td style="width:84px;" class="shaded-block">Description: </td>
        <td class="meta-content" style="vertical-align:top;">{{PoDescription}}</td>
      </tr>
    </table>
    <table class="meta-section">
      <tr>
        <td style="width:84px;" class="shaded-block">Terms: </td>
        <td class="meta-content">{{PaymentTerms}}</td>
      </tr>
      <tr>
        <td style="width:84px;" class="shaded-block">Billing Cycle: </td>
        <td class="meta-content">{{BillingCycle}}</td>
      </tr>
    </table>
    <table class="meta-section">
      <tr>
        <td style="width:84px;" class="shaded-block">Usage Dates: </td>
        <td class="meta-content">{{UsageDates}}</td>
      </tr>
      <tr>
        <td style="width:84px;" class="shaded-block">Billing Start: </td>
        <td class="meta-content">{{BillingDate}}</td>
      </tr>
    </table>
    <table class="meta-section">
      <tr>
        <td style="width:84px;" class="shaded-block">Agent: </td>
        <td class="meta-content">{{Agent}}</td>
      </tr>
      <tr>
        <td style="width:84px;" class="shaded-block">Email: </td>
        <td class="meta-content">{{AgentEmail}}</td>
      </tr>
    </table>
  </div>
</div>
<div class="rpt-flexrow section-start">
  <table>
    {{#each Items}}
    {{#ifEquals RowType "RecTypeDisplayheader"}}
    <tbody data-rowtype="{{RowType}}">
      <tr class="avoid-page-break">
        <td colspan="6" class="section-header">{{RecTypeDisplay}}&nbsp;</td>
      </tr>
      <tr class="rectype-header">
        <td></td>
        <td>I-Code</td>
        <td>Description</td>
        <td class="number">Ordered</td>
        <td class="number">Received</td>
        <td class="number">Total Received</td>
      </tr>
    </tbody>
    <tbody>
      {{/ifEquals}}
      {{#ifEquals RowType "detail"}}
      <tr data-rowtype="{{RowType}}" class="description-row">
        <td></td>
        <td class="nowrap">{{ICode}}</td>
        <td>{{Description}}</td>
        <td class="number">{{QuantityOrdered}}</td>
        <td class="number">{{Quantity}}</td>
        <td class="number">{{TotalQuantity}}</td>
      </tr>
      <tr data-rowtype="{{RowType}}" class="barcode-row">
        <td></td>
        <td>
          {{#if ../IncludeBarCodes}}
          {{#if BarCodes}}
          <div>
            <b>Bar Codes:</b> {{BarCodes}}
          </div>
          {{/if}}
          {{/if}}

          {{#if ../IncludeSerialNumbers}}
          {{#if SerialNumbers}}
          <div>
            <b>Serial Numbers:</b> {{SerialNumbers}}
          </div>
          {{/if}}
          {{/if}}

          {{#if ../IncludeRfids}}
          {{#if Rfids}}
          <div>
            <b>RFIDs:</b> {{Rfids}}
          </div>
          {{/if}}
          {{/if}}

          {{#if ../IncludeManufacturerPartNumbers}}
          {{#if ManufacturerPartNumbers}}
          <div>
            <b>Part Numbers:</b> {{ManufacturerPartNumbers}}
          </div>
          {{/if}}
          {{/if}}

          {{#if Notes}}
          <div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div>
          {{/if}}
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="6"></td>
      </tr>
      {{/ifEquals}}
      {{/each}}
    </tbody>
  </table>
</div>
{{#if TermsAndConditionsHtml}}
<div id="termsRow" colspan="7">
  <div style="font-weight:700;margin:20px 0 0 0;">Terms and Conditions:</div>
  <div><span id="terms"></span></div>
</div>
{{/if}}
{{#if PersonPrintName}}
<div class="rpt-flexrow avoid-page-break" style="margin-top:25px;">
  <fieldset style="height:150px">
    <legend>RECEIVED BY</legend>
    <table>
      <tr>
        <td valign="bottom"><img id="base64img" src="{{PersonSignature}}" alt="signature" style="width:auto;height:100px;" /></td>
        <td>&nbsp;</td>
        <td valign="bottom" style="width:250px">{{PersonPrintName}}</td>
        <td>&nbsp;</td>
        <td valign="bottom" style="width:100px">{{ContractDate}}</td>
      </tr>
      <tr>
        <td style="border-top:1px solid #000000"><div class="caption">SIGNATURE</div></td>
        <td>&nbsp;</td>
        <td style="border-top:1px solid #000000"><div class="caption">PRINT NAME</div></td>
        <td>&nbsp;</td>
        <td style="border-top:1px solid #000000"><div class="caption">DATE</div></td>
      </tr>
    </table>
  </fieldset>
</div>
{{else}}
<div class="rpt-flexrow avoid-page-break" style="margin-top:25px;">
  <fieldset>
    <legend>RECEIVED BY</legend>
    <div>
      <div style="display:flex">
        <div class="receivedbyfield">
          <div class="value"></div>
          <div class="caption">SIGNATURE</div>
        </div>
        <div class="receivedbyfield">
          <div class="value"></div>
          <div class="caption">PRINT NAME</div>
        </div>
      </div>
      <div style="display:flex">
        <div class="receivedbyfield">
          <div class="value"></div>
          <div class="caption">DATE</div>
        </div>
        <div class="receivedbyfield"></div>
      </div>
    </div>
  </fieldset>
</div>
{{/if}}
