<!--Crew Sign-In Report-->
<div class="rpt-flexrow">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">Period: {{FromDate}} To: {{ToDate}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div class="body rpt-flexrow" style="margin-top:40px;">
  <table>
    <thead>
      <tr>
        <th>Location</th>
        <th>Crew</th>
        <th class="header-box" rowspan="2">Employee ID</th>
        <th class="text header-box" colspan="2">Schedule Time</th>
        <th class="text header-box" colspan="4">Actual Time</th>
        <th class="text header-box" colspan="3">Hours</th>
        <th class="header-box" rowspan="2">Signature / Notes</th>
      </tr>
      <tr>
        <th class="empty"></th>
        <th>Position</th>
        <th class="text time-field header-box">Start</th>
        <th class="text time-field header-box">Stop</th>
        <th class="text time-field header-box">In</th>
        <th class="text time-field header-box">Out</th>
        <th class="text time-field header-box">In</th>
        <th class="text time-field header-box">Out</th>
        <th class="text time-field header-box">Regular</th>
        <th class="text time-field header-box">OT</th>
        <th class="text time-field header-box">DT</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr data-rowtype={{RowType}}>
        {{#ifEquals RowType "Locationheader"}}
        <td colspan="3" class="header-row">Office: {{Location}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Dealheader"}}
        <td colspan="3" class="lower header-row">Deal: {{Deal}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "RentFromDateheader"}}
        <td colspan="3" class="lower header-row">Date: {{RentFromDate}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "detail"}}
        <td style="padding-bottom:12px;">{{OrderLocation}}</td>
        <td>
          <div>{{Person}}</div>
          <div>{{Position}}</div>
        </td>
        <td class="boxcol" style="text-align:center;">{{EmployeeId}}</td>
        <td class="boxcol">{{RentFromTime}}</td>
        <td class="boxcol">{{RentToTime}}</td>
        <td class="boxcol"></td>
        <td class="boxcol"></td>
        <td class="boxcol"></td>
        <td class="boxcol"></td>
        <td class="boxcol"></td>
        <td class="boxcol"></td>
        <td class="boxcol"></td>
        <td class="boxcol"></td>
      </tr>
      {{/ifEquals}}
      {{/each}}
    </tbody>
  </table>
</div>

