<div class="rpt-flexrow">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">RENTALWORKS</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">Credits On Account Report</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">4WALL ENTERTAINMENT</span>
  </div>
</div>
<div class="data rpt-flexrow">
  <table id="tbldata">
    <thead>
      <tr class="columnheadings">
        <th class="text">Office</th>
        <th class="text">Customer</th>
        <th class="text">Deal</th>
        <th class="number"><div>Depleting</div> <div>Deposits</div></th>
        <th class="number"><div>Credit</div> <div>Memos</div></th>
        <th class="number">Overpayments</th>
        <th class="number"><div>Total</div> <div>Deposits</div></th>
        <th class="number"><div>Total</div> <div>Applied</div></th>
        <th class="number"><div>Total</div> <div>Refunded</div></th>
        <th class="number">Remaining</th>
      </tr>
    </thead>
    <tbody>
      {{#with Rows}}
      {{#each this}}
      <tr data-rowtype="{{RowType}}">
        {{#ifEquals RowType "OfficeLocationheader"}}
        <td colspan="10">Office Location: {{OfficeLocation}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Customerheader"}}
        <td colspan="10">Customer: {{Customer}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Dealheader"}}
        <td colspan="10">Deal: {{Deal}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "detail"}}
        <td class="text">{{OfficeLocation}}</td>
        <td class="text">{{Customer}}</td>
        <td class="text">{{Deal}}</td>
        <td class="number">{{TotalDepletingDeposit}}</td>
        <td class="number">{{TotalCredit}}</td>
        <td class="number">{{TotalOverpayment}}</td>
        <td class="number">{{TotalDeposit}}</td>
        <td class="number">{{TotalApplied}}</td>
        <td class="number">{{TotalRefunded}}</td>
        <td class="number">{{Remaining}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Dealfooter"}}
        <td colspan="1"></td>
        <td colspan="2" style="text-align:right;">{{Deal}}: </td>
        <td class="number totals">{{TotalDepletingDeposit}}</td>
        <td class="number totals">{{TotalCredit}}</td>
        <td class="number totals">{{TotalOverpayment}}</td>
        <td class="number totals">{{TotalDeposit}}</td>
        <td class="number totals">{{TotalApplied}}</td>
        <td class="number totals">{{TotalRefunded}}</td>
        <td class="number totals">{{Remaining}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Customerfooter"}}
        <td colspan="1"></td>
        <td colspan="2" style="text-align:right;">{{Customer}}: </td>
        <td class="number totals">{{TotalDepletingDeposit}}</td>
        <td class="number totals">{{TotalCredit}}</td>
        <td class="number totals">{{TotalOverpayment}}</td>
        <td class="number totals">{{TotalDeposit}}</td>
        <td class="number totals">{{TotalApplied}}</td>
        <td class="number totals">{{TotalRefunded}}</td>
        <td class="number totals">{{Remaining}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "OfficeLocationfooter"}}
        <td colspan="1"></td>
        <td colspan="2" style="text-align:right;">{{OfficeLocation}}: </td>
        <td class="number totals">{{TotalDepletingDeposit}}</td>
        <td class="number totals">{{TotalCredit}}</td>
        <td class="number totals">{{TotalOverpayment}}</td>
        <td class="number totals">{{TotalDeposit}}</td>
        <td class="number totals">{{TotalApplied}}</td>
        <td class="number totals">{{TotalRefunded}}</td>
        <td class="number totals">{{Remaining}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "grandtotal"}}
        <td colspan="1"></td>
        <td colspan="2" style="text-align:right;">Grand Total: </td>
        <td class="number totals">{{TotalDepletingDeposit}}</td>
        <td class="number totals">{{TotalCredit}}</td>
        <td class="number totals">{{TotalOverpayment}}</td>
        <td class="number totals">{{TotalDeposit}}</td>
        <td class="number totals">{{TotalApplied}}</td>
        <td class="number totals">{{TotalRefunded}}</td>
        <td class="number totals">{{Remaining}}</td>
        {{/ifEquals}}
      </tr>
      {{/each}}
      {{/with}}
    </tbody>
  </table>
</div>