<!--Credits On Account Report-->
<div class="rpt-flexrow">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div class="rpt-flexrow" style="margin-top:40px;">
  <table>
    <thead>
      <tr>
        <th>Deal</th>
        <th class="number">Depleting Deposits</th>
        <th class="number">Credit Memos</th>
        <th class="number">Overpayments</th>
        <th class="number">Total Deposits</th>
        <th class="number">Total Applied</th>
        <th class="number">Total Refunded</th>
        <th class="number">Remaining</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr data-rowtype="{{RowType}}">
        {{#ifEquals RowType "OfficeLocationheader"}}
        <td colspan="5" class="header-row">Office: {{OfficeLocation}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Customerheader"}}
        <td colspan="5" class="lower header-row">Customer: {{Customer}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "detail"}}
        <td data-value="{{Deal}}"></td>
        <td class="number" data-value="{{TotalDepletingDeposit}}"></td>
        <td class="number" data-value="{{TotalCredit}}"></td>
        <td class="number" data-value="{{TotalOverpayment}}"></td>
        <td class="number" data-value="{{TotalDeposit}}"></td>
        <td class="number" data-value="{{TotalApplied}}"></td>
        <td class="number" data-value="{{TotalRefunded}}"></td>
        <td class="number" data-value="{{Remaining}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "Customerfooter"}}
        <td class="total-name">{{Customer}}</td>
        <td class="total-val" data-value="{{TotalDepletingDeposit}}"></td>
        <td class="total-val" data-value="{{TotalCredit}}"></td>
        <td class="total-val" data-value="{{TotalOverpayment}}"></td>
        <td class="total-val" data-value="{{TotalDeposit}}"></td>
        <td class="total-val" data-value="{{TotalApplied}}"></td>
        <td class="total-val" data-value="{{TotalRefunded}}"></td>
        <td class="total-val" data-value="{{Remaining}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "OfficeLocationfooter"}}
        <td class="total-name">{{OfficeLocation}}</td>
        <td class="total-val" data-value="{{TotalDepletingDeposit}}"></td>
        <td class="total-val" data-value="{{TotalCredit}}"></td>
        <td class="total-val" data-value="{{TotalOverpayment}}"></td>
        <td class="total-val" data-value="{{TotalDeposit}}"></td>
        <td class="total-val" data-value="{{TotalApplied}}"></td>
        <td class="total-val" data-value="{{TotalRefunded}}"></td>
        <td class="total-val" data-value="{{Remaining}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "grandtotal"}}
        <td class="total-name">Grand Total:&nbsp;</td>
        <td class="total-val" data-value="{{TotalDepletingDeposit}}"></td>
        <td class="total-val" data-value="{{TotalCredit}}"></td>
        <td class="total-val" data-value="{{TotalOverpayment}}"></td>
        <td class="total-val" data-value="{{TotalDeposit}}"></td>
        <td class="total-val" data-value="{{TotalApplied}}"></td>
        <td class="total-val" data-value="{{TotalRefunded}}"></td>
        <td class="total-val" data-value="{{Remaining}}"></td>
        {{/ifEquals}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>