<!--RentalInventoryActivityByDateReport-->
<div data-section="header">
  <div class="rpt-flexrow">
    <div class="rpt-flexcolumn">
      <div class="rpt-nested-flexrow rpt-header-left"><span>{{System}}</span></div>
    </div>
    <div class="rpt-flexcolumn">
      <div class="rpt-nested-flexrow rpt-title"><span>{{Report}}</span></div>
      <div class="rpt-nested-flexrow rpt-header-center"><span>From: {{FromDate}} To: {{ToDate}}</span></div>
      <div class="rpt-nested-flexrow rpt-header-center"><span>Ownership Types: {{OwnershipTypes}}</span></div>
    </div>
    <div class="rpt-flexcolumn">
      <div class="rpt-nested-flexrow rpt-header-right"><span>{{Company}}</span></div>
    </div>
  </div>
</div>
<div data-section="table" class="rpt-flexrow" style="margin-top:40px;">
  <table>
    <thead id="columnHeader">
      <tr data-row="main-header">
        <th data-linkedcolumn="ICode" data-valuefield="ICode">I-Code</th>
        <th data-linkedcolumn="Description" data-valuefield="Description">Description</th>
        <th data-linkedcolumn="QuantityOut" data-valuefield="QuantityOut" class="number">Quantity Out</th>
        <th data-linkedcolumn="QuantityIn" data-valuefield="QuantityIn" class="number">Quantity In</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      {{#ifEquals RowType "Warehouseheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="4" class="header-row">Warehouse: {{Warehouse}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "InventoryTypeheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="4" class="lower header-row">Inventory Type: {{InventoryType}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Categoryheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="4" class="lower header-row">Category: {{"Category"}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "detail"}}
      <tr data-row="detail" data-rowtype="{{RowType}}">
        <td data-linkedcolumn="ICode" class="nowrap" data-value="{{ICode}}"></td>
        <td data-linkedcolumn="Description" data-value="{{Description}}"></td>
        <td data-linkedcolumn="QuantityOut" class="number" data-value="{{QuantityOut}}"></td>
        <td data-linkedcolumn="QuantityIn" class="number" data-value="{{QuantityIn}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Categoryfooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="2" class="total-name">{{Category}}:&nbsp;</td>
        <td data-linkedcolumn="QuantityOut" class="total-val" data-value="{{QuantityOut}}"></td>
        <td data-linkedcolumn="QuantityIn" class="total-val" data-value="{{QuantityIn}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "InventoryTypefooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="2" class="total-name">{{InventoryType}}:&nbsp;</td>
        <td data-linkedcolumn="QuantityOut" class="total-val" data-value="{{QuantityOut}}"></td>
        <td data-linkedcolumn="QuantityIn" class="total-val" data-value="{{QuantityIn}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Warehousefooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="2" class="total-name">{{Warehouse}}:&nbsp;</td>
        <td data-linkedcolumn="QuantityOut" class="total-val" data-value="{{QuantityOut}}"></td>
        <td data-linkedcolumn="QuantityIn" class="total-val" data-value="{{QuantityIn}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "grandtotal"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="2" class="total-name">Grand Total:&nbsp;</td>
        <td data-linkedcolumn="QuantityOut" class="total-val" data-value="{{QuantityOut}}"></td>
        <td data-linkedcolumn="QuantityIn" class="total-val" data-value="{{QuantityIn}}"></td>
      </tr>
      {{/ifEquals}}
      {{/each}}
    </tbody>
  </table>
</div>