<!--Rental Inventory Value Report-->
<div data-section="header">
  <div class="rpt-flexrow">
    <div class="rpt-flexcolumn">
      <div class="rpt-nested-flexrow rpt-header-left"><span>{{System}}</span></div>
    </div>
    <div class="rpt-flexcolumn">
      <div class="rpt-nested-flexrow rpt-title"><span>{{Report}}</span></div>
      <div class="rpt-nested-flexrow rpt-header-center"><span>From: {{FromDate}} To: {{ToDate}}</span></div>
      <div class="rpt-nested-flexrow rpt-header-center"><span>{{ConsignedOwnedHeader}}</span></div>
    </div>
    <div class="rpt-flexcolumn">
      <div class="rpt-nested-flexrow rpt-header-right"><span>{{Company}}</span></div>
    </div>
  </div>
</div>
<!--SUMMARY VIEW TABLE-->
{{#ifEquals ViewSetting "SummaryView"}}
<div data-section="table" class="rpt-flexrow" style="margin-top:40px;">
  <table data-tablename="Summary View">
    <thead id="columnHeader">
      <tr data-row="main-header">
        <th data-linkedcolumn="ICode" data-valuefield="ICode">I-Code</th>
        <th data-linkedcolumn="Description" data-valuefield="Description">Description</th>
        <th data-linkedcolumn="Rank" data-valuefield="Rank">Rank</th>
        <th data-linkedcolumn="ChangeDate" data-valuefield="ChangeDate">Date</th>
        <th data-linkedcolumn="Quantity" data-valuefield="Quantity" class="number">Quantity</th>
        <th data-linkedcolumn="UnitValue" data-valuefield="UnitValue" class="number">Avg. Unit Value</th>
        <th data-linkedcolumn="ExtendedValue" data-valuefield="ExtendedValue" class="number">Extended</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      {{#ifEquals RowType "Warehouseheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="7" class="header-row">Warehouse: {{Warehouse}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "InventoryTypeheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="7" class="lower header-row">Inventory Type: {{"InventoryType"}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Categoryheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="7" class="lower header-row">Category: {{Category}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "SubCategoryheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="7" class="lower header-row">Sub Category: {{SubCategory}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "detail"}}
      <tr data-row="detail" data-rowtype="{{RowType}}">
        <td data-linkedcolumn="ICode" class="nowrap" data-value="{{ICode}}"></td>
        <td data-linkedcolumn="Description" data-value="{{Description}}"></td>
        <td data-linkedcolumn="Rank" data-value="{{Rank}}"></td>
        <td data-linkedcolumn="ChangeDate" data-value="{{ChangeDate}}"></td>
        <td data-linkedcolumn="Quantity" class="number" data-value="{{Quantity}}"></td>
        <td data-linkedcolumn="UnitValue" class="number" data-value="{{UnitValue}}"></td>
        <td data-linkedcolumn="ExtendedValue" class="number" data-value="{{ExtendedValue}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Categoryfooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="4" class="total-name">{{Category}}&nbsp;</td>
        <td data-linkedcolumn="Quantity" class="total-val" data-value="{{Quantity}}"></td>
        <td data-linkedcolumn="UnitValue" class="total-val"></td>
        <td data-linkedcolumn="ExtendedValue" class="total-val" data-value="{{ExtendedValue}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "SubCategoryfooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="4" class="total-name">{{SubCategory}}&nbsp;</td>
        <td data-linkedcolumn="Quantity" class="total-val" data-value="{{Quantity}}"></td>
        <td data-linkedcolumn="UnitValue" class="total-val"></td>
        <td data-linkedcolumn="ExtendedValue" class="total-val" data-value="{{ExtendedValue}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "InventoryTypefooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="4" class="total-name">{{InventoryType}}&nbsp;</td>
        <td data-linkedcolumn="Quantity" class="total-val" data-value="{{Quantity}}"></td>
        <td data-linkedcolumn="UnitValue" class="total-val"></td>
        <td data-linkedcolumn="ExtendedValue" class="total-val" data-value="{{ExtendedValue}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Warehousefooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="4" class="total-name">{{Warehouse}}&nbsp;</td>
        <td data-linkedcolumn="Quantity" class="total-val" data-value="{{Quantity}}"></td>
        <td data-linkedcolumn="UnitValue" class="total-val"></td>
        <td data-linkedcolumn="ExtendedValue" class="total-val" data-value="{{ExtendedValue}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "grandtotal"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="4" class="total-name">Grand Total:&nbsp;</td>
        <td data-linkedcolumn="Quantity" class="total-val" data-value="{{Quantity}}"></td>
        <td data-linkedcolumn="UnitValue" class="total-val"></td>
        <td data-linkedcolumn="ExtendedValue" class="total-val" data-value="{{ExtendedValue}}"></td>
      </tr>
      {{/ifEquals}}
      {{/each}}
    </tbody>
  </table>
</div>
{{/ifEquals}}

<!--DETAIL VIEW TABLE-->
{{#ifEquals ViewSetting "DetailView"}}
<div data-section="table">
  <table data-tablename="Detail View">
    <thead id="columnHeader">
      <tr data-row="main-header">
        <th data-linkedcolumn="ICode" data-valuefield="ICode">I-Code</th>
        <th data-linkedcolumn="Description" data-valuefield="Description">Description</th>
        <th data-linkedcolumn="Rank" data-valuefield="Rank">Rank</th>
        <th data-linkedcolumn="ChangeDate" data-valuefield="ChangeDate">Date</th>
        <th data-linkedcolumn="ChangeType" data-valuefield="ChangeType">Type</th>
        <th data-linkedcolumn="ChangeDescription" data-valuefield="ChangeDescription">Change Description</th>
        <th data-linkedcolumn="Quantity" data-valuefield="Quantity" class="number">Quantity</th>
        <th data-linkedcolumn="UnitValue" data-valuefield="UnitValue" class="number">Unit Value</th>
        <th data-linkedcolumn="ExtendedValue" data-valuefield="ExtendedValue" class="number">Extended</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      {{#ifEquals RowType "Warehouseheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="9" class="header-row">Warehouse: {{Warehouse}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "InventoryTypeheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="9" class="lower header-row">Inventory Type: {{InventoryType}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Categoryheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="9" class="lower header-row">Category: {{Category}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "SubCategoryheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="9" class="lower header-row">Sub Category: {{SubCategory}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "ICodeheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="9" class="lower header-row">I-Code: {{ICode}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "detail"}}
      <tr data-row="detail" data-rowtype="{{RowType}}">
        <td data-linkedcolumn="ICode" class="nowrap" data-value="{{ICode}}"></td>
        <td data-linkedcolumn="Description" data-value="{{Description}}"></td>
        <td data-linkedcolumn="Rank" data-value="{{Rank}}"></td>
        <td data-linkedcolumn="ChangeDate" data-value="{{ChangeDate}}"></td>
        <td data-linkedcolumn="ChangeType" data-value="{{ChangeType}}"></td>
        <td data-linkedcolumn="ChangeDescription" data-value="{{ChangeDescription}}"></td>
        <td data-linkedcolumn="Quantity" class="number" data-value="{{Quantity}}"></td>
        <td data-linkedcolumn="UnitValue" class="number" data-value="{{UnitValue}}"></td>
        <td data-linkedcolumn="ExtendedValue" class="number" data-value="{{ExtendedValue}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "ICodefooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="6" class="total-name">{{ICode}}&nbsp;</td>
        <td data-linkedcolumn="Quantity" class="total-val" data-value="{{Quantity}}"></td>
        <td data-linkedcolumn="UnitValue" class="total-val"></td>
        <td data-linkedcolumn="ExtendedValue" class="total-val" data-value="{{ExtendedValue}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "SubCategoryfooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="6" class="total-name">{{SubCategory}}&nbsp;</td>
        <td data-linkedcolumn="Quantity" class="total-val" data-value="{{Quantity}}"></td>
        <td data-linkedcolumn="UnitValue" class="total-val"></td>
        <td data-linkedcolumn="ExtendedValue" class="total-val" data-value="{{ExtendedValue}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Categoryfooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="6" class="total-name">{{Category}}&nbsp;</td>
        <td data-linkedcolumn="Quantity" class="total-val" data-value="{{Quantity}}"></td>
        <td data-linkedcolumn="UnitValue" class="total-val"></td>
        <td data-linkedcolumn="ExtendedValue" class="total-val" data-value="{{ExtendedValue}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "InventoryTypefooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="6" class="total-name">{{InventoryType}}&nbsp;</td>
        <td data-linkedcolumn="Quantity" class="total-val" data-value="{{Quantity}}"></td>
        <td data-linkedcolumn="UnitValue" class="total-val"></td>
        <td data-linkedcolumn="ExtendedValue" class="total-val" data-value="{{ExtendedValue}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Warehousefooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="6" class="total-name">{{Warehouse}}&nbsp;</td>
        <td data-linkedcolumn="Quantity" class="total-val" data-value="{{Quantity}}"></td>
        <td data-linkedcolumn="UnitValue" class="total-val"></td>
        <td data-linkedcolumn="ExtendedValue" class="total-val" data-value="{{ExtendedValue}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "grandtotal"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="6" class="total-name">Grand Total:&nbsp;</td>
        <td data-linkedcolumn="Quantity" class="total-val" data-value="{{Quantity}}"></td>
        <td data-linkedcolumn="UnitValue" class="total-val"></td>
        <td data-linkedcolumn="ExtendedValue" class="total-val" data-value="{{ExtendedValue}}"></td>
      </tr>
      {{/ifEquals}}
      {{/each}}
    </tbody>
  </table>
</div>
{{/ifEquals}}