<!--Unretired Rental Inventory Report-->
<div data-section="header">
  <div class="rpt-flexrow">
    <div class="rpt-flexcolumn">
      <div class="rpt-nested-flexrow rpt-header-left"><span>{{System}}</span></div>
    </div>
    <div class="rpt-flexcolumn">
      <div class="rpt-nested-flexrow rpt-title"><span>{{Report}}</span></div>
      <div class="rpt-nested-flexrow rpt-header-center"><span>Unretired From: {{FromDate}} To: {{ToDate}}</span></div>
    </div>
    <div class="rpt-flexcolumn">
      <div class="rpt-nested-flexrow rpt-header-right"><span>{{Company}}</span></div>
    </div>
  </div>
</div>
<div data-section="table" class="rpt-flexrow" style="margin-top:40px;">
  <table>
    <thead id="columnHeader">
      <tr data-row="main-header">
        <th data-linkedcolumn="ICode" data-valuefield="ICode">I-Code</th>
        <th data-linkedcolumn="Description" data-valuefield="Description">Description</th>
        <th data-linkedcolumn="Quantity" data-valuefield="Quantity" class="number">Quantity</th>
        <th data-linkedcolumn="BarCode" data-valuefield="BarCode">Bar Code</th>
        <th data-linkedcolumn="RetireDate" data-valuefield="RetireDate">Retired Date</th>
        <th data-linkedcolumn="RetiredBy" data-valuefield="RetiredBy">Retired By</th>
        <th data-linkedcolumn="RetiredReason" data-valuefield="RetiredReason">Retired Reason</th>
        <th data-linkedcolumn="UnretireDate" data-valuefield="UnretireDate">Un-Retired Date</th>
        <th data-linkedcolumn="UnretiredBy" data-valuefield="UnretiredBy">Un-Retired By</th>
        <th data-linkedcolumn="UnretiredReason" data-valuefield="UnretiredReason">Un-Retired Reason</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      {{#ifEquals RowType "Warehouseheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="10" class="header-row">Warehouse: {{Warehouse}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "InventoryTypeheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="10" class="lower header-row">Inventory Type: {{"InventoryType"}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "detail"}}
      <tr data-row="detail" data-rowtype="{{RowType}}">
        <td data-linkedcolumn="ICode" data-value="{{ICode}}"></td>
        <td data-linkedcolumn="Description" data-value="{{Description}}"></td>
        <td data-linkedcolumn="Quantity" class="number" data-value="{{Quantity}}"></td>
        <td data-linkedcolumn="BarCode" data-value="{{BarCode}}"></td>
        <td data-linkedcolumn="RetireDate" data-value="{{RetireDate}}"></td>
        <td data-linkedcolumn="RetiredBy" data-value="{{RetiredBy}}"></td>
        <td data-linkedcolumn="RetiredReason" data-value="{{RetiredReason}}"></td>
        <td data-linkedcolumn="UnretireDate" data-value="{{UnretireDate}}"></td>
        <td data-linkedcolumn="UnretiredBy" data-value="{{UnretiredBy}}"></td>
        <td data-linkedcolumn="UnretiredReason" data-value="{{UnretiredReason}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "InventoryTypefooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="2" class="total-name">{{InventoryType}}&nbsp;</td>
        <td data-linkedcolumn="Quantity" class="total-val" data-value="{{Quantity}}"></td>
        <td class="empty" data-linkedcolumn="BarCode"></td>
        <td class="empty" data-linkedcolumn="RetireDate"></td>
        <td class="empty" data-linkedcolumn="RetiredBy"></td>
        <td class="empty" data-linkedcolumn="RetiredReason"></td>
        <td class="empty" data-linkedcolumn="UnretireDate"></td>
        <td class="empty" data-linkedcolumn="UnretiredBy"></td>
        <td class="empty" data-linkedcolumn="UnretiredReason"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Warehousefooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="2" class="total-name">{{Warehouse}}&nbsp;</td>
        <td data-linkedcolumn="Quantity" class="total-val" data-value="{{Quantity}}"></td>
        <td class="empty" data-linkedcolumn="BarCode"></td>
        <td class="empty" data-linkedcolumn="RetireDate"></td>
        <td class="empty" data-linkedcolumn="RetiredBy"></td>
        <td class="empty" data-linkedcolumn="RetiredReason"></td>
        <td class="empty" data-linkedcolumn="UnretireDate"></td>
        <td class="empty" data-linkedcolumn="UnretiredBy"></td>
        <td class="empty" data-linkedcolumn="UnretiredReason"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "grandtotal"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="2" class="total-name">Grand Total:&nbsp;</td>
        <td data-linkedcolumn="Quantity" class="total-val" data-value="{{Quantity}}"></td>
        <td class="empty" data-linkedcolumn="BarCode"></td>
        <td class="empty" data-linkedcolumn="RetireDate"></td>
        <td class="empty" data-linkedcolumn="RetiredBy"></td>
        <td class="empty" data-linkedcolumn="RetiredReason"></td>
        <td class="empty" data-linkedcolumn="UnretireDate"></td>
        <td class="empty" data-linkedcolumn="UnretiredBy"></td>
        <td class="empty" data-linkedcolumn="UnretiredReason"></td>
      </tr>
      {{/ifEquals}}
      {{/each}}
    </tbody>
  </table>
</div>