<!--G/L Distribution Report-->
<div data-section="header" class="rpt-flexrow">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">From: {{FromDate}} To: {{ToDate}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div data-section="table" class="rpt-flexrow" style="margin-top:40px;">
  <!--SUMMARY VIEW TABLE-->
  {{#ifEquals IsSummary true}}
  <table data-tablename="Summary View">
    <thead id="columnHeader">
      <tr>
        <th data-linkedcolumn="AccountNumber" data-valuefield="AccountNumber">G/L No.</th>
        <th data-linkedcolumn="AccountDescription" data-valuefield="AccountDescription">Account Description</th>
        <th data-linkedcolumn="Debit" data-valuefield="Debit" class="number">Debit</th>
        <th data-linkedcolumn="Credit" data-valuefield="Credit" class="number">Credit</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      {{#ifEquals RowType "Locationheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="5" class="header-row">Location: {{Location}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "GroupHeadingheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="4" class="header-row">{{GroupHeading}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "detail"}}
      <tr data-header="detail" data-rowtype="{{RowType}}">
        <td data-linkedcolumn="AccountNumber" data-value="{{AccountNumber}}"></td>
        <td data-linkedcolumn="AccountDescription" data-value="{{AccountDescription}}"></td>
        <td data-linkedcolumn="Debit" class="number" data-value="{{Debit}}"></td>
        <td data-linkedcolumn="Credit" class="number" data-value="{{Credit}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "GroupHeadingfooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="2" class="total-name">{{GroupHeading}}&nbsp;</td>
        <td data-linkedcolumn="Debit" class="total-val" data-value="{{Debit}}"></td>
        <td data-linkedcolumn="Credit" class="total-val" data-value="{{Credit}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Locationfooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="2" class="total-name">{{Location}}&nbsp;</td>
        <td data-linkedcolumn="Debit" class="total-val" data-value="{{Debit}}"></td>
        <td data-linkedcolumn="Credit" class="total-val" data-value="{{Credit}}"></td>
      </tr>
      {{/ifEquals}}
      {{/each}}
    </tbody>
  </table>
  {{/ifEquals}}
  <!--SOME DETAIL VIEW TABLE-->
  {{#ifEquals IsSomeDetail true}}
  <table data-tablename="Some Detail View - NOT PROVISIONED">
    <thead>
      <tr>
        <th colspan="2">G/L No.</th>
        <th colspan="3">Account Description</th>
        <th class="number">Debit</th>
        <th class="number">Credit</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      {{#ifEquals RowType "Locationheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="7" class="header-row">Location: {{Location}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "GroupHeadingheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="7" class="header-row">{{GroupHeading}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "AccountNumberheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td class="lower header-row" data-value="{{AccountNumber}}"></td>
        <td></td>
        <td class="lower header-row" colspan="5" data-value="{{AccountDescription}}"></td>
      </tr>
      <tr data-row="header">
        <th class="no-border"></th>
        <th class="sub-header">Invoice No.</th>
        <th class="sub-header">Date</th>
        <th class="sub-header" colspan="2">Deal</th>
        <th class="sub-header number">Debit</th>
        <th class="sub-header number">Credit</th>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "detail"}}
      <tr data-row="detail" data-rowtype="{{RowType}}">
        <td class="no-border"></td>
        <td data-value="{{InvoiceNumber}}"></td>
        <td data-value="{{GlDate}}"></td>
        <td colspan="2" data-value="{{Deal}}"></td>
        <td class="number" data-value="{{Debit}}"></td>
        <td class="number" data-value="{{Credit}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "AccountNumberfooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="4"></td>
        <td class="total-name">{{AccountNumber}}&nbsp;</td>
        <td class="total-val" data-value="{{Debit}}"></td>
        <td class="total-val" data-value="{{Credit}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "GroupHeadingfooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="4"></td>
        <td class="total-name">{{GroupHeading}}&nbsp;</td>
        <td class="total-val" data-value="{{Debit}}"></td>
        <td class="total-val" data-value="{{Credit}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Locationfooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="4"></td>
        <td class="total-name">{{Location}}&nbsp;</td>
        <td class="total-val" data-value="{{Debit}}"></td>
        <td class="total-val" data-value="{{Credit}}"></td>
      </tr>
      {{/ifEquals}}
      {{/each}}
    </tbody>
  </table>
  {{/ifEquals}}
  <!--FULL DETAIL VIEW TABLE-->
  {{#ifEquals IsFullDetail true}}
  <table data-tablename="Full Detail View">
    <thead id="columnHeader">
      <tr>
        <th data-linkedcolumn="AccountNumber">G/L No.</th>
        <th data-linkedcolumn="GlDate" data-valuefield="GlDate">Date</th>
        <th data-linkedcolumn="AccountDescription" data-valuefield="AccountDescription">Account Description</th>
        <th data-linkedcolumn="InvoiceNumber" data-valuefield="InvoiceNumber">Invoice No.</th>
        <th data-linkedcolumn="Deal" data-valuefield="Deal">Deal</th>
        <th data-linkedcolumn="ItemDescription" data-valuefield="ItemDescription">Item Description</th>
        <th data-linkedcolumn="Debit" data-valuefield="Debit" class="number">Debit</th>
        <th data-linkedcolumn="Credit" data-valuefield="Credit" class="number">Credit</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      {{#ifEquals RowType "Locationheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="5" class="header-row">Location: {{Location}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "GroupHeadingheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="4" class="header-row">{{GroupHeading}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "AccountNumberheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="4" class="lower header-row">{{AccountNumber}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "detail"}}
      <tr data-row="detail" data-rowtype="{{RowType}}">
        <td data-linkedcolumn="AccountNumber" class="no-border"></td>
        <td data-linkedcolumn="GlDate" data-value="{{GlDate}}"></td>
        <td data-linkedcolumn="AccountDescription" data-value="{{AccountDescription}}"></td>
        <td data-linkedcolumn="InvoiceNumber" data-value="{{InvoiceNumber}}"></td>
        <td data-linkedcolumn="Deal" data-value="{{Deal}}"></td>
        <td data-linkedcolumn="ItemDescription" data-value="{{ItemDescription}}"></td>
        <td data-linkedcolumn="Debit" class="number" data-value="{{Debit}}"></td>
        <td data-linkedcolumn="Credit" class="number" data-value="{{Credit}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "AccountNumberfooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="6" class="total-name">{{AccountNumber}}:&nbsp;</td>
        <td data-linkedcolumn="Debit" class="total-val" data-value="{{Debit}}"></td>
        <td data-linkedcolumn="Credit" class="total-val" data-value="{{Credit}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "GroupHeadingfooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="6" class="total-name">{{GroupHeading}}:&nbsp;</td>
        <td data-linkedcolumn="Debit" class="total-val" data-value="{{Debit}}"></td>
        <td data-linkedcolumn="Credit" class="total-val" data-value="{{Credit}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Locationfooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="6" class="total-name">{{Location}}:&nbsp;</td>
        <td data-linkedcolumn="Debit" class="total-val" data-value="{{Debit}}"></td>
        <td data-linkedcolumn="Credit" class="total-val" data-value="{{Credit}}"></td>
      </tr>
      {{/ifEquals}}
      {{/each}}
    </tbody>
  </table>
  {{/ifEquals}}
</div>