<!--Invoice Discount Report-->
<div class="rpt-flexrow">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">Invoice From: {{FromDate}} To: {{ToDate}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div class="rpt-flexrow" style="margin-top:40px;">
  <table>
    <thead>
      <tr>
        <th class="row1">Invoice Date</th>
        <th class="row1">Invoice No.</th>
        <th class="row1">Order No.</th>
        <th class="row1">Agent</th>
        <th class="row1">Deal</th>
        <th class="row1">Deal No.</th>
        <th class="row1 number">Gross Total</th>
        <th class="row1 number">Discount Amount</th>
        <th class="row1 number">Discount Percent</th>
        <th class="row1 number">Total Actual</th>
        <th class="row1 number">Discount Lines</th>
        <th class="row1 number">Discount Reason</th>
      </tr>
      <tr>
        <th class="row2"></th>
        <th class="row2"></th>
        <th class="row2"></th>
        <th class="row2"></th>
        <th class="row2"></th>
        <th class="row2"></th>
        <th class="row2 number"></th>
        <th class="row2 number">(with D/W)</th>
        <th class="row2 number">(with D/W)</th>
        <th class="row2 number"></th>
        <th class="row2 number">(≥ {{DiscountPercent}}%)</th>
        <th class="row2 number"></th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr data-rowtype={{RowType}}>
        {{#ifEquals RowType "OfficeLocationheader"}}
        <td colspan="3" class="header-row">Office: {{OfficeLocation}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Departmentheader"}}
        <td colspan="3" class="lower header-row">Department: {{Department}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "detail"}}
        <td data-value="{{InvoiceDate}}"></td>
        <td data-value="{{InvoiceNumber}}"></td>
        <td data-value="{{OrderNumber}}"></td>
        <td data-value="{{Agent}}"></td>
        <td data-value="{{Deal}}"></td>
        <td data-value="{{DealNumber}}"></td>
        <td class="number" data-value="{{InvoiceGrossTotal}}"></td>
        <td class="number" data-value="{{DiscountAmountWithDaysPerWeek}}"></td>
        <td class="number" data-value="{{DiscountPercent}}"></td>
        <td class="number" data-value="{{TotalActual}}"></td>
        <td class="number" data-value="{{DiscountLinesOfTotal}}"></td>
        <td class="number" data-value="{{DiscountReason}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "Departmentfooter"}}
        <td colspan="6" class="total-name">{{Department}}&nbsp;</td>
        <td class="total-val" data-value="{{InvoiceGrossTotal}}"></td>
        <td class="total-val" data-value="{{DiscountAmountWithDaysPerWeek}}"></td>
        <td colspan="2" class="total-val" data-value="{{TotalActual}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "OfficeLocationfooter"}}
        <td colspan="6" class="total-name">{{OfficeLocation}}&nbsp;</td>
        <td class="total-val" data-value="{{InvoiceGrossTotal}}"></td>
        <td class="total-val" data-value="{{DiscountAmountWithDaysPerWeek}}"></td>
        <td colspan="2" class="total-val" data-value="{{TotalActual}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "grandtotal"}}
        <td colspan="6" class="total-name">Grand Total:&nbsp;</td>
        <td class="total-val" data-value="{{InvoiceGrossTotal}}"></td>
        <td class="total-val" data-value="{{DiscountAmountWithDaysPerWeek}}"></td>
        <td colspan="2" class="total-val" data-value="{{TotalActual}}"></td>
        {{/ifEquals}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>