<!--QuikActivity Report-->
<div class="rpt-flexrow">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">From: {{FromDate}} To: {{ToDate}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div class="rpt-flexrow" style="margin-top:40px;">
  <table>
    <thead class="main-header">
      <tr>
        <th class="activity-date">Activity Date & Time</th>
        <th>Activity Type</th>
        <th>Quote / Order</th>
        <th>Agent</th>
        <th>Order No.</th>
        <th>Order Description</th>
        <th>PO No.</th>
        <th>Deal / Vendor</th>
        {{#ifEquals IsSummary "T"}}
        <th>Order Type</th>
        {{else}}
        <th>Inventory Type</th>
        <th>I-Code</th>
        <th>Item Description</th>
        {{/ifEquals}}
        <th>Item Count</th>
        <th class="sub-rent">Sub-Rent / Sub-Sale</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      {{#ifEquals RowType "Warehouseheader"}}
      <tr>
        <td colspan="5" class="lower header-row">Warehouse: {{"Warehouse"}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Departmentheader"}}
      <tr>
        <td colspan="5" class="lower header-row">Department: {{"Department"}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "ActivityDateheader"}}
      <tr>
        <td colspan="5" class="lower header-row">Activity Date: {{"ActivityDate"}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "detail"}}
      <tr rowspan="2" data-rowtype="{{RowType}}">
        <td><div>{{ActivityDate}}</div>{{ActivityTime}}</td>
        <td data-value="{{ActivityType}}"></td>
        <td data-value="{{OrderType}}"></td>
        <td data-value="{{Agent}}"></td>
        <td data-value="{{OrderNumber}}"></td>
        <td data-value="{{OrderDescription}}"></td>
        <td data-value="{{PurchaseOrderNumber}}"></td>
        <td data-value="{{DealVendor}}"></td>
        {{#ifEquals ../IsSummary "T"}}
        <td data-value="{{OrderType2}}"></td>
        {{else}}
        <td data-value="{{InventoryType}}"></td>
        <td class="nowrap" data-value="{{ICode}}"></td>
        <td data-value="{{Description}}"></td>
        {{/ifEquals}}
        <td class="number" data-value="{{ItemCount}}"></td>
        <td class="number" data-value="{{SubItemCount}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "ActivityDatefooter"}}
      <tr>
        {{#ifEquals ../IsSummary "T"}}
        <td colspan="9" class="total-name">{{ActivityDate}}:&nbsp;</td>
        {{else}}
        <td colspan="11" class="total-name">{{ActivityDate}}:&nbsp;</td>
        {{/ifEquals}}
        <td class="total-val" data-value="{{ItemCount}}"></td>
        <td class="total-val" data-value="{{SubItemCount}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Departmentfooter"}}
      <tr>
        {{#ifEquals ../IsSummary "T"}}
        <td colspan="9" class="total-name">{{Department}}:&nbsp;</td>
        {{else}}
        <td colspan="11" class="total-name">{{Department}}:&nbsp;</td>
        {{/ifEquals}}
        <td class="total-val" data-value="{{ItemCount}}"></td>
        <td class="total-val" data-value="{{SubItemCount}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Warehousefooter"}}
      <tr>
        {{#ifEquals ../IsSummary "T"}}
        <td colspan="9" class="total-name">{{Warehouse}}:&nbsp;</td>
        {{else}}
        <td colspan="11" class="total-name">{{Warehouse}}:&nbsp;</td>
        {{/ifEquals}}
        <td class="total-val" data-value="{{ItemCount}}"></td>
        <td class="total-val" data-value="{{SubItemCount}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "grandtotal"}}
      <tr>
        {{#ifEquals ../IsSummary "T"}}
        <td colspan="9" class="total-name">Grand Total:&nbsp;</td>
        {{else}}
        <td colspan="11" class="total-name">Grand Total:&nbsp;</td>
        {{/ifEquals}}
        <td class="total-val" data-value="{{ItemCount}}"></td>
        <td class="total-val" data-value="{{SubItemCount}}"></td>
      </tr>
      {{/ifEquals}}
      {{/each}}
    </tbody>
  </table>
</div>