<!--Sales Inventory Transaction Report-->
<div class="rpt-flexrow">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">As Of {{PrintDate}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div class="rpt-flexrow" style="margin-top:40px;">
  <table>
    <thead>
      <tr>
        <th>I-Code</th>
        <th>Description</th>
        <th class="number">Unit</th>
        <th class="number">Unit Cost</th>
        <th class="number">On Hand</th>
        <th class="number">Allocated</th>
        <th class="number">Staged</th>
        <th class="number">In Transit</th>
        <th class="number">On PO</th>
        <th class="number">Reorder Point</th>
        <th class="number">Reorder Qty</th>
        <th class="number">Last Purchase Qty</th>
        <th class="number">Last Purchased</th>
        <th class="number">Last Sold</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr data-rowtype="{{RowType}}">
        {{#ifEquals RowType "Warehouseheader"}}
        <td class="warehouse-header" colspan="4">{{Warehouse}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Categoryheader"}}
        <td class="category-header" colspan="4">{{Category}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "detail"}}
        <td data-value="{{ICode}}"></td>
        <td data-value="{{Description}}"></td>
        <td class="number" data-value="{{Unit}}"></td>
        <td class="number" data-value="{{UnitCost}}"></td>
        <td class="number" data-value="{{Quantity}}"></td>
        <td class="number" data-value="{{QuantityAllocated}}"></td>
        <td class="number" data-value="{{QuantityStaged}}"></td>
        <td class="number" data-value="{{QuantityInTransit}}"></td>
        <td class="number" data-value="{{QuantityOnPo}}"></td>
        <td class="number" data-value="{{ReorderPoint}}"></td>
        <td class="number" data-value="{{ReorderQuantity}}"></td>
        <td class="number" data-value="{{LastPurchaseQuantity}}"></td>
        <td class="number" data-value="{{LastPurchaseDate}}"></td>
        <td class="number" data-value="{{LastSaleDate}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "Categoryfooter"}}
        <td></td>
        <td class="text footer" colspan="3" data-value="{{Category}}"></td>
        <td class="number subtotal" data-value="{{Quantity}}"></td>
        <td class="number subtotal" data-value="{{QuantityAllocated}}"></td>
        <td class="number subtotal" data-value="{{QuantityStaged}}"></td>
        <td class="number subtotal" data-value="{{QuantityInTransit}}"></td>
        <td class="number subtotal" data-value="{{QuantityOnPo}}"></td>
        <td class="number subtotal"></td>
        <td class="number subtotal"></td>
        <td class="number subtotal" data-value="{{LastPurchaseQuantity}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "Warehousefooter"}}
        <td></td>
        <td class="text footer" colspan="3" data-value="{{Warehouse}}"></td>
        <td class="number subtotal" data-value="{{Quantity}}"></td>
        <td class="number subtotal" data-value="{{QuantityAllocated}}"></td>
        <td class="number subtotal" data-value="{{QuantityStaged}}"></td>
        <td class="number subtotal" data-value="{{QuantityInTransit}}"></td>
        <td class="number subtotal" data-value="{{QuantityOnPo}}"></td>
        <td class="number subtotal"></td>
        <td class="number subtotal"></td>
        <td class="number subtotal" data-value="{{LastPurchaseQuantity}}"></td>
        {{/ifEquals}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>