<!--OrderConflictReport-->
<div class="rpt-flexrow">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">From: {{FromDate}} To: {{ToDate}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div class="rpt-flexrow" style="margin-top:40px;">
  <table style="border-top:2px solid black;">
    {{#each this}}
    {{#ifEquals RowType "Warehouseheader"}}
    <thead>
      <tr data-rowtype={{RowType}}>
        <th class="header-row no-border" colspan="10">Warehouse: {{Warehouse}}</th>
      </tr>
    </thead>
    {{/ifEquals}}
    {{#ifEquals RowType "Departmentheader"}}
    <thead>
      <tr data-rowtype={{RowType}}>
        <th class="lower header-row no-border" colspan="10">Department: {{Department}}</th>
      </tr>
    </thead>
    {{/ifEquals}}
    {{#ifEquals RowType "Dealheader"}}
    <thead>
      <tr data-rowtype={{RowType}}>
        <th class="lower header-row no-border" colspan="10">Deal: {{Deal}}</th>
      </tr>
    </thead>
    {{/ifEquals}}
    {{#ifEquals RowType "OrderNumberheader"}}
    <thead>
      <tr data-rowtype={{RowType}}>
        <th class="no-border"></th>
        <th>Order No.</th>
        <th colspan="2">Description</th>
        <th>From</th>
        <th>To</th>
      </tr>
    </thead>
    <tr>
      <td class="no-border"></td>
      <td data-value="{{OrderNumber}}"></td>
      <td colspan="2" data-value="{{OrderDescription}}"></td>
      <td data-value="{{OrderFromDate}}"></td>
      <td data-value="{{OrderToDate}}"></td>
    </tr>
    <thead>
      <tr>
        <th colspan="2" class="no-border"></th>
        <th class="nowrap">I-Code</th>
        <th>Item Description</th>
        <th>From</th>
        <th>To</th>
        <th>Sub</th>
        <th class="number">Reserved</th>
        <th class="number">Available</th>
        <th class="number">In Repair</th>
        <th>Conflict Type</th>
      </tr>
    </thead>
    {{/ifEquals}}
    {{#ifEquals RowType "detail"}}
    <tbody data-rowtype="{{RowType}}">
      <tr class="detail">
        <td colspan="2" class="no-border"></td>
        <td class="nowrap" data-value="{{ICode}}"></td>
        <td data-value="{{ItemDescription}}"></td>
        <td data-value="{{ItemFromDate}}"></td>
        <td data-value="{{ItemToDate}}"></td>
        <td class="number" data-value="{{QuantitySub}}"></td>
        <td class="number" data-value="{{QuantityReserved}}"></td>
        <td class="number" data-value="{{QuantityAvailable}}"></td>
        <td class="number" data-value="{{QuantityInRepair}}"></td>
        <td data-value="{{ConflictType}}"></td>
      </tr>
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "OrderNumberfooter"}}
    <tr data-rowtype="{{RowType}}">
      <td colspan="7" class="total-name">{{OrderNumber}}:&nbsp;</td>
      <td class="total-val" data-value="{{QuantityReserved}}"></td>
      <td class="total-val" data-value="{{QuantityAvailable}}"></td>
      <td class="total-val" data-value="{{QuantityInRepair}}"></td>
    </tr>
    {{/ifEquals}}
    {{#ifEquals RowType "Dealfooter"}}
    <tr data-rowtype="{{RowType}}">
      <td colspan="7" class="total-name">{{Deal}}:&nbsp;</td>
      <td class="total-val" data-value="{{QuantityReserved}}"></td>
      <td class="total-val" data-value="{{QuantityAvailable}}"></td>
      <td class="total-val" data-value="{{QuantityInRepair}}"></td>
    </tr>
    {{/ifEquals}}
    {{#ifEquals RowType "Departmentfooter"}}
    <tr data-rowtype="{{RowType}}">
      <td colspan="7" class="total-name">{{Department}}:&nbsp;</td>
      <td class="total-val" data-value="{{QuantityReserved}}"></td>
      <td class="total-val" data-value="{{QuantityAvailable}}"></td>
      <td class="total-val" data-value="{{QuantityInRepair}}"></td>
    </tr>
    {{/ifEquals}}
    {{#ifEquals RowType "Warehousefooter"}}
    <tr data-rowtype="{{RowType}}">
      <td colspan="7" class="total-name">{{Warehouse}}:&nbsp;</td>
      <td class="total-val" data-value="{{QuantityReserved}}"></td>
      <td class="total-val" data-value="{{QuantityAvailable}}"></td>
      <td class="total-val" data-value="{{QuantityInRepair}}"></td>
    </tr>
    {{/ifEquals}}
    {{#ifEquals RowType "grrandtotalfooter"}}
    <tr data-rowtype="{{RowType}}">
      <td colspan="7" class="total-name">Grand Total:&nbsp;</td>
      <td class="total-val" data-value="{{QuantityReserved}}"></td>
      <td class="total-val" data-value="{{QuantityAvailable}}"></td>
      <td class="total-val" data-value="{{QuantityInRepair}}"></td>
    </tr>
    {{/ifEquals}}
    {{/each}}
  </table>
</div>