<!--CustomerRevenueByMonth-->
<div class="rpt-flexrow" style="width:1500px;">
  <style type="text/css" media="print">
    @page {
      size: landscape;
      margin: 10px 10px 10px 10px;
    }
  </style>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">Calendar Months From: {{FromDate}} To: {{ToDate}}</span>
    <span class="rpt-header-center">Revenue Types: {{RevenueTypes}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div class="rpt-flexrow" style="margin-top:40px;width:1500px;">
  <!--SUMMARY VIEW TABLE-->
  {{#ifEquals IsSummary true}}
  <table>
    <thead>
      <tr id="HeaderRow"></tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr data-rowtype="{{RowType}}">
        {{#ifEquals RowType "OfficeLocationheader"}}
        <td colspan="5" class="header-row">Office: {{OfficeLocation}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Customerheader"}}
        <td colspan="5" class="lower header-row">Customer: {{Customer}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Departmentheader"}}
        <td colspan="5" class="lower header-row">Department: {{Department}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "detail"}}
        {{/ifEquals}}
        {{#ifEquals RowType "OfficeLocationfooter"}}
        <td class="total-name">{{OfficeLocation}}&nbsp;</td>
        <td class="total-val">{{Month01RevenueAsText}}</td>
        <td class="total-val">{{Month02RevenueAsText}}</td>
        <td class="total-val">{{Month03RevenueAsText}}</td>
        <td class="total-val">{{Month04RevenueAsText}}</td>
        <td class="total-val">{{Month05RevenueAsText}}</td>
        <td class="total-val">{{Month06RevenueAsText}}</td>
        <td class="total-val">{{Month07RevenueAsText}}</td>
        <td class="total-val">{{Month08RevenueAsText}}</td>
        <td class="total-val">{{Month09RevenueAsText}}</td>
        <td class="total-val">{{Month10RevenueAsText}}</td>
        <td class="total-val">{{Month11RevenueAsText}}</td>
        <td class="total-val">{{Month12RevenueAsText}}</td>
        <td class="total-val">{{AllMonthsRevenueAsText}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Customerfooter"}}
        <td class="total-name">{{Customer}}&nbsp;</td>
        <td class="total-val">{{Month01RevenueAsText}}</td>
        <td class="total-val">{{Month02RevenueAsText}}</td>
        <td class="total-val">{{Month03RevenueAsText}}</td>
        <td class="total-val">{{Month04RevenueAsText}}</td>
        <td class="total-val">{{Month05RevenueAsText}}</td>
        <td class="total-val">{{Month06RevenueAsText}}</td>
        <td class="total-val">{{Month07RevenueAsText}}</td>
        <td class="total-val">{{Month08RevenueAsText}}</td>
        <td class="total-val">{{Month09RevenueAsText}}</td>
        <td class="total-val">{{Month10RevenueAsText}}</td>
        <td class="total-val">{{Month11RevenueAsText}}</td>
        <td class="total-val">{{Month12RevenueAsText}}</td>
        <td class="total-val">{{AllMonthsRevenueAsText}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Departmentfooter"}}
        <td class="total-name">{{Department}}&nbsp;</td>
        <td class="total-val">{{Month01RevenueAsText}}</td>
        <td class="total-val">{{Month02RevenueAsText}}</td>
        <td class="total-val">{{Month03RevenueAsText}}</td>
        <td class="total-val">{{Month04RevenueAsText}}</td>
        <td class="total-val">{{Month05RevenueAsText}}</td>
        <td class="total-val">{{Month06RevenueAsText}}</td>
        <td class="total-val">{{Month07RevenueAsText}}</td>
        <td class="total-val">{{Month08RevenueAsText}}</td>
        <td class="total-val">{{Month09RevenueAsText}}</td>
        <td class="total-val">{{Month10RevenueAsText}}</td>
        <td class="total-val">{{Month11RevenueAsText}}</td>
        <td class="total-val">{{Month12RevenueAsText}}</td>
        <td class="total-val">{{AllMonthsRevenueAsText}}</td>
        {{/ifEquals}}
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{/ifEquals}}
  <!--DETAIL VIEW TABLE-->
  {{#ifEquals IsSummary false}}
   <table>
    <thead>
      <tr id="HeaderRow"></tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr data-rowtype="{{RowType}}">
        {{#ifEquals RowType "OfficeLocationheader"}}
        <td colspan="5" class="header-row">Office: {{OfficeLocation}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Customerheader"}}
        <td colspan="5" class="lower header-row">Customer: {{Customer}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Departmentheader"}}
        <td colspan="5" class="lower header-row">Department: {{Department}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "detail"}}
        <td>{{Category}}</td>
        <td class="number">{{Month01RevenueAsText}}</td>
        <td class="number">{{Month02RevenueAsText}}</td>
        <td class="number">{{Month03RevenueAsText}}</td>
        <td class="number">{{Month04RevenueAsText}}</td>
        <td class="number">{{Month05RevenueAsText}}</td>
        <td class="number">{{Month06RevenueAsText}}</td>
        <td class="number">{{Month07RevenueAsText}}</td>
        <td class="number">{{Month08RevenueAsText}}</td>
        <td class="number">{{Month09RevenueAsText}}</td>
        <td class="number">{{Month10RevenueAsText}}</td>
        <td class="number">{{Month11RevenueAsText}}</td>
        <td class="number">{{Month12RevenueAsText}}</td>
        <td class="number">{{AllMonthsRevenueAsText}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "OfficeLocationfooter"}}
        <td class="total-name">{{OfficeLocation}}&nbsp;</td>
        <td class="total-val">{{Month01RevenueAsText}}</td>
        <td class="total-val">{{Month02RevenueAsText}}</td>
        <td class="total-val">{{Month03RevenueAsText}}</td>
        <td class="total-val">{{Month04RevenueAsText}}</td>
        <td class="total-val">{{Month05RevenueAsText}}</td>
        <td class="total-val">{{Month06RevenueAsText}}</td>
        <td class="total-val">{{Month07RevenueAsText}}</td>
        <td class="total-val">{{Month08RevenueAsText}}</td>
        <td class="total-val">{{Month09RevenueAsText}}</td>
        <td class="total-val">{{Month10RevenueAsText}}</td>
        <td class="total-val">{{Month11RevenueAsText}}</td>
        <td class="total-val">{{Month12RevenueAsText}}</td>
        <td class="total-val">{{AllMonthsRevenueAsText}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Customerfooter"}}
        <td class="total-name">{{Customer}}&nbsp;</td>
        <td class="total-val">{{Month01RevenueAsText}}</td>
        <td class="total-val">{{Month02RevenueAsText}}</td>
        <td class="total-val">{{Month03RevenueAsText}}</td>
        <td class="total-val">{{Month04RevenueAsText}}</td>
        <td class="total-val">{{Month05RevenueAsText}}</td>
        <td class="total-val">{{Month06RevenueAsText}}</td>
        <td class="total-val">{{Month07RevenueAsText}}</td>
        <td class="total-val">{{Month08RevenueAsText}}</td>
        <td class="total-val">{{Month09RevenueAsText}}</td>
        <td class="total-val">{{Month10RevenueAsText}}</td>
        <td class="total-val">{{Month11RevenueAsText}}</td>
        <td class="total-val">{{Month12RevenueAsText}}</td>
        <td class="total-val">{{AllMonthsRevenueAsText}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Departmentfooter"}}
        <td class="total-name">{{Department}}&nbsp;</td>
        <td class="total-val">{{Month01RevenueAsText}}</td>
        <td class="total-val">{{Month02RevenueAsText}}</td>
        <td class="total-val">{{Month03RevenueAsText}}</td>
        <td class="total-val">{{Month04RevenueAsText}}</td>
        <td class="total-val">{{Month05RevenueAsText}}</td>
        <td class="total-val">{{Month06RevenueAsText}}</td>
        <td class="total-val">{{Month07RevenueAsText}}</td>
        <td class="total-val">{{Month08RevenueAsText}}</td>
        <td class="total-val">{{Month09RevenueAsText}}</td>
        <td class="total-val">{{Month10RevenueAsText}}</td>
        <td class="total-val">{{Month11RevenueAsText}}</td>
        <td class="total-val">{{Month12RevenueAsText}}</td>
        <td class="total-val">{{AllMonthsRevenueAsText}}</td>
        {{/ifEquals}}
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{/ifEquals}}
</div>