<!--Invoice Report-->
<div class="rpt-flexrow" style="margin:5px 0px 0px 4px;">
  <div class="rpt-flexcolumn" style="padding-bottom:5px;">
    {{#if Logosrc}}
    <div style="height:130px;"><img class="clientlogo" src="{{Logosrc}}" style="display:block;width:auto;height:100%;" alt="logo" /></div>
    {{else}}
    <div></div>
    {{/if}}
    <span style="font-weight:600; font-size:18px;">{{OfficeLocationCompany}}</span>
    <span class="company-header">{{OfficeLocationAddress1}}</span>
    <span class="company-header">{{OfficeLocationAddress2}}</span>
    <span class="company-header">{{OfficeLocationCityStateZipCodeCountry}}</span>
    <span class="company-header"><span style="font-weight:600;">Phone: </span>{{OfficeLocationPhone}}</span>
    <span class="company-header"><span style="font-weight:600;">Fax: </span>{{OfficeLocationFax}}</span>
  </div>
  <div style="max-width: 200px;" class="rpt-flexcolumn">
    <span class="sub-title blue">{{Department}}</span>
    <span class="title blue">{{Report}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="header-right blue" style="font-size:32px;"><span style="font-weight:600;padding-right:8px;">No: </span><span style="background-color:#DCDCDC;color:black;border:3px solid #0798ee;padding:3px;">{{InvoiceNumber}}</span></span>
    <span style="font-size:20px;padding-top:10px;padding-right:38px;" class="header-right blue"><span style="font-weight:600;">Invoice Date: </span><span style="color:black;padding-left:12px;">{{InvoiceDate}}</span></span>
    <span style="font-size:20px;padding-top:3px;padding-right:38px;" class="header-right blue"><span style="font-weight:600;">Due Date: </span><span style="color:black;padding-left:12px;">{{InvoiceDueDate}}</span></span>
    <div style="margin-top:5px;" class="meta-header"><span>Remit To:</span></div>
    <div class="meta-address">
      <span class="header-left">{{RemitToCompany}}</span>
      <span class="header-left">{{RemitToAddress1}}</span>
      <span class="header-left">{{RemitToAddress2}}</span>
      <span class="header-left">{{RemitToCityStateZipCodeCountry}}</span>
      <span class="header-left"><span style="font-weight:600;">Phone: </span>{{RemitToPhone}}</span>
      <span class="header-left"><span style="font-weight:600;">Fax: </span>{{RemitToFax}}</span>
      {{#if RemitToFederalId}}
      <span class="header-left"><span style="font-weight:600;">Fed ID: </span>{{RemitToFederalId}}</span>
      {{/if}}
    </div>
  </div>
</div>
<div class="rpt-flexrow" style="padding-left:3px;">
  <div class="rpt-flexcolumn">
    <div class="meta-header"><span>Billed To:</span></div>
    <div class="meta-address">
      <span class="header-left">{{BillToName}}</span>
      {{#if BillToAttention}}
      <span class="header-left">c/o {{BillToAttention}}</span>
      {{/if}}
      <span class="header-left">{{BillToAddress1}}</span>
      <span class="header-left">{{BillToAddress2}}</span>
      <span class="header-left">{{BillToCityStateZipCodeCountry}}</span>
    </div>
    <table class="meta-section">
      <tr>
        <td class="shaded-block">Ordered By: </td>
        <td class="meta-content">{{OrderedByName}}</td>
      </tr>
      <tr>
        <td class="shaded-block">Phone: </td>
        <td class="meta-content">{{OrderedByPhoneAndExtension}}</td>
      </tr>
      <tr>
        <td class="shaded-block">Email: </td>
        <td class="meta-content">{{OrderedByEmail}}</td>
      </tr>
    </table>
    <table class="meta-section">
      <tr>
        <td style="width:75px;" class="shaded-block">Location: </td>
        <td class="meta-content">{{Location}}</td>
      </tr>
    </table>
    <div class="meta-header"><span>Delivered To:</span></div>
    <div class="meta-address">
      <span class="header-left">{{OutDeliveryLocation}}</span>
      {{#if OutDeliveryAttention}}
      <span class="header-left">c/o {{OutDeliveryAttention}}</span>
      {{/if}}
      <span class="header-left">{{OutDeliveryContact}}</span>
      <span class="header-left">{{OutDeliveryAddress1}}</span>
      <span class="header-left">{{OutDeliveryAddress2}}</span>
      <span class="header-left">{{Outdeliverycitystatezipcountry}}</span>
    </div>
  </div>
  <div style="max-width:50px;" class="rpt-flexcolumn middle">
    <span style="padding:10px;"></span>
  </div>
  <div class="rpt-flexcolumn">

    <div class="meta-header"><span>Order Details:</span></div>
    <table style="border-top:none;" class="meta-section">
      <tr>
        <td style="width:100px;" class="shaded-block">Order: </td>
        <td class="meta-content" style="vertical-align:top;">{{OrderNumberAndDescription}}</td>
      </tr>
      <tr>
        <td style="width:100px;" class="shaded-block">Deal: </td>
        <td class="meta-content" style="vertical-align:top;">{{DealAndDealNumber}}</td>
      </tr>
      <tr>
        <td style="width:100px;" class="shaded-block">Customer: </td>
        <td class="meta-content" style="vertical-align:top;">{{Customer}}</td>
      </tr>
      <tr>
        <td style="width:100px;" class="shaded-block">Customer Type: </td>
        <td class="meta-content" style="vertical-align:top;">{{CustomerType}}</td>
      </tr>
    </table>
    <table class="meta-section">
      <tr>
        <td  style="width:100px;" class="shaded-block">PO No: </td>
        <td class="meta-content">{{PoNumber}}</td>
      </tr>
      <tr>
        <td  style="width:100px;" class="shaded-block">Ref No: </td>
        <td class="meta-content">{{ReferenceNumber}}</td>
      </tr>
      <tr>
        <td  style="width:100px;" class="shaded-block">Terms: </td>
        <td class="meta-content">{{PaymentTerms}}</td>
      </tr>
    </table>
    <table class="meta-section">
      <tr>
        <td style="width:100px;" class="shaded-block">Usage Dates: </td>
        <td class="meta-content">{{UsageDates}}</td>
      </tr>
      <tr>
        <td style="width:100px;" class="shaded-block">Billing Dates: </td>
        <td class="meta-content">{{BillingDates}}</td>
      </tr>
    </table>
    <table class="meta-section">
      <tr>
        <td style="width:100px;" class="shaded-block">Agent: </td>
        <td class="meta-content">{{Agent}}</td>
      </tr>
      <tr>
        <td style="width:100px;" class="shaded-block">Phone: </td>
        <td class="meta-content">{{AgentPhoneAndExtension}}</td>
      </tr>
      <tr>
        <td style="width:100px;" class="shaded-block">Email: </td>
        <td class="meta-content">{{AgentEmail}}</td>
      </tr>
    </table>
  </div>
</div>
<div class="rpt-flexrow" style="margin-top:25px;">
  <table>
    {{#each Items}}
    {{#ifEquals RowType "RecTypeDisplayheader"}}
    <thead data-rowtype="{{RowType}}">
      <tr>
        <td colspan="8" class="section-header">{{RecTypeDisplay}}&nbsp;</td>
      </tr>
      <tr>
        <td></td>
        <th>I-Code</th>
        <th>Description</th>
        <th class="number">Quantity</th>
        <th class="number">Extended</th>
      </tr>
    </thead>
    {{/ifEquals}}
    {{#ifEquals RowType "detail"}}
    <tbody data-rowtype="{{RowType}}">
      <tr>
        <td style="background-color:white;"></td>
        <td>{{ICode}}</td>
        <td>{{Description}}</td>
        <td class="number">{{Quantity}}</td>
        <td class="number">{{Extended}}</td>
      </tr>
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "RecTypeDisplayfooter"}}
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td class="display-footer">{{RecTypeDisplay}}&nbsp;</td>
      <td class="display-footer-total" data-value="{{Extended}}"></td>
    </tr>
    {{/ifEquals}}
    {{#ifEquals RowType "grandtotal"}}
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td class="display-footer">GRAND TOTAL:&nbsp;</td>
      <td class="display-footer-total" data-value="{{Extended}}"></td>
    </tr>
    {{/ifEquals}}
    {{/each}}
    <!--<tbody>
      <tr>
        <td colspan="5" class="meta-content">Account No: <span style="color:black;">{{CustomerNumber}}</span></td>
      </tr>
      <tr>
        <td colspan="5" class="meta-content">Note: <span style="color:black;">Lorem ipsum dolor amet unicorn meggings enamel pin, ugh pitchfork VHS umami bicycle rights quinoa tumblr ethical. Lo-fi normcore adaptogen yr paleo vaporware lyft.</span></td>
      </tr>
    </tbody>-->
  </table>
</div>