<!--Invoice Report-->
<div class="rpt-flexrow" style="margin:5px 0px 0px 4px;">
  <div class="rpt-flexcolumn" style="padding-bottom:5px;">
    {{#if Logosrc}}
    <div style="height:130px;"><img class="clientlogo" src="{{Logosrc}}" style="display:block;width:auto;height:100%;" alt="logo" /></div>
    {{else}}
    <div></div>
    {{/if}}
    <span class="header-left" style="font-weight:600">{{Company}}</span>
    <span class="header-left">{{OfficeLocationAddress1}}</span>
    <span class="header-left">{{OfficeLocationAddress2}}</span>
    <span class="header-left">{{OfficeLocationCityStateZipCodeCountry}}</span>
    <span class="header-left"><span style="font-weight:600;">Phone: </span>{{OfficeLocationPhone}}</span>
    <span class="header-left"><span style="font-weight:600;">Fax: </span>{{OfficeLocationFax}}</span>
  </div>
  <div style="max-width: 200px;" class="rpt-flexcolumn">
    <span class="sub-title blue">{{Department}}</span>
    <span class="title blue">{{Report}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="header-right blue" style="font-size:34px;"><span style="font-weight:600;padding-right:8px;">No: </span><span style="background-color:#DCDCDC;color:black;border:3px solid #0798ee;padding:3px;">{{InvoiceNumber}}</span></span>
    <span style="font-size:22px;padding-top:5px;" class="header-right blue"><span style="font-weight:600;padding-right:49px;">Invoice Date: </span><span style="color:black;">{{OrderDate}}</span></span>
    <span style="font-size:22px;padding-top:5px;" class="header-right blue"><span style="font-weight:600;padding-right:61px;">Due Date: </span><span style="color:black;">needField{{BLANK}}</span></span>
    <div style="margin-top:5px;" class="meta-header"><span>Remit To:</span></div>
    <div class="meta-address">
      <span class="header-left">{{BillToName}}</span>
      {{#if BillToAttention}}
      <span class="header-left">c/o {{BillToAttention}}</span>
      {{/if}}
      <span class="header-left">{{BillToAddress1}}</span>
      <span class="header-left">{{BillToAddress2}}</span>
      <span class="header-left">{{BillToCityStateZipCodeCountry}}</span>
      <span class="header-left"><span style="font-weight:600;">Phone: </span>{{blank}}</span>
      <span class="header-left"><span style="font-weight:600;">Fax: </span>{{blank}}</span>
    </div>
  </div>
</div>
<div class="rpt-flexrow" style="margin-top:10px;padding-left:3px;">
  <div class="rpt-flexcolumn">
    <div class="meta-header"><span>Billed To:</span></div>
    <div class="meta-address">
      <span class="header-left">{{BillToName}}</span>
      {{#if BillToAttention}}
      <span class="header-left">c/o {{BillToAttention}}</span>
      {{/if}}
      <span class="header-left">{{BillToAddress1}}</span>
      <span class="header-left">{{BillToAddress2}}</span>
      <span class="header-left">{{BillToCityStateZipCodeCountry}}</span>
      <span class="header-left"><span style="font-weight:600;">Phone: </span>needField{{blank}}</span>
      <span class="header-left"><span style="font-weight:600;">Fax: </span>needField{{blank}}</span>
    </div>
    <table class="meta-section">
      <tr>
        <td class="shaded-block">Ordered By: </td>
        <td class="meta-content">{{BillingCycle}}</td>
      </tr>
      <tr>
        <td class="shaded-block">Phone: </td>
        <td class="meta-content">{{BillingCycle}}</td>
      </tr>
      <tr>
        <td class="shaded-block">Email: </td>
        <td class="meta-content">{{BillingCycle}}</td>
      </tr>
    </table>
    <table class="meta-section">
      <tr>
        <td style="width:87px;" class="shaded-block">Location: </td>
        <td class="meta-content">{{BillingCycle}}</td>
      </tr>
    </table>
    <div class="meta-header"><span>Delivered To:</span></div>
    <div class="meta-address">
      <span class="header-left">{{BillToName}}</span>
      {{#if BillToAttention}}
      <span class="header-left">c/o {{OutDeliveryAttention}}</span>
      {{/if}}
      <span class="header-left">{{OutDeliveryContact}}</span>
      <span class="header-left">{{OutDeliveryAddress1}}</span>
      <span class="header-left">{{OutDeliveryAddress2}}</span>
      <span class="header-left">{{Outdeliverycitystatezipcountry}}</span>
    </div>
  </div>
  <div style="max-width:50px;" class="rpt-flexcolumn middle">
    <span style="padding:10px;"></span>
  </div>
  <div class="rpt-flexcolumn">

    <div class="meta-header"><span>Order Details:</span></div>
    <table style="border-top:none;" class="meta-section">
      <tr>
        <td style="height:31px;" class="shaded-block">Order: </td>
        <td class="meta-content">{{OrderNumberAndDescription}}</td>
      </tr>
      <tr>
        <td class="shaded-block">Deal: </td>
        <td class="meta-content">{{DealAndDealNumber}}</td>
      </tr>
      <tr>
        <td class="shaded-block">Customer: </td>
        <td class="meta-content">{{Customer}}</td>
      </tr>
      <tr>
        <td class="shaded-block">Customer Type: </td>
        <td class="meta-content">{{Customer}}</td>
      </tr>
    </table>
    <table class="meta-section">
      <tr>
        <td class="shaded-block">PO No: </td>
        <td class="meta-content">{{PoNumber}}</td>
      </tr>
      <tr>
        <td class="shaded-block">Ref No: </td>
        <td class="meta-content">{{ReferenceNumber}}</td>
      </tr>
      <tr>
        <td class="shaded-block">Terms: </td>
        <td class="meta-content">{{PaymentTerms}}</td>
      </tr>
    </table>
    <table class="meta-section">
      <tr>
        <td class="shaded-block">Usage: </td>
        <td class="meta-content">{{UsageDates}}</td>
      </tr>
      <tr>
        <td class="shaded-block">Billing: </td>
        <td class="meta-content">{{BillingDates}}</td>
      </tr>
    </table>
    <table class="meta-section">
      <tr>
        <td class="shaded-block">Agent: </td>
        <td class="meta-content">{{Agent}}</td>
      </tr>
      <tr>
        <td class="shaded-block">Phone: </td>
        <td class="meta-content">{{AgentPhoneAndExtension}}</td>
      </tr>
      <tr>
        <td class="shaded-block">Email: </td>
        <td class="meta-content">{{AgentEmail}}</td>
      </tr>
    </table>
  </div>
</div>
<div class="rpt-flexrow" style="margin-top:25px;">
  <table>
    {{#each Items}}
    {{#ifEquals RowType "RecTypeDisplayheader"}}
    <thead data-rowtype="{{RowType}}">
      <tr>
        <td colspan="8" class="section-header">{{RecTypeDisplay}}&nbsp;</td>
      </tr>
      <tr>
        <td></td>
        <th class="text">I-Code</th>
        <th class="text">Description</th>
        <th class="number">Quantity</th>
        <th class="number">Extended</th>
      </tr>
    </thead>
    {{/ifEquals}}
    {{#ifEquals RowType "detail"}}
    <tbody data-rowtype="{{RowType}}">
      <tr>
        <td></td>
        <td class="text">{{ICode}}</td>
        <td class="text">{{Description}}</td>
        <td class="number">{{Quantity}}</td>
        <td class="number">{{Extended}}</td>
      </tr>
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "RecTypeDisplayfooter"}}
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td class="display-footer">{{RecTypeDisplay}}&nbsp;</td>
      <td class="display-footer-total" data-value="{{Extended}}"></td>
    </tr>
    {{/ifEquals}}
    {{#ifEquals RowType "grandtotal"}}
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td class="display-footer">GRAND TOTAL:&nbsp;</td>
      <td class="display-footer-total" data-value="{{Extended}}"></td>
    </tr>
    {{/ifEquals}}
    {{/each}}
    <tbody>
      <tr>
        <td colspan="5" class="meta-content">Account No: <span style="color:black;">{{OutDeliveryLocation}}</span></td>
      </tr>
      <tr>
        <td colspan="5" class="meta-content">Note: <span style="color:black;">Lorem ipsum dolor amet unicorn meggings enamel pin, ugh pitchfork VHS umami bicycle rights quinoa tumblr ethical. Lo-fi normcore adaptogen yr paleo vaporware lyft.</span></td>
      </tr>
    </tbody>
  </table>
</div>