<!--Rental Inventory Attributes Report-->
<div data-section="header" class="rpt-flexrow">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">As of {{PrintDate}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div data-section="table" class="rpt-flexrow" style="margin-top:40px;">
  <table>
    <thead id="columnHeader">
      <tr data-row="main-header">
        <th data-linkedcolumn="ICode" data-valuefield="ICode">I-Code</th>
        <th data-linkedcolumn="Description" data-valuefield="Description">Description</th>
        <th data-linkedcolumn="InventoryType" data-valuefield="InventoryType">Inventory Type</th>
        <th data-linkedcolumn="Category" data-valuefield="Category">Category</th>
        <th data-linkedcolumn="SubCategory" data-valuefield="SubCategory">Sub-Category</th>
        <th data-linkedcolumn="Attribute" data-valuefield="Attribute">Attribute</th>
        <th data-linkedcolumn="AttributeValue" data-valuefield="AttributeValue" class="number">Value</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr>
        <td data-linkedcolumn="ICode" data-value="{{ICode}}"></td>
        <td data-linkedcolumn="Description" data-value="{{Description}}"></td>
        <td data-linkedcolumn="InventoryType" data-value="{{InventoryType}}"></td>
        <td data-linkedcolumn="Category" data-value="{{Category}}"></td>
        <td data-linkedcolumn="SubCategory" data-value="{{SubCategory}}"></td>
        <td data-linkedcolumn="Attribute" data-value="{{Attribute}}"></td>
        <td data-linkedcolumn="AttributeValue" class="number" data-value="{{AttributeValue}}"></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>