<!--Deal Outstanding Items Report-->
<div class="rpt-flexrow" style="width:1525px;">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div class="rpt-flexrow" style="width:1525px;margin-top:40px;">
{{#ifEquals ShowImages true}}
{{#ifEquals IncludeFullImages true}}
  <table>
    <thead>
      <tr>
        <th class="text">Order No.&nbsp;&nbsp;Order Date</th>
        <th class="text">Order Description</th>
        <th class="text">I-Code</th>
        <th class="text">Item Description</th>
        <th class="text">Contract No.</th>
        <th class="text">PO No.</th>
        <th class="number">Quantity</th>
        {{#ifEquals IncludeValue true}}
          <th class="number">Unit Value</th>
          <th class="number">Extended</th>
        {{/ifEquals}}
        {{#ifEquals ShowBarcodes true}}
          <th class="text">Bar Code</th>
        {{/ifEquals}}
        {{#ifEquals ShowVendors true}}
          <th class="text">Vendor</th>
        {{/ifEquals}}
        {{#ifEquals ShowResponsiblePerson true}}
          <th class="text">Responsible</th>
        {{/ifEquals}}
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr data-rowtype={{RowType}}>
        {{#ifEquals RowType "OfficeLocationheader"}}
         <td colspan="5" class="header-row">Office: {{OfficeLocation}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "OrderNumberheader"}}
          <td colspan="5" class="lower header-row">Order No: {{OrderNumber}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Customerheader"}}
          <td colspan="5" class="lower header-row">Customer: {{Customer}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Dealheader"}}
          <td colspan="5" class="lower header-row">Deal: {{Deal}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "detail"}}
         {{#if Image}}
           <td class="text"><div>{{OrderNumber}}&nbsp;&nbsp;{{OrderDate}}</div><div colspan="3" style="width:170px;"><img id="base64img" src="{{Image}}" alt="image" style="display:block;width:100%;height:auto;"/></div></td>
         {{else}}
          <td class="text top"><div>{{OrderNumber}}&nbsp;&nbsp;{{OrderDate}}</div>
         {{/if}}
          <td class="text top" data-value="{{OrderDescription}}"></td>
          <td class="text top" data-value="{{ICode}}"></td>
          <td class="text top" data-value="{{Description}}"></td>
          <td class="text top" data-value="{{ContractNumber}}"></td>
          <td class="text top" data-value="{{PoNumber}}"></td>
          <td class="number top" data-value="{{Quantity}}"></td>
          {{#ifEquals ../IncludeValueCost "R"}}
            <td class="number top" data-value="{{ReplacementCost}}"></td>
            <td class="number top" data-value="{{ReplacementCostExtended}}"></td>
          {{/ifEquals}}
          {{#ifEquals ../IncludeValueCost "U"}}
            <td class="number top" data-value="{{UnitValue}}"></td>
            <td class="number top" data-value="{{UnitValueExtended}}"></td>
          {{/ifEquals}}
          {{#ifEquals ../IncludeValueCost "P"}}
            <td class="number top" data-value="{{PurchaseAmount}}"></td>
            <td class="number top" data-value="{{PurchaseAmountExtended}}"></td>
          {{/ifEquals}}
          {{#ifEquals ../ShowBarcodes true}}
            <td class="text top" data-value="{{BarCode}}"></td>
          {{/ifEquals}}
          {{#ifEquals ../ShowVendors true}}
            <td class="text top" data-value="{{Vendor}}"></td>
          {{/ifEquals}}
          {{#ifEquals ../ShowResponsiblePerson true}}
            <td class="text top" data-value="{{ResponsiblePerson}}"></td>
          {{/ifEquals}}
        {{/ifEquals}}
        {{#ifEquals RowType "Dealfooter"}}
          <td colspan="6" style="font-weight:bold;text-align:right;padding-top:11px">{{Deal}}&nbsp;</td>
          <td class="total-row number" data-value="{{Quantity}}"></td>
          {{#ifEquals ../IncludeValueCost "R"}}
            <td colspan="2" class="total-row number" data-value="{{ReplacementCostExtended}}"></td>
          {{/ifEquals}}
          {{#ifEquals ../IncludeValueCost "U"}}
            <td colspan="2" class="total-row number" data-value="{{UnitValueExtended}}"></td>
          {{/ifEquals}}
          {{#ifEquals ../IncludeValueCost "P"}}
            <td colspan="2" class="total-row number" data-value="{{PurchaseAmountExtended}}"></td>
          {{/ifEquals}}
        {{/ifEquals}}
        {{#ifEquals RowType "Customerfooter"}}
          <td colspan="6" style="font-weight:bold;text-align:right;padding-top:11px">{{Customer}}&nbsp;</td>
          <td class="total-row number" data-value="{{Quantity}}"></td>
          {{#ifEquals ../IncludeValueCost "R"}}
            <td colspan="2" class="total-row number" data-value="{{ReplacementCostExtended}}"></td>
          {{/ifEquals}}
          {{#ifEquals ../IncludeValueCost "U"}}
            <td colspan="2" class="total-row number" data-value="{{UnitValueExtended}}"></td>
          {{/ifEquals}}
          {{#ifEquals ../IncludeValueCost "P"}}
            <td colspan="2" class="total-row number" data-value="{{PurchaseAmountExtended}}"></td>
          {{/ifEquals}}
        {{/ifEquals}}
        {{#ifEquals RowType "OrderNumberfooter"}}
          <td colspan="6" style="font-weight:bold;text-align:right;padding-top:11px">{{OrderNumber}}&nbsp;</td>
          <td class="total-row number" data-value="{{Quantity}}"></td>
          {{#ifEquals ../IncludeValueCost "R"}}
            <td colspan="2" class="total-row number" data-value="{{ReplacementCostExtended}}"></td>
          {{/ifEquals}}
          {{#ifEquals ../IncludeValueCost "U"}}
            <td colspan="2" class="total-row number" data-value="{{UnitValueExtended}}"></td>
          {{/ifEquals}}
          {{#ifEquals ../IncludeValueCost "P"}}
            <td colspan="2" class="total-row number" data-value="{{PurchaseAmountExtended}}"></td>
          {{/ifEquals}}
        {{/ifEquals}}
        {{#ifEquals RowType "OfficeLocationfooter"}}
          <td colspan="6" style="font-weight:bold;text-align:right;padding-top:11px">{{OfficeLocation}}&nbsp;</td>
          <td class="total-row number" data-value="{{Quantity}}"></td>
          {{#ifEquals ../IncludeValueCost "R"}}
            <td colspan="2" class="total-row number" data-value="{{ReplacementCostExtended}}"></td>
          {{/ifEquals}}
          {{#ifEquals ../IncludeValueCost "U"}}
            <td colspan="2" class="total-row number" data-value="{{UnitValueExtended}}"></td>
          {{/ifEquals}}
          {{#ifEquals ../IncludeValueCost "P"}}
            <td colspan="2" class="total-row number" data-value="{{PurchaseAmountExtended}}"></td>
          {{/ifEquals}}
        {{/ifEquals}}
        {{#ifEquals RowType "grandtotal"}}
          <td colspan="6" style="font-weight:bold;text-align:right;padding-top:11px">Grand Total:&nbsp;</td>
          <td class="total-row number" data-value="{{Quantity}}"></td>
          {{#ifEquals ../IncludeValueCost "R"}}
            <td colspan="2" class="total-row number" data-value="{{ReplacementCostExtended}}"></td>
          {{/ifEquals}}
          {{#ifEquals ../IncludeValueCost "U"}}
            <td colspan="2" class="total-row number" data-value="{{UnitValueExtended}}"></td>
          {{/ifEquals}}
          {{#ifEquals ../IncludeValueCost "P"}}
            <td colspan="2" class="total-row number" data-value="{{PurchaseAmountExtended}}"></td>
          {{/ifEquals}}
        {{/ifEquals}}
      </tr>
      {{/each}}
    </tbody>
  </table>
{{/ifEquals}}
{{/ifEquals}}
  {{#ifEquals IncludeFullImages false}}
  <table>
    <thead>
      <tr>
        <th class="text">Order No.</th>
        <th class="text">Order Date</th>
        <th class="text">Order Description</th>
        <th class="text">I-Code</th>
        <th class="text">Item Description</th>
        <th class="text">Contract No.</th>
        <th class="text" style="width:55px;">PO No.</th>
        <th class="number">Quantity</th>
        {{#ifEquals IncludeValue true}}
          <th class="number">Unit Value</th>
          <th class="number">Extended</th>
        {{/ifEquals}}
        {{#ifEquals ShowBarcodes true}}
          <th class="text">Bar Code</th>
        {{/ifEquals}}
        {{#ifEquals ShowVendors true}}
          <th class="text">Vendor</th>
        {{/ifEquals}}
        {{#ifEquals ShowResponsiblePerson true}}
          <th class="text">Responsible</th>
        {{/ifEquals}}
        {{#ifEquals ShowImages true}}
         {{#ifEquals IncludeThumbnailImages true}}
          <th class="text">Image</th>
         {{/ifEquals}}
        {{/ifEquals}}
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr data-rowtype={{RowType}}>
        {{#ifEquals RowType "OfficeLocationheader"}}
         <td colspan="5" class="header-row">Office: {{OfficeLocation}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "OrderNumberheader"}}
          <td colspan="5" class="lower header-row">Order No: {{OrderNumber}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Customerheader"}}
          <td colspan="5" class="lower header-row">Customer: {{Customer}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Dealheader"}}
          <td colspan="5" class="lower header-row">Deal: {{Deal}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "detail"}}
          <td class="text" data-value="{{OrderNumber}}"></td>
          <td class="text" data-value="{{OrderDate}}"></td>
          <td class="text" data-value="{{OrderDescription}}"></td>
          <td class="text" data-value="{{ICode}}"></td>
          <td class="text" data-value="{{Description}}"></td>
          <td class="text" data-value="{{ContractNumber}}"></td>
          <td class="text" data-value="{{PoNumber}}"></td>
          <td class="number" data-value="{{Quantity}}"></td>
          {{#ifEquals ../IncludeValueCost "R"}}
            <td class="number" data-value="{{ReplacementCost}}"></td>
            <td class="number" data-value="{{ReplacementCostExtended}}"></td>
          {{/ifEquals}}
          {{#ifEquals ../IncludeValueCost "U"}}
            <td class="number" data-value="{{UnitValue}}"></td>
            <td class="number" data-value="{{UnitValueExtended}}"></td>
          {{/ifEquals}}
          {{#ifEquals ../IncludeValueCost "P"}}
            <td class="number" data-value="{{PurchaseAmount}}"></td>
            <td class="number" data-value="{{PurchaseAmountExtended}}"></td>
          {{/ifEquals}}
          {{#ifEquals ../ShowBarcodes true}}
            <td class="text" data-value="{{BarCode}}"></td>
          {{/ifEquals}}
          {{#ifEquals ../ShowVendors true}}
            <td class="text" data-value="{{Vendor}}"></td>
          {{/ifEquals}}
          {{#ifEquals ../ShowResponsiblePerson true}}
            <td class="text" data-value="{{ResponsiblePerson}}"></td>
          {{/ifEquals}}
          {{#ifEquals ../ShowImages true}}
            {{#ifEquals ../IncludeThumbnailImages true}}
              {{#if Image}}
                <td><div style="width:50px;"><img id="base64img" src="{{Image}}" alt="image" style="display:block;width:100%;height:auto;"/></div></td>
              {{else}}
                <td></td>
              {{/if}}
            {{/ifEquals}}
          {{/ifEquals}}
        {{/ifEquals}}
        {{#ifEquals RowType "Dealfooter"}}
          <td colspan="7" style="font-weight:bold;text-align:right;padding-top:11px">{{Deal}}&nbsp;</td>
          <td class="total-row number" data-value="{{Quantity}}"></td>
          {{#ifEquals ../IncludeValueCost "R"}}
            <td colspan="2" class="total-row number" data-value="{{ReplacementCostExtended}}"></td>
          {{/ifEquals}}
          {{#ifEquals ../IncludeValueCost "U"}}
            <td colspan="2" class="total-row number" data-value="{{UnitValueExtended}}"></td>
          {{/ifEquals}}
          {{#ifEquals ../IncludeValueCost "P"}}
            <td colspan="2" class="total-row number" data-value="{{PurchaseAmountExtended}}"></td>
          {{/ifEquals}}
        {{/ifEquals}}
        {{#ifEquals RowType "Customerfooter"}}
          <td colspan="7" style="font-weight:bold;text-align:right;padding-top:11px">{{Customer}}&nbsp;</td>
          <td class="total-row number" data-value="{{Quantity}}"></td>
          {{#ifEquals ../IncludeValueCost "R"}}
            <td colspan="2" class="total-row number" data-value="{{ReplacementCostExtended}}"></td>
          {{/ifEquals}}
          {{#ifEquals ../IncludeValueCost "U"}}
            <td colspan="2" class="total-row number" data-value="{{UnitValueExtended}}"></td>
          {{/ifEquals}}
          {{#ifEquals ../IncludeValueCost "P"}}
            <td colspan="2" class="total-row number" data-value="{{PurchaseAmountExtended}}"></td>
          {{/ifEquals}}
        {{/ifEquals}}
        {{#ifEquals RowType "OrderNumberfooter"}}
          <td colspan="7" style="font-weight:bold;text-align:right;padding-top:11px">{{OrderNumber}}&nbsp;</td>
          <td class="total-row number" data-value="{{Quantity}}"></td>
          {{#ifEquals ../IncludeValueCost "R"}}
            <td colspan="2" class="total-row number" data-value="{{ReplacementCostExtended}}"></td>
          {{/ifEquals}}
          {{#ifEquals ../IncludeValueCost "U"}}
            <td colspan="2" class="total-row number" data-value="{{UnitValueExtended}}"></td>
          {{/ifEquals}}
          {{#ifEquals ../IncludeValueCost "P"}}
            <td colspan="2" class="total-row number" data-value="{{PurchaseAmountExtended}}"></td>
          {{/ifEquals}}
        {{/ifEquals}}
        {{#ifEquals RowType "OfficeLocationfooter"}}
          <td colspan="7" style="font-weight:bold;text-align:right;padding-top:11px">{{OfficeLocation}}&nbsp;</td>
          <td class="total-row number" data-value="{{Quantity}}"></td>
          {{#ifEquals ../IncludeValueCost "R"}}
            <td colspan="2" class="total-row number" data-value="{{ReplacementCostExtended}}"></td>
          {{/ifEquals}}
          {{#ifEquals ../IncludeValueCost "U"}}
            <td colspan="2" class="total-row number" data-value="{{UnitValueExtended}}"></td>
          {{/ifEquals}}
          {{#ifEquals ../IncludeValueCost "P"}}
            <td colspan="2" class="total-row number" data-value="{{PurchaseAmountExtended}}"></td>
          {{/ifEquals}}
        {{/ifEquals}}
        {{#ifEquals RowType "grandtotal"}}
          <td colspan="7" style="font-weight:bold;text-align:right;padding-top:11px">Grand Total:&nbsp;</td>
          <td class="total-row number" data-value="{{Quantity}}"></td>
          {{#ifEquals ../IncludeValueCost "R"}}
            <td colspan="2" class="total-row number" data-value="{{ReplacementCostExtended}}"></td>
          {{/ifEquals}}
          {{#ifEquals ../IncludeValueCost "U"}}
            <td colspan="2" class="total-row number" data-value="{{UnitValueExtended}}"></td>
          {{/ifEquals}}
          {{#ifEquals ../IncludeValueCost "P"}}
            <td colspan="2" class="total-row number" data-value="{{PurchaseAmountExtended}}"></td>
          {{/ifEquals}}
        {{/ifEquals}}
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{/ifEquals}}
</div>