<!--Deal Outstanding Items Report-->
<div class="rpt-flexrow" style="width:1555px;">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div class="rpt-flexrow" style="width:1555px;margin-top:40px;">
  {{#ifEquals ShowImages true}}
  {{#ifEquals IncludeFullImages true}}
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>I-Code</th>
        <th>Item Description</th>
        {{#ifEquals ShowVendors true}}
        <th>Vendor</th>
        {{/ifEquals}}
        <th>Contract No.</th>
        <th>PO No.</th>
        <th class="number">Quantity</th>
        {{#ifEquals ShowBarcodes true}}
        <th>Bar Code</th>
        {{/ifEquals}}
        {{#ifEquals IncludeValue true}}
        <th class="number">Unit Value</th>
        <th class="number">Extended</th>
        {{/ifEquals}}
        {{#ifEquals ShowResponsiblePerson true}}
        <th>Responsible</th>
        {{/ifEquals}}
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr data-rowtype={{RowType}}>
        {{#ifEquals RowType "OfficeLocationheader"}}
        <td colspan="5" class="header-row">Office: {{OfficeLocation}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "OrderNumberheader"}}
        <td colspan="5" class="lower header-row">Order No: {{OrderNumber}}</td>
        <td class="tax-option">Date: {{OrderDate}}</td>
        <td class="tax-option">Description: {{OrderDescription}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Customerheader"}}
        <td colspan="5" class="lower header-row">Customer: {{Customer}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Dealheader"}}
        <td colspan="5" class="lower header-row">Deal: {{Deal}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "detail"}}
        {{#if Image}}
        <td><div>{{OrderDate}}</div><div colspan="3" style="width:170px;"><img id="base64img" src="{{Image}}" alt="image" style="display:block;width:100%;height:auto;" /></div></td>
        {{else}}
        <td class="top">
          <div>{{OrderDate}}</div>
          {{/if}}
        <td class="top nowrap" data-value="{{ICode}}"></td>
        <td class="top" data-value="{{Description}}"></td>
        {{#ifEquals ../ShowVendors true}}
        <td class="top" data-value="{{Vendor}}"></td>
        {{/ifEquals}}
        <td class="top" data-value="{{ContractNumber}}"></td>
        <td class="top" data-value="{{PoNumber}}"></td>
        <td class="number top" data-value="{{Quantity}}"></td>
        {{#ifEquals ../ShowBarcodes true}}
        <td class="top" data-value="{{BarCode}}"></td>
        {{/ifEquals}}
        {{#ifEquals ../IncludeValueCost "R"}}
        <td class="number top" data-value="{{ReplacementCost}}"></td>
        <td class="number top" data-value="{{ReplacementCostExtended}}"></td>
        {{/ifEquals}}
        {{#ifEquals ../IncludeValueCost "U"}}
        <td class="number top" data-value="{{UnitValue}}"></td>
        <td class="number top" data-value="{{UnitValueExtended}}"></td>
        {{/ifEquals}}
        {{#ifEquals ../IncludeValueCost "P"}}
        <td class="number top" data-value="{{PurchaseAmount}}"></td>
        <td class="number top" data-value="{{PurchaseAmountExtended}}"></td>
        {{/ifEquals}}
        {{#ifEquals ../ShowResponsiblePerson true}}
        <td class="top" data-value="{{ResponsiblePerson}}"></td>
        {{/ifEquals}}
        {{/ifEquals}}
        {{#ifEquals RowType "Dealfooter"}}
        <td colspan="6" class="total-name">{{Deal}}&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
        {{#ifEquals ../IncludeValueCost "R"}}
        <td colspan="2" class="total-val" data-value="{{ReplacementCostExtended}}"></td>
        {{/ifEquals}}
        {{#ifEquals ../IncludeValueCost "U"}}
        <td colspan="2" class="total-val" data-value="{{UnitValueExtended}}"></td>
        {{/ifEquals}}
        {{#ifEquals ../IncludeValueCost "P"}}
        <td colspan="2" class="total-val" data-value="{{PurchaseAmountExtended}}"></td>
        {{/ifEquals}}
        {{/ifEquals}}
        {{#ifEquals RowType "Customerfooter"}}
        <td colspan="6" class="total-name">{{Customer}}&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
        {{#ifEquals ../IncludeValueCost "R"}}
        <td colspan="2" class="total-val" data-value="{{ReplacementCostExtended}}"></td>
        {{/ifEquals}}
        {{#ifEquals ../IncludeValueCost "U"}}
        <td colspan="2" class="total-val" data-value="{{UnitValueExtended}}"></td>
        {{/ifEquals}}
        {{#ifEquals ../IncludeValueCost "P"}}
        <td colspan="2" class="total-val" data-value="{{PurchaseAmountExtended}}"></td>
        {{/ifEquals}}
        {{/ifEquals}}
        {{#ifEquals RowType "OrderNumberfooter"}}
        <td colspan="6" class="total-name">{{OrderNumber}}&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
        {{#ifEquals ../IncludeValueCost "R"}}
        <td colspan="2" class="total-val" data-value="{{ReplacementCostExtended}}"></td>
        {{/ifEquals}}
        {{#ifEquals ../IncludeValueCost "U"}}
        <td colspan="2" class="total-val" data-value="{{UnitValueExtended}}"></td>
        {{/ifEquals}}
        {{#ifEquals ../IncludeValueCost "P"}}
        <td colspan="2" class="total-val" data-value="{{PurchaseAmountExtended}}"></td>
        {{/ifEquals}}
        {{/ifEquals}}
        {{#ifEquals RowType "OfficeLocationfooter"}}
        <td colspan="6" class="total-name">{{OfficeLocation}}&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
        {{#ifEquals ../IncludeValueCost "R"}}
        <td colspan="2" class="total-val" data-value="{{ReplacementCostExtended}}"></td>
        {{/ifEquals}}
        {{#ifEquals ../IncludeValueCost "U"}}
        <td colspan="2" class="total-val" data-value="{{UnitValueExtended}}"></td>
        {{/ifEquals}}
        {{#ifEquals ../IncludeValueCost "P"}}
        <td colspan="2" class="total-val" data-value="{{PurchaseAmountExtended}}"></td>
        {{/ifEquals}}
        {{/ifEquals}}
        {{#ifEquals RowType "grandtotal"}}
        <td colspan="6" class="total-name">Grand Total:&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
        {{#ifEquals ../IncludeValueCost "R"}}
        <td colspan="2" class="total-val" data-value="{{ReplacementCostExtended}}"></td>
        {{/ifEquals}}
        {{#ifEquals ../IncludeValueCost "U"}}
        <td colspan="2" class="total-val" data-value="{{UnitValueExtended}}"></td>
        {{/ifEquals}}
        {{#ifEquals ../IncludeValueCost "P"}}
        <td colspan="2" class="total-val" data-value="{{PurchaseAmountExtended}}"></td>
        {{/ifEquals}}
        {{/ifEquals}}
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{/ifEquals}}
  {{/ifEquals}}
  {{#ifEquals IncludeFullImages false}}
  <table>
    <thead>
      <tr>
        <th>Order Date</th>
        <th>I-Code</th>
        <th>Item Description</th>
        {{#ifEquals ShowVendors true}}
        <th>Vendor</th>
        {{/ifEquals}}
        <th>Contract No.</th>
        <th style="width:55px;">PO No.</th>
        <th class="number">Quantity</th>
        {{#ifEquals ShowBarcodes true}}
        <th>Bar Code</th>
        {{/ifEquals}}
        {{#ifEquals IncludeValue true}}
        <th class="number">Unit Value</th>
        <th class="number">Extended</th>
        {{/ifEquals}}
        {{#ifEquals ShowResponsiblePerson true}}
        <th>Responsible</th>
        {{/ifEquals}}
        {{#ifEquals ShowImages true}}
        {{#ifEquals IncludeThumbnailImages true}}
        <th>Image</th>
        {{/ifEquals}}
        {{/ifEquals}}
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr data-rowtype={{RowType}}>
        {{#ifEquals RowType "OfficeLocationheader"}}
        <td colspan="5" class="header-row">Office: {{OfficeLocation}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "OrderNumberheader"}}
        <td colspan="5" class="lower header-row">Order No: {{OrderNumber}}</td>
        <td class="tax-option">Date: {{OrderDate}}</td>
        <td class="tax-option">Description: {{OrderDescription}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Customerheader"}}
        <td colspan="5" class="lower header-row">Customer: {{Customer}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Dealheader"}}
        <td colspan="5" class="lower header-row">Deal: {{Deal}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "detail"}}
        <td data-value="{{OrderDate}}"></td>
        <td class="nowrap" data-value="{{ICode}}"></td>
        <td data-value="{{Description}}"></td>
        {{#ifEquals ../ShowVendors true}}
        <td data-value="{{Vendor}}"></td>
        {{/ifEquals}}
        <td data-value="{{ContractNumber}}"></td>
        <td data-value="{{PoNumber}}"></td>
        <td class="number" data-value="{{Quantity}}"></td>
        {{#ifEquals ../ShowBarcodes true}}
        <td data-value="{{BarCode}}"></td>
        {{/ifEquals}}
        {{#ifEquals ../IncludeValueCost "R"}}
        <td class="number" data-value="{{ReplacementCost}}"></td>
        <td class="number" data-value="{{ReplacementCostExtended}}"></td>
        {{/ifEquals}}
        {{#ifEquals ../IncludeValueCost "U"}}
        <td class="number" data-value="{{UnitValue}}"></td>
        <td class="number" data-value="{{UnitValueExtended}}"></td>
        {{/ifEquals}}
        {{#ifEquals ../IncludeValueCost "P"}}
        <td class="number" data-value="{{PurchaseAmount}}"></td>
        <td class="number" data-value="{{PurchaseAmountExtended}}"></td>
        {{/ifEquals}}
        {{#ifEquals ../ShowResponsiblePerson true}}
        <td data-value="{{ResponsiblePerson}}"></td>
        {{/ifEquals}}
        {{#ifEquals ../ShowImages true}}
        {{#ifEquals ../IncludeThumbnailImages true}}
        {{#if Image}}
        <td><div style="width:50px;"><img id="base64img" src="{{Image}}" alt="image" style="display:block;width:100%;height:auto;" /></div></td>
        {{else}}
        <td></td>
        {{/if}}
        {{/ifEquals}}
        {{/ifEquals}}
        {{/ifEquals}}
        {{#ifEquals RowType "Dealfooter"}}
        <td colspan="7" class="total-name">{{Deal}}&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
        {{#ifEquals ../IncludeValueCost "R"}}
        <td colspan="2" class="total-val" data-value="{{ReplacementCostExtended}}"></td>
        {{/ifEquals}}
        {{#ifEquals ../IncludeValueCost "U"}}
        <td colspan="2" class="total-val" data-value="{{UnitValueExtended}}"></td>
        {{/ifEquals}}
        {{#ifEquals ../IncludeValueCost "P"}}
        <td colspan="2" class="total-val" data-value="{{PurchaseAmountExtended}}"></td>
        {{/ifEquals}}
        {{/ifEquals}}
        {{#ifEquals RowType "Customerfooter"}}
        <td colspan="7" class="total-name">{{Customer}}&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
        {{#ifEquals ../IncludeValueCost "R"}}
        <td colspan="2" class="total-val" data-value="{{ReplacementCostExtended}}"></td>
        {{/ifEquals}}
        {{#ifEquals ../IncludeValueCost "U"}}
        <td colspan="2" class="total-val" data-value="{{UnitValueExtended}}"></td>
        {{/ifEquals}}
        {{#ifEquals ../IncludeValueCost "P"}}
        <td colspan="2" class="total-val" data-value="{{PurchaseAmountExtended}}"></td>
        {{/ifEquals}}
        {{/ifEquals}}
        {{#ifEquals RowType "OrderNumberfooter"}}
        <td colspan="7" class="total-name">{{OrderNumber}}&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
        {{#ifEquals ../IncludeValueCost "R"}}
        <td colspan="2" class="total-val" data-value="{{ReplacementCostExtended}}"></td>
        {{/ifEquals}}
        {{#ifEquals ../IncludeValueCost "U"}}
        <td colspan="2" class="total-val" data-value="{{UnitValueExtended}}"></td>
        {{/ifEquals}}
        {{#ifEquals ../IncludeValueCost "P"}}
        <td colspan="2" class="total-val" data-value="{{PurchaseAmountExtended}}"></td>
        {{/ifEquals}}
        {{/ifEquals}}
        {{#ifEquals RowType "OfficeLocationfooter"}}
        <td colspan="7" class="total-name">{{OfficeLocation}}&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
        {{#ifEquals ../IncludeValueCost "R"}}
        <td colspan="2" class="total-val" data-value="{{ReplacementCostExtended}}"></td>
        {{/ifEquals}}
        {{#ifEquals ../IncludeValueCost "U"}}
        <td colspan="2" class="total-val" data-value="{{UnitValueExtended}}"></td>
        {{/ifEquals}}
        {{#ifEquals ../IncludeValueCost "P"}}
        <td colspan="2" class="total-val" data-value="{{PurchaseAmountExtended}}"></td>
        {{/ifEquals}}
        {{/ifEquals}}
        {{#ifEquals RowType "grandtotal"}}
        <td colspan="7" class="total-name">Grand Total:&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
        {{#ifEquals ../IncludeValueCost "R"}}
        <td colspan="2" class="total-val" data-value="{{ReplacementCostExtended}}"></td>
        {{/ifEquals}}
        {{#ifEquals ../IncludeValueCost "U"}}
        <td colspan="2" class="total-val" data-value="{{UnitValueExtended}}"></td>
        {{/ifEquals}}
        {{#ifEquals ../IncludeValueCost "P"}}
        <td colspan="2" class="total-val" data-value="{{PurchaseAmountExtended}}"></td>
        {{/ifEquals}}
        {{/ifEquals}}
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{/ifEquals}}
</div>