<!--ContractRevisionReport-->
<div class="rpt-flexrow">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">Invoice From: {{FromDate}} To: {{ToDate}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div class="rpt-flexrow" style="margin-top:40px;">
  <table>
    <thead>
      <tr>
        <th>Contract No.</th>
        <th>Date</th>
        <th>Type</th>
        <th>Deal</th>
        <th>I-Code</th>
        <th>Description</th>
        <th>Reason</th>
        <th class="number">Qty</th>
        <th>Change Date</th>
        <th>Changed By</th>
        <th>From</th>
        <th>To</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr data-rowtype={{RowType}}>
        {{#ifEquals RowType "OfficeLocationheader"}}
        <td colspan="5" class="header-row">Office: {{OfficeLocation}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Departmentheader"}}
        <td colspan="5" class="lower header-row">Department: {{Department}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "RevisionTypeheader"}}
        <td colspan="5" class="lower header-row">Change Type: {{RevisionType}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "detail"}}
        <td class="nowrap" data-value="{{ContractNumber}}"></td>
        <td data-value="{{ContractDate}}"></td>
        <td data-value="{{ContractType}}"></td>
        <td data-value="{{Deal}}"></td>
        <td data-value="{{ICode}}"></td>
        <td data-value="{{Description}}"></td>
        <td data-value="{{Reason}}"></td>
        <td class="number" data-value="{{Quantity}}"></td>
        <td data-value="{{PriorValue}}"></td>
        <td data-value="{{RevisedBy}}"></td>
        <td data-value="{{NewValue}}"></td>
        <td data-value="{{RevisionDate}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "OfficeLocationfooter"}}
        <td colspan="7" class="total-name">{{OfficeLocation}}:&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "Departmentfooter"}}
        <td colspan="7" class="total-name">{{Department}}:&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "RevisionTypefooter"}}
        <td colspan="7" class="total-name">{{RevisionType}}:&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "grandtotal"}}
        <td colspan="7" class="total-name">Grand Total:&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
        {{/ifEquals}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>