<!--Sales Inventory Attributes Report-->
<div class="rpt-flexrow">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">As of {{PrintDate}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div class="rpt-flexrow" style="margin-top:40px;">
  <table>
    <thead>
      <tr>
        <th>I-Code</th>
        <th>Description</th>
        <th>Inventory Type</th>
        <th>Category</th>
        <th>Sub-Category</th>
        <th>Attribute</th>
        <th class="number">Value</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr>
        <td data-value="{{ICode}}"></td>
        <td data-value="{{Description}}"></td>
        <td data-value="{{InventoryType}}"></td>
        <td data-value="{{Category}}"></td>
        <td data-value="{{SubCategory}}"></td>
        <td data-value="{{Attribute}}"></td>
        <td class="number" data-value="{{AttributeValue}}"></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>