<!-- Purchase Order Report-->
<div class="rpt-flexrow" style="margin:5px 0px 0px 4px;">
  <div class="rpt-flexcolumn" style="flex:0 0 30%;padding-bottom:5px;">
    {{#if Logosrc}}
    <div style="height:100px;"><img class="clientlogo" src="{{Logosrc}}" style="display:block;width:auto;height:100%;" alt="logo" /></div>
    {{else}}
    <div></div>
    {{/if}}
    <span class="header-left" style="font-weight:600">{{OfficeLocationCompany}}</span>
    <span class="header-left">{{OfficeLocationAddress1}}</span>
    <span class="header-left">{{OfficeLocationAddress2}}</span>
    <span class="header-left">{{OfficeLocationCityStateZipCodeCountry}}</span>
    <span class="header-left"><span style="font-weight:600;">Phone: </span>{{OfficeLocationPhone}}</span>
  </div>
  <div class="rpt-flexcolumn" style="flex:0 0 40%;">
    <span class="sub-title">{{Department}}</span>
    <span class="title">{{Report}}</span>
  </div>
  <!-- Order Number & Date -->
  <div class="rpt-flexcolumn" style="flex:0 0 30%;">
    <table>
      <tr>
        <td style="width:50%;font-size:18px;font-weight:700;text-align:right;">No:</td>
        <td class="rptNumberSection" style="width:50%;">{{OrderNumber}}</td>
      </tr>
      <tr>
        <td style="width:50%;color:black;font-size:18px;font-weight:700;text-align:right;">Date:</td>
        <td style="width:50%;font-size:18px;text-align:center;">{{OrderDate}}</td>
      </tr>
    </table>
  </div>
</div>
<div class="rpt-flexrow" style="margin-top:15px;">
  <!-- Issued To -->
  <div class="rpt-flexcolumn" style="flex:0 0 400px;margin-right:10px;">
    <table id="issuedTo">
      <tr>
        <th class="sub text shaded-block" style="text-align:left;padding:5px;">Issued To</th>
      </tr>
      <tr>
        <td class="" style="font-weight:700;">{{IssuedToCompany}}</td>
      </tr>
      <tr>
        <td class="">{{IssuedToAddress1}}</td>
      </tr>
      {{#ifCond IssuedToAddress2 '!==' ""}}
      <tr>
        <td class="">{{IssuedToAddress2}}</td>
      </tr>
      {{/ifCond}}
      <tr>
        <td class="">{{IssuedToCity}}, {{IssuedToState}} {{IssuedToZipCode}} {{IssuedToCountry}}</td>
      </tr>
      <tr>
        <td class=""><span style="color:#000000;font-weight:700;">Phone: </span>{{IssuedToPhone}}</td>
      </tr>
    </table>
  </div>
  <!-- Ordered From -->
  <div class="rpt-flexcolumn sectionBorder" style="flex:0 0 332px;margin:0px 10px;">
    <table>
      {{#if OrderedBy}}
      <tr>
        <td class="shaded-block" style="width:110px;">Ordered From:</td>
        <td class="">{{OrderedBy}}</td>
      </tr>
      {{/if}}
      {{#if OrderedByEmail}}
      <tr>
        <td class="shaded-block" style="width:110px;">Email:</td>
        <td class="">{{OrderedByEmail}}</td>
      </tr>
      {{/if}}
      {{#if OrderedByPhone}}
      <tr>
        <td class="shaded-block" style="width:110px;">Phone:</td>
        <td class="">{{OrderedByPhone}}</td>
      </tr>
      {{/if}}
    </table>
  </div>
  <!-- Receive from Vendor -->
  <div class="rpt-flexcolumn " style="flex:0 0 332px;margin-left:10px;">
    {{#ifNotEquals OrderTypeDescription "MISCELLANEOUS"}}
    <table id="outgoing">
      <tr>
        <th class="sub text shaded-block" style="text-align:left;padding:5px;">Receive from Vendor ({{OutDeliveryType}})</th>
      </tr>
      <tr>
        <td class=""><span style="font-weight:700;">Location: </span>{{OutDeliveryLocation}}</td>
      </tr>
      {{#if OutDeliveryAttention}}
      <tr>
        <td class=""><span style="font-weight:700;">Attention: </span>{{OutDeliveryAttention}}</td>
      </tr>
      {{/if}}
      <tr>
        <td class="">{{OutDeliveryAddress1}}{{#if OutDeliveryAddress2}},&nbsp;{{OutDeliveryAddress2}}{{/if}}</td>
      </tr>
      {{#if OutDeliveryCity}}
      <tr>
        <td class="">{{OutDeliveryCity}}, {{OutDeliveryState}} {{OutDeliveryZipCode}} {{OutDeliveryCountry}}</td>
      </tr>
      {{/if}}
      {{#if OutDeliveryRequiredByDateTime}}
      <tr>
        <td class=""><span style="font-weight:700;">Required By: </span>{{OutDeliveryRequiredByDateTime}}</td>
      </tr>
      {{/if}}
    </table>
    {{/ifNotEquals}}
  </div>
</div>
<div class="rpt-flexrow" style="margin-top:25px;">
  <!-- Description, Billing Period, Usage Period, etc -->
  <div class="rpt-flexcolumn sectionBorder" style="flex:0 0 400px;margin-right:10px;">
    <table>
      {{#ifEquals OrderTypeDescription "INVENTORY"}}
      <tr>
        <td class="shaded-block" style="width:105px;">Description:</td>
        <td class="">{{Description}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifNotEquals OrderTypeDescription "INVENTORY"}}
      {{#ifCond BillingDates '!==' "N/A"}}
      <tr>
        <td class="shaded-block" style="width:105px;">Billing Period:</td>
        <td class="">{{BillingDates}}</td>
      </tr>
      {{/ifCond}}
      {{#ifCond UsageDates '!==' "N/A"}}
      <tr>
        <td class="shaded-block" style="width:105px;">Usage Period:</td>
        <td class="">{{UsageDates}}</td>
      </tr>
      {{/ifCond}}
      {{/ifNotEquals}}
      <tr>
        <td class="shaded-block" style="width:105px;">Terms:</td>
        <td class="">{{PaymentTerms}}</td>
      </tr>
      <tr>
        <td class="shaded-block" style="width:105px;">Billing Cycle:</td>
        <td class="">{{BillingCycle}}</td>
      </tr>
    </table>
  </div>
  <!-- Ordered By -->
  <div class="rpt-flexcolumn sectionBorder" style="flex:0 0 332px;margin:0px 10px;">
    <table>
      <tr>
        <td class="shaded-block" style="width:110px;">Ordered By:</td>
        <td class="">{{Agent}}</td>
      </tr>
      <tr>
        <td class="shaded-block" style="width:110px;">Email:</td>
        <td class="">{{AgentEmail}}</td>
      </tr>
      <tr>
        <td class="shaded-block" style="width:110px;">Phone:</td>
        <td class="">{{AgentPhone}}</td>
      </tr>
    </table>
  </div>
  <!-- Return to Vendor -->
  <div class="rpt-flexcolumn" style="flex:0 0 332px;margin-left:10px;">
    {{#ifNotEquals OrderTypeDescription "INVENTORY"}}
    {{#ifNotEquals OrderTypeDescription "MISCELLANEOUS"}}
    <table id="incoming">
      <tr>
        <th class="sub text shaded-block" style="text-align:left;padding:5px;background-color:#e3f2fd;">Return to Vendor ({{InDeliveryType}})</th>
      </tr>
      <tr>
        <td class=""><span style="font-weight:700;">Location: </span>{{InDeliveryLocation}}</td>
      </tr>
      {{#if InDeliveryAttention}}
      <tr>
        <td class=""><span style="font-weight:700;">Attention: </span>{{InDeliveryAttention}}</td>
      </tr>
      {{/if}}
      <tr>
        <td class="">{{InDeliveryAddress1}}{{#if InDeliveryAddress2}},&nbsp;{{InDeliveryAddress2}}{{/if}}</td>
      </tr>
      {{#if InDeliveryCity}}
      <tr>
        <td class="">{{InDeliveryCity}}, {{InDeliveryState}} {{InDeliveryZipCode}} {{InDeliveryCountry}}</td>
      </tr>
      {{/if}}
      {{#if InDeliveryRequiredByDateTime}}
      <tr>
        <td class=""><span style="font-weight:700;">Required By: </span>{{InDeliveryRequiredByDateTime}}</td>
      </tr>
      {{/if}}
    </table>
    {{/ifNotEquals}}
    {{/ifNotEquals}}
  </div>
</div>
<!-- Rental Items -->
<div class="rpt-flexrow">
  <table style="table-layout:fixed;">
    {{#each RentalItems}}
    {{#ifEquals RowType "RecTypeDisplayheader"}}
    <tbody data-rowtype="{{RowType}}">
      <tr><td>&nbsp;</td></tr><!--spacer row-->
      <tr class="avoid-page-break">
        <td colspan="7" class="section-header">{{RecTypeDisplay}}&nbsp;</td>
      </tr>
      <tr class="rectype-header">
        <td style="min-width:115px;">I-Code</td>
        <td style="min-width:379px;">Description</td>
        <td style="min-width:90px;" class="number alignRight">Quantity</td>
        {{#ifCond RecTypeDisplay '==' "PURCHASE"}}
        <td style="min-width:75px;" class="number alignRight">&nbsp;</td>
        {{else}}
        <td style="min-width:75px;" class="number alignRight">Days</td>
        {{/ifCond}}
        <td style="min-width:100px;" class="number alignRight">Price</td>
        {{#if HasDiscount}}
        <td style="min-width:140px;" class="number alignRight">Discount %</td>
        {{else}}
        <td style="min-width:140px;" class="number alignRight"></td>
        {{/if}}
        <td style="min-width:140px;" class="number alignRight">Period Extended</td>
      </tr>
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "detail"}}
    <tbody data-rowtype="{{RowType}}">
      <tr data-isbold="{{Bold}}">
        <!-- I-Code -->
        {{#ifEquals ItemClass "ST"}}
        <td data-itemclass="{{ItemClass}}" class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{ICode}}</td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{ICode}}</td><!-- Kit Accessory -->
        {{else}}
        <td data-itemclass="{{ItemClass}}">{{ICode}}</td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td data-itemclass="{{ItemClass}}" class="textRow"></td>
        {{else}}
        <td data-itemclass="{{ItemClass}}" class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Description -->
        {{#ifEquals ItemClass "ST"}}
        <td data-itemclass="{{ItemClass}}" class="subTotalRow">{{Description}}</td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{Description}}</td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{Description}}</td><!-- Kit Accessory -->
        {{else}}
        <td data-itemclass="{{ItemClass}}">{{Description}}</td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td data-itemclass="{{ItemClass}}" class="textRow">{{Description}}</td>
        {{else}}
        <td data-itemclass="{{ItemClass}}" class="headerRow">{{Description}}</td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Quantity Ordered -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{QuantityOrdered}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Duration / Billable Periods -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond RecTypeDisplay '!==' "PURCHASE"}}
        <td class="alignRight">{{BillablePeriods}}</td>
        {{else}}
        <td></td>
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Price -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow" style="text-align:center;"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{Rate}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Discount Percent Ordered -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#if HasDiscount}}
        <td class="alignRight">{{DiscountPercent}}</td>
        {{else}}
        <td class="alignRight"></td>
        {{/if}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Period Extended / Sub-Totals -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow alignRight">{{PeriodExtendedSubTotal}}</td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{PeriodExtended}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}
      </tr>
      {{#if Notes}}
      <tr>
        <td>&nbsp;</td>
        <td data-itemclass="{{ItemClass}}" class=""><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        <td>&nbsp;</td>
      </tr>
      {{/if}}
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "RecTypeDisplayfooter"}}
    {{#ifNotEquals PeriodTax 0}}
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="" style="text-align:right;font-weight:700;padding-top:12px;padding-right:0px;"><span style="padding:11px 5px 3px 6px;border-top:1px solid #000000;">{{RecTypeDisplay}} Sub-Total</span></td>
      <td class="" style="text-align:right;font-weight:700;border-top: 1px solid black;padding-top:10px;" data-value="{{PeriodExtended}}"></td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="tax-row">{{../Tax1Name}} ({{TaxRate1}}%)</td>
      <td class="tax-row" data-value="{{PeriodTax1}}"></td>
    </tr>
    {{#ifCond ../Tax2Name '!=' ""}}
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="tax-row">{{../Tax2Name}} ({{TaxRate2}}%)</td>
      <td class="tax-row" data-value="{{PeriodTax2}}"></td>
    </tr>
    {{/ifCond}}
    {{/ifNotEquals}}
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="" style="text-align:right;font-weight:700;padding-top:12px;padding-right:0px;"><span class="shaded-activity-total" style="padding:11px 5px 3px 41px;border-top:1px solid #000000;">{{RecTypeDisplay}} Total</span></td>
      <td class="display-footer-total" data-value="{{PeriodExtendedWithTax}}"></td>
    </tr>
    {{/ifEquals}}
    {{/each}}
  </table>
</div>
<!-- Sales Items -->
<div class="rpt-flexrow">
  <table style="table-layout:fixed;">
    {{#each SalesItems}}
    {{#ifEquals RowType "RecTypeDisplayheader"}}
    <tbody data-rowtype="{{RowType}}">
      <tr><td>&nbsp;</td></tr><!--spacer row-->
      <tr class="avoid-page-break">
        <td colspan="7" class="section-header">{{RecTypeDisplay}}&nbsp;</td>
      </tr>
      <tr class="rectype-header">
        <td style="min-width:115px;">I-Code</td>
        <td style="min-width:379px;">Description</td>
        <td style="min-width:90px;" class="number alignRight">Quantity</td>
        <td style="min-width:75px;" class="number alignRight">&nbsp;</td>
        <td style="min-width:100px;" class="number alignRight">Price</td>
        {{#if HasDiscount}}
        <td style="min-width:140px;" class="number alignRight">Discount %</td>
        {{else}}
        <td style="min-width:140px;" class="number alignRight"></td>
        {{/if}}
        <td style="min-width:140px;" class="number alignRight">Period Extended</td>
      </tr>
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "detail"}}
    <tbody data-rowtype="{{RowType}}">
      <tr data-isbold="{{Bold}}">
        <!-- I-Code -->
        {{#ifEquals ItemClass "ST"}}
        <td data-itemclass="{{ItemClass}}" class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{ICode}}</td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{ICode}}</td><!-- Kit Accessory -->
        {{else}}
        <td data-itemclass="{{ItemClass}}">{{ICode}}</td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td data-itemclass="{{ItemClass}}" class="textRow"></td>
        {{else}}
        <td data-itemclass="{{ItemClass}}" class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Description -->
        {{#ifEquals ItemClass "ST"}}
        <td data-itemclass="{{ItemClass}}" class="subTotalRow">{{Description}}</td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{Description}}</td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{Description}}</td><!-- Kit Accessory -->
        {{else}}
        <td data-itemclass="{{ItemClass}}">{{Description}}</td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td data-itemclass="{{ItemClass}}" class="textRow">{{Description}}</td>
        {{else}}
        <td data-itemclass="{{ItemClass}}" class="headerRow">{{Description}}</td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Quantity Ordered -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{QuantityOrdered}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- spacer column -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight"></td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Price -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow" style="text-align:center;"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{Rate}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Discount Percent Ordered -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#if HasDiscount}}
        <td class="alignRight">{{DiscountPercent}}</td>
        {{else}}
        <td class="alignRight"></td>
        {{/if}}        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Period Extended / Sub-Totals -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow alignRight">{{PeriodExtendedSubTotal}}</td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{PeriodExtended}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}
      </tr>
      {{#if Notes}}
      <tr>
        <td>&nbsp;</td>
        <td data-itemclass="{{ItemClass}}" class=""><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        <td>&nbsp;</td>
      </tr>
      {{/if}}
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "RecTypeDisplayfooter"}}
    {{#ifNotEquals PeriodTax 0}}
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="" style="text-align:right;font-weight:700;padding-top:12px;padding-right:0px;"><span style="padding:11px 5px 3px 6px;border-top:1px solid #000000;">{{RecTypeDisplay}} Sub-Total</span></td>
      <td class="" style="text-align:right;font-weight:700;border-top: 1px solid black;padding-top:10px;" data-value="{{PeriodExtended}}"></td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="tax-row">{{../Tax1Name}} ({{TaxRate1}}%)</td>
      <td class="tax-row" data-value="{{PeriodTax1}}"></td>
    </tr>
    {{#ifCond ../Tax2Name '!=' ""}}
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="tax-row">{{../Tax2Name}} ({{TaxRate2}}%)</td>
      <td class="tax-row" data-value="{{PeriodTax2}}"></td>
    </tr>
    {{/ifCond}}
    {{/ifNotEquals}}
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="" style="text-align:right;font-weight:700;padding-top:12px;padding-right:0px;"><span class="shaded-activity-total" style="padding:11px 5px 3px 41px;border-top:1px solid #000000;">{{RecTypeDisplay}} Total</span></td>
      <td class="display-footer-total" data-value="{{PeriodExtendedWithTax}}"></td>
    </tr>
    {{/ifEquals}}
    {{/each}}
  </table>
</div>
<!-- Misc Items -->
<div class="rpt-flexrow">
  <table style="table-layout:fixed;">
    {{#each MiscItems}}
    {{#ifEquals RowType "RecTypeDisplayheader"}}
    <tbody data-rowtype="{{RowType}}">
      <tr><td>&nbsp;</td></tr><!--spacer row-->
      <tr class="avoid-page-break">
        <td colspan="7" class="section-header">{{RecTypeDisplay}}&nbsp;</td>
      </tr>
      <tr class="rectype-header">
        <td style="min-width:115px;">I-Code</td>
        <td style="min-width:379px;">Description</td>
        <td style="min-width:90px;" class="number alignRight">Quantity</td>
        <td style="min-width:75px;" class="number alignRight">&nbsp;</td>
        <td style="min-width:100px;" class="number alignRight">Price</td>
        {{#if HasDiscount}}
        <td style="min-width:140px;" class="number alignRight">Discount %</td>
        {{else}}
        <td style="min-width:140px;" class="number alignRight"></td>
        {{/if}}
        <td style="min-width:140px;" class="number alignRight">Period Extended</td>
      </tr>
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "detail"}}
    <tbody data-rowtype="{{RowType}}">
      <tr data-isbold="{{Bold}}">
        <!-- I-Code -->
        {{#ifEquals ItemClass "ST"}}
        <td data-itemclass="{{ItemClass}}" class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{ICode}}</td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{ICode}}</td><!-- Kit Accessory -->
        {{else}}
        <td data-itemclass="{{ItemClass}}">{{ICode}}</td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td data-itemclass="{{ItemClass}}" class="textRow"></td>
        {{else}}
        <td data-itemclass="{{ItemClass}}" class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Description -->
        {{#ifEquals ItemClass "ST"}}
        <td data-itemclass="{{ItemClass}}" class="subTotalRow">{{Description}}</td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{Description}}</td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{Description}}</td><!-- Kit Accessory -->
        {{else}}
        <td data-itemclass="{{ItemClass}}">{{Description}}</td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td data-itemclass="{{ItemClass}}" class="textRow">{{Description}}</td>
        {{else}}
        <td data-itemclass="{{ItemClass}}" class="headerRow">{{Description}}</td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Quantity Ordered -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{QuantityOrdered}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- spacer column -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight"></td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Price -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow" style="text-align:center;"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{Rate}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Discount Percent Ordered -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#if HasDiscount}}
        <td class="alignRight">{{DiscountPercent}}</td>
        {{else}}
        <td class="alignRight"></td>
        {{/if}}        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Period Extended / Sub-Totals -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow alignRight">{{PeriodExtendedSubTotal}}</td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{PeriodExtended}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}
      </tr>
      {{#if Notes}}
      <tr>
        <td>&nbsp;</td>
        <td data-itemclass="{{ItemClass}}" class=""><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        <td>&nbsp;</td>
      </tr>
      {{/if}}
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "RecTypeDisplayfooter"}}
    {{#ifNotEquals PeriodTax 0}}
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="" style="text-align:right;font-weight:700;padding-top:12px;padding-right:0px;"><span style="padding:11px 5px 3px 6px;border-top:1px solid #000000;">{{RecTypeDisplay}} Sub-Total</span></td>
      <td class="" style="text-align:right;font-weight:700;border-top: 1px solid black;padding-top:10px;" data-value="{{PeriodExtended}}"></td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="tax-row">{{../Tax1Name}} ({{TaxRate1}}%)</td>
      <td class="tax-row" data-value="{{PeriodTax1}}"></td>
    </tr>
    {{#ifCond ../Tax2Name '!=' ""}}
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="tax-row">{{../Tax2Name}} ({{TaxRate2}}%)</td>
      <td class="tax-row" data-value="{{PeriodTax2}}"></td>
    </tr>
    {{/ifCond}}
    {{/ifNotEquals}}
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="" style="text-align:right;font-weight:700;padding-top:12px;padding-right:0px;"><span class="shaded-activity-total" style="padding:11px 5px 3px 41px;border-top:1px solid #000000;">{{RecTypeDisplay}} Total</span></td>
      <td class="display-footer-total" data-value="{{PeriodExtendedWithTax}}"></td>
    </tr>
    {{/ifEquals}}
    {{/each}}
  </table>
</div>
<!-- Labor Items -->
<div class="rpt-flexrow">
  <table style="table-layout:fixed;">
    {{#each LaborItems}}
    {{#ifEquals RowType "RecTypeDisplayheader"}}
    <tbody data-rowtype="{{RowType}}">
      <tr><td>&nbsp;</td></tr><!--spacer row-->
      <tr class="avoid-page-break">
        <td colspan="7" class="section-header">{{RecTypeDisplay}}&nbsp;</td>
      </tr>
      <tr class="rectype-header">
        <td style="min-width:115px;">I-Code</td>
        <td style="min-width:379px;">Description</td>
        <td style="min-width:90px;" class="number alignRight">Quantity</td>
        <td style="min-width:75px;" class="number alignRight">&nbsp;</td>
        <td style="min-width:100px;" class="number alignRight">Price</td>
        {{#if HasDiscount}}
        <td style="min-width:140px;" class="number alignRight">Discount %</td>
        {{else}}
        <td style="min-width:140px;" class="number alignRight"></td>
        {{/if}}
        <td style="min-width:140px;" class="number alignRight">Period Extended</td>
      </tr>
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "detail"}}
    <tbody data-rowtype="{{RowType}}">
      <tr data-isbold="{{Bold}}">
        <!-- I-Code -->
        {{#ifEquals ItemClass "ST"}}
        <td data-itemclass="{{ItemClass}}" class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{ICode}}</td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{ICode}}</td><!-- Kit Accessory -->
        {{else}}
        <td data-itemclass="{{ItemClass}}">{{ICode}}</td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td data-itemclass="{{ItemClass}}" class="textRow"></td>
        {{else}}
        <td data-itemclass="{{ItemClass}}" class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Description -->
        {{#ifEquals ItemClass "ST"}}
        <td data-itemclass="{{ItemClass}}" class="subTotalRow">{{Description}}</td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{Description}}</td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{Description}}</td><!-- Kit Accessory -->
        {{else}}
        <td data-itemclass="{{ItemClass}}">{{Description}}</td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td data-itemclass="{{ItemClass}}" class="textRow">{{Description}}</td>
        {{else}}
        <td data-itemclass="{{ItemClass}}" class="headerRow">{{Description}}</td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Quantity Ordered -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{QuantityOrdered}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- spacer column -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight"></td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Price -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow" style="text-align:center;"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{Rate}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Discount Percent Ordered -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#if HasDiscount}}
        <td class="alignRight">{{DiscountPercent}}</td>
        {{else}}
        <td class="alignRight"></td>
        {{/if}}        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Period Extended / Sub-Totals -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow alignRight">{{PeriodExtendedSubTotal}}</td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{PeriodExtended}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}
      </tr>
      {{#if Notes}}
      <tr>
        <td>&nbsp;</td>
        <td data-itemclass="{{ItemClass}}" class=""><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        <td>&nbsp;</td>
      </tr>
      {{/if}}
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "RecTypeDisplayfooter"}}
    {{#ifNotEquals PeriodTax 0}}
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="" style="text-align:right;font-weight:700;padding-top:12px;padding-right:0px;"><span style="padding:11px 5px 3px 6px;border-top:1px solid #000000;">{{RecTypeDisplay}} Sub-Total</span></td>
      <td class="" style="text-align:right;font-weight:700;border-top: 1px solid black;padding-top:10px;" data-value="{{PeriodExtended}}"></td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="tax-row">{{../Tax1Name}} ({{TaxRate1}}%)</td>
      <td class="tax-row" data-value="{{PeriodTax1}}"></td>
    </tr>
    {{#ifCond ../Tax2Name '!=' ""}}
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="tax-row">{{../Tax2Name}} ({{TaxRate2}}%)</td>
      <td class="tax-row" data-value="{{PeriodTax2}}"></td>
    </tr>
    {{/ifCond}}
    {{/ifNotEquals}}
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="" style="text-align:right;font-weight:700;padding-top:12px;padding-right:0px;"><span class="shaded-activity-total" style="padding:11px 5px 3px 41px;border-top:1px solid #000000;">{{RecTypeDisplay}} Total</span></td>
      <td class="display-footer-total" data-value="{{PeriodExtendedWithTax}}"></td>
    </tr>
    {{/ifEquals}}
    {{/each}}
  </table>
</div>
<!-- Facilities Items -->
<div class="rpt-flexrow">
  <table style="table-layout:fixed;">
    <tbody>
      {{#each FacilityItems}}
      {{#ifEquals RowType "RecTypeDisplayheader"}}
      <tr><td>&nbsp;</td></tr><!--spacer row-->
      <tr class="avoid-page-break">
        <td colspan="7" class="section-header">{{RecTypeDisplay}}&nbsp;</td>
      </tr>
      <tr class="rectype-header">
        <td style="min-width:115px;">I-Code</td>
        <td style="min-width:379px;">Description</td>
        <td style="min-width:90px;" class="number alignRight">Quantity</td>
        <td style="min-width:75px;" class="number alignRight">&nbsp;</td>
        <td style="min-width:100px;" class="number alignRight">Price</td>
        {{#if HasDiscount}}
        <td style="min-width:140px;" class="number alignRight">Discount %</td>
        {{else}}
        <td style="min-width:140px;" class="number alignRight"></td>
        {{/if}}
        <td style="min-width:140px;" class="number alignRight">Period Extended</td>
      </tr>
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "detail"}}
    <tbody data-rowtype="{{RowType}}">
      <tr data-isbold="{{Bold}}">
        <!-- I-Code -->
        {{#ifEquals ItemClass "ST"}}
        <td data-itemclass="{{ItemClass}}" class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{ICode}}</td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{ICode}}</td><!-- Kit Accessory -->
        {{else}}
        <td data-itemclass="{{ItemClass}}">{{ICode}}</td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td data-itemclass="{{ItemClass}}" class="textRow"></td>
        {{else}}
        <td data-itemclass="{{ItemClass}}" class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Description -->
        {{#ifEquals ItemClass "ST"}}
        <td data-itemclass="{{ItemClass}}" class="subTotalRow">{{Description}}</td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#ifCond ItemClass '===' "CI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{Description}}</td><!-- Complete Accessory -->
        {{else}}
        {{#ifCond ItemClass '===' "KI"}}
        <td data-itemclass="{{ItemClass}}" style="text-indent:1em;">{{Description}}</td><!-- Kit Accessory -->
        {{else}}
        <td data-itemclass="{{ItemClass}}">{{Description}}</td><!-- Item -->
        {{/ifCond}}
        {{/ifCond}}
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td data-itemclass="{{ItemClass}}" class="textRow">{{Description}}</td>
        {{else}}
        <td data-itemclass="{{ItemClass}}" class="headerRow">{{Description}}</td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Quantity Ordered -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{QuantityOrdered}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- spacer column -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight"></td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Price -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow" style="text-align:center;"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{Rate}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Discount Percent Ordered -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow"></td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        {{#if HasDiscount}}
        <td class="alignRight">{{DiscountPercent}}</td>
        {{else}}
        <td class="alignRight"></td>
        {{/if}}        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}

        <!-- Period Extended / Sub-Totals -->
        {{#ifEquals ItemClass "ST"}}
        <td class="subTotalRow alignRight">{{PeriodExtendedSubTotal}}</td>
        {{/ifEquals}}
        {{#ifNotEquals ItemClass "ST"}}
        {{#ifCond ICode '!=' ""}}
        <td class="alignRight">{{PeriodExtended}}</td>
        {{else}}
        {{#ifCond ItemClass '===' "T"}}
        <td class="textRow"></td>
        {{else}}
        <td class="headerRow"></td>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifNotEquals}}
      </tr>
      {{#if Notes}}
      <tr>
        <td>&nbsp;</td>
        <td data-itemclass="{{ItemClass}}" class=""><div><div class="note-label">Note:&nbsp;</div><div class="note-cell">{{Notes}}</div></div></td>
        <td>&nbsp;</td>
      </tr>
      {{/if}}
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "RecTypeDisplayfooter"}}
    {{#ifNotEquals PeriodTax 0}}
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="" style="text-align:right;font-weight:700;padding-top:12px;padding-right:0px;"><span style="padding:11px 5px 3px 6px;border-top:1px solid #000000;">{{RecTypeDisplay}} Sub-Total</span></td>
      <td class="" style="text-align:right;font-weight:700;border-top: 1px solid black;padding-top:10px;" data-value="{{PeriodExtended}}"></td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="tax-row">{{../Tax1Name}} ({{TaxRate1}}%)</td>
      <td class="tax-row" data-value="{{PeriodTax1}}"></td>
    </tr>
    {{#ifCond ../Tax2Name '!=' ""}}
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="tax-row">{{../Tax2Name}} ({{TaxRate2}}%)</td>
      <td class="tax-row" data-value="{{PeriodTax2}}"></td>
    </tr>
    {{/ifCond}}
    {{/ifNotEquals}}
    <tr>
      <td colspan="2"></td>
      <td colspan="4" class="" style="text-align:right;font-weight:700;padding-top:12px;padding-right:0px;"><span class="shaded-activity-total" style="padding:11px 5px 3px 41px;border-top:1px solid #000000;">{{RecTypeDisplay}} Total</span></td>
      <td class="display-footer-total" data-value="{{PeriodExtendedWithTax}}"></td>
    </tr>
    {{/ifEquals}}
    {{/each}}
  </table>
</div>
<!-- Grand Total row -->
<div class="rpt-flexrow">
  {{#each Items}}
  {{#ifEquals RowType "grandtotal"}}
  <table class="grandTotalRow">
    {{#ifNotEquals PeriodTax 0}}
    <tr>
      <td style="min-width:638px;"></td>
      <td style="min-width:300px;text-align:right;padding-right:10px;font-weight:bold;">SUB TOTAL</td>
      <td class="number grandTotalAllActivities" style="min-width:150px;padding-right:3px;" data-value="{{PeriodExtended}}"></td>
    </tr>
    <tr>
      <td style="min-width:638px;"></td>
      <td class="tax-row" style="min-width:300px;">{{../Tax1Name}}</td>
      <td class="tax-row" style="min-width:150px;" data-value="{{PeriodTax1}}"></td>
    </tr>
    {{#ifCond ../Tax2Name '!=' ""}}
    <tr>
      <td style="min-width:638px;"></td>
      <td class="tax-row" style="min-width:300px;">{{../Tax2Name}}</td>
      <td class="tax-row" style="min-width:150px;" data-value="{{PeriodTax2}}"></td>
    </tr>
    {{/ifCond}}
    {{/ifNotEquals}}
    <tr>
      <td style="min-width:638px;"></td>
      <td style="min-width:300px;text-align:right;padding-right:10px;font-weight:bold;">GRAND TOTAL</td>
      <td class="number grandTotalAllActivities" style="min-width:150px;padding-right:3px;" data-value="{{PeriodExtendedWithTax}}"></td>
    </tr>
  </table>
  {{/ifEquals}}
  {{/each}}
</div>
{{#if Notes}}
<div id="notesRow" colspan="7">
  <div style="font-weight:700;margin:20px 0 0 0;"></div>
  <div><span id="notes"></span></div>
</div>
{{/if}}
{{#if TermsAndConditions}}
<div id="termsRow" colspan="7">
  <div style="font-weight:700;margin:20px 0 0 0;">Terms and Conditions:</div>
  <div><span id="terms"></span></div>
</div>
{{/if}}