<!--Deal Outstanding Items Report-->
<div class="rpt-flexrow" style="width:1500px;">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div class="rpt-flexrow" style="width:1500px;margin-top:40px;">
  {{#ifEquals ShowImages true}}
  {{#ifEquals IncludeFullImages true}}
  <table>
    <thead>
      <tr>
        <th>I-Code</th>
        <th>Item Description</th>
        <th>Vendor</th>
        <th>Contract No.</th>
        <th>PO No.</th>
        <th class="number">Qty</th>
        <th>Bar Code</th>
        <th class="number">Unit Cost</th>
        <th class="number">Extended Cost</th>
        <th>Responsible</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr data-rowtype={{RowType}}>
        {{#ifEquals RowType "OfficeLocationheader"}}
        <td colspan="5" class="header-row">Office: {{OfficeLocation}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "OrderNumberheader"}}
        <td class="lower header-row order-header">Order No: {{OrderNumber}}</td>
        <td class="order-header nowrap">Date: {{OrderDate}}</td>
        <td class="order-header">Description: {{OrderDescription}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Customerheader"}}
        <td colspan="5" class="lower header-row">Customer: {{Customer}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Dealheader"}}
        <td colspan="5" class="lower header-row">Deal: {{Deal}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "detail"}}
        <td class="top nowrap" data-value="{{ICode}}"></td>
        {{#if Image}}
        <td><div>{{Description}}</div><div colspan="3" style="width:170px;"><img id="base64img" src="{{Image}}" alt="image" style="display:block;width:100%;height:auto;" /></div></td>
        {{else}}
        <td class="top">
          <div>{{Description}}</div>
        </td>
        {{/if}}
        <td class="top" data-value="{{Vendor}}"></td>
        <td class="top" data-value="{{ContractNumber}}"></td>
        <td class="top" data-value="{{PoNumber}}"></td>
        <td class="number top" data-value="{{Quantity}}"></td>
        <td class="top" data-value="{{BarCode}}"></td>
        <td class="number top" data-value="{{UnitCost}}"></td>
        <td class="number top" data-value="{{CostExtended}}"></td>
        <td class="top" data-value="{{ResponsiblePerson}}"></td>
        {{/ifEquals}}

        {{#ifEquals RowType "Dealfooter"}}
        <td colspan="{{../FooterColspan}}" class="total-name">{{Deal}}&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
        <td colspan="3" class="total-val" data-value="{{CostExtended}}"></td>
        {{/ifEquals}}

        {{#ifEquals RowType "Customerfooter"}}
        <td colspan="{{../FooterColspan}}" class="total-name">{{Customer}}&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
        <td colspan="3" class="total-val" data-value="{{CostExtended}}"></td>
        {{/ifEquals}}

        {{#ifEquals RowType "OrderNumberfooter"}}
        <td colspan="{{../FooterColspan}}" class="total-name">{{OrderNumber}}&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
        <td colspan="3" class="total-val" data-value="{{CostExtended}}"></td>
        {{/ifEquals}}

        {{#ifEquals RowType "OfficeLocationfooter"}}
        <td colspan="{{../FooterColspan}}" class="total-name">{{OfficeLocation}}&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
        <td colspan="3" class="total-val" data-value="{{CostExtended}}"></td>
        {{/ifEquals}}

        {{#ifEquals RowType "grandtotal"}}
        <td colspan="{{../FooterColspan}}" class="total-name">Grand Total:&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
        <td colspan="3" class="total-val" data-value="{{CostExtended}}"></td>
        {{/ifEquals}}
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{/ifEquals}}
  {{/ifEquals}}
  {{#ifEquals IncludeFullImages false}}
  <table>
    <thead>
      <tr>
        <th>I-Code</th>
        <th>Item Description</th>
        <th>Vendor</th>
        <th>Contract No.</th>
        <th style="width:55px;">PO No.</th>
        <th class="number">Quantity</th>
        <th>Bar Code</th>
        <th class="number">Unit Cost</th>
        <th class="number">Extended Cost</th>
        <th>Responsible</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr data-rowtype={{RowType}}>
        {{#ifEquals RowType "OfficeLocationheader"}}
        <td colspan="5" class="header-row">Office: {{OfficeLocation}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "OrderNumberheader"}}
        <td class="lower header-row order-header nowrap">Order No: {{OrderNumber}}</td>
        <td class="order-header nowrap">Date: {{OrderDate}}</td>
        <td class="order-header">Description: {{OrderDescription}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Customerheader"}}
        <td colspan="5" class="lower header-row">Customer: {{Customer}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Dealheader"}}
        <td colspan="5" class="lower header-row">Deal: {{Deal}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "detail"}}
        <td class="nowrap" data-value="{{ICode}}"></td>
        <td data-value="{{Description}}"></td>
        <td data-value="{{Vendor}}"></td>
        <td data-value="{{ContractNumber}}"></td>
        <td data-value="{{PoNumber}}"></td>
        <td class="number" data-value="{{Quantity}}"></td>
        <td data-value="{{BarCode}}"></td>
        <td class="number top" data-value="{{UnitCost}}"></td>
        <td class="number top" data-value="{{CostExtended}}"></td>
        {{#if Image}}
        <td><div style="width:50px;"><img id="base64img" src="{{Image}}" alt="image" style="display:block;width:100%;height:auto;" /></div></td>
        {{else}}
        <td></td>
        {{/if}}
        {{/ifEquals}}
        {{#ifEquals RowType "Dealfooter"}}
        <td colspan="{{../FooterColspan}}" class="total-name">{{Deal}}&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
        <td colspan="3" class="total-val" data-value="{{CostExtended}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "Customerfooter"}}
        <td colspan="{{../FooterColspan}}" class="total-name">{{Customer}}&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
        <td colspan="3" class="total-val" data-value="{{CostExtended}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "OrderNumberfooter"}}
        <td colspan="{{../FooterColspan}}" class="total-name">{{OrderNumber}}&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
        <td colspan="3" class="total-val" data-value="{{CostExtended}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "OfficeLocationfooter"}}
        <td colspan="{{../FooterColspan}}" class="total-name">{{OfficeLocation}}&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
        <td colspan="3" class="total-val" data-value="{{CostExtended}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "grandtotal"}}
        <td colspan="{{../FooterColspan}}" class="total-name">Grand Total:&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
        <td colspan="3" class="total-val" data-value="{{CostExtended}}"></td>
        {{/ifEquals}}
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{/ifEquals}}
</div>