<!--Deal Outstanding Items Report-->
<div data-section="header" class="rpt-flexrow" style="width:1500px;">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div data-section="table" class="rpt-flexrow" style="width:1500px;margin-top:40px;">
  <table>
    <thead id="columnHeader">
      <tr data-row="main-header">
        <th data-linkedcolumn="ICode" data-valuefield="ICode">I-Code</th>
        <th data-linkedcolumn="Description" data-valuefield="Description">Item Description</th>
        <th data-linkedcolumn="Vendor" data-valuefield="Vendor">Vendor</th>
        <th data-linkedcolumn="ContractNumber" data-valuefield="ContractNumber">Contract No.</th>
        <th data-linkedcolumn="PoNumber" data-valuefield="PoNumber">PO No.</th>
        <th data-linkedcolumn="Quantity" data-valuefield="Quantity" class="number">Qty</th>
        <th data-linkedcolumn="BarCode" data-valuefield="BarCode">Bar Code</th>
        <th data-linkedcolumn="UnitCost" data-valuefield="UnitCost" class="number">Unit Cost</th>
        <th data-linkedcolumn="CostExtended" data-valuefield="CostExtended" class="number">Extended Cost</th>
        <th data-linkedcolumn="ResponsiblePerson" data-valuefield="ResponsiblePerson">Responsible</th>
        <th data-linkedcolumn="Image" data-valuefield="Image" data-visible="{{#ifEquals ShowImages true}}{{#ifEquals IncludeThumbnailImages true}}true{{/ifEquals}}{{/ifEquals}}">Image</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      {{#ifEquals RowType "OfficeLocationheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="10" class="header-row">Office: {{OfficeLocation}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "OrderNumberheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td class="lower header-row order-header">Order No: {{OrderNumber}}</td>
        <td class="order-header nowrap">Date: {{OrderDate}}</td>
        <td class="order-header">Description: {{OrderDescription}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Customerheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="10" class="lower header-row">Customer: {{Customer}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Dealheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="10" class="lower header-row">Deal: {{Deal}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "detail"}}
      <tr data-row="detail" data-rowtype="{{RowType}}">
        <td data-linkedcolumn="ICode" class="top nowrap" data-value="{{ICode}}"></td>
        <td data-linkedcolumn="Description">
          <div>{{Description}}</div>
          <div data-visible="{{#ifEquals ../ShowImages true}}{{#ifEquals ../IncludeFullImages true}}{{#if Image}}true{{/if}}{{/ifEquals}}{{/ifEquals}}" style="width:170px;">
            <img id="base64img" src="{{Image}}" alt="image" style="display:block;width:100%;height:auto;" />
          </div>
        </td>
        <td data-linkedcolumn="Vendor" class="top" data-value="{{Vendor}}"></td>
        <td data-linkedcolumn="ContractNumber" class="top" data-value="{{ContractNumber}}"></td>
        <td data-linkedcolumn="PoNumber" class="top" data-value="{{PoNumber}}"></td>
        <td data-linkedcolumn="Quantity" class="number top" data-value="{{Quantity}}"></td>
        <td data-linkedcolumn="BarCode" class="top" data-value="{{BarCode}}"></td>
        <td data-linkedcolumn="UnitCost" class="number top" data-value="{{UnitCost}}"></td>
        <td data-linkedcolumn="CostExtended" class="number top" data-value="{{CostExtended}}"></td>
        <td data-linkedcolumn="ResponsiblePerson" class="top" data-value="{{ResponsiblePerson}}"></td>
        <td data-linkedcolumn="Image" data-visible="{{#ifEquals ../ShowImages true}}{{#ifEquals ../IncludeThumbnailImages true}}true{{/ifEquals}}{{/ifEquals}}"><div style="width:50px;"><img id="base64img" src="{{Image}}" alt="image" style="display:block;width:100%;height:auto;" /></div></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Dealfooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="5" class="total-name">{{Deal}}&nbsp;</td>
        <td data-linkedcolumn="Quantity" class="total-val" data-value="{{Quantity}}"></td>
        <td data-linkedcolumn="BarCode" class="total-val empty-td"></td>
        <td data-linkedcolumn="UnitCost" class="total-val empty-td"></td>
        <td data-linkedcolumn="CostExtended" class="total-val" data-value="{{CostExtended}}"></td>
        <td data-linkedcolumn="ResponsiblePerson" class="empty-td"></td>
        <td data-linkedcolumn="Image" class="empty-td" data-visible="{{#ifEquals ../ShowImages true}}{{#ifEquals ../IncludeThumbnailImages true}}true{{/ifEquals}}{{/ifEquals}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Customerfooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="5" class="total-name">{{Customer}}&nbsp;</td>
        <td data-linkedcolumn="Quantity" class="total-val" data-value="{{Quantity}}"></td>
        <td data-linkedcolumn="BarCode" class="total-val empty-td"></td>
        <td data-linkedcolumn="UnitCost" class="total-val empty-td"></td>
        <td data-linkedcolumn="CostExtended" class="total-val" data-value="{{CostExtended}}"></td>
        <td data-linkedcolumn="ResponsiblePerson" class="empty-td"></td>
        <td data-linkedcolumn="Image" class="empty-td" data-visible="{{#ifEquals ../ShowImages true}}{{#ifEquals ../IncludeThumbnailImages true}}true{{/ifEquals}}{{/ifEquals}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "OrderNumberfooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="5" class="total-name">{{OrderNumber}}&nbsp;</td>
        <td data-linkedcolumn="Quantity" class="total-val" data-value="{{Quantity}}"></td>
        <td data-linkedcolumn="BarCode" class="total-val empty-td"></td>
        <td data-linkedcolumn="UnitCost" class="total-val empty-td"></td>
        <td data-linkedcolumn="CostExtended" class="total-val" data-value="{{CostExtended}}"></td>
        <td data-linkedcolumn="ResponsiblePerson" class="empty-td"></td>
        <td data-linkedcolumn="Image" class="empty-td" data-visible="{{#ifEquals ../ShowImages true}}{{#ifEquals ../IncludeThumbnailImages true}}true{{/ifEquals}}{{/ifEquals}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "OfficeLocationfooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="5" class="total-name">{{OfficeLocation}}&nbsp;</td>
        <td data-linkedcolumn="Quantity" class="total-val" data-value="{{Quantity}}"></td>
        <td data-linkedcolumn="BarCode" class="total-val empty-td"></td>
        <td data-linkedcolumn="UnitCost" class="total-val empty-td"></td>
        <td data-linkedcolumn="CostExtended" class="total-val" data-value="{{CostExtended}}"></td>
        <td data-linkedcolumn="ResponsiblePerson" class="empty-td"></td>
        <td data-linkedcolumn="Image" class="empty-td" data-visible="{{#ifEquals ../ShowImages true}}{{#ifEquals ../IncludeThumbnailImages true}}true{{/ifEquals}}{{/ifEquals}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "grandtotal"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="5" class="total-name">Grand Total:&nbsp;</td>
        <td data-linkedcolumn="Quantity" class="total-val" data-value="{{Quantity}}"></td>
        <td data-linkedcolumn="BarCode" class="total-val empty-td"></td>
        <td data-linkedcolumn="UnitCost" class="total-val empty-td"></td>
        <td data-linkedcolumn="CostExtended" class="total-val" data-value="{{CostExtended}}"></td>
        <td data-linkedcolumn="ResponsiblePerson" class="empty-td"></td>
        <td data-linkedcolumn="Image" class="empty-td" data-visible="{{#ifEquals ../ShowImages true}}{{#ifEquals ../IncludeThumbnailImages true}}true{{/ifEquals}}{{/ifEquals}}"></td>
      </tr>
      {{/ifEquals}}
      {{/each}}
    </tbody>
  </table>
</div>