<!--SalesTaxUSAReport-->
<div class="rpt-flexrow">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">Invoice From: {{FromDate}} To: {{ToDate}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div class="rpt-flexrow" style="margin-top:40px;">
  <table>
    <thead class="top-section-header">
      <tr>
        <th colspan="2" style="background-color:white;"></th>
        <th colspan="8" style="border-right:3px solid black;">RENTAL</th>
        <th colspan="3" style="border-right:3px solid black;">SALES,PARTS,MISC</th>
        <th style="border-right:3px solid black;">LABOR</th>
        <th>TOTAL</th>
      </tr>
    </thead>
    <thead>
      <tr>
        <th class="row1">Invoice No.</th>
        <th class="row1">Date</th>
        <th class="row1 number">Total</th>
        <th class="row1 number">Taxable</th>
        <th class="row1 number">Tax</th>
        <th class="row1 number">Non-Tax</th>
        <th class="row1 number">Total</th>
        <th class="row1 number">Taxable</th>
        <th class="row1 number">Tax</th>
        <th class="row1 number">Non-Tax</th>
        <th class="row1 number">Total</th>
        <th class="row1 number">Taxable</th>
        <th class="row1 number">Tax</th>
        <th class="row1 number">Non-Tax</th>
        <th class="row1 number">Total Tax</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr data-rowtype={{RowType}}>
        {{#ifEquals RowType "OfficeLocationheader"}}
        <td colspan="3" class="header-row">Office: {{OfficeLocation}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "TaxOptionheader"}}
        <td colspan="3" class="lower header-row">Tax Option: {{TaxOption}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "detail"}}
        <td class="nowrap">{{InvoiceNumber}}</td>
        <td data-value="{{InvoiceDate}}"></td>
        <td class="number" data-value="{{TotalRental}}"></td>
        <td class="number" data-value="{{TaxableRental}}"></td>
        <td class="number" data-value="{{NontaxableRental}}"></td>
        <td class="number" data-value="{{RentalTax}}"></td>
        <td class="number" data-value="{{TotalSales}}"></td>
        <td class="number" data-value="{{TaxableSales}}"></td>
        <td class="number" data-value="{{NontaxableSales}}"></td>
        <td class="number" data-value="{{SalesTax}}"></td>
        <td class="number" data-value="{{TotalLabor}}"></td>
        <td class="number" data-value="{{TaxableLabor}}"></td>
        <td class="number" data-value="{{NontaxableLabor}}"></td>
        <td class="number" data-value="{{LaborTax}}"></td>
        <td class="number" data-value="{{TotalTax}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "OfficeLocationfooter"}}
        <td colspan="2" class="total-name">{{OfficeLocation}}&nbsp;</td>
        <td class="total-val" data-value="{{TotalRental}}"></td>
        <td class="total-val" data-value="{{TaxableRental}}"></td>
        <td class="total-val" data-value="{{NontaxableRental}}"></td>
        <td class="total-val" data-value="{{RentalTax}}"></td>
        <td class="total-val" data-value="{{TotalSales}}"></td>
        <td class="total-val" data-value="{{TaxableSales}}"></td>
        <td class="total-val" data-value="{{NontaxableSales}}"></td>
        <td class="total-val" data-value="{{SalesTax}}"></td>
        <td class="total-val" data-value="{{TotalLabor}}"></td>
        <td class="total-val" data-value="{{TaxableLabor}}"></td>
        <td class="total-val" data-value="{{NontaxableLabor}}"></td>
        <td class="total-val" data-value="{{LaborTax}}"></td>
        <td class="total-val" data-value="{{TotalTax}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "TaxOptionfooter"}}
        <td colspan="2" class="total-name">{{TaxOption}}&nbsp;</td>
        <td class="total-val" data-value="{{TotalRental}}"></td>
        <td class="total-val" data-value="{{TaxableRental}}"></td>
        <td class="total-val" data-value="{{NontaxableRental}}"></td>
        <td class="total-val" data-value="{{RentalTax}}"></td>
        <td class="total-val" data-value="{{TotalSales}}"></td>
        <td class="total-val" data-value="{{TaxableSales}}"></td>
        <td class="total-val" data-value="{{NontaxableSales}}"></td>
        <td class="total-val" data-value="{{SalesTax}}"></td>
        <td class="total-val" data-value="{{TotalLabor}}"></td>
        <td class="total-val" data-value="{{TaxableLabor}}"></td>
        <td class="total-val" data-value="{{NontaxableLabor}}"></td>
        <td class="total-val" data-value="{{LaborTax}}"></td>
        <td class="total-val" data-value="{{TotalTax}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "grandtotal"}}
        <td colspan="2" class="total-name">Grand Total:&nbsp;</td>
        <td class="total-val" data-value="{{TotalRental}}"></td>
        <td class="total-val" data-value="{{TaxableRental}}"></td>
        <td class="total-val" data-value="{{NontaxableRental}}"></td>
        <td class="total-val" data-value="{{RentalTax}}"></td>
        <td class="total-val" data-value="{{TotalSales}}"></td>
        <td class="total-val" data-value="{{TaxableSales}}"></td>
        <td class="total-val" data-value="{{NontaxableSales}}"></td>
        <td class="total-val" data-value="{{SalesTax}}"></td>
        <td class="total-val" data-value="{{TotalLabor}}"></td>
        <td class="total-val" data-value="{{TaxableLabor}}"></td>
        <td class="total-val" data-value="{{NontaxableLabor}}"></td>
        <td class="total-val" data-value="{{LaborTax}}"></td>
        <td class="total-val" data-value="{{TotalTax}}"></td>
        {{/ifEquals}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>