<!--Late Returns Report-->
<div class="rpt-flexrow" style="width:1525px;">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">{{subtitle}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div class="rpt-flexrow" style="margin-top:40px;width:1525px;">
  <table>
    <thead>
      <tr>
        <th>Order No.</th>
        <th>Description</th>
        <th>Date</th>
        <th>Agent</th>
        <th colspan="4">Ordered By</th>
        <th colspan="2" style="width:98px;">Billing Dates</th>
        <th>Rent From</th>
        <th>Rent To</th>
        {{#ifEquals Type "PASTDUE"}}
        <th class="number">Days Past</th>
        {{else}}
        <th class="number">Due In</th>
        {{/ifEquals}}
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr data-rowtype="{{RowType}}">
        {{#ifEquals RowType "OfficeLocationheader"}}
        <td colspan="4" class="header-row">Office: {{OfficeLocation}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Dealheader"}}
        <td colspan="4" class="lower header-row">Deal: {{Deal}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "OrderNumberheader"}}
        <td class="order-row text">{{OrderNumber}}</td>
        <td class="order-row text">{{OrderDescription}}</td>
        <td class="order-row text">{{OrderDate}}</td>
        <td class="order-row text">{{Agent}}</td>
        <td class="order-row text" colspan="4">{{OrderedByName}}</td>
        <td class="order-row text" colspan="2">{{BillDateRange}}</td>
        <td class="order-row text">{{OrderFromDate}}</td>
        <td class="order-row text">{{OrderToDate}}</td>
        <td class="order-row number">{{OrderPastDue}}</td>
      </tr>
      <tr>
        <td style="width:64px;background-color:white;"></td>
        <td class="order-header text">I-Code</td>
        <td class="order-header text">Description</td>
        {{#ifEquals ../ShowBarCode true}}
        <td class="order-header text">Bar Code</td>
        {{else}}
        <td class="order-header"></td>
        {{/ifEquals}}
        {{#ifEquals ../ShowSerial true}}
        <td class="order-header text">Serial No.</td>
        {{else}}
        <td class="order-header"></td>
        {{/ifEquals}}
        <td class="order-header number">Qty</td>
        {{#ifEquals ../ShowUnit true}}
        <td class="order-header number">Unit Value</td>
        {{else}}
        <td class="order-header"></td>
        {{/ifEquals}}
        {{#ifEquals ../ShowReplacement true}}
        <td class="order-header number">Rep. Cost</td>
        {{else}}
        <td class="order-header"></td>
        {{/ifEquals}}
        {{#ifEquals ../ShowUnit true}}
        <td class="order-header number">Unit Value Ext</td>
        {{else}}
        <td class="order-header"></td>
        {{/ifEquals}}
        {{#ifEquals ../ShowReplacement true}}
        <td class="order-header number">Rep. Cost Ext</td>
        {{else}}
        <td class="order-header"></td>
        {{/ifEquals}}
        {{/ifEquals}}
        {{#ifEquals RowType "detail"}}
        <td class="" style="width:64px;background-color:white;"></td>
        <td>{{ICode}}</td>
        <td>{{Description}}</td>
        {{#ifEquals ../ShowBarCode true}}
        <td>{{BarCode}}</td>
        {{else}}
        <td></td>
        {{/ifEquals}}
        {{#ifEquals ../ShowSerial true}}
        <td>{{SerialNumber}}</td>
        {{else}}
        <td></td>
        {{/ifEquals}}
        <td class="number">{{Quantity}}</td>
        {{#ifEquals ../ShowUnit true}}
        <td class="number">{{ItemUnitValue}}</td>
        {{else}}
        <td></td>
        {{/ifEquals}}
        {{#ifEquals ../ShowReplacement true}}
        <td class="number">{{ItemReplacementCost}}</td>
        {{else}}
        <td></td>
        {{/ifEquals}}
        {{#ifEquals ../ShowUnit true}}
        <td class="number">{{ItemUnitValueExtended}}</td>
        {{else}}
        <td></td>
        {{/ifEquals}}
        {{#ifEquals ../ShowReplacement true}}
        <td class="number">{{ItemReplacementCostExtended}}</td>
        {{else}}
        <td></td>
        {{/ifEquals}}
        <td>{{ItemFromDate}}</td>
        <td>{{ItemToDate}}</td>
        <td class="number">{{ItemPastDue}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "OrderNumberfooter"}}
        <td colspan="5" class="total-name">{{OrderNumber}}&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
        <td class="total-val" colspan="2"></td>
        {{#ifEquals ../ShowUnit true}}
        <td class="total-val" data-value="{{ItemUnitValueExtended}}"></td>
        {{else}}
        <td class="total-val"></td>
        {{/ifEquals}}
        {{#ifEquals ../ShowReplacement true}}
        <td class="total-val" data-value="{{ItemReplacementCostExtended}}"></td>
        {{else}}
        <td class="total-val"></td>
        {{/ifEquals}}
        {{/ifEquals}}
        {{#ifEquals RowType "Dealfooter"}}
        <td colspan="5" class="total-name">{{Deal}}&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
        <td class="total-val" colspan="2"></td>
        {{#ifEquals ../ShowUnit true}}
        <td class="total-val" data-value="{{ItemUnitValueExtended}}"></td>
        {{else}}
        <td class="total-val"></td>
        {{/ifEquals}}
        {{#ifEquals ../ShowReplacement true}}
        <td class="total-val" data-value="{{ItemReplacementCostExtended}}"></td>
        {{else}}
        <td class="total-val"></td>
        {{/ifEquals}}
        {{/ifEquals}}
        {{#ifEquals RowType "OfficeLocationfooter"}}
        <td colspan="5" class="total-name">{{OfficeLocation}}&nbsp;</td>
        <td class="total-val" data-value="{{Quantity}}"></td>
        <td class="total-val" colspan="2"></td>
        {{#ifEquals ../ShowUnit true}}
        <td class="total-val" data-value="{{ItemUnitValueExtended}}"></td>
        {{else}}
        <td class="total-val"></td>
        {{/ifEquals}}
        {{#ifEquals ../ShowReplacement true}}
        <td class="total-val" data-value="{{ItemReplacementCostExtended}}"></td>
        {{else}}
        <td class="total-val"></td>
        {{/ifEquals}}
        {{/ifEquals}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
