<div class="Header">
  <div>
    <div style="text-align: left; font-weight: bold; float:left;">RENTALWORKS</div>
    <div style="text-align: right; font-weight: bold; float:right;">4WALL ENTERTAINMENT</div>
    <div style="text-align: center; font-weight: bold; margin:0 auto;">Late Return / Due Back Report</div>
  </div>
</div>
<div class="header rpt-flexrow">
  <div class="body rpt-flexrow">
    <br /><br />
    <div class="tblLateReturns">
      <table>
        <thead>
          <tr class="columnheadings">
            <td>
              <div>Order No.</div>
            </td>
            <td>
              <div>Date</div>
            </td>
            <td>
              <div>Description</div>
            </td>
            <td>
              <div>Agent</div>
            </td>
            <td>
              <div>Ordered By</div>
            </td>
            <td>
              <div>Billing Dates</div>
            </td>
            <td>
              <div>Unit Value</div>
            </td>
            <td>
              <div>Replacement Cost</div>
            </td>
            <td>
              <div>Rent From</div>
            </td>
            <td>
              <div>Rent To</div>
            </td>
            <td>
              <div>Days Past Due</div>
            </td>
          </tr>
        </thead>
        <tbody>
          {{#each this}}
          <tr data-rowtype="{{RowType}}">
            {{#ifEquals RowType "OfficeLocationheader"}}
            <td class="OfficeLocationHeader" colspan="4">{{OfficeLocation}}</td>
            {{/ifEquals}}
            {{#ifEquals RowType "Dealheader"}}
            <td class="DealHeader" colspan="4">{{Deal}}</td>
            {{/ifEquals}}
            {{#ifEquals RowType "OrderNumberheader"}}
            <td class="OrderNumberHeader" colspan="4">{{OrderNumber}}</td>
          </tr>
          <tr>
            <!--<td colspan="8">
    <table>
      <tr class="columnheadings">
        <td>
          <div>I-Code</div>
        </td>
        <td>
          <div>Description</div>
        </td>
        <td>
          <div>Quantity</div>
        </td>
        <td>
          <div>Unit Value</div>
        </td>
        <td>
          <div>Replacement Cost</div>
        </td>
        <td>
          <div>Unit Value Extended</div>
        </td>
        <td>
          <div>Replacement Cost Extended</div>
        </td>
      </tr>
    </table>
  </td>-->
            <td class="first-order order-columnheadings" colspan="2">
              <div>I-Code</div>
            </td>
            <td class="order-columnheadings">
              <div>Description</div>
            </td>
            <td class="order-columnheadings">
              <div>Quantity</div>
            </td>
            <td class="order-columnheadings">
              <div>Unit Value</div>
            </td>
            <td class="order-columnheadings">
              <div>Replacement Cost</div>
            </td>
            <td class="order-columnheadings">
              <div>Unit Value Extended</div>
            </td>
            <td class="order-columnheadings">
              <div>Replacement Cost Extended</div>
            </td>
            {{/ifEquals}}
            {{#ifEquals RowType "detail"}}
            <td class="first-detail" colspan="2">{{ICode}}</td>
            <td class="">{{Description}}</td>
            <td class="number">{{Quantity}}</td>
            <td class="number">{{ItemUnitValue}}</td>
            <td class="number">{{ItemReplacementCost}}</td>
            <td class="number">{{ItemUnitValueExtended}}</td>
            <td class="number">{{ItemReplacementCostExtended}}</td>
            <td class="number">{{ItemFromDate}}</td>
            <td class="number">{{ItemToDate}}</td>
            <td class="number">{{ItemPastDue}}</td>
            {{/ifEquals}}
            {{#ifEquals RowType "OrderNumberfooter"}}
            <td class=""></td>
            <td class="" colspan="2">{{OrderNumber}}</td>
            <td class="number">{{Quantity}}</td>
            {{/ifEquals}}
            {{#ifEquals RowType "Dealfooter"}}
            <td class=""></td>
            <td class="" colspan="2">{{Deal}}</td>
            <td class="number">{{Quantity}}</td>
            {{/ifEquals}}
            {{#ifEquals RowType "OfficeLocationfooter"}}
            <td class=""></td>
            <td class="" colspan="2">{{OfficeLocation}}</td>
            <td class="number">{{Quantity}}</td>
            {{/ifEquals}}
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>