<!-- Deal Invoice Batch Report-->
<div class="rpt-flexrow">
  <div class="rpt-flexcolumn">
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">Batch No. {{BatchNumber}} {{Date}}</span>
  </div>
  <div class="rpt-flexcolumn">
  </div>
</div>
<div class="rpt-flexrow" style="margin-top:40px;">
  <table>
    <thead>
      <tr>
        <th class="text">Date</th>
        <th class="text">Ref/Check No.</th>
        <th class="text">Payment Type</th>
        <th class="number">Amount</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr data-rowtype={{RowType}}>
        {{#ifEquals RowType "Locationheader"}}
        <td colspan="8" class="header-row">Office: {{Location}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Customerheader"}}
        <td colspan="8" class="lower header-row">Customer: {{Customer}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Dealheader"}}
        <td colspan="8" class="lower header-row">Deal: {{Deal}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "detail"}}
        <td class="text">{{ReceiptDate}}</td>
        <td class="text">{{CheckNumber}}</td>
        <td class="text">{{PaymentType}}</td>
        <td class="number" data-value="{{Amount}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "Dealfooter"}}
        <td colspan="3" class="total-name">{{Deal}}&nbsp;</td>
        <td class="total-val" data-value="{{Amount}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "Customerfooter"}}
        <td colspan="3" class="total-name">{{Customer}}&nbsp;</td>
        <td class="total-val" data-value="{{Amount}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "Locationfooter"}}
        <td colspan="3" class="total-name">{{Location}}&nbsp;</td>
        <td class="total-val" data-value="{{Amount}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "grandtotal"}}
        <td colspan="3" class="total-name">Grand Total:&nbsp;</td>
        <td class="total-val" data-value="{{Amount}}"></td>
        {{/ifEquals}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>