<!-- Receipt Batch Report-->
<div class="rpt-flexrow">
  <div class="rpt-flexcolumn">
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">Batch No: {{BatchNumber}} - Date: {{Date}}</span>
  </div>
  <div class="rpt-flexcolumn">
  </div>
</div>
<div class="rpt-flexrow">
  <span class="officeLocation">Office: {{OfficeLocation}}</span>
</div>
<div class="rpt-flexrow" style="margin-top:25px;">
  <table>
    <thead class="mainHeader">
      <tr class="columnheadings">
        <th>Date</th>
        <th>Ref/Check No.</th>
        <th>Payment Type</th>
        <th style="text-align:right;">Amount</th>
      </tr>
    </thead>
    <tbody>
      {{#with Items}}
      {{#each this}}
      <tr data-rowtype={{RowType}}>
        {{#ifEquals RowType "Locationheader"}}
        <td colspan="4" class="rowHeader">Office: {{Location}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Customerheader"}}
        <td colspan="4" class="rowHeader">Customer: {{Customer}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Dealheader"}}
        <td colspan="4" class="rowHeader">Deal: {{Deal}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "detail"}}
        <td class="ReceiptDate">{{ReceiptDate}}</td>
        <td class="CheckNumber">{{CheckNumber}}</td>
        <td class="PaymentType">{{PaymentType}}</td>
        <td class="Amount">{{Amount}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Dealfooter"}}
        <td colspan="3" style="font-weight:bold;text-align:right;padding-top:11px">{{Deal}}:</td>
        <td class="total-row number">{{Amount}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Customerfooter"}}
        <td colspan="3" style="font-weight:bold;text-align:right;padding-top:11px">{{Customer}}:</td>
        <td class="total-row number">{{Amount}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Locationfooter"}}
        <td colspan="3" style="font-weight:bold;text-align:right;padding-top:11px">{{Location}}:</td>
        <td class="total-row number">{{Amount}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "receipttotal"}}
        <td colspan="3" class="receiptTotalRowTitle">Total for Batch {{../../BatchNumber}}:</td>
        <td class="total-row receiptTotalRowTotal">{{Amount}}</td>
        {{/ifEquals}}
      </tr>
      {{/each}}
      {{/with}}
    </tbody>
  </table>
</div>