<!--Order Report-->
<div class="rpt-flexrow">
  <div class="rpt-flexcolumn">
    <span class="order-header-left">{{Company}}</span>
    <span class="order-header-left">{{OfficeLocationAddress1}}</span>
    <span class="order-header-left">{{OfficeLocationAddress2}}</span>
    <span class="order-header-left">{{OfficeLocationCityStateZipCodeCountry}}</span>
    <span class="order-header-left">Phone: {{OfficeLocationPhone}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="order-title">{{Report}}</span>
    <span class="order-header-center">Order Date: {{OrderDate}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="order-header-right" style="font-size:30px;">Order No: {{OrderNumber}}</span>
  </div>
</div>
<div class="rpt-flexrow" style="margin-top:25px;">
  <table class="sub-header">
    <tr>
      <td class="order-header-left">Usage Period: {{UsageDates}}</td>
      <td class="order-header-center">Billing Period: {{BillingDates}}</td>
      <td class="order-header-left">{{Description}}</td>
    </tr>
    <tr>
      <td class="order-header-left">PO No: {{PoNumber}}</td>
      <td class="order-header-center">Billing Cycle: {{BillingCycle}}</td>
      <td class="order-header-right">Terms: {{PaymentTerms}}</td>
    </tr>
    <tr>
      <td class="order-header-left">Customer: {{Customer}}</td>
      <td class="order-header-center">Deal No: {{DealNumber}}</td>
      <td class="order-header-right">{{Deal}}</td>
    </tr>
    <tr>
      <td class="order-header-left">Agent: {{Agent}}</td>
      <td class="order-header-center">Email: {{AgentEmail}}</td>
      <td class="order-header-right">Phone/Ext.: {{AgentPhoneAndExtension}}</td>
    </tr>
  </table>
</div>
<div class="rpt-flexrow" style="margin-top:25px;">
  <table>
    <thead>
      <tr>
        <th class="text">Issued To</th>
        <th class="text">Outgoing (DELIVER)</th>
        <th class="text">Incoming (DELIVER)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="issuedTo" class="text">
          <div>
            {{IssuedToCompany}}
          </div>
          <div>
            {{IssuedToAttention1}}
          </div>
          <div>
            {{IssuedToAttention2}}
          </div>
          <div>
            {{IssuedToAddress1}}
          </div>
          <div>
            {{IssuedToAddress2}}
          </div>
          <div>
            {{IssuedToCity}}, {{IssuedToState}} {{IssuedToZipCode}} {{IssuedToCountry}}
          </div>
          <div>
            Phone: {{IssuedToPhone}}
          </div>
          <div>
            Fax: {{IssuedToFax}}
          </div>
        </td>
        <td id="outgoing" class="text">
          <div>
           Attention: {{OutDeliveryAttention}}
          </div>
          <div>
            {{OutDeliveryAddress1}}
          </div>
          <div>
            {{OutDeliveryAddress2}}
          </div>
          <div>
            {{OutDeliveryCity}}, {{OutDeliveryState}} {{OutDeliveryZipCode}} {{OutDeliveryCountry}}
          </div>
          <div>
            Phone: {{OutDeliveryContactPhone}}
          </div>
          <div>
            Required By: {{OutDeliveryRequiredByDateTime}}
          </div>
        </td>
        <td id="incoming" class="text">
          <div>
           Attention: {{InDeliveryAttention}}
          </div>
          <div>
            {{InDeliveryAddress1}}
          </div>
          <div>
            {{InDeliveryAddress2}}
          </div>
          <div>
            {{InDeliveryCity}}, {{InDeliveryState}} {{InDeliveryZipCode}} {{InDeliveryCountry}}
          </div>
          <div>
            Contact: {{InDeliveryContact}}
          </div>
          <div>
            Phone: {{InDeliveryContactPhone}}
          </div>
          <div>
            Required By: {{InDeliveryRequiredByDateTime}}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="rpt-flexrow" style="margin-top:40px;">
  <table>
    <thead>
      <tr>
        <th class="text">I-Code</th>
        <th class="text">Description</th>
        <th class="number">Quantity</th>
        <th class="number">Period Extended</th>
      </tr>
    </thead>
    <tbody>
      {{#each Items}}
      <tr data-rowtype={{RowType}}>
        {{#ifEquals RowType "RecTypeDisplayheader"}}
        <td colspan="8" style="font-weight:bold;text-align:left;padding-top:11px">{{RecTypeDisplay}}&nbsp;</td>
        {{/ifEquals}}
        {{#ifEquals RowType "detail"}}
        <td class="text">{{ICode}}</td>
        <td class="text">{{Description}}</td>
        <td class="number">{{QuantityOrdered}}</td>
        <td class="number">{{PeriodExtended}}</td>
        {{/ifEquals}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>