<!--Crew Sign-In Report-->
<div class="rpt-flexrow">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">Period: {{FromDate}} To: {{ToDate}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div class="body rpt-flexrow" style="margin-top:40px;">
  <table>
    <thead>
      <tr>
        <th class="text">Location</th>
        <th class="text">Crew</th>
        <th class="header-exclude header-box-no-bottom" style="padding-top: 10px;">Employee ID</th>
        <th class="text header-box" colspan="2">Schedule Time</th>
        <th class="text header-box" colspan="4">Actual Time</th>
        <th class="text header-box" colspan="3">Hours</th>
        <th class="header-exclude header-box-no-bottom" style="padding-top: 10px;">Signature / Notes</th>
      </tr>
      <tr>
        <th class="empty"></th>
        <th class="text">Position</th>
        <th class="header-exclude header-box-no-top"></th>
        <th class="text header-box">Start</th>
        <th class="text header-box">Stop</th>
        <th class="text header-box">In</th>
        <th class="text header-box">Out</th>
        <th class="text header-box">In</th>
        <th class="text header-box">Out</th>
        <th class="text header-box">Regular</th>
        <th class="text header-box">OT</th>
        <th class="text header-box">DT</th>
        <th class="header-exclude header-box-no-top"></th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr data-rowtype={{RowType}}>
        {{#ifEquals RowType "Locationheader"}}
        <td colspan="3" class="office-row">Office: {{Location}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Dealheader"}}
        <td colspan="3" class="deal-row">Deal: {{Deal}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "RentFromDateheader"}}
        <td colspan="3" class="date-row">Date: {{RentFromDate}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "detail"}}
        <td>{{OrderLocation}}</td>
        <td>{{Person}}</td>
        <td class="boxcol">{{EmployeeId}}</td>
        <td class="boxcol"></td>
        <td class="boxcol"></td>
        <td class="boxcol"></td>
        <td class="boxcol"></td>
        <td class="boxcol"></td>
        <td class="boxcol"></td>
        <td class="boxcol"></td>
        <td class="boxcol"></td>
        <td class="boxcol"></td>
        <td class="boxcol"></td>
      </tr>
      <tr class="row-two">
        <td class="empty"></td>
        <td>{{Position}}</td>
        <td class="box-no-top"></td>
        <td class="box-no-top">{{RentFromTime}}</td>
        <td class="box-no-top">{{RentToTime}}</td>
        <td class="box-no-top"></td>
        <td class="box-no-top"></td>    
        <td class="box-no-top"></td>
        <td class="box-no-top"></td>
        <td class="box-no-top"></td>
        <td class="box-no-top"></td>
        <td class="box-no-top"></td>
        <td class="box-no-top"></td>
      </tr>
      {{/ifEquals}}
      {{/each}}
    </tbody>
  </table>
</div>

