<div class="rpt-flexrow">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">Period: {{FromDate}} To: {{ToDate}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div class="body rpt-flexrow" style="margin-top:40px;">
  <table id="tblcrewsignin">
    {{#each Rows}}
    <tbody>
      <tr>
        <td class="rptcaption">Date</td>
        <td class="rptcaption">Deal</td>
        <td class="rptcaption">Crew</td>
        <td class="rptcaption">EmployeeId</td>
        <td class="rptcaption boxcol" colspan="2">Schedule Time</td>
        <td class="rptcaption boxcol" colspan="4">Actual Time</td>
        <td class="rptcaption boxcol" colspan="3">Hours</td>
        <td class="rptcaption boxcol">Signature / Notes</td>
      </tr>
      <tr>
        <td><div></div></td>
        <td class="rptcaption">Location</td>
        <td class="rptcaption">Position</td>
        <td><div></div></td>
        <td class="rptcaption boxcol">Start</td>
        <td class="rptcaption boxcol">Stop</td>
        <td class="rptcaption boxcol">In</td>
        <td class="rptcaption boxcol">Out</td>
        <td class="rptcaption boxcol">In</td>
        <td class="rptcaption boxcol">Out</td>
        <td class="rptcaption boxcol">Regular</td>
        <td class="rptcaption boxcol">OT</td>
        <td class="rptcaption boxcol">DT</td>
        <td class="rptcaption boxcol"></td>
      </tr>
      <tr>
        <td>{{RentFromDate}}</td>
        <td>{{Deal}}</td>
        <td>{{Person}}</td>
        <td>{{EmployeeId}}</td>
        <td>{{RentFromTime}}</td>
        <td>{{RentToTime}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="row4">
        <td></td>
        <td>{{Location}}</td>
        <td>{{Position}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
    {{/each}}
  </table>
</div>

