<!--Rental Inventory Repair History Report-->
<div data-section="header" class="rpt-flexcolumn">
  <div class="rpt-flexrow">
    <div class="rpt-flexcolumn">
      <div class="rpt-nested-flexrow"><span class="rpt-header-left">{{System}}</span></div>
    </div>
    <div class="rpt-flexcolumn">
      <div class="rpt-nested-flexrow rpt-title"><span>{{Report}}</span></div>
      <div class="rpt-nested-flexrow rpt-header-center"><span>From: {{FromDate}} To: {{ToDate}}</span></div>
    </div>
    <div class="rpt-flexcolumn">
      <div class="rpt-nested-flexrow rpt-header-right"><span>{{Company}}</span></div>
    </div>
  </div>
</div>
<div data-section="table" class="rpt-flexrow" style="margin-top:40px;">
  <table>
    <thead id="columnHeader">
      <tr data-row="main-header">
        <th data-linkedcolumn="ICode" data-valuefield="ICode">I-Code</th>
        <th data-linkedcolumn="Description" data-valuefield="Description">Description</th>
        <th data-linkedcolumn="RepairQuantity" data-valuefield="Quantity">Quantity</th>
        <th data-linkedcolumn="BarCode" data-valuefield="BarCode">Bar Code No.</th>
        <th data-linkedcolumn="PurchaseDate" data-valuefield="PurchaseDate">Purchase Date</th>
        <th data-linkedcolumn="UnitCost" data-valuefield="UnitCost" class="number">Unit Cost</th>
        <th data-linkedcolumn="CurrentQuantity" data-valuefield="CurrentQuantity" class="number">Qty Owned</th>
        <th data-linkedcolumn="Billable" data-valuefield="Billable" class="number">Billed Costs</th>
        <th data-linkedcolumn="NonBillable" data-valuefield="NonBillable" class="number">In House Costs</th>
        <th data-linkedcolumn="Total" data-valuefield="Total" class="number">Total Costs</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      {{#ifEquals RowType "Warehouseheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="10" class="header-row">Warehouse: {{Warehouse}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "InventoryTypeheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="10" class="lower header-row">Inventory Type: {{InventoryType}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Categoryheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="10" class="lower header-row">Category: {{"Category"}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "detail"}}
      <tr data-row="detail" data-rowtype="{{RowType}}">
        <td data-linkedcolumn="ICode" data-value="{{ICode}}"></td>
        <td data-linkedcolumn="Description" data-value="{{Description}}"></td>
        <td data-linkedcolumn="RepairQuantity" class="number" data-value="{{RepairQuantity}}"></td>
        <td data-linkedcolumn="BarCode" data-value="{{BarCode}}"></td>
        <td data-linkedcolumn="PurchaseDate" data-value="{{PurchaseDate}}"></td>
        <td data-linkedcolumn="UnitCost" class="number" data-value="{{UnitCost}}"></td>
        <td data-linkedcolumn="CurrentQuantity" class="number" data-value="{{CurrentQuantity}}"></td>
        <td data-linkedcolumn="Billable" class="number" data-value="{{Billable}}"></td>
        <td data-linkedcolumn="NonBillable" class="number" data-value="{{NonBillable}}"></td>
        <td data-linkedcolumn="Total" class="number" data-value="{{Total}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Categoryfooter"}}
      <tr data-row="footer">
        <td colspan="5" class="total-name">{{Category}}:&nbsp;</td>
        <td data-linkedcolumn="UnitCost" class="total-val" data-value="{{UnitCost}}"></td>
        <td data-linkedcolumn="CurrentQuantity" class="total-val" data-value="{{CurrentQuantity}}"></td>
        <td data-linkedcolumn="Billable" class="total-val" data-value="{{Billable}}"></td>
        <td data-linkedcolumn="NonBillable" class="total-val" data-value="{{NonBillable}}"></td>
        <td data-linkedcolumn="Total" class="total-val" data-value="{{Total}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "InventoryTypefooter"}}
      <tr data-row="footer">
        <td colspan="5" class="total-name">{{InventoryType}}:&nbsp;</td>
        <td data-linkedcolumn="UnitCost" class="total-val" data-value="{{UnitCost}}"></td>
        <td data-linkedcolumn="CurrentQuantity" class="total-val" data-value="{{CurrentQuantity}}"></td>
        <td data-linkedcolumn="Billable" class="total-val" data-value="{{Billable}}"></td>
        <td data-linkedcolumn="NonBillable" class="total-val" data-value="{{NonBillable}}"></td>
        <td data-linkedcolumn="Total" class="total-val" data-value="{{Total}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Warehousefooter"}}
      <tr data-row="footer">
        <td colspan="5" class="total-name">{{Warehouse}}:&nbsp;</td>
        <td data-linkedcolumn="UnitCost" class="total-val" data-value="{{UnitCost}}"></td>
        <td data-linkedcolumn="CurrentQuantity" class="total-val" data-value="{{CurrentQuantity}}"></td>
        <td data-linkedcolumn="Billable" class="total-val" data-value="{{Billable}}"></td>
        <td data-linkedcolumn="NonBillable" class="total-val" data-value="{{NonBillable}}"></td>
        <td data-linkedcolumn="Total" class="total-val" data-value="{{Total}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "grandtotal"}}
      <tr data-row="footer">
        <td colspan="5" class="total-name">Grand Total:&nbsp;</td>
        <td data-linkedcolumn="UnitCost" class="total-val" data-value="{{UnitCost}}"></td>
        <td data-linkedcolumn="CurrentQuantity" class="total-val" data-value="{{CurrentQuantity}}"></td>
        <td data-linkedcolumn="Billable" class="total-val" data-value="{{Billable}}"></td>
        <td data-linkedcolumn="NonBillable" class="total-val" data-value="{{NonBillable}}"></td>
        <td data-linkedcolumn="Total" class="total-val" data-value="{{Total}}"></td>
      </tr>
      {{/ifEquals}}
      {{/each}}
    </tbody>
  </table>
</div>