<!--Late Returns Report-->
<!-- orientation: landscape -->
<div data-section="header" style="width:1555px;">
  <div class="rpt-flexrow">
    <div class="rpt-flexcolumn">
      <div class="rpt-nested-flexrow rpt-header-left"><span>{{System}}</span></div>
    </div>
    <div class="rpt-flexcolumn">
      <div class="rpt-nested-flexrow rpt-title"><span>{{Report}}</span></div>
      <div class="rpt-nested-flexrow rpt-header-center"><span>{{subtitle}}</span></div>
    </div>
    <div class="rpt-flexcolumn">
      <div class="rpt-nested-flexrow rpt-header-right"><span>{{Company}}</span></div>
    </div>
  </div>
</div>
<div data-section="table" class="rpt-flexrow" style="margin-top:40px;width:1555px;">
  <table>
    <thead id="columnHeader" class="main-header">
      {{#ifEquals Type "PASTDUE"}}
      <tr data-row="main-header">
        <th data-linkedcolumn="OrderNumber" data-valuefield="OrderNumber">Order No.</th>
        <th data-linkedcolumn="OrderDescription" data-valuefield="OrderDescription">Description</th>
        <th data-linkedcolumn="OrderDate" data-valuefield="OrderDate">Date</th>
        <th data-linkedcolumn="Agent" data-valuefield="Agent">Agent</th>
        <th data-linkedcolumn="OrderedByName" data-valuefield="OrderedByName">Ordered By</th>
        <th data-linkedcolumn="Quantity" data-valuefield=""></th>
        <th data-linkedcolumn="ItemUnitValue" data-valuefield=""></th>
        <th data-linkedcolumn="ItemReplacementCost" data-valuefield=""></th>
        <th data-linkedcolumn="BillDateRange" data-valuefield="BillDateRange" style="width:98px;">Billing Dates</th>
        <th data-linkedcolumn="EmptyTd-4" data-valuefield=""></th>
        <th data-linkedcolumn="OrderFromDate" data-valuefield="OrderFromDate">Rent From</th>
        <th data-linkedcolumn="OrderToDate" data-valuefield="OrderToDate">Rent To</th>
        <th data-linkedcolumn="OrderPastDue" data-valuefield="OrderPastDue" class="number">Days Past</th>
      </tr>
      {{else}}
      <tr data-row="main-header">
        <th data-linkedcolumn="OrderNumber-2" data-valuefield="OrderNumber">Order No.</th>
        <th data-linkedcolumn="OrderDescription-2" data-valuefield="OrderDescription">Description</th>
        <th data-linkedcolumn="OrderDate-2" data-valuefield="OrderDate">Date</th>
        <th data-linkedcolumn="Agent-2" data-valuefield="Agent">Agent</th>
        <th data-linkedcolumn="OrderedByName-2" data-valuefield="OrderedByName">Ordered By</th>
        <th data-linkedcolumn="Quantity" data-valuefield=""></th>
        <th data-linkedcolumn="ItemUnitValue" data-valuefield=""></th>
        <th data-linkedcolumn="ItemReplacementCost" data-valuefield=""></th>
        <th data-linkedcolumn="BillDateRange" data-valuefield="BillDateRange" style="width:98px;">Billing Dates</th>
        <th data-linkedcolumn="EmptyTd-8" data-valuefield=""></th>
        <th data-linkedcolumn="OrderFromDate" data-valuefield="OrderFromDate">Rent From</th>
        <th data-linkedcolumn="OrderToDate" data-valuefield="OrderToDate">Rent To</th>
        <th data-linkedcolumn="OrderDueIn" data-valuefield="OrderPastDue" class="number">Due In</th>
      </tr>
      {{/ifEquals}}
    </thead>
    <tbody>
      {{#each this}}
      {{#ifEquals RowType "OfficeLocationheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="13" class="header-row">Office: {{OfficeLocation}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Dealheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="13" class="lower header-row">Deal: {{Deal}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "OrderNumberheader"}}
      {{#ifEquals ../Type "PASTDUE"}}
      <tr data-row="detail" data-rowtype="{{RowType}}">
        <td data-linkedcolumn="OrderNumber" data-value="{{OrderNumber}}"></td>
        <td data-linkedcolumn="OrderDescription" data-value="{{OrderDescription}}"></td>
        <td data-linkedcolumn="OrderDate" data-value="{{OrderDate}}"></td>
        <td data-linkedcolumn="Agent" data-value="{{Agent}}"></td>
        <td data-linkedcolumn="OrderedByName" data-value="{{OrderedByName}}"></td>
        <td data-linkedcolumn="Quantity"></td>
        <td data-linkedcolumn="ItemUnitValue"></td>
        <td data-linkedcolumn="ItemReplacementCost"></td>
        <td data-linkedcolumn="BillDateRange" data-value="{{BillDateRange}}" class="nowrap"></td>
        <td data-linkedcolumn="EmptyTd-4"></td>
        <td data-linkedcolumn="OrderFromDate" data-value="{{OrderFromDate}}" class="nowrap"></td>
        <td data-linkedcolumn="OrderToDate" data-value="{{OrderToDate}}" class="nowrap"></td>
        <td data-linkedcolumn="OrderPastDue" data-value="{{OrderPastDue}}" class="number"></td>
      </tr>
      {{else}}
      <tr data-row="detail" data-rowtype="{{RowType}}">
        <td data-linkedcolumn="OrderNumber-2" data-value="{{OrderNumber}}"></td>
        <td data-linkedcolumn="OrderDescription-2" data-value="{{OrderDescription}}"></td>
        <td data-linkedcolumn="OrderDate-2" data-value="{{OrderDate}}"></td>
        <td data-linkedcolumn="Agent-2" data-value="{{Agent}}"></td>
        <td data-linkedcolumn="OrderedByName-2" data-value="{{OrderedByName}}"></td>
        <td data-linkedcolumn="Quantity"></td>
        <td data-linkedcolumn="ItemUnitValue"></td>
        <td data-linkedcolumn="ItemReplacementCost"></td>
        <td data-linkedcolumn="BillDateRange-2" data-value="{{BillDateRange}}" class="nowrap"></td>
        <td data-linkedcolumn="EmptyTd-8"></td>
        <td data-linkedcolumn="OrderFromDate-2" data-value="{{OrderFromDate}}" class="nowrap"></td>
        <td data-linkedcolumn="OrderToDate-2" data-value="{{OrderToDate}}" class="nowrap"></td>
        <td data-linkedcolumn="OrderDueIn" data-value="{{OrderPastDue}}" class="number"></td>
      </tr>
      {{/ifEquals}}
      {{/ifEquals}}

      {{#ifEquals RowType "OrderNumberheader"}}
      <tr data-row="sub-header" data-sort="true" data-rowtype="{{RowType}}">
        <!--<td style="width:64px;background-color:white;"></td>-->
        <th data-linkedcolumn="Blank" data-valuefield="" class="order-header text"></th>
        <th data-linkedcolumn="ICode" data-valuefield="ICode" class="order-header text">I-Code</th>
        <th data-linkedcolumn="Description" data-valuefield="Description" class="order-header text">Description</th>
        <th data-linkedcolumn="BarCode" data-valuefield="BarCode" class="order-header text">Bar Code</th>
        <th data-linkedcolumn="SerialNumber" data-valuefield="SerialNumber" class="order-header text">Serial No.</th>
        <th data-linkedcolumn="Quantity" data-valuefield="Quantity" class="order-header number">Qty</th>
        <th data-linkedcolumn="ItemUnitValue" data-valuefield="ItemUnitValue" class="order-header number">Unit Value</th>
        <th data-linkedcolumn="ItemReplacementCost" data-valuefield="ItemReplacementCost" class="order-header number">Rep. Cost</th>
        <th data-linkedcolumn="ItemUnitValueExtended" data-valuefield="ItemUnitValueExtended" class="order-header number">Unit Value Ext</th>
        <th data-linkedcolumn="ItemReplacementCostExtended" data-valuefield="ItemReplacementCostExtended" class="order-header number">Rep. Cost Ext</th>
        <th data-linkedcolumn="ItemFromDate" data-valuefield="ItemFromDate" class="order-header number"></th>
        <th data-linkedcolumn="ItemToDate" data-valuefield="ItemToDate" class="order-header number"></th>
        <th data-linkedcolumn="ItemPastDue" data-valuefield="ItemPastDue" class="order-header number"></th>
      </tr>
      {{/ifEquals}}

      {{#ifEquals RowType "detail"}}
      <tr data-row="sub-detail" data-rowtype="{{RowType}}">
        <td data-linkedcolumn="Blank" class="" style="width:64px;background-color:white;"></td>
        <td data-linkedcolumn="ICode" data-value="{{ICode}}"></td>
        <td data-linkedcolumn="Description" data-value="{{Description}}"></td>
        <td data-linkedcolumn="BarCode" data-value="{{BarCode}}"></td>
        <td data-linkedcolumn="SerialNumber" data-value="{{SerialNumber}}"></td>
        <td data-linkedcolumn="Quantity" data-value="{{Quantity}}" class="number"></td>
        <td data-linkedcolumn="ItemUnitValue" data-value="{{ItemUnitValue}}" class="number"></td>
        <td data-linkedcolumn="ItemReplacementCost" data-value="{{ItemReplacementCost}}" class="number"></td>
        <td data-linkedcolumn="ItemUnitValueExtended" data-value="{{ItemUnitValueExtended}}" class="number"></td>
        <td data-linkedcolumn="ItemReplacementCostExtended" data-value="{{ItemReplacementCostExtended}}" class="number"></td>
        <td data-linkedcolumn="ItemFromDate" data-value="{{ItemFromDate}}" class="nowrap"></td>
        <td data-linkedcolumn="ItemToDate" data-value="{{ItemToDate}}" class="nowrap"></td>
        <td data-linkedcolumn="ItemPastDue" data-value="{{ItemPastDue}}" class="number"></td>
      </tr>
      {{/ifEquals}}


      {{#ifEquals RowType "OrderNumberfooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="5" class="total-name">{{OrderNumber}}&nbsp;</td>
        <td data-linkedcolumn="Quantity" class="total-val" data-value="{{Quantity}}"></td>
        <td data-linkedcolumn="ItemUnitValue"></td>
        <td data-linkedcolumn="ItemReplacementCost"></td>
        <td data-linkedcolumn="ItemUnitValueExtended" class="total-val" data-value="{{ItemUnitValueExtended}}"></td>
        <td data-linkedcolumn="ItemReplacementCostExtended" class="total-val" data-value="{{ItemReplacementCostExtended}}"></td>
        <td data-linkedcolumn="OrderFromDate"></td>
        <td data-linkedcolumn="OrderToDate"></td>
        <td data-linkedcolumn="OrderPastDue"></td>
      </tr>
      {{/ifEquals}}

      {{#ifEquals RowType "Dealfooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="5" class="total-name">{{Deal}}&nbsp;</td>
        <td data-linkedcolumn="Quantity" class="total-val" data-value="{{Quantity}}"></td>
        <td data-linkedcolumn="ItemUnitValue"></td>
        <td data-linkedcolumn="ItemReplacementCost"></td>
        <td data-linkedcolumn="ItemUnitValueExtended" class="total-val" data-value="{{ItemUnitValueExtended}}"></td>
        <td data-linkedcolumn="ItemReplacementCostExtended" class="total-val" data-value="{{ItemReplacementCostExtended}}"></td>
        <td data-linkedcolumn="OrderFromDate"></td>
        <td data-linkedcolumn="OrderToDate"></td>
        <td data-linkedcolumn="OrderPastDue"></td>
      </tr>
      {{/ifEquals}}

      {{#ifEquals RowType "OfficeLocationfooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="5" class="total-name">{{OfficeLocation}}&nbsp;</td>
        <td data-linkedcolumn="Quantity" class="total-val" data-value="{{Quantity}}"></td>
        <td data-linkedcolumn="ItemUnitValue"></td>
        <td data-linkedcolumn="ItemReplacementCost"></td>
        <td data-linkedcolumn="ItemUnitValueExtended" class="total-val" data-value="{{ItemUnitValueExtended}}"></td>
        <td data-linkedcolumn="ItemReplacementCostExtended" class="total-val" data-value="{{ItemReplacementCostExtended}}"></td>
        <td data-linkedcolumn="OrderFromDate"></td>
        <td data-linkedcolumn="OrderToDate"></td>
        <td data-linkedcolumn="OrderPastDue"></td>
      </tr>
      {{/ifEquals}}
      {{/each}}
    </tbody>
  </table>
</div>
