<div class="header rpt-flexrow">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-date">Invoice From: {{FromDate}} To: {{ToDate}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div class="body rpt-flexrow" style="width:1000px;margin-top:40px;">
  <br /><br />
  <table id="tblagentbilling">
    <thead>
      <tr class="column-heading">
        <th style="text-align:left;margin-left:-15px;">Invoice No.</th>
        <th>Invoice Date</th>
        <th>Billing Start Date</th>
        <th>Description</th>
        <th>Order No.</th>
        <th>Deal</th>
        <th>Rental</th>
        <th>Sales</th>
        <th>Facilities</th>
        <th>Labor</th>
        <th>Misc</th>
        <th>Asset Sale</th>
        <th>Parts</th>
        <th>Tax</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr data-rowtype={{RowType}}>
        {{#ifEquals RowType "Agentheader"}}
        <td class="name-row">Agent: {{Agent}}</td>
        {{/ifEquals}}
         {{#ifEquals RowType "detail"}}
        <td style="text-align:left;" data-value="{{InvoiceNumber}}"></td>
        <td class="detail-row" data-value="{{InvoiceDate}}"></td>
        <td class="detail-row" data-value="{{BillingStartDate}}"></td>
        <td class="detail-row" data-value="{{InvoiceDescription}}"></td>
        <td class="detail-row" data-value="{{OrderNumber}}"></td>
        <td class="detail-row" data-value="{{Deal}}"></td>
        <td class="detail-row" data-value="{{RentalTotal}}"></td>
        <td class="detail-row" data-value="{{SalesTotal}}"></td>
        <td class="detail-row" data-value="{{FacilitiesTotal}}"></td>
        <td class="detail-row" data-value="{{LaborTotal}}"></td>
        <td class="detail-row" data-value="{{MiscellaneousTotal}}"></td>
        <td class="detail-row" data-value="{{AssetTotal}}"></td>
        <td class="detail-row" data-value="{{PartsTotal}}"></td>
        <td class="detail-row" data-value="{{InvoiceTax}}"></td>
        <td class="detail-row" data-value="{{InvoiceTotal}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "Agentfooter"}}
        <td class="empty"></td>
        <td class="empty"></td>
        <td class="empty"></td>
        <td class="empty"></td>
        <td class="empty"></td>
        <td class="total-row">Totals for: {{Agent}}</td>
        <td class="total-row" data-value="{{RentalTotal}}"></td>
        <td class="total-row" data-value="{{SalesTotal}}"></td>
        <td class="total-row" data-value="{{FacilitiesTotal}}"></td>
        <td class="total-row" data-value="{{LaborTotal}}"></td>
        <td class="total-row" data-value="{{MiscellaneousTotal}}"></td>
        <td class="total-row" data-value="{{AssetTotal}}"></td>
        <td class="total-row" data-value="{{PartsTotal}}"></td>
        <td class="total-row" data-value="{{InvoiceTax}}"></td>
        <td class="total-row" data-value="{{InvoiceTotal}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "grandtotal"}}
        <td class="empty"></td>
        <td class="empty"></td>
        <td class="empty"></td>
        <td class="empty"></td>
        <td class="empty"></td>
        <td class="total-row">Grand Total: </td>
        <td class="total-row" data-value="{{RentalTotal}}"></td>
        <td class="total-row" data-value="{{SalesTotal}}"></td>
        <td class="total-row" data-value="{{FacilitiesTotal}}"></td>
        <td class="total-row" data-value="{{LaborTotal}}"></td>
        <td class="total-row" data-value="{{MiscellaneousTotal}}"></td>
        <td class="total-row" data-value="{{AssetTotal}}"></td>
        <td class="total-row" data-value="{{PartsTotal}}"></td>
        <td class="total-row" data-value="{{InvoiceTax}}"></td>
        <td class="total-row" data-value="{{InvoiceTotal}}"></td>
        {{/ifEquals}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

