<div class="header rpt-flexrow">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-date">Invoice From: {{FromDate}} To: {{ToDate}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div class="body rpt-flexrow" style="width:1500px;margin-top:40px;">
  <br /><br />
  <table id="tblagentbilling">
    <thead>
      <tr>
        <td>
          <div class="heading" style="text-align:left;">Invoice No</div>
        </td>
        <td>
          <div class="heading">Invoice Date</div>
        </td>
        <td>
          <div class="heading">Billing Date</div>
        </td>
        <td>
          <div class="heading">Description</div>
        </td>
        <td>
          <div class="heading">Order No.</div>
        </td>
        <td>
          <div class="heading">Deal</div>
        </td>
        <td>
          <div class="heading">Rental</div>
        </td>
        <td>
          <div class="heading">Sales</div>
        </td>
        <td>
          <div class="heading">Facility</div>
        </td>
        <td>
          <div class="heading">Labor</div>
        </td>
        <td>
          <div class="heading">Misc</div>
        </td>
        <td>
          <div class="heading">Asset</div>
        </td>
        <td>
          <div class="heading">Parts</div>
        </td>
        <td>
          <div class="heading">Tax</div>
        </td>
        <td>
          <div class="heading">Total</div>
        </td>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr data-rowtype={{RowType}}>
        {{#ifEquals RowType "Agentheader"}}
        <td style="background-color:white;">
          <div class="agent-header" style="background-color:white;">Agent: {{Agent}}</div>
        </td>
        {{/ifEquals}}
        <td>
          <div class="row1"><span>{{InvoiceNumber}}</span></div>
        </td>
        <td>
          <div class="row1"><span>{{InvoiceDate}}</span></div>
        </td>
        <td>
          <div class="row1">{{BillingStartDate}}</div>
        </td>
        <td class="total">
          <div class="row1" style="text-align:right;">{{InvoiceDescription}}</div>
        </td>
        <td class="total">
          <div class="row1" style="text-align:right;">{{OrderNumber}}</div>
        </td>
        <td class="total">
          <div class="row1" style="text-align:right;">{{Deal}}</div>
        </td>
        <td class="total">
          <div class="row1" style="text-align:right;">{{RentalTotal}}</div>
        </td>
        <td class="total">
          <div class="row1" style="text-align:right;">{{SalesTotal}}</div>
        </td>
        <td class="total">
          <div class="row1" style="text-align:right;">{{FacilitiesTotal}}</div>
        </td>
        <td class="total">
          <div class="row1" style="text-align:right;">{{LaborTotal}}</div>
        </td>
        <td class="total">
          <div class="row1" style="text-align:right;">{{MiscTotal}}</div>
        </td>
        <td class="total">
          <div class="row1" style="text-align:right;">{{PartsTotal}}</div>
        </td>
        <td class="total">
          <div class="row1" style="text-align:right;">{{MiscTotal}}</div>
        </td>
        <td class="total">
          <div class="row1" style="text-align:right;">{{InvoiceTax}}</div>
        </td>
        <td class="total">
          <div class="row1" style="text-align:right;">{{InvoiceTotal}}</div>
        </td>
        {{#ifEquals RowType "Agentfooter"}}
        <td style="background-color:white;">
          <div class="report-footer" style="background-color:white;">Total for {{Agent}}:  </div>
        </td>
        {{/ifEquals}}
         {{#ifEquals RowType "grandtotal"}}
        <td style="background-color:white;">
          <div class="report-footer" style="background-color:white;">Grand Total:  </div>
        </td>
        {{/ifEquals}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

