<div class="header rpt-flexrow">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-date">Invoice From: {{FromDate}} To: {{ToDate}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div class="body rpt-flexrow" style="width:1200px;margin-top:40px;">
  <br /><br />
  <table id="tblagentbilling">
    <thead>
      <tr class="header">
        <td>
          <div style="text-align:left;margin-left:-15px;">Invoice No</div>
        </td>
        <td>
          <div>Invoice Date</div>
        </td>
        <td>
          <div>Billing Date</div>
        </td>
        <td>
          <div>Description</div>
        </td>
        <td>
          <div>Order No.</div>
        </td>
        <td>
          <div>Deal</div>
        </td>
        <td>
          <div>Rental</div>
        </td>
        <td>
          <div>Sales</div>
        </td>
        <td>
          <div>Facility</div>
        </td>
        <td>
          <div>Labor</div>
        </td>
        <td>
          <div>Misc</div>
        </td>
        <td>
          <div>Asset</div>
        </td>
        <td>
          <div>Parts</div>
        </td>
        <td>
          <div>Tax</div>
        </td>
        <td>
          <div>Total</div>
        </td>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr data-rowtype={{RowType}}>
        {{#ifEquals RowType "Agentheader"}}
        <td style="background-color:white;">
          <div class="agent-header" style="background-color:white;">Agent: {{Agent}}</div>
        </td>
        {{/ifEquals}}
        <td>
          <div class="row1"><span>{{InvoiceNumber}}</span></div>
        </td>
        <td>
          <div class="row1"><span>{{InvoiceDate}}</span></div>
        </td>
        <td>
          <div class="row1">{{BillingStartDate}}</div>
        </td>
        <td>
          <div class="row1" style="text-align:right;">{{InvoiceDescription}}</div>
        </td>
        <td>
          <div class="row1" style="text-align:right;">{{OrderNumber}}</div>
        </td>
        <td>
          <div class="row1" style="text-align:right;">{{Deal}}</div>
        </td>
        <td>
          <div class="row1" style="text-align:right;">{{RentalTotal}}</div>
        </td>
        <td>
          <div class="row1" style="text-align:right;">{{SalesTotal}}</div>
        </td>
        <td>
          <div class="row1" style="text-align:right;">{{FacilitiesTotal}}</div>
        </td>
        <td>
          <div class="row1" style="text-align:right;">{{LaborTotal}}</div>
        </td>
        <td>
          <div class="row1" style="text-align:right;">{{MiscTotal}}</div>
        </td>
        <td>
          <div class="row1" style="text-align:right;">{{PartsTotal}}</div>
        </td>
        <td>
          <div class="row1" style="text-align:right;">{{MiscTotal}}</div>
        </td>
        <td>
          <div class="row1" style="text-align:right;">{{InvoiceTax}}</div>
        </td>
        <td>
          <div class="row1" style="text-align:right;">{{InvoiceTotal}}</div>
        </td>
        {{#ifEquals RowType "Agentfooter"}}
        <td style="background-color:white;">
          <div class="report-footer" style="background-color:white;">Total for {{Agent}}:  </div>
        </td>
        {{/ifEquals}}
         {{#ifEquals RowType "grandtotal"}}
        <td style="background-color:white;">
          <div class="report-footer" style="background-color:white;">Grand Total:  </div>
        </td>
        {{/ifEquals}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

