<div class="header report-flexrow">
  <div class="report-flexcolumn">
    <span class="report-header-system">{{System}}</span>
  </div>
  <div class="report-flexcolumn">
    <span class="report-title">{{Report}}</span>
    <span class="report-header-date">Invoice From: {{FromDate}} To: {{ToDate}}</span>
  </div>
  <div class="report-flexcolumn">
    <span class="report-header-company">{{Company}}</span>
  </div>
</div>
<div class="body report-flexrow" style="width:1500px;margin-top:40px;">
  <br /><br />
  <table id="tblagentbilling">
    <thead>
      <tr>
        <td>
          <div class="heading" style="text-align:left;">Invoice No</div>
        </td>
        <td>
          <div class="heading">Invoice Date</div>
        </td>
        <td>
          <div class="heading">Billing Date</div>
        </td>
        <td>
          <div class="heading">Description</div>
        </td>
        <td>
          <div class="heading">Order No.</div>
        </td>
        <td>
          <div class="heading">Deal</div>
        </td>
        <td>
          <div class="heading">Rental</div>
        </td>
        <td>
          <div class="heading">Sales</div>
        </td>
        <td>
          <div class="heading">Space</div>
        </td>
        <td>
          <div class="heading">Labor</div>
        </td>
        <td>
          <div class="heading">Misc</div>
        </td>
        <td>
          <div class="heading">Asset</div>
        </td>
        <td>
          <div class="heading">Parts</div>
        </td>
        <td>
          <div class="heading">Tax</div>
        </td>
        <td>
          <div class="heading">Total</div>
        </td>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr data-rowtype={{RowType}}>
        {{#ifEquals RowType "Agentheader"}}
        <td>
          <div class="agent-header">Agent: {{Agent}}</div>
        </td>
        {{/ifEquals}}
        <td>
          <div class="row1"><span>{{InvoiceNumber}}</span></div>
        </td>
        <td>
          <div class="row1"><span>{{InvoiceDate}}</span></div>
        </td>
        <td>
          <div class="row1">{{BillingEndDate}}</div>
        </td>
        <td class="total">
          <div class="row1" style="text-align:right;">{{InvoiceDescription}}</div>
        </td>
        <td class="total">
          <div class="row1" style="text-align:right;">{{OrderNumber}}</div>
        </td>
        <td class="total">
          <div class="row1" style="text-align:right;">{{Deal}}</div>
        </td>
        <td class="total">
          <div class="row1" style="text-align:right;">{{RentalTotal}}</div>
        </td>
        <td class="total">
          <div class="row1" style="text-align:right;">{{SalesTotal}}</div>
        </td>
        <td class="total">
          <div class="row1" style="text-align:right;">{{SpaceTotal}}</div>
        </td>
        <td class="total">
          <div class="row1" style="text-align:right;">{{LaborTotal}}</div>
        </td>
        <td class="total">
          <div class="row1" style="text-align:right;">{{MiscTotal}}</div>
        </td>
        <td class="total">
          <div class="row1" style="text-align:right;">{{PartsTotal}}</div>
        </td>
        <td class="total">
          <div class="row1" style="text-align:right;">{{MiscTotal}}</div>
        </td>
        <td class="total">
          <div class="row1" style="text-align:right;">{{InvoiceTax}}</div>
        </td>
        <td class="total">
          <div class="row1" style="text-align:right;">{{InvoiceTotal}}</div>
        </td>
        {{#ifEquals RowType "Agentfooter"}}
        <td>
          <div class="agent-footer">Grand Total: {{FacilitiesTotal}}</div>
        </td>
        {{/ifEquals}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

