<!--PartsInventoryChangeReport-->
<div data-section="header" class="rpt-flexrow" style="width:1555px;">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">From: {{FromDate}} To: {{ToDate}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div data-section="table" class="rpt-flexrow" style="margin-top:40px;width:1555px;">
  <table>
    <thead id="columnHeader">
      <tr data-row="main-header">
        <th>ICode</th>
        <th>Description</th>
        <th>Rank</th>
        <th>Date</th>
        <th>Change Type</th>
        <th>Change Description</th>
        <th class="number">+Qty</th>
        <th class="number">+Unit Value</th>
        <th class="number">+Extended Value</th>
        <th class="number">-Qty</th>
        <th class="number">-Unit Value</th>
        <th class="number">-Extended Value</th>
        <th class="number">Total Qty</th>
        <th class="number">Total Value</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr data-rowtype={{RowType}}>
        {{#ifEquals RowType "Warehouseheader"}}
        <td colspan="14" class="header-row lower">Warehouse: {{Warehouse}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "InventoryTypeheader"}}
        <td colspan="14" class="header-row lower">Inventory Type: {{InventoryType}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Categoryheader"}}
        <td colspan="14" class="header-row lower">Category: {{Category}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "Descriptionheader"}}
        <td colspan="14" class="header-row lower">Description: {{Description}}</td>
        {{/ifEquals}}
        {{#ifEquals RowType "detail"}}
        <td data-value="{{ICode}}"></td>
        <td data-value="{{Description}}"></td>
        <td data-value="{{Rank}}"></td>
        <td data-value="{{ChangeDate}}"></td>
        <td data-value="{{ChangeType}}"></td>
        <td data-value="{{ChangeDescription}}"></td>
        <td class="number" data-value="{{AdditionQuantity}}"></td>
        <td class="number" data-value="{{UnitValueAddition}}"></td>
        <td class="number" data-value="{{ExtendedAdditionValue}}"></td>
        <td class="number" data-value="{{SubtractionQuantity}}"></td>
        <td class="number" data-value="{{UnitValueSubtraction}}"></td>
        <td class="number" data-value="{{ExtendedSubtractionValue}}"></td>
        <td class="number" data-value="{{RunningTotalQuantity}}"></td>
        <td class="number" data-value="{{RunningTotalValue}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "Warehousefooter"}}
        <td colspan="6" class="total-name">{{Warehouse}}&nbsp;</td>
        <td class="total-val" data-value="{{AdditionQuantity}}"></td>
        <td colspan="2" class="total-val" data-value="{{ExtendedAdditionValue}}"></td>
        <td class="total-val" data-value="{{SubtractionQuantity}}"></td>
        <td colspan="2" class="total-val" data-value="{{ExtendedSubtractionValue}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "Descriptionfooter"}}
        <td colspan="6" class="total-name">{{Description}}&nbsp;</td>
        <td class="total-val" data-value="{{AdditionQuantity}}"></td>
        <td colspan="2" class="total-val" data-value="{{ExtendedAdditionValue}}"></td>
        <td class="total-val" data-value="{{SubtractionQuantity}}"></td>
        <td colspan="2" class="total-val" data-value="{{ExtendedSubtractionValue}}"></td>
        {{/ifEquals}}
        {{#ifEquals RowType "grandtotal"}}
        <td colspan="6" class="total-name">Grand Total:&nbsp;</td>
        <td class="total-val" data-value="{{AdditionQuantity}}"></td>
        <td colspan="2" class="total-val" data-value="{{ExtendedAdditionValue}}"></td>
        <td class="total-val" data-value="{{SubtractionQuantity}}"></td>
        <td colspan="2" class="total-val" data-value="{{ExtendedSubtractionValue}}"></td>
        {{/ifEquals}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
