<!--Receipt Batch Report-->
<div class="rpt-flexrow">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">Batch No. {{BatchNumber}} {{Date}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div class="rpt-flexrow" style="margin-top:40px;">
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Ref/Check No.</th>
        <th>Payment Type</th>
        <th class="number">Amount</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      {{#ifEquals RowType "Locationheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="8" class="header-row">Office: {{Location}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Customerheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="8" class="lower header-row">Customer: {{Customer}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Dealheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="8" class="lower header-row">Deal: {{Deal}}</td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "detail"}}
      <tr data-row="detail" data-rowtype="{{RowType}}">
        <td data-linkedcolumn="ReceiptDate" data-value="{{ReceiptDate}}"></td>
        <td data-linkedcolumn="CheckNumber" data-value="{{CheckNumber}}"></td>
        <td data-linkedcolumn="PaymentType" data-value="{{PaymentType}}"></td>
        <td data-linkedcolumn="Amount" class="number" data-value="{{Amount}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Dealfooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="3" class="total-name">{{Deal}}&nbsp;</td>
        <td class="total-val" data-linkedcolumn="Amount" data-value="{{Amount}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Customerfooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="3" class="total-name">{{Customer}}&nbsp;</td>
        <td class="total-val" data-linkedcolumn="Amount" data-value="{{Amount}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "Locationfooter"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="3" class="total-name">{{Location}}&nbsp;</td>
        <td class="total-val" data-linkedcolumn="Amount" data-value="{{Amount}}"></td>
      </tr>
      {{/ifEquals}}
      {{#ifEquals RowType "grandtotal"}}
      <tr data-row="footer" data-rowtype="{{RowType}}">
        <td colspan="3" class="total-name">Grand Total:&nbsp;</td>
        <td class="total-val" data-value="{{Amount}}"></td>
        {{/ifEquals}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>