<!--DealInvoiceDetailReport-->
{{#if DeductVendorItemCost}}
<div class="rpt-flexrow" style="width:1555px;">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">From: {{FromDate}} To: {{ToDate}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div class="rpt-flexrow" style="margin-top:40px;width:1555px;">
  <table style="border-top:2px solid black;">
    {{#each this}}
    {{#ifEquals RowType "OfficeLocationheader"}}
    <thead>
      <tr data-rowtype={{RowType}}>
        <th class="header-row no-border" colspan="18">Office Location: {{OfficeLocation}}</th>
      </tr>
    </thead>
    {{/ifEquals}}
    {{#ifEquals RowType "Dealheader"}}
    <thead>
      <tr data-rowtype={{RowType}}>
        <th class="lower header-row no-border" colspan="18">Deal: {{Deal}}</th>
      </tr>
    </thead>
    {{/ifEquals}}
    {{#ifEquals RowType "OrderNumberheader"}}
    <thead>
      <tr data-rowtype={{RowType}}>
        <th>Order No.</th>
        <th>Date</th>
        <th colspan="3">Description</th>
        <th>Billing Cycle</th>
        <th>Est. Start Date</th>
        <th>Est. Stop Date</th>
        <th>Bill Start Date</th>
        <th>Bill Stop Date</th>
      </tr>
    </thead>
    <tr>
      <td data-value="{{OrderNumber}}"></td>
      <td data-value="{{OrderDate}}"></td>
      <td colspan="3" data-value="{{OrderDescription}}"></td>
      <td data-value="{{BillingPeriod}}"></td>
      <td data-value="{{EstimatedStartDate}}"></td>
      <td data-value="{{EstimatedStopDate}}"></td>
      <td data-value="{{BillingPeriodStart}}"></td>
      <td data-value="{{BillingPeriodEnd}}"></td>
    </tr>
    <thead>
      <tr data-rowtype={{RowType}}>
        <th class="no-border"></th>
        <th>Invoice No.</th>
        <th>Inv. Date</th>
        <th>Bill Start</th>
        <th>Bill Stop</th>
        <th>Status</th>
        <th>No Charge</th>
        <th>Hiatus</th>
        <th>Flat</th>
        <th class="number">Rental</th>
        <th class="number">Sales</th>
        <th class="number">Facilities</th>
        <th class="number">Labor</th>
        <th class="number">Misc</th>
        <th class="number">Asset Sale</th>
        <th class="number">Parts</th>
        <th class="number">Tax</th>
        <th class="number">Total</th>
      </tr>
    </thead>
    {{/ifEquals}}
    {{#ifEquals RowType "detail"}}
    <tbody data-rowtype="{{RowType}}">
      <tr class="detail">
        <td class="no-border"></td>
        <td class="nowrap" data-value="{{InvoiceNumber}}"></td>
        <td data-value="{{InvoiceDate}}"></td>
        <td data-value="{{BillingStartDate}}"></td>
        <td data-value="{{BillingStopDate}}"></td>
        <td data-value="{{Status}}"></td>
        <td data-value="{{NoChargeDescription}}"></td>
        <td data-value="{{HiatusDescription}}"></td>
        <td data-value="{{FlatPODescription}}"></td>
        <td class="number" data-value="{{RentalRevenue}}"></td>
        <td class="number" data-value="{{SalesRevenue}}"></td>
        <td class="number" data-value="{{SpaceRevenue}}"></td>
        <td class="number" data-value="{{LaborRevenue}}"></td>
        <td class="number" data-value="{{MiscRevenue}}"></td>
        <td class="number" data-value="{{RentalSaleRevenue}}"></td>
        <td class="number" data-value="{{PartsRevenue}}"></td>
        <td class="number" data-value="{{Tax}}"></td>
        <td class="number" data-value="{{TotalRevenue}}"></td>
      </tr>
      <tr>
      <tr class="detail">
        <td class="no-border"></td>
        <td colspan="7"></td>
        <td style="font-weight:700;text-align: right;">Cost of Subs:&nbsp;</td>
        <td class="number" data-value="{{RentalCost}}"></td>
        <td class="number" data-value="{{SalesCost}}"></td>
        <td class="number" data-value="{{SpaceCost}}"></td>
        <td class="number" data-value="{{LaborCost}}"></td>
        <td class="number" data-value="{{MiscCost}}"></td>
        <td class="number" data-value="{{RentalSaleCost}}"></td>
        <td class="number" data-value="{{PartsCost}}"></td>
        <td class=""></td>
        <td class="number" data-value="{{TotalCost}}"></td>
      </tr>
      <tr>
      <tr class="detail">
        <td class="no-border"></td>
        <td colspan="7"></td>
        <td style="font-weight:700;text-align: right;">Invoice {{InvoiceNumber}} Net:&nbsp;</td>
        <td class="border-top total-val" data-value="{{RentalNet}}"></td>
        <td class="border-top total-val" data-value="{{SalesNet}}"></td>
        <td class="border-top total-val" data-value="{{SpaceNet}}"></td>
        <td class="border-top total-val" data-value="{{LaborNet}}"></td>
        <td class="border-top total-val" data-value="{{MiscNet}}"></td>
        <td class="border-top total-val" data-value="{{RentalSaleNet}}"></td>
        <td class="border-top total-val" data-value="{{PartsNet}}"></td>
        <td class="border-top total-val"></td>
        <td class="border-top total-val" data-value="{{TotalNet}}"></td>
      </tr>
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "OrderNumberfooter"}}
    <tr data-rowtype="{{RowType}}">
      <td colspan="9" class="total-name">{{OrderNumber}}:&nbsp;</td>
      <td class="total-val" data-value="{{RentalNet}}"></td>
      <td class="total-val" data-value="{{SalesNet}}"></td>
      <td class="total-val" data-value="{{SpaceNet}}"></td>
      <td class="total-val" data-value="{{LaborNet}}"></td>
      <td class="total-val" data-value="{{MiscNet}}"></td>
      <td class="total-val" data-value="{{RentalSaleNet}}"></td>
      <td class="total-val" data-value="{{PartsNet}}"></td>
      <td class="total-val" data-value="{{Tax}}"></td>
      <td class="total-val" data-value="{{TotalNet}}"></td>
    </tr>
    {{/ifEquals}}
    {{#ifEquals RowType "Dealfooter"}}
    <tr data-rowtype="{{RowType}}">
      <td colspan="9" class="total-name">{{Deal}}:&nbsp;</td>
      <td class="total-val" data-value="{{RentalNet}}"></td>
      <td class="total-val" data-value="{{SalesNet}}"></td>
      <td class="total-val" data-value="{{SpaceNet}}"></td>
      <td class="total-val" data-value="{{LaborNet}}"></td>
      <td class="total-val" data-value="{{MiscNet}}"></td>
      <td class="total-val" data-value="{{RentalSaleNet}}"></td>
      <td class="total-val" data-value="{{PartsNet}}"></td>
      <td class="total-val" data-value="{{Tax}}"></td>
      <td class="total-val" data-value="{{TotalNet}}"></td>
    </tr>
    {{/ifEquals}}
    {{#ifEquals RowType "OfficeLocationfooter"}}
    <tr data-rowtype="{{RowType}}">
      <td colspan="9" class="total-name">{{OfficeLocation}}:&nbsp;</td>
      <td class="total-val" data-value="{{RentalNet}}"></td>
      <td class="total-val" data-value="{{SalesNet}}"></td>
      <td class="total-val" data-value="{{SpaceNet}}"></td>
      <td class="total-val" data-value="{{LaborNet}}"></td>
      <td class="total-val" data-value="{{MiscNet}}"></td>
      <td class="total-val" data-value="{{RentalSaleNet}}"></td>
      <td class="total-val" data-value="{{PartsNet}}"></td>
      <td class="total-val" data-value="{{Tax}}"></td>
      <td class="total-val" data-value="{{TotalNet}}"></td>
    </tr>
    {{/ifEquals}}
    {{#ifEquals RowType "grandtotal"}}
    <tr data-rowtype="{{RowType}}">
      <td colspan="9" class="total-name">Grand Total:&nbsp;</td>
      <td class="total-val" data-value="{{RentalNet}}"></td>
      <td class="total-val" data-value="{{SalesNet}}"></td>
      <td class="total-val" data-value="{{SpaceNet}}"></td>
      <td class="total-val" data-value="{{LaborNet}}"></td>
      <td class="total-val" data-value="{{MiscNet}}"></td>
      <td class="total-val" data-value="{{RentalSaleNet}}"></td>
      <td class="total-val" data-value="{{PartsNet}}"></td>
      <td class="total-val" data-value="{{Tax}}"></td>
      <td class="total-val" data-value="{{TotalNet}}"></td>
    </tr>
    {{/ifEquals}}
    {{/each}}
  </table>
</div>
<!--Deduct Costs not checked-->
{{else}}
<div class="rpt-flexrow" style="width:1555px;">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">From: {{FromDate}} To: {{ToDate}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div class="rpt-flexrow" style="margin-top:40px;width:1555px;">
  <table style="border-top:2px solid black;">
    {{#each this}}
    {{#ifEquals RowType "OfficeLocationheader"}}
    <thead>
      <tr data-rowtype={{RowType}}>
        <th class="header-row no-border" colspan="18">Office Location: {{OfficeLocation}}</th>
      </tr>
    </thead>
    {{/ifEquals}}
    {{#ifEquals RowType "Dealheader"}}
    <thead>
      <tr data-rowtype={{RowType}}>
        <th class="lower header-row no-border" colspan="18">Deal: {{Deal}}</th>
      </tr>
    </thead>
    {{/ifEquals}}
    {{#ifEquals RowType "OrderNumberheader"}}
    <thead>
      <tr data-rowtype={{RowType}}>
        <th>Order No.</th>
        <th>Date</th>
        <th colspan="3">Description</th>
        <th>Billing Cycle</th>
        <th>Est. Start Date</th>
        <th>Est. Stop Date</th>
        <th>Bill Start Date</th>
        <th>Bill Stop Date</th>
      </tr>
    </thead>
    <tr>
      <td data-value="{{OrderNumber}}"></td>
      <td data-value="{{OrderDate}}"></td>
      <td colspan="3" data-value="{{OrderDescription}}"></td>
      <td data-value="{{BillingPeriod}}"></td>
      <td data-value="{{EstimatedStartDate}}"></td>
      <td data-value="{{EstimatedStopDate}}"></td>
      <td data-value="{{BillingPeriodStart}}"></td>
      <td data-value="{{BillingPeriodEnd}}"></td>
    </tr>
    <thead>
      <tr data-rowtype={{RowType}}>
        <th class="no-border"></th>
        <th>Invoice No.</th>
        <th>Inv. Date</th>
        <th>Bill Start</th>
        <th>Bill Stop</th>
        <th>Status</th>
        <th>No Charge</th>
        <th>Hiatus</th>
        <th>Flat</th>
        <th class="number">Rental</th>
        <th class="number">Sales</th>
        <th class="number">Facilities</th>
        <th class="number">Labor</th>
        <th class="number">Misc</th>
        <th class="number">Asset Sale</th>
        <th class="number">Parts</th>
        <th class="number">Tax</th>
        <th class="number">Total</th>
      </tr>
    </thead>
    {{/ifEquals}}
    {{#ifEquals RowType "detail"}}
    <tbody data-rowtype="{{RowType}}">
      <tr class="detail">
        <td class="no-border"></td>
        <td class="nowrap" data-value="{{InvoiceNumber}}"></td>
        <td data-value="{{InvoiceDate}}"></td>
        <td data-value="{{BillingStartDate}}"></td>
        <td data-value="{{BillingStopDate}}"></td>
        <td data-value="{{Status}}"></td>
        <td data-value="{{NoChargeDescription}}"></td>
        <td data-value="{{HiatusDescription}}"></td>
        <td data-value="{{FlatPODescription}}"></td>
        <td class="number" data-value="{{RentalRevenue}}"></td>
        <td class="number" data-value="{{SalesRevenue}}"></td>
        <td class="number" data-value="{{SpaceRevenue}}"></td>
        <td class="number" data-value="{{LaborRevenue}}"></td>
        <td class="number" data-value="{{MiscRevenue}}"></td>
        <td class="number" data-value="{{RentalSaleRevenue}}"></td>
        <td class="number" data-value="{{PartsRevenue}}"></td>
        <td class="number" data-value="{{Tax}}"></td>
        <td class="number" data-value="{{TotalRevenue}}"></td>
      </tr>
    </tbody>
    {{/ifEquals}}
    {{#ifEquals RowType "OrderNumberfooter"}}
    <tr data-rowtype="{{RowType}}">
      <td colspan="9" class="total-name">{{OrderNumber}}:&nbsp;</td>
      <td class="total-val" data-value="{{RentalRevenue}}"></td>
      <td class="total-val" data-value="{{SalesRevenue}}"></td>
      <td class="total-val" data-value="{{SpaceRevenue}}"></td>
      <td class="total-val" data-value="{{LaborRevenue}}"></td>
      <td class="total-val" data-value="{{MiscRevenue}}"></td>
      <td class="total-val" data-value="{{RentalSaleRevenue}}"></td>
      <td class="total-val" data-value="{{PartsRevenue}}"></td>
      <td class="total-val" data-value="{{Tax}}"></td>
      <td class="total-val" data-value="{{TotalRevenue}}"></td>
    </tr>
    {{/ifEquals}}
    {{#ifEquals RowType "Dealfooter"}}
    <tr data-rowtype="{{RowType}}">
      <td colspan="9" class="total-name">{{Deal}}:&nbsp;</td>
      <td class="total-val" data-value="{{RentalRevenue}}"></td>
      <td class="total-val" data-value="{{SalesRevenue}}"></td>
      <td class="total-val" data-value="{{SpaceRevenue}}"></td>
      <td class="total-val" data-value="{{LaborRevenue}}"></td>
      <td class="total-val" data-value="{{MiscRevenue}}"></td>
      <td class="total-val" data-value="{{RentalSaleRevenue}}"></td>
      <td class="total-val" data-value="{{PartsRevenue}}"></td>
      <td class="total-val" data-value="{{Tax}}"></td>
      <td class="total-val" data-value="{{TotalRevenue}}"></td>
    </tr>
    {{/ifEquals}}
    {{#ifEquals RowType "OfficeLocationfooter"}}
    <tr data-rowtype="{{RowType}}">
      <td colspan="9" class="total-name">{{OfficeLocation}}:&nbsp;</td>
      <td class="total-val" data-value="{{RentalRevenue}}"></td>
      <td class="total-val" data-value="{{SalesRevenue}}"></td>
      <td class="total-val" data-value="{{SpaceRevenue}}"></td>
      <td class="total-val" data-value="{{LaborRevenue}}"></td>
      <td class="total-val" data-value="{{MiscRevenue}}"></td>
      <td class="total-val" data-value="{{RentalSaleRevenue}}"></td>
      <td class="total-val" data-value="{{PartsRevenue}}"></td>
      <td class="total-val" data-value="{{Tax}}"></td>
      <td class="total-val" data-value="{{TotalRevenue}}"></td>
    </tr>
    {{/ifEquals}}
    {{#ifEquals RowType "grandtotal"}}
    <tr data-rowtype="{{RowType}}">
      <td colspan="9" class="total-name">Grand Total:&nbsp;</td>
      <td class="total-val" data-value="{{RentalRevenue}}"></td>
      <td class="total-val" data-value="{{SalesRevenue}}"></td>
      <td class="total-val" data-value="{{SpaceRevenue}}"></td>
      <td class="total-val" data-value="{{LaborRevenue}}"></td>
      <td class="total-val" data-value="{{MiscRevenue}}"></td>
      <td class="total-val" data-value="{{RentalSaleRevenue}}"></td>
      <td class="total-val" data-value="{{PartsRevenue}}"></td>
      <td class="total-val" data-value="{{Tax}}"></td>
      <td class="total-val" data-value="{{TotalRevenue}}"></td>
    </tr>
    {{/ifEquals}}
    {{/each}}
  </table>
</div>
{{/if}}