<!--Parts Inventory Attributes Report-->
<div class="rpt-flexrow">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">As of {{Today}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div class="rpt-flexrow" style="margin-top:40px;">
  <table>
    <thead>
      <tr>
        <th class="text">I-Code</th>
        <th class="text">Description</th>
        <th class="text">Inventory Type</th>
        <th class="text">Category</th>
        <th class="text">Sub-Category</th>
        <th class="text">Attribute</th>
        <th class="number">Value</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr>
        <td class="text" data-value="{{ICode}}"></td>
        <td class="text" data-value="{{Description}}"></td>
        <td class="text" data-value="{{InventoryType}}"></td>
        <td class="text" data-value="{{Category}}"></td>
        <td class="text" data-value="{{SubCategory}}"></td>
        <td class="text" data-value="{{Attribute}}"></td>
        <td class="number" data-value="{{AttributeValue}}"></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>