<!--SalesTaxUSAReport-->
<div data-section="header" class="rpt-flexrow">
  <div class="rpt-flexcolumn">
    <span class="rpt-header-left">{{System}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-title">{{Report}}</span>
    <span class="rpt-header-center">Invoice From: {{FromDate}} To: {{ToDate}}</span>
  </div>
  <div class="rpt-flexcolumn">
    <span class="rpt-header-right">{{Company}}</span>
  </div>
</div>
<div data-section="table" class="rpt-flexrow" style="margin-top:40px;">
  <table>
    <thead>
      <tr>
        <th colspan="2" style="background-color:white;border-top:none;"></th>
        <th colspan="4" style="border-right:3px solid black;">RENTAL</th>
        <th colspan="4" style="border-right:3px solid black;">SALES, PARTS, MISC</th>
        <th colspan="4" style="border-right:3px solid black;">LABOR</th>
        <th>TOTAL</th>
      </tr>
    </thead>
    <thead id="columnHeader" class="top-section-header">
      <tr data-row="main-header">
        <th data-linkedcolumn="InvoiceNumber" data-valuefield="InvoiceNumber">Invoice No.</th>
        <th data-linkedcolumn="InvoiceDate" data-valuefield="InvoiceDate">Date</th>
        <th data-linkedcolumn="TotalRental" data-valuefield="TotalRental" class="number">Total</th>
        <th data-linkedcolumn="TaxableRental" data-valuefield="TaxableRental" class="number">Taxable</th>
        <th data-linkedcolumn="RentalTax" data-valuefield="RentalTax" class="number">Tax</th>
        <th data-linkedcolumn="NontaxableRental" data-valuefield="NontaxableRental" class="number">Non-Tax</th>
        <th data-linkedcolumn="TotalSales" data-valuefield="TotalSales" class="number">Total</th>
        <th data-linkedcolumn="TaxableSales" data-valuefield="TaxableSales" class="number">Taxable</th>
        <th data-linkedcolumn="SalesTax" data-valuefield="SalesTax" class="number">Tax</th>
        <th data-linkedcolumn="NontaxableSales" data-valuefield="NontaxableSales" class="number">Non-Tax</th>
        <th data-linkedcolumn="TotalLabor" data-valuefield="TotalLabor" class="number">Total</th>
        <th data-linkedcolumn="TaxableLabor" data-valuefield="TaxableLabor" class="number">Taxable</th>
        <th data-linkedcolumn="LaborTax" data-valuefield="LaborTax" class="number">Tax</th>
        <th data-linkedcolumn="NontaxableLabor" data-valuefield="NontaxableLabor" class="number">Non-Tax</th>
        <th data-linkedcolumn="TotalTax" data-valuefield="TotalTax" class="number">Total Tax</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      {{#ifEquals RowType "OfficeLocationheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <th class="header-row no-border" colspan="16">Office Location: {{OfficeLocation}}</th>
      </tr>
    {{/ifEquals}}
    {{#ifEquals RowType "TaxOptionheader"}}
      <tr data-row="header" data-rowtype="{{RowType}}">
        <td colspan="3" class="lower header-row">Tax Option: {{TaxOption}}</td>
        <td colspan="1" class="tax-option">&nbsp;</td>
        <td colspan="4" class="tax-option">Rental: {{RentalRate}}</td>
        <td colspan="4" class="tax-option">Sales: {{SalesRate}}</td>
        <td colspan="3" class="tax-option">Labor: {{LaborRate}}</td>
      </tr>
    {{/ifEquals}}
    {{#ifEquals RowType "detail"}}
      <tr data-row="detail" class="detail" data-rowtype="{{RowType}}">
        <td data-linkedcolumn="InvoiceNumber" class="nowrap" data-value="{{InvoiceNumber}}"></td>
        <td data-linkedcolumn="InvoiceDate" data-value="{{InvoiceDate}}"></td>
        <td data-linkedcolumn="TotalRental" class="number" data-value="{{TotalRental}}"></td>
        <td data-linkedcolumn="TaxableRental" class="number" data-value="{{TaxableRental}}"></td>
        <td data-linkedcolumn="RentalTax" class="number" data-value="{{RentalTax}}"></td>
        <td data-linkedcolumn="NontaxableRental" class="number" data-value="{{NontaxableRental}}"></td>
        <td data-linkedcolumn="TotalSales" class="number" data-value="{{TotalSales}}"></td>
        <td data-linkedcolumn="TaxableSales" class="number" data-value="{{TaxableSales}}"></td>
        <td data-linkedcolumn="SalesTax" class="number" data-value="{{SalesTax}}"></td>
        <td data-linkedcolumn="NontaxableSales" class="number" data-value="{{NontaxableSales}}"></td>
        <td data-linkedcolumn="TotalLabor" class="number" data-value="{{TotalLabor}}"></td>
        <td data-linkedcolumn="TaxableLabor" class="number" data-value="{{TaxableLabor}}"></td>
        <td data-linkedcolumn="LaborTax" class="number" data-value="{{LaborTax}}"></td>
        <td data-linkedcolumn="NontaxableLabor" class="number" data-value="{{NontaxableLabor}}"></td>
        <td data-linkedcolumn="TotalTax" class="number" data-value="{{TotalTax}}"></td>
      </tr>
    {{/ifEquals}}
    {{#ifEquals RowType "OfficeLocationfooter"}}
    <tr data-row="footer" data-rowtype="{{RowType}}">
      <td colspan="2" class="total-name">{{OfficeLocation}}&nbsp;</td>
      <td data-linkedcolumn="TotalRental" class="total-val" data-value="{{TotalRental}}"></td>
      <td data-linkedcolumn="TaxableRental" class="total-val" data-value="{{TaxableRental}}"></td>
      <td data-linkedcolumn="RentalTax" class="total-val" data-value="{{RentalTax}}"></td>
      <td data-linkedcolumn="NontaxableRental" class="total-val" data-value="{{NontaxableRental}}"></td>
      <td data-linkedcolumn="TotalSales" class="total-val" data-value="{{TotalSales}}"></td>
      <td data-linkedcolumn="TaxableSales" class="total-val" data-value="{{TaxableSales}}"></td>
      <td data-linkedcolumn="SalesTax" class="total-val" data-value="{{SalesTax}}"></td>
      <td data-linkedcolumn="NontaxableSales" class="total-val" data-value="{{NontaxableSales}}"></td>
      <td data-linkedcolumn="TotalLabor" class="total-val" data-value="{{TotalLabor}}"></td>
      <td data-linkedcolumn="TaxableLabor" class="total-val" data-value="{{TaxableLabor}}"></td>
      <td data-linkedcolumn="LaborTax" class="total-val" data-value="{{LaborTax}}"></td>
      <td data-linkedcolumn="NontaxableLabor" class="total-val" data-value="{{NontaxableLabor}}"></td>
      <td data-linkedcolumn="TotalTax" class="total-val" data-value="{{TotalTax}}"></td>
    </tr>
    {{/ifEquals}}
    {{#ifEquals RowType "TaxOptionfooter"}}
    <tr data-row="footer" data-rowtype="{{RowType}}">
      <td colspan="2" class="total-name">{{TaxOption}}&nbsp;</td>
      <td data-linkedcolumn="TotalRental" class="total-val" data-value="{{TotalRental}}"></td>
      <td data-linkedcolumn="TaxableRental" class="total-val" data-value="{{TaxableRental}}"></td>
      <td data-linkedcolumn="RentalTax" class="total-val" data-value="{{RentalTax}}"></td>
      <td data-linkedcolumn="NontaxableRental" class="total-val" data-value="{{NontaxableRental}}"></td>
      <td data-linkedcolumn="TotalSales" class="total-val" data-value="{{TotalSales}}"></td>
      <td data-linkedcolumn="TaxableSales" class="total-val" data-value="{{TaxableSales}}"></td>
      <td data-linkedcolumn="SalesTax" class="total-val" data-value="{{SalesTax}}"></td>
      <td data-linkedcolumn="NontaxableSales" class="total-val" data-value="{{NontaxableSales}}"></td>
      <td data-linkedcolumn="TotalLabor" class="total-val" data-value="{{TotalLabor}}"></td>
      <td data-linkedcolumn="TaxableLabor" class="total-val" data-value="{{TaxableLabor}}"></td>
      <td data-linkedcolumn="LaborTax" class="total-val" data-value="{{LaborTax}}"></td>
      <td data-linkedcolumn="NontaxableLabor" class="total-val" data-value="{{NontaxableLabor}}"></td>
      <td data-linkedcolumn="TotalTax" class="total-val" data-value="{{TotalTax}}"></td>
    </tr>
    <tr data-row="footer" data-rowtype="{{RowType}}">
      <td colspan="2" style="padding-bottom:15px;" class="total-name"></td>
    </tr>
    {{/ifEquals}}
    {{#ifEquals RowType "grandtotal"}}
    <tr data-row="footer" data-rowtype="{{RowType}}">
      <td colspan="2" class="total-name">Grand Total:&nbsp;</td>
      <td data-linkedcolumn="TotalRental" class="total-val" data-value="{{TotalRental}}"></td>
      <td data-linkedcolumn="TaxableRental" class="total-val" data-value="{{TaxableRental}}"></td>
      <td data-linkedcolumn="RentalTax" class="total-val" data-value="{{RentalTax}}"></td>
      <td data-linkedcolumn="NontaxableRental" class="total-val" data-value="{{NontaxableRental}}"></td>
      <td data-linkedcolumn="TotalSales" class="total-val" data-value="{{TotalSales}}"></td>
      <td data-linkedcolumn="TaxableSales" class="total-val" data-value="{{TaxableSales}}"></td>
      <td data-linkedcolumn="SalesTax" class="total-val" data-value="{{SalesTax}}"></td>
      <td data-linkedcolumn="NontaxableSales" class="total-val" data-value="{{NontaxableSales}}"></td>
      <td data-linkedcolumn="TotalLabor" class="total-val" data-value="{{TotalLabor}}"></td>
      <td data-linkedcolumn="TaxableLabor" class="total-val" data-value="{{TaxableLabor}}"></td>
      <td data-linkedcolumn="LaborTax" class="total-val" data-value="{{LaborTax}}"></td>
      <td data-linkedcolumn="NontaxableLabor" class="total-val" data-value="{{NontaxableLabor}}"></td>
      <td data-linkedcolumn="TotalTax" class="total-val" data-value="{{TotalTax}}"></td>
    </tr>
    {{/ifEquals}}
    {{/each}}
    </tbody>
  </table>
</div>